<template>
  <div v-if="permissionsChecked">
    <div class="example ml-4">
      <h3 class="mb-0 mt-4 mb-4">Waybills</h3>
    </div>
    <collapse>
      <collapse-item v-for="item in orderWaybills" :key="item.id" name="1" class="ml-4 mr-4 mt-4">
        <div slot="title" class="row">
          <h3 class="ml-4">{{ item.date }}</h3>
        </div>
        <div class="row">
          <daily-deliveries class="col-md-6" :items="item.orders"></daily-deliveries>
          <waybill class="col-md-6" :items="item.waybills"></waybill>
        </div>
      </collapse-item>
    </collapse>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      permissionsChecked: false
    };
  },
  components: {
    "daily-deliveries": () => import("../components/tables/DailyDeliveries"),
    waybill: () => import("../components/tables/WaybillTable"),
    collapse: () => import("@/components/Collapse/Collapse"),
    "collapse-item": () => import("@/components/Collapse/CollapseItem")
  },
  computed: {
    ...mapGetters({
      permissions: "user/userPermissions",
      orderWaybills: "fulfilmentOrders/orderWaybills"
    })
  },
  methods: {
    ...mapActions({
      fetchOrderWaybills: "fulfilmentOrders/fetchOrderWaybills",
    }),
  },
  mounted() {
    if (this.permissions.fulfilment_settings.can_view_waybills) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/my_deliveries')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    this.fetchOrderWaybills()
  }
};
</script>

<style lang="scss" scoped></style>
