<template>
  <div>
    <div class="container-fluid scard  col-md-12">
      <div class="card-body">
        <div class="text-center text-muted mb-4">
          <h2>Forgot Password</h2>
        </div>
        <form role="form">
          <base-input
            :error-message="emailValidation"
            :error="isEmailError && isError"
            :success-message="successMessage"
            :valid="!isEmailError && !isError"
            class="input-group-alternative mb-3"
            placeholder="Email"
            addon-left-icon="ni ni-hat-3"
            v-model="email"
          ></base-input>

          <div class="text-center">
            <base-button @click="sendForgotPassword()" :disabled="isEmailError" type="primary" class="my-4">Reset Password</base-button>
            <base-button
              @click="toggleEmailForgotPasswordModal()"
              type="secondary"
              class="my-4"
            >Cancel</base-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "register",
  data() {
    return {
      email: "",
      emailDisabled: true,
      successMessage: "An email has been sent to reset your password.",
      isError: true,
      emailSent: false
    };
  },
  methods: {
    sendForgotPassword() {
      if (!this.emailSent) {
        this.$store.dispatch("user/forgotPasswordEmail", this.email.toLowerCase())
        this.emailSent = true
        this.isError = false
        this.$notify({
          message: `An email has been sent to reset your password.`,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "success"
        });
      }
    },
    ...mapActions({
      toggleEmailForgotPasswordModal: "modals/toggleEmailForgotPasswordModal"
    }),
    ...mapGetters({
      getEmailForgotPasswordModal: "modals/getEmailForgotPasswordModal"
    }),
    firstNameValid(name) {
      return name !== "" ? true : false;
    },
    async registerUser() {
      await this.$store.dispatch("user/completeRegistration", this.user)
    }
  },
  computed: {
    emailValidation () {
      return this.$options.filters.emailValidation(this.email)
    },
    isEmailError () {
      return this.$options.filters.emailValidation(this.email) !== ""
    }
  }
};
</script>

<style lang="scss" scoped>
</style>