<template>
  <div>
    <div class="container-fluid scard bg-secondary col-md-12">
      <div class="card-body">
        <div class="text-center text-muted mb-4">
          <h2>Sign Up</h2>
        </div>
        <form role="form">
          <base-input
            class="input-group-alternative mb-3 invalid"
            placeholder="Company Name"
            addon-left-icon="ni ni-hat-3"
            v-model="company.title"
          ></base-input>
          <base-input
            class="input-group-alternative mb-3"
            placeholder="Street Address"
            addon-left-icon="ni ni-hat-3"
            v-model="company.address_one"
          ></base-input>

          <base-input
            class="input-group-alternative mb-3"
            placeholder="City"
            addon-left-icon="ni ni-hat-3"
            v-model="company.city"
          ></base-input>
          <base-input
            class="input-group-alternative mb-3"
            placeholder="Postal Code"
            addon-left-icon="ni ni-hat-3"
            v-model="company.postal_code"
          ></base-input>

          <base-input
            class="input-group-alternative mb-3"
            placeholder="Email Address"
            addon-left-icon="ni ni-email-83"
            v-model="company.email"
          ></base-input>

          <base-input
            class="input-group-alternative mb-3"
            placeholder="Contact Number"
            addon-left-icon="ni ni-email-83"
            v-model="company.contact_number"
          ></base-input>

          <base-input
            class="input-group-alternative"
            placeholder="Website"
            type="text"
            addon-left-icon="ni ni-lock-circle-open"
            v-model="company.website"
          ></base-input>

          <base-input
            class="input-group-alternative"
            placeholder="Description"
            type="text"
            addon-left-icon="ni ni-lock-circle-open"
            v-model="company.description"
          ></base-input>

          <base-checkbox v-model="company.supplier" class="mb-3">Supplier</base-checkbox>
          <dropzone-file-upload ref="myFiles" @change="processFile"></dropzone-file-upload>
          <div class="text-muted font-italic">
            <small>
              password strength:
              <span class="text-success font-weight-700">strong</span>
            </small>
          </div>

          <div class="row my-4">
            <div class="col-12">
              <base-checkbox class="custom-control-alternative">
                <span class="text-muted">
                  I agree with the
                  <a href="#!">Privacy Policy</a>
                </span>
              </base-checkbox>
            </div>
          </div>
          <div class="text-center">
            <base-button @click="registerCompany()" type="primary" class="my-4">Create account</base-button>
            <base-button @click="toggleNewCompanyModal()" type="secondary" class="my-4">Close</base-button>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  components: {
    "dropzone-file-upload": () =>
      import("../../../components/Inputs/DropzoneFileUpload")
  },
  data() {
    return {
      company: {
        title: "",
        address_one: "",
        city: "",
        supplier: false,
        postal_code: "",
        contact_number: "",
        email: "",
        website: "",
        contact: "",
        description: "",
        image: false
      }
    };
  },
  methods: {
    processFile(event) {
      this.company.image = this.$refs.myFiles.files[0];
    },
    ...mapActions({
      toggleNewCompanyModal: "modals/toggleNewCompanyModal"
    }),
    registerCompany() {
      let form = {
        "company[title]": this.company.title,
        "company[address_one]": this.company.address_one,
        "company[city]": this.company.city,
        "company[postal_code]": this.company.postal_code,
        "company[email]": this.company.email,
        "company[contact]": this.company.contact,
        "company[website]": this.company.website,
        "company[description]": this.company.description,
        "company[supplier]": this.company.supplier
      };

      this.company.image
        ? (form["company[company_image]"] = this.company.image)
        : false;

      let formData = new FormData();

      Object.entries(form).forEach(([key, value]) => {
        formData.append(key, value);
      });

      this.$store.dispatch("companies/registerCompany", formData);
    }
  },
  computed: {
    backgroundHeight() {
      return this.pageHeight * 1.5 + "px";
    }
  },
  mounted() {
    this.pageHeight = window.innerHeight;
  }
};
</script>


<style lang="scss" scoped>
</style>