<template>
  <div>
    <div class="container-fluid col-md-12">
      <div class="card-body">
        <div class="text-center text-muted mb-4">
          <h2>Sign Up</h2>
        {{results}}
        </div>
        <input id="searchTextField" type="text" size="50"> 
        <div id='lblFormattedAddress'></div>
        <input type='text' name='hidFormattedAddress' id='hidFormattedAddress'/>
        <form role="form">
          <base-input
            class="input-group-alternative mb-3 invalid"
            placeholder="Username"
            addon-left-icon="ni ni-hat-3"
            v-model="user.username"
          ></base-input>
          <base-input
            class="input-group-alternative mb-3"
            placeholder="First Name"
            addon-left-icon="ni ni-hat-3"
            v-model="user.first_name"
          ></base-input>
          <div v-if="submitted && !$v.user.first_name.required" class="invalid-feedback">Last Name is required</div>
          <base-input
            class="input-group-alternative mb-3"
            placeholder="Last Name"
            addon-left-icon="ni ni-hat-3"
            v-model="user.last_name"
          ></base-input>

          <base-input
            class="input-group-alternative mb-3"
            placeholder="Email"
            addon-left-icon="ni ni-email-83"
            v-model="user.email"
          ></base-input>

          <base-input
            class="input-group-alternative"
            placeholder="Password"
            type="password"
            addon-left-icon="ni ni-lock-circle-open"
            v-model="user.password"
          ></base-input>

          <base-input
            class="input-group-alternative"
            placeholder="Contact"
            type="number"
            addon-left-icon="ni ni-lock-circle-open"
            v-model="user.contact_number"
          ></base-input>

          <div class="text-muted font-italic">
            <small>
              password strength:
              <span class="text-success font-weight-700">strong</span>
            </small>
          </div>

          <div class="row my-4">
            <div class="col-12">
              <base-checkbox class="custom-control-alternative">
                <span class="text-muted">
                  I agree with the
                  <a href="#!">Privacy Policy</a>
                </span>
              </base-checkbox>
            </div>
          </div>
          <div class="text-center">
            <base-button @click="registerUser()" type="primary" class="my-4">Submit</base-button>
            <base-button @click="toggleSignupModal()" type="secondary" class="my-4">Cancel</base-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { required, minLength, between } from 'vuelidate/lib/validators'
export default {
  name: "register",
  data() {
    return {
      submit: true,
      results: null,
      user: {
        first_name: "",
        last_name: "",
        username: "",
        contact_number: "",
        email: "",
        password: ""
      },
      submitted: false
    };
  },
  validations: {
    email: { required, email },
    name: {
      first_name,
      minLength: minLength(2)
    },
    age: {
      between: between(12, 1000)
    }
  },
  methods: {
    ...mapActions({
      toggleSignupModal: "modals/toggleSignupModal"
    }),
    ...mapGetters({
      getSignUpModal: "modals/getSignUpModal"
    }),
    firstNameValid(name) {
      return name !== "" ? true : false;
    },
    registerUser() {
      this.submitted = true
      this.$v.$touch();
      if (this.$v.$invalid) {
          return;
      }
      this.user.email = this.user.email.toLowerCase();
      // this.$store.dispatch("user/completeRegistration", this.user);
    }
  },
  mounted () {
    var input = document.getElementById('searchTextField');
    
    autocomplete = new google.maps.places.Autocomplete(input, {
        types: ["address"], componentRestrictions: {country: 'ZA'}
    });

    google.maps.event.addListener(autocomplete, 'place_changed',() => {
        let searchBar = document.getElementById('lblFormattedAddress')
        var place = autocomplete.getPlace();
        // this.results = place.formatted_address

    });
  }
}
</script>

<style lang="scss" scoped>
</style>