<template>
  <div>
    <div class="ml-4 mr-4 mt-8">
      <supplier-index-table></supplier-index-table>
    </div>
  </div>
</template>

<script>
  export default {
    components: {
      "supplier-index-table": () => import("../components/tables/SupplierStatementIndex")
    }
    
  }
</script>

<style lang="scss" scoped>

</style>