<template>
  <div>
    <div class="ml-4 mr-4 mt-4">
      <!-- <supplier-analysis-header class="mb-6"></supplier-analysis-header> -->
      <supplier-age-analysis-table></supplier-age-analysis-table>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "supplier-age-analysis-table": () =>
      import("../components/tables/SupplierAgeAnalysisIndex"),
    "supplier-analysis-header": () =>
      import("../components/headers/SupplierAnalysisHeader")
  }
};
</script>

<style lang="scss" scoped>
</style>