<template>
  <div class="media media-comment">
    <img v-if="comment.user.avatar" alt="Image placeholder" class="avatar avatar-lg media-comment-avatar rounded-circle" :src="comment.user.avatar">
    <div v-else :style="{'background-color': comment.user.default_colour}" class="avatar avatar-lg rounded-circle text-center default-avatar mr--4">
      <p class="user-initials text--white mb-0">{{ comment.user.first_name | getInitials(comment.user.last_name) }}</p>
    </div>
    <div class="media-body">
      <div class="media-comment-text" :class="commentTypeClass">
        <h6 class="h5 mt-0">{{comment.user.username}} <span class="text-muted"> | {{comment.commented_at.substring(0,10)}}</span></h6>
        <div class="mb-2" v-if="deliveryComment">
            <i class="fa fa-truck"></i> <span class="text-sm ml-2 ">Delivery Note</span>
        </div>
        <p class="text-sm lh-160" v-html="text"></p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "comment",
  props: {
    comment: {
      type: Object,
      default: () => {}
    },
    companyImage: {
      type: String,
      default: "img/theme/team-1.jpg"
    },
    userName: {
      type: String,
      default: ""
    },
    commentedAt: {
      type: String,
      default: "Comment Time"
    },
    text: {
      type: String,
      default:
        "Cras sit amet nibh libero nulla vel metus scelerisque ante sollicitudin. Cras purus odio vestibulum in vulputate viverra turpis."
    },
    likeCount: {
      type: Number,
      default: 0
    },
    shareCount: {
      type: Number,
      default: 0
    },
    deliveryComment: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    commentTypeClass() {
      return this.deliveryComment ? 'delivery-comment' : ''
    }
  }
};
</script>
<style>
.default-avatar {
  z-index: 1;
}
.delivery-comment {
  background-color: #e5e6f6 !important;
}
</style>
