<template>
  <div>
    <card
      type="secondary"
      header-classes="bg-transparent pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0"
    >
      <div class="form-group row">
        <div class="col-md-12">
          <base-input v-model="priceBook.name" class="text-center" placeholder="Price Book Name"></base-input>
        </div>
        <div class="col-md-12">
          <base-input v-model="priceBook.description" class="text-center" placeholder="Description"></base-input>
        </div>
        <base-button
          @click="postNewPriceBook()"
          type="primary"
          class="col-sm-8 mb-2"
        >Add Price Book</base-button>
        <base-button
          type="danger"
          @click="toggleNewPriceBookModal()"
          class="col-sm-8 ml--2 mb--4 mt-2"
        >Close</base-button>
      </div>
    </card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      priceBook: {
        name: "",
        description: ""
      },
      invalidDescription: 'Price book could not be created. Please try again later or contact support.',
      defaultType: 'danger'
    };
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany"
    })
  },
  methods: {
    ...mapActions({
      toggleNewPriceBookModal: "modals/toggleNewPriceBookModal"
    }),
    postNewPriceBook() {
      this.$store.dispatch("priceBooks/postNewPriceBook", {title: this.priceBook.name, description: this.priceBook.description, supplier_id: this.currentCompany.id })
      .then((res) => {
        if (res.data.status){
          this.toggleNewPriceBookModal();
          this.notification("Price book successfully added!", "success");
        } else if (res.data.status == false) {
          this.notification(res.data.message)
        } else {
          this.notification()
        }
      }).catch(() => {
        this.notification()
      })
    },
    notification (description=this.invalidDescription, type=this.defaultType) {
      this.$notify({
        message: description,
        timeout: 7000,
        icon: "ni ni-bell-55",
        type: type
      });
    }
  }
};
</script>
<style lang="scss">
</style>
