<template>
  <div>
    <card
      type="secondary"
      header-classes="bg-transparent pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0"
    >
    <base-input class="mt-2 col-md-12 text-center" label="Select Companies">
        <el-select
          multiple
          class="select-danger col-md-12"
          placeholder="Select Company"
          v-model="selectedCompanies"
        >
          <el-option
            v-for="option in getCompanies"
            @click="selectCompany(option)"
            class="select-primary"
            :value="option.id"
            :label="option.title"
            :key="option.title"
          ></el-option>
        </el-select>
      </base-input>
      <div>
        <base-button
          type="primary"
          @click="postNewPriceBookMembership()"
          class="col-md-8 ml-5 mb-2"
        >Add New Membership</base-button>
        <base-button
          type="danger"
          @click="togglePriceBookMembershipModal"
          class="col-md-8 ml-5 mb--4 mt-2"
        >Close</base-button>
      </div>
    </card>
  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      companySelect: { title: "", id: 0 },
      selectedCompanies: [],
      selects: []
    };
  },
  components: {
    "el-select": Select,
    "el-option": Option
  },
  computed: {
    ...mapGetters({
      priceBookDiscounts: "priceBooks/priceBookDiscounts",
      companyList: "priceBooks/companyList",
      getPriceBookMembershipModal: "modals/getPriceBookMembershipModal"
    }),
    getCompanies() {
      if (this.companyList.length > 0) {
        return this.companyList;
      } else {
        return [{ title: "No Company Found", id: 0 }];
      }
    }
  },
  methods: {
    selectCompany(option) {
      this.selectedCompanies.push(option.id);
    },
    ...mapActions({
      fetchPriceBookDiscounts: "priceBooks/fetchPriceBookDiscounts",
      togglePriceBookMembershipModal: "modals/togglePriceBookMembershipModal",
      addNewPriceBookMembership: "priceBooks/addNewPriceBookMembership"
    }),
    postNewPriceBookMembership() {
      this.$store.dispatch("priceBooks/addNewPriceBookMembership", {
        customer_ids: this.selectedCompanies,
        discount_book_id: this.$route.params.discount_book_id
      }).then((res) =>{
        if ((res) == false) {
          this.$notify({
            message: "Unable to add all companies. Companies cannot be added if they are already in a discount book.",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
          });
        }
        else {
            this.$notify({
            message: "Pricebook memberships successfully added!",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'success'
          });
        }
      }).then(() => {
        this.togglePriceBookMembershipModal();
      })
    }
  },
  created() {
    this.$store.dispatch(
      "priceBooks/getPriceBookCompanies",
      this.$route.params.discount_book_id
    );
    this.selects = this.companyList;
  }
};
</script>
<style lang="scss">
</style>
