<template>
  <div class="user-profile">
    <base-header class="pb-6 pb-8 pt-8 pt-md-2"></base-header>
    <div v-if="!isLoading" class="container-fluid mt--7">
      <div v-if="isAdmin" class="row">
          <div class="col-xl-12 order-xl-1 row">
            <div class="col-md-8">
              <company-settings v-if="permissions.company_settings.can_view_company_settings" :company="company"></company-settings>
              <address-list></address-list>
              <email-list></email-list>
              <company-image :company="company"></company-image>
              <company-logo :company="company"></company-logo>
            </div>
            <div class="col-md-4">
              <user-settings :user="user"></user-settings>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <user-settings class="col-md-8" :user="user"></user-settings>
        </div>
      </div>
    <modal :show="getNewEmailModal">
      <new-email :company="getCurrentCompany" v-if="getNewEmailModal"></new-email>
    </modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
export default {
  name: "user-profile",
  components: {
    "email-list": () => import("../../Company/components/tables/EmailList"),
    "delivery-fees": () => import("../../Company/components/tables/DeliveryFee"),
    "address-list": () => import("../../Company/components/tables/AddressList"),
    "invite-user-modal": () => import("../../User/components/modal/InviteUserModal"),
    "new-company-address": () => import("../../Company/components/modals/NewCompanyAddress"),
    "new-email": () => import("../../Company/components/modals/NewEmail"),
    "edit-company-address": () => import("../../Company/components/modals/EditCompanyAddress"),
    "company-settings": () => import("../../Company/components/cards/CompanySettings"),
    "user-settings": () => import("../../Company/components/cards/UserSettings"),
    "company-image": () => import("../../Company/components/cards/CompanyImage"),
    "company-logo": () => import("../../Company/components/cards/CompanyLogo"),
    DropzoneFileUpload,
  },
  data() {
    return {
      isDisabled: true,
      activeAddress: {},
      isLoading: true,
      isSaveLoading: false,
      userEditing: true,
      company: null,
      address: {
        address_one: "",
        suburb: "",
        province: "",
        country: "",
        city: "",
        postal_code: "",
        latitude: "",
        longitude: ""
      },
      model: {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        address: "",
        city: "",
        country: "",
        zipCode: "",
        about: ""
      },
      avatarColour: "default",
      user: {
        id: 0,
        last_name: "", 
        first_name: "", 
        username: "",
        avatar: null,
        contact_number: "",
        email: "",
        default_colour: ""
      }
      // avatarInitials: ''
    };
  },
  computed: {
    ...mapGetters({
      getNewAddressModal: "modals/getNewAddressModal",
      permissions: 'user/userPermissions',
      getEditAddressModal: "modals/getEditAddressModal",
      currentUser: "user/getCurrentUser",
      isAdmin: "user/isAdmin",
      getCompanyAddresses: "companies/getCompanyAddresses",
      getDisplayInviteUserModal: "modals/getDisplayInviteUserModal",
      getCurrentCompany: "companies/getCurrentCompany",
      getNewEmailModal: "modals/getNewEmailModal",
      getNewDeliveryFee: "modals/getNewDeliveryFee"
    }),
    avatarInitials () {
      if (this.user && this.user.first_name) {
        return this.user.first_name.charAt(0) + this.user.last_name.charAt(0)
      } else {
        return ""
      }
    }
  },
  methods: {
    setActiveAddress(address){
      this.activeAddress = address
      this.$store.commit("modals/toggleEditAddressModal")
    },
    toggleNewAddressModal () {
      this.$store.commit("modals/toggleNewAddressModal")
    },
    toggleEditUser () {
      this.userEditing = !this.userEditing
    },
    editForm () {
      this.isDisabled = !this.isDisabled
    },
    async fetchCurrentCompany () {
      return this.$store.dispatch("companies/fetchCurrentCompany")
    },
  },
  async mounted () {
      this.user.id  = this.currentUser && this.currentUser.id ? this.currentUser.id : ""
      this.user.email  = this.currentUser && this.currentUser.user_email ? this.currentUser.user_email : ""
      this.user.last_name  = this.currentUser && this.currentUser.last_name ? this.currentUser.last_name : ""
      this.user.first_name  = this.currentUser && this.currentUser.name ? this.currentUser.name : ""
      this.user.contact_number  = this.currentUser && this.currentUser.contact_number ? this.currentUser.contact_number : ""
      this.user.username  = this.currentUser && this.currentUser.username ? this.currentUser.username : ""
      this.user.default_colour  = this.currentUser && this.currentUser.default_colour ? this.currentUser.default_colour : ""
      this.user.avatar  = this.currentUser && this.currentUser.avatar ? this.currentUser.avatar : ""

      this.$store.dispatch("companies/getAddresses")
      this.$store.dispatch("companies/fetchCurrentCompany").then(() => {
        this.isLoading = false
        this.company = this.getCurrentCompany;
        this.address.latitude = this.company.first_address.latitude 
        this.address.longitude = this.company.first_address.longitude 
        this.address.address_one = this.company.first_address.address_one
        this.address.suburb = this.company.first_address.suburb 
        this.address.city = this.company.first_address.city 
        this.address.province = this.company.first_address.province 
        this.address.country = this.company.first_address.country 
        this.address.postal_code = this.company.first_address.postal_code
        this.company.first_name = 'John'
        this.company.last_name = 'Doe'

        setTimeout(() => {
          var input = document.getElementById("searchTextField");
          let autocomplete = new google.maps.places.Autocomplete(input, {
            types: ["address"],
            componentRestrictions: { country: "ZA" }
          });
          google.maps.event.addListener(autocomplete, "place_changed", () => {
            let searchBar = document.getElementById("lblFormattedAddress");
            var place = autocomplete.getPlace();
            this.address.latitude = place.geometry.location.lat();
            this.address.longitude = place.geometry.location.lng();
            this.address.address_one = `${place.address_components[0].long_name} ${place.address_components[1].long_name}`;
            this.address.suburb = place.address_components[2].long_name;
            this.address.city = place.address_components[3].long_name;
            this.address.province = place.address_components[5].long_name;
            this.address.country = place.address_components[6].long_name;
            this.address.postal_code = place.address_components[7].long_name;
          }); 
        }, 10);
      }, error => {
        console.log(error)
      })
  }
};
</script>

<style style="scoped">
.user-profile .btn.rounded-circle {
  padding: 0.625rem;
}
.user-profile label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.user-profile .avatar p {
  font-size: 1.7em;
  font-weight: 500;
}
.user-profile .col-auto .row .col-12.col-md-6.col-lg-auto .row .col {
  max-width:53px;
}
.user-profile .default {
  background-color: 
}
.user-profile .primary {

}
.user-profile .info {
}
.user-profile .success {
}
.user-profile .danger {
  background-color: ;
}
.user-profile .warning {
  background-color: ;
}
.user-profile .dz-message {
  padding: 3.5rem 1rem;
}
</style>
