<template>
  <div>
    <base-input
      :label="`Payment amount (cannot exceed ${maxValueFormat})`"
      @keypress="validateNumber"
      placeholder="Payment Amount"
      v-model="value"
    ></base-input>
    <base-button type="success" :disabled="disableBtn" @click="payAccount()">Pay</base-button>
    <base-button type="danger" @click="togglePayAccountModal">Close</base-button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["maxValue", "paymentDetails"],
  data() {
    return {
      value: 0,
      disableBtn: false,
      activeOrder: {}
    };
  },
  components: {
    "paygate-modal": () => import("@/views/Orders/views/PayGateModal")
  },
  computed: {
    ...mapGetters({
      getPayGateModal: "payGate/getPayGateModal",
      getCurrentCompany: "companies/getCurrentCompany"
    }),
    maxValueFormat() {
      return this.maxValue
    }
  },
  methods: {
    validateNumber (evt) {
      this.$options.filters.isNumber(evt)
    },
    ...mapActions({
      togglePayGateModal: "payGate/togglePayGateModal",
      togglePayAccountModal: "modals/togglePayAccountModal"
    }),
    payAccount() {
      let accountSale = {
        customer: this.paymentDetails.customer.title,
        customer_id: this.getCurrentCompany.id,
        gross_amount: this.value,
        supplier: {
          title: this.paymentDetails.supplier.title,
          id: this.paymentDetails.supplier.id
        },
        order_number: this.paymentDetails.order_number
      };
      this.activeOrder = accountSale;
      this.$store.commit("payGate/updateActiveAccountSale", accountSale);
      this.togglePayAccountModal();
      this.togglePayGateModal();
    }
  },
  watch: {
    value(val) {
      val > this.maxValue
        ? (this.disableBtn = true)
        : (this.disableBtn = false);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>