<template>
  <div>
    <div class="card-header">
      <h3>Payment Details</h3>
    </div>
    <div class="card-body">
      <base-input
        :disabled="true"
        style="color:black!important"
        :value="$options.filters.currency(payment.gross_amount)"
        label="Amount"
      >
      </base-input>
      <base-input class="mt--2" label="Paid On" append-icon="fas fa-calendar">
        <flat-picker
          :disabled="true"
          style="color:black!important"
          class="form-control datepicker"
          v-model="payment.date"
        ></flat-picker>
      </base-input>
      <base-input style="color:black!important" :disabled="true" v-model="payment.reference" class="mt--3 text-black" label="Reference">
      </base-input>
      <base-input style="color:black!important" :disabled="true" v-model="payment.payment_type" class="mt--1 text-black" label="Payment Type">
      </base-input>
      <div>
        <ul class="list-group list-group-flush list">
        <labal class="form-control-label">
          Payment Allocations:
        </labal>
          <li v-for="(order, index) in payment.orders" :key="index" class="list-group-item px-0">
          <div class="row align-items-center">
              <div class="col-auto">
                <h5 class=" h5">{{order.order.customer.title}}</h5>
                <router-link :to="`/order/${order.order.order_uuid}`" class="text-blue h5">Order #{{order.order.order_number}}</router-link>
              </div>
              <div class="col-auto">
                <h5>Order Value:</h5>
                <h5 class="mb-0">{{order.order.value | currency}}</h5>
              </div>
              <div class="col-auto">
                <h5>Payment Value:</h5>
                <h5 class="mb-0">{{order.value | currency}}</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import flatPicker from "vue-flatpickr-component";
  export default {
    props: {
      payment: {
        type: Object,
        required: true
      }
    },
    components: {
      flatPicker
    },
    data () {
      return {
        value: 0,
        paymentAmount: 0,
        isLoading: false,
        paymentReference: '',
        dates: {
          simple: null
        },
        paymentTypes: [
          { id: 0, value: 0, label: 'Bank Transfer'},
          { id: 1, value: 1, label: 'Credit Card'},
          { id: 2, value: 2, label: 'Cash'}
        ]
      }
    },
    methods: {
      notify(message, type) {
        this.$notify({
          message, 
          type,
          timeout: 5000
        })
      },
      createPayment () {
        this.isLoading = true
        let payment = {
          payment_type: this.value,
          payment_date: this.dates.simple,
          payment_amount: this.paymentAmount,
          payment_reference: this.paymentReference
        }
        this.$store.dispatch('orders/createPayment', {payment: payment, orderUuid: this.order.order_uuid}).then((res) => {
          if (res.status == 200) {
            this.notify(`Payment for order number #${this.order.order_number} has been successfully created`, 'success' )
            this.$emit('close')
             this.isLoading = false
          } else {
            this.notify(`Payment for order number #${this.order.order_number} could not be created. Please try again or contact support should the problem persist `, 'danger' )
            this.isLoading = false
          }
        })
      },
      validateNumber (evt) {
        this.$options.filters.isNumber(evt)
      }
    },
    mounted () {
      let date = new Date(Date.now());
      let datestring = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      this.dates.simple = datestring;
      this.paymentAmount = this.order.balance.toFixed(2)
    }
  }
</script>

<style lang="scss">
  .vs-select-content {
    max-width: 100% !important;
  }
  .text-black {
    color: blue!important;
  }
.vs-dialog {
  min-width: 600px;
  @media only screen and (max-width: 600px) {
    min-width: 400px;
  }
}
</style>