<template>
    <div>
        <GmapMap
            :center="center"
            :zoom="zoom || 10"
            :style="{'height': height}"
            id="gmap"
            ref="map"
            :options="{disableDefaultUI: true}"
        >
        <div v-for="(marker, idx) of markers" :key="idx">
            <GmapMarker v-if="marker.address.latitude && marker.address.longitude"
                ref="reportMarker"
                :position="getLatLng(marker)"
                :icon="{ url: getStatus(marker)}"
                @click="$emit('marker-click', marker)"
            />
        </div>
        </GmapMap>
    </div>
</template>

<script>
export default {
    props: {
        markers: Array,
        height: {
            type: String,
            default: '700px',
            required: false
        },
        zoom: Number,
        center: {
            type: Object,
            default: () => { return { lat:-33.9249, lng:18.4241 }}
        }
    },
    mounted() {
        this.$refs.map.$mapPromise.then((map) => {
            map.addListener('click', (ev) => {
                this.$emit('input', {lat: ev.latLng.lat(), lng: ev.latLng.lng()})
            })
        })
    },
    methods: {
        getStatus (marker) {
            if (marker.isActive !== undefined && marker.isActive) {
                return 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
            }
            return marker.delivery_status !== 'Delivered' ? 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        },
        getLatLng(marker) {
            return {
                lat: Number(marker.address.latitude),
                lng: Number(marker.address.longitude)
            }
        }
    }
}
</script>

<style lang="scss">
#gmap {
    border-radius: 10%;
}
@media only screen and (max-width: 600px) {
    .vue-map-container .vue-map {
        border-radius: 0px !important;
    }
    .vue-map-container {
        margin: 0px !important;
    }
}
.vue-map-container .vue-map {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    border-radius: 15px;
}
</style>