<template>
<div>
  <div class="container-fluid">
      <div class="row flex-nowrap justify-start">
          <div v-for="(delivery, index) in myDeliveryOrders.sort((a, b) => a.delivery_number - b.delivery_number)" :key="index" @click="update(delivery)" class="col-10">
              <card class="card card-block">
                <h5 @click="update(delivery)" v-if="!minifiedView" :class="statusText(delivery.delivery_status)" class="card-title text-uppercase text-muted mb-0">Order Status: {{ delivery.order_status | capatalize }} | {{ delivery.delivery_status | capatalize }}</h5>
                <div @click="update(delivery)" :class="statusText(delivery.delivery_status)" class="h2 font-weight-bold mb-0">{{ delivery.customer }}</div>
                <div @click="update(delivery)" :class="statusText()" class="p font-weight-bold mb-0">{{ delivery.delivery_status | capatalize }}</div>
                <p @click="update(delivery)"  class="mt-2 mb-0 text-sm delivery-address">
                  <span>{{ `${delivery.address.address_one || ""} ${delivery.address.suburb || ""} ${delivery.address.city || ""} ${delivery.address.postal_code || ""}` }}</span>
                </p>
              </card>
          </div>
      </div>
  </div>
    <bottom-modal @close-modal="closeModal()" :show="displayDetails">
    <update-delivery-status @close-modal="closeModal()" v-if="displayDetails" :delivery="activeDelivery"></update-delivery-status>
  </bottom-modal>
</div>
</template>

<script>
import { Dialog } from 'element-ui'
  export default {
    props: {
      myDeliveryOrders: {
        type: [Array, Object],
        default: () => {},
        required: true
      },
      displayTopNav: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        displayDetails: false,
        activeDelivery: {}
      }
    },
    components: {
      'update-delivery-status': () => import('../cards/UpdateDeliveryStatus')
    },
    computed: {
      minifiedView () {
        return this.$route.name == 'myDeliveries'
      }
    },
    methods: {
      closeModal() {
        this.displayDetails = false
      },
      update(delivery) {
        this.displayDetails = true
        this.activeDelivery = delivery
      },
      statusText(status) {
        return status == "Delivered" ? "text-muted" : ""
      },
      buttonType(status) {
        return status == "Delivered" ? "white" : "success"
      },
      goToDetail (delivery) {
        this.$emit('go-to-detail', delivery)
      },
      deliveryStatus (delivery) {
        this.$emit('delivery-status', delivery)
      },
      rowColour (colour) {
        this.$emit('row-color', colour)
      },
      orderStatus (delivery) {
        this.$emit('order-status', delivery)
      }
    }
  }
</script>

<style lang="scss" scoped>
.delivery-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.justify-start {
      justify-content: flex-start;
      overflow: scroll;
      position: fixed;
      bottom: 0;
      margin-bottom: 30px;
      margin-left: 5px;
      margin-right: 5px;
      left: 0;
      right: 0;
      z-index: 1000;
      will-change: transform;
      transform: translateZ(0);
      display: flex;
}
</style>