<template>
  <div>
    <el-radio-group v-model="listType" class="mt-2 center">
      <el-radio-button label="upcoming">Upcoming</el-radio-button>
      <el-radio-button label="delivered">Delivered</el-radio-button>
    </el-radio-group>
    <div v-for="order in deliveries" :key="order.id">
      <stats-card class="mb-2">
        <div class="row">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">{{ order.delivery_status }}</h5>
                <span class="h2 font-weight-bold mb-0">{{ order.customer }}</span>
            </div>
            <div class="col-auto">
                <div class="icon icon-shape text-white rounded-circle shadow ml-2">
                    <a :href="`https://maps.google.com/?q=${order.address.latitude},${order.address.longitude}`" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
                </div>
            </div>
        </div>
        <p class="mt-2 mb-0 text-sm">
            <span>{{ `${order.address.address_one || ""} ${order.address.suburb || ""} ${order.address.city || ""} ${order.address.postal_code || ""}` }}</span>
        </p>
      </stats-card>

    </div>
  </div>
</template>

<script>
  import Tabs from "@/components/Tabs/Tabs";
  import Tab from "@/components/Tabs/Tab";
  import { RadioGroup, RadioButton } from 'element-ui'
  export default {
    props: {
      filteredResults: {
        type: [Array, Object],
        default: () => {},
        required: true
      }
    },
    data () {
      return {
        listType: 'upcoming'
      }
    },
    components: {
      tabs: Tabs,
      "tab-pane": Tab,
      [RadioGroup.name]: RadioGroup,
      [RadioButton.name]: RadioButton
    },
    mounted () {
      document.body.style.overflow = "visible";
    },
    computed: {
      deliveries () {
        if (this.listType == 'upcoming') {
          return this.filteredResults.filter((deliveries) => deliveries.delivery_status !== 'Delivered')
        } else {
          return this.filteredResults.filter((deliveries) => deliveries.delivery_status === 'Delivered')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
</style>