<template>
  <div class="delivery-drawer">
    <h3 class="text-center">Update delivery status</h3>
    <!-- <p class="text-center">Mark <strong>In Progress</strong> once you have started your route to the destination. Mark <strong>Delivered</strong> when you are delivering the order.</p> -->
    <div class="text-center mt-4 justify-content-center row">
      <base-button @click="deliveryInProgress()" type="info">Start Naviagtion</base-button>
      <a style="display:none;" id="go-to-url" class="text-white" :href="`https://maps.google.com/?q=${delivery.address.latitude},${delivery.address.longitude}`" target="_blank"></a>
      
      <div v-if="delivery.type !== 'orderbly'">
        <base-button @click="completeDelivery()" :type="'success'">Complete Delivery</base-button>
      </div>
      <div v-else>
        <router-link :to="`/receive_order/${delivery.order_uuid}`">
          <base-button :type="'success'">Complete Delivery</base-button>
        </router-link>
      </div>
    </div>
    <div class="dropdown-divider mt-4"></div>
    <div class="row">
      <div @click="goToOrder(delivery)" class="col-md-12 mb-2">
        <i class="fas fa-user mr-2"></i>
        Client: {{delivery.customer}}
      </div>
      <div  class="col-md-3 mb-2"  @click="goToOrder(delivery)">
        <i class="fas fa-file-invoice mr-2"></i>
        Order Number: {{delivery.order_number}}
      </div>
      <div class="col-md-12">
          <i class="fas fa-map-marker-alt mr-2"></i>
          {{delivery.address.address_one}} <br>
          <div class="ml-4">{{delivery.address.city}}</div> <br>
          <div class="ml-4 mt--4">{{delivery.address.suburb}}</div> <br>
          <div class="ml-4 mt--4">{{delivery.address.country}}</div> <br>
          <div class="ml-4 mt--4">{{delivery.address.postal_code}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import swal from "sweetalert2";
export default {
  props: ['delivery'],
  data () {
    return {

    }
  },
  methods: {
      goToOrder(order) {
        this.$router.push({
          name: "orderDetail",
          params: { id: order.order_uuid }
        });
      },
      updateStatus(status) {
        if (this.delivery.type == 'orderbly') {
          this.$store.dispatch("fulfilmentOrders/updateOrderDeliveryStatus", { order_id: this.delivery.order_uuid, status: status });
        } else {
          this.$store.dispatch("fulfilmentOrders/updateCustomOrderDeliveryStatus", { id: this.delivery.id, delivery_status: status });
        }
      },
      completeDelivery() {
      swal({
        title: "Is this delivery complete?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.$emit('close-modal')
        this.updateStatus(4)
      });
    },
      deliveryInProgress() {
      swal({
        title: "Is this delivery in progress?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        document.getElementById('go-to-url').click()
        this.$emit('close-modal')
        this.updateStatus(3)
      });
    },
  }
}
</script>

<style lang="scss">
.delivery-drawer {
  z-index: 1000;
}
</style>