<template>
  <div>
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Edit User Membership</h3>
    </div>
    <div class="row mt-4">
      <card class="col-md-8">
        <div class="card-body">

          <div class="col-md-12">
            <label class="form-control-label">Email</label>
            <p class="small text-muted mb--0">
                Enter in the user's email address
            </p>
            <base-input
              :disable="true"
              v-model="email"
              placeholder="User email"
            ></base-input>
          
            <label class="form-control-label">Role</label>
            <p class="small text-muted mb--0">
                Select which role you want your user to have. After your selection you can toggle any of the settings that you need.
            </p>
              <el-select 
                class="select-danger mb-4 ml--3 col-md-12"
                placeholder="Select Role"
                v-model="role">
                <el-option 
                  v-for="option in selects.roles"
                  class="select-danger text-center"
                  :value="option.value"
                  :label="option.label"
                  :key="option.label"
                  ></el-option>
              </el-select>
          </div>
        </div>

        <div v-if="role !== null">
          <div v-for="(permission, index) in Object.keys(permissions)" :key="index">
            <div class="card-header ml--3 mt--4 mb--3">
              <h4>{{permission | capitalize}}</h4>
            </div>

            <div class="card-body">
              <ul v-for="(p, i) in Object.keys(permissions[permission])" :key="i" class="list-group list-group-flush ml--3">
                <vs-checkbox danger v-model="permissions[permission][p]">
                  {{ p | capitalize }}
                </vs-checkbox>
              </ul>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

          <div class="text-center">
            <base-button 
              :disabled="(role === null) || (email === '') || (error !== false)"
              type="btn col-md-4 mb-2 btn-danger"
              @click="updateMember()"
            >Update User</base-button>
          </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      test: false,
      timeout: null,
      permissions: {},
      role: null,
      userExists: null,
      inviteErrorResponse: false,
      errorMessage: null,
      error: false,
      inviteSuccessResponse: null,
      email: "",
      selects: {
        roles: [
          {value: '1', label: 'Admin'},
          {value: '2', label: 'Staff'},
          {value: '3', label: 'Fulfilment'}
        ]
      }
    };
  },
    components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  methods: {
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 3000,
        icon: "ni ni-bell-55",
        type: type
      })
    },
    updateMember () {
      this.$store.dispatch('companies/updateMembership', {uuid: this.$route.params.uuid, role: this.role, permissions: this.permissions })
      .then(res => {
        this.permissions = JSON.parse(atob(res.permissions))
        this.notify('The membership has successfully been saved', 'success')
        this.$router.go(-1)
      })
      .catch(() => {
        this.notify("Something went wrong, please try again or contact support should the problem persist.", "danger")
      })
    },
    getMember () {
      this.$store.dispatch('companies/fetchMembership', {companyId: this.currentCompany.id, uuid: this.$route.params.uuid })
      .then((res) => {
        this.email = res.user.email
        if (res.role.level == "admin") {
          this.role = '1'
        } else if (res.role.level == "staff") {
          this.role = '2'
        } else {
          this.role = '3'
        }
        this.permissions = JSON.parse(atob(res.permissions))
      })
    },
    ...mapActions({
      toggleInviteUserModal: "modals/toggleInviteUserModal"
    })
  },
  watch: {
    currentCompany () {
      this.getMember()
    },
  },
  mounted () {
    if (this.currentCompany && this.currentCompany.id) this.getMember()
  },
  computed: {
    isAdmin () {
      return this.role == '1'
    },
    isStaff () {
      return this.role == '1' || this.role == '2'
    },
    isDriver () {
      return this.role == '1' || this.role == '2' || this.role == '3'
    },
    inviteResponseText() {
      if (this.getInviteMessage && this.getInviteMessage.type == "error") {
        return "text-warning";
      }
      return "text-success";
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      getInviteMessage: "user/getInviteMessage",
      currentUser: "user/currentUser"
    }),
    disableButton() {
      return this.userExists ? "enabled" : "disabled";
    }
  }
};
</script>

<style scoped>
  .el-input__inner {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .example {
    padding-left: 1.25rem;
    border-left: 2px solid #5e62e4;
    border-bottom: 0;
  }
</style>