<template>
  <div>
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Invite User</h3>
    </div>
    <div class="row mt-4">
      <card class="col-md-8">
        <div class="card-header">
          <h2>Invite a user to your company</h2>
          <p class="text-sm font-weight-bold mb--2">
            Please fill the details below to invite a user. If the user already has an Orderbly account, they will automatically have access to your profile. New users will automatically have
            access once they sign up to email. 
          </p>
        </div>
        <div class="card-body">

          <div class="col-md-12">
            <label class="form-control-label">Email</label>
            <p class="small text-muted mb--0">
                Enter in the user's email address
            </p>
            <base-input
              :warningMessage="inviteMessage"
              :successMessage="inviteMessage"
              :warning="userExists == false"
              :errorMessage="errorMessage"
              :error="error"
              :valid="userExists == true"
              :success-message="inviteSuccessResponse"
              v-model="email"
              @input="validateEmail"
              placeholder="User email"
            ></base-input>
          
            <label class="form-control-label">Role</label>
            <p class="small text-muted mb--0">
                Select which role you want your user to have. After your selection you can toggle any of the settings that you need.
            </p>
              <el-select 
                class="select-danger mb-4 ml--3 col-md-12"
                placeholder="Select Role"
                v-model="role">
                <el-option 
                  v-for="option in selects.roles"
                  class="select-danger text-center"
                  :value="option.value"
                  :label="option.label"
                  :key="option.label"
                  ></el-option>
              </el-select>
          </div>
        </div>

        <div v-if="role !== null">
          <div v-for="(permission, index) in Object.keys(permissions)" :key="index">
            <div class="card-header ml--3 mt--4 mb--3">
              <h4>{{permission | capitalize}}</h4>
            </div>

            <div class="card-body">
              <ul v-for="(p, i) in Object.keys(permissions[permission])" :key="i" class="list-group list-group-flush ml--3">
                <vs-checkbox danger v-model="permissions[permission][p]">
                  {{ p | capitalize }}
                </vs-checkbox>
              </ul>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

          <div class="text-center">
            <base-button 
              :disabled="(role === null) || (email === '') || (error !== false)"
              type="btn col-md-4 mb-2 btn-danger"
              @click="inviteUser()"
            >Invite User</base-button>
          </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      test: false,
      timeout: null,
      permissions: {},
      role: null,
      userExists: null,
      inviteErrorResponse: false,
      errorMessage: null,
      error: false,
      inviteSuccessResponse: null,
      email: "",
      selects: {
        roles: [
          {value: '1', label: 'Admin'},
          {value: '2', label: 'Staff'},
          {value: '3', label: 'Fulfilment'}
        ]
      }
    };
  },
    components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  methods: {
    updatePermissions () {
      this.permissions = {
        user_settings: {
          can_create_user: this.isAdmin,
          can_edit_user: this.isAdmin,
          can_delete_user: this.isAdmin
        },
        company_settings: {
          can_view_dashboard: this.isStaff,
          can_view_company_settings: this.isStaff,
          can_change_company_details: this.isAdmin,
          can_update_company_images: this.isStaff,
          can_add_address: this.isStaff,
          can_edit_address: this.isStaff,
          can_edit_company_emails: this.isStaff,
          can_add_company_emails: this.isStaff
        },
        tax_settings: {
          can_view_tax_settings: this.isStaff,
          can_add_tax: this.isStaff,
          can_edit_tax: this.isStaff
        },
        delivery_settings: {
          can_view_delivery_settings: this.isStaff,
          can_edit_delivery_bracket: this.isStaff,
          can_create_delivery_bracket: this.isStaff,
          can_toggle_delivery_reconciliation: this.isStaff
        },
        integration_settings: {
          can_view_integrations: this.isStaff,
          can_add_integration: this.isStaff,
          can_disable_integration: this.isStaff
        },
        product_settings: {
          can_create_product: this.isStaff,
          can_edit_product: this.isStaff,
        },
        marketplace_settings: {
          can_view_marketplace: this.isStaff,
          can_view_supplier_profiles: this.isStaff,
          can_create_orders: this.isStaff,
          can_integrate_sales: this.isStaff
        }, 
        purchases_settings: {
          can_view_all_purchases: this.isStaff,
          can_cancel_purchases: this.isStaff,
          can_edit_purchases: this.isStaff,
          can_integrate_purchases: this.isStaff,
          can_delete_order_items: this.isStaff
        },
        sales_settings: {
          can_view_all_sales: this.isStaff,
          can_view_own_custom_sales: this.isStaff,
          can_create_payment: this.isStaff,
          can_accept_sale: this.isStaff,
          can_decline_sale: this.isStaff,
          can_edit_sale: this.isStaff,
          can_edit_quantity: this.isStaff,
          can_edit_gross_price: this.isStaff,
          can_allocate_delivery: this.isStaff,
          can_update_delivery_status: this.isStaff,
          can_create_custom_sales: this.isStaff,
          can_create_credit_note: this.isStaff
        },
        pricing_settings: {
          can_view_pricebooks: this.isStaff,
          can_create_pricebook: this.isStaff,
          can_edit_pricebook: this.isStaff,
          can_create_pricebook_membership: this.isStaff
        },
        credit_limit_settings: {
          can_view_credit_limits: this.isAdmin,
          can_edit_credit_limits: this.isAdmin,
          can_update_credit_limits: this.isAdmin,
          can_create_credit_limits: this.isAdmin
        },
        statements_settings: {
          can_view_sales_statement: this.isStaff,
          can_view_purchase_statement: this.isStaff
        },
        fulfilment_settings: {
          can_view_own_deliveries: this.isDriver,
          can_view_waybills: this.isDriver,
          can_view_all_daily_deliveries: this.isDriver,
          can_view_all_upcoming_deliveries: this.isDriver,
          can_view_all_completed_deliveries: this.isDriver,
          can_create_custom_delivery: this.isDriver
        }
      }
    },
    emailValidation() {
       if (this.$options.filters.emailValidation(this.email) !== '') {
         this.error = true
         this.errorMessage = "Please enter a valid email"
         return false
       } else {
          this.error = false
          this.errorMessage = ""
          return true
       }
    },
    validateEmail () {
      this.userExists = null
      this.error = false
      this.errorMessage = ""
      if (this.timeout !== null) clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        let validate = this.emailValidation()
        if (validate)
         this.$store.dispatch("user/userExists", this.email)
         .then((res) => {
          this.userExists = res.data
        })
      }, 1000)

    },
    inviteUser() {
      this.$store.dispatch("user/invite_user", this.inviteData).then((res) => {
        if (res.data.type == "error") {
          this.notify(res.data.message, "warning")
          this.$route.go(-1)
        }
        else if (res.data.type == "success") {
          this.inviteSuccessResponse = res.data.message
          this.notify(res.data.message, "success")
          this.$router.go(-1)
        }
        else {
          this.notify("Something went wrong, please try again or contact support should the problem persist.", "danger")
        }
      }).catch(() => {
        this.notify("Something went wrong, please try again or contact support should the problem persist.", "danger")
      })
    },
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 3000,
        icon: "ni ni-bell-55",
        type: type
      })
    },
    ...mapActions({
      toggleInviteUserModal: "modals/toggleInviteUserModal"
    })
  },
  watch: {
    role (oldVal, newVal) {
      if (oldVal !== newVal) this.updatePermissions()
    }
  },
  mounted () {
    this.updatePermissions()
  },
  computed: {
    inviteData () {
      return {
        permissions: this.permissions,
        email: this.email,
        role_id: this.role,
        company_id: this.currentCompany.id,
        user_id: this.currentUser 
      }
    },
    inviteMessage () {
      return this.userExists 
      ? "This user exists and will have immediate access to your company's profile" 
      : `No user was found with this email. A signup email will be sent to ${this.email}, they will have access to your company's profile once signed up.`
    },
    isAdmin () {
      return this.role == '1'
    },
    isStaff () {
      return this.role == '1' || this.role == '2'
    },
    isDriver () {
      return this.role == '1' || this.role == '2' || this.role == '3'
    },
    inviteResponseText() {
      if (this.getInviteMessage && this.getInviteMessage.type == "error") {
        return "text-warning";
      }
      return "text-success";
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      getInviteMessage: "user/getInviteMessage",
      currentUser: "user/currentUser"
    }),
    disableButton() {
      return this.userExists ? "enabled" : "disabled";
    }
  }
};
</script>

<style scoped>
  .el-input__inner {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .example {
    padding-left: 1.25rem;
    border-left: 2px solid #5e62e4;
    border-bottom: 0;
  }
</style>