<template>
  <div>
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Memberships</h3>
    </div>
    <div class="row">
    <div class="col-md-3 mt-8">
     <ul class="list-group">
        <li @click="toggleLink()" :class="activeClass('members')" class="list-group-item">Memberships</li>
        <li @click="toggleLink()" :class="activeClass('invites')" class="list-group-item">Pending Invites</li>
      </ul>
    </div>
    <div class="col-md-8 mt-6">
      <base-button v-if="displayMembers && canAddMembers" @click="$router.push('invite_user')" type="primary" class="mb-3">New member</base-button>
      <base-button v-if="!displayMembers && canAddMembers" @click="toggleInviteUserModal" type="primary" class="mb-3">New Invite</base-button>
      <div class="card shadow mr-8">
        <div class="table-responsive">
          <base-table
            class="table align-items-center table-flush"
            tbody-classes="list"
            :data="tableData"
          >
            <template slot="columns">
              <th>Email</th>
              <th v-if="displayMembers">Name</th>
              <th v-if="displayMembers">Role</th>
              <th>Edit</th>
            </template>

            <template slot-scope="{row}">

              <td @click="goToMember(row.uuid)">
                <badge class="badge-dot mr-4" :type="row.user_email">
                  <span class="text-gray">
                    {{displayMembers ? row.user_email : row.email_address}}
                  </span>
                </badge>
              </td>
              <td @click="goToMember(row.uuid)" v-if="displayMembers">
                <badge class="badge-dot mr-4" :type="row.user_name">
                  <span>
                    {{row.user_name}}
                  </span>
                </badge>
              </td>
              <td @click="goToMember(row.uuid)" v-if="displayMembers">
                <badge class="badge-dot mr-4" :type="row.role">
                  <span>
                    {{row.role}}
                  </span>
                </badge>
              </td>
              <td>
                <router-link :to="`edit_membership/${row.uuid}`">
                  <i class="fas fa-pen mr-3 text-gray"></i>
                </router-link>
                <badge class="badge-dot mr-4">
                  <span>
                    <i 
                      v-if="(row.role != 'Admin') && canDeleteMembers"
                      @click="showSwal(row.id)"
                      class="fas fa-trash text-gray mb-1"
                    ></i>
                  </span>
                </badge>
              </td>
              <td>
            </td>
            
            </template>
          </base-table>
        </div>
      </div>

    </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
export default {
  name: "user-profile",
  components: { "invite-user-modal": () => import("../../User/components/modal/InviteUserModal")
  },
  data() {
    return {
      invites: [],
      fetchedInvites: false,
      company: [],
      activeLink: 'members',
    };
  },
  computed: {
    canEditMembers () {
      return this.permissions.user_settings.can_edit_user
    },
    canAddMembers () {
      return this.permissions.user_settings.can_create_user
    },
    canDeleteMembers () {
      return this.permissions.user_settings.can_delete_user
    },
    tableData () {
      return this.activeLink == 'members' ? this.memberships : this.invites
    },
    displayMembers () {
      return this.activeLink == 'members'
    },
    ...mapGetters({
      getDisplayInviteUserModal: "modals/getDisplayInviteUserModal",
      currentCompany: "companies/getCurrentCompany",
      memberships: "companies/getCompanyMemberhsips",
      permissions: "user/userPermissions"
    })
  },
  methods: {
    goToMember(uuid) {
      if (!this.canEditMembers) return 
      this.$router.push(`edit_membership/${uuid}`)
    },
    toggleLink () {
      if (this.activeLink == 'members') {
        this.activeLink = 'invites'
      } else {
        this.activeLink = 'members'
      }
    },
    activeClass (val) {
      return this.activeLink == val ? 'active' : ''
    },
    showSwal(id) {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value && this.displayMembers) {
          this.deleteMembership(id);
        } else {
          this.deleteInvite(id)
        }
      });
    },
    deleteInvite(id) {
      this.$store.dispatch('companies/deleteInvite', id)
      .then((res) => {
        this.invites = res.data
      })
    },
    deleteMembership (id) {
      this.$store.dispatch('companies/deleteMembership', id)
    },
    getInvites () {
      this.$store.dispatch("companies/fetchPendingInvites", this.currentCompany.uuid)
      .then((res) => {
        this.invites = res.data
        this.fetchedInvites = true
      })
      .catch((err) => {

      })
    },
    ...mapActions({
      getCurrentCompany: "companies/fetchCurrentCompany",
      toggleInviteUserModal: "modals/toggleInviteUserModal",
      fetchCompanyMemberships: "companies/fetchCompanyMemberships"
    }),
    save() {
      this.$store.dispatch("companies/updateCompanyDetails", this.company);
    }
  },
  watch: {
    currentCompany (val) {
      if (val && val.uuid && !this.fetchedInvites) {
        this.getInvites()
      }
    }
  },
  async mounted()  {
    await this.$store.dispatch("companies/fetchCompanyMemberships")
    await this.$store.dispatch("companies/fetchCurrentCompany")
    if (this.currentCompany && this.currentCompany.uuid) {
      this.getInvites()
    }
    this.company = this.currentCompany
  }
};
</script>
<style></style>
