<template>
  <div>
    <card>
      <div slot="header" class="bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Company Addresses</h3>
          </div>
          <div class="col-4 text-right"></div>
          </div>
        </div>

        <h4 class="heading-small text-muted mb-4 align-items-center">Addresses</h4>
        <ul class="list-group mb-4">
          <div v-for="address in getCompanyAddresses" :key="address.id">
            <li class="list-group-item d-flex justify-content-between text-left">
              <div class="col-md-10">
                <h3 class="text-left">{{address.alias}}</h3>
                <h4 class="mb-0">
                  Address One: {{address.address_one}} <br>
                  Suburb: {{address.suburb}} <br>
                  City: {{address.city}} <br>
                  Country: {{address.country}}<br>
                  Postal Code:{{address.postal_code}}
                </h4>
              <button v-if="$mq == 'mobile' && permissions.company_settings.can_edit_address" @click="setActiveAddress(address)" type="button" class="btn btn-md btn-white mt-4" style="height:20%">Edit</button>
              <base-button v-if="$mq == 'mobile' && permissions.company_settings.can_edit_address" @click="setDefaultAddress(address)" :type="buttonType(address)" class="btn btn-md mt-4" style="height:20%">{{setDefaultText(address)}}</base-button>
              </div>
              <button v-if="$mq !== 'mobile' && permissions.company_settings.can_edit_address" @click="setActiveAddress(address)" type="button" class="ml--9 btn btn-md btn-white" style="height:20%">Edit</button>
              <base-button v-if="$mq !== 'mobile' && permissions.company_settings.can_edit_address " @click="setDefaultAddress(address)" :type="buttonType(address)" class="ml--2 btn btn-md" style="height:20%">{{setDefaultText(address)}}</base-button>
            </li>
          </div>
        </ul>
        <base-button v-if="permissions.company_settings.can_add_address" @click="toggleNewAddressModal" size="sm" type="primary" class="btn btn-primary text-white default">New</base-button>
      </card>

    <modal :show="getNewAddressModal" size="md">
      <new-company-address></new-company-address>
    </modal>

    <modal :show="getEditAddressModal" size="md">
      <edit-company-address v-if="getEditAddressModal" :activeAddress="activeAddress"></edit-company-address>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
export default {
  name: "user-profile",
  components: {
    "new-company-address": () => import("../modals/NewCompanyAddress"),
    "edit-company-address": () => import("../modals/EditCompanyAddress"),
  },
  data() {
    return {
      activeAddress: null,
      address: {
        address_one: "",
        suburb: "",
        province: "",
        country: "",
        city: "",
        postal_code: "",
        latitude: "",
        longitude: ""
      },
    };
  },
  computed: {
    ...mapGetters({
      permissions: "user/userPermissions",
      getNewAddressModal: "modals/getNewAddressModal",
      getEditAddressModal: "modals/getEditAddressModal",
      currentUser: "user/getCurrentUser",
      getCompanyAddresses: "companies/getCompanyAddresses",
      getDisplayInviteUserModal: "modals/getDisplayInviteUserModal",
      getCurrentCompany: "companies/getCurrentCompany"
    }),
  },
  methods: {
    buttonType (address) {
      return address.id == this.getCurrentCompany.default_address_id ? "default" : "primary"
    },
    setDefaultText (address) {
      return address.id == this.getCurrentCompany.default_address_id ? "Billing Address" : "Set As Billing"
    },
    setActiveAddress(address){
      this.activeAddress = address
      this.$store.commit("modals/toggleEditAddressModal")
    },
    toggleNewAddressModal () {
      this.$store.commit("modals/toggleNewAddressModal")
    },
    setDefaultAddress(address) {
      this.$store.dispatch("companies/updateDefaultAddress", {company_id: this.getCurrentCompany.id, address_id: address.id })
    }
  },
  async mounted () {
    this.$store.dispatch("companies/getAddresses")
  }
};
</script>

<style style="scoped">
</style>
