<template>
  <div class="card">
    <div>
      <div class="card-header">
        <h5 class="h3">Delivery Fee Brackets</h5>
        <p class="text-sm mb--1">You are able to set automatic delivery fees based on a distance radius. The delivery fees will be automatically added to the order at checkout time.</p>
      </div>
      <el-table
        :data="getDeliveryFees"
        style="width: 100%">
        <el-table-column
        label="Max distance">
          <template v-slot="{row}">
           {{`${Math.trunc(row.min_distance)}km`}}
          </template>
        </el-table-column>
        <el-table-column
        label="Max distance">
          <template v-slot="{row}">
           {{`${Math.trunc(row.max_distance)}km`}}
          </template>
        </el-table-column>
        <el-table-column
          label="Price">
           <template v-slot="{row}">
           {{ `R${row.price}` }}
          </template>
        </el-table-column>
        <el-table-column>
          <template v-slot="{row}">
            <!-- <base-button class="btn btn-sm mt-1">Edit</base-button> -->
            <base-button @click="confirmDelete(row.id)" type="danger" outline class="btn btn-sm mt-1">Delete</base-button>
          </template>
        </el-table-column>
      </el-table>
    <base-button @click="toggleNewDeliveryFee()" type="success" class="btn btn-sm mt-4 ml-4 mb-2">New</base-button>
    </div>
    
    <modal :show="getNewDeliveryFee">
      <new-delivery-fee :prevDistance="deliveryFees.slice(-1)[0]" v-if="getNewDeliveryFee"></new-delivery-fee>
    </modal>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown
} from "element-ui";
import swal from "sweetalert2";
export default {
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    "new-delivery-fee": () => import("../modals/NewDeliveryFeeModal"),
  },
  data () {
    return {
      fetchedDeliveryFees: false,
      deliveryFees: [],
      activeBracket: []
    }
  },
  methods: {
    confirmDelete(distance_fee_id) {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.deleteDeliveryFee(distance_fee_id)
      });
    },
    notifyVue(message, type, timeout=1000) {
        this.$notify({
        message: message,
        timeout: timeout,
        icon: "ni ni-bell-55",
        type: type
      });
    },
    deleteDeliveryFee(distance_fee_id) {
      this.$store.dispatch("companies/deleteDeliveryFee", distance_fee_id)
      .then((res) => {
        this.notifyVue('Delivery fee brakcet has been deleted', 'success')
      })
      .catch(err => err)
    },
    toggleNewDeliveryFee () {
      this.$store.commit("modals/toggleNewDeliveryFee")
    },
    fetchDeliveryFees () {
      this.$store.dispatch('companies/fetchDeliveryFees', this.currentCompany.uuid)
      .then((res) => {
        console.log(res)
        this.deliveryFees = res
        this.fetchedDeliveryFees = true
      })
      .catch(err => err)
    }
  },
  computed: {
    ...mapGetters({
      getNewDeliveryFee: "modals/getNewDeliveryFee",
      currentCompany: 'companies/getCurrentCompany',
      getDeliveryFees: 'companies/getDeliveryFees'
    })
  },
  watch: {
    currentCompany (val) {
      if (val && !this.fetchedDeliveryFees) this.fetchDeliveryFees()
    }
  },
  mounted () {
    if (this.currentCompany) {
      this.fetchDeliveryFees()
    }
  }
}
</script>

<style lang="scss" scoped>

</style>