<template>
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">Email list</h5>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list ml-2 mr-2 my--3">
                <li v-for="(email, index) in getCurrentCompany.email_list"
                    :key="index"
                    class="list-group-item px-0">
                    <div class="row align-items-center">
                        <div class="col ml--2">
                            <h4 class="mb-0">
                                <a href="#!">{{email}}</a>
                            </h4>
                        </div>
                        <div class="col-auto">
                            <button v-if="permissions.company_settings.can_edit_company_emails" type="button" @click="deleteEmail(email)" class="btn btn-sm btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
          <base-button v-if="permissions.company_settings.can_add_company_emails" @click="newEmail" type="primary" size="sm" class="mt-5 btn btm-sm primary">Add Email</base-button>
        </div>
    </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  export default {
    methods: {
      newEmail() {
        this.$store.commit('modals/toggleDisplayNewEmailModal')
      },
      deleteEmail (email) {
        this.$store.dispatch('companies/deleteCompanyEmail', {email: email, company_id: this.getCurrentCompany.id}).then((res) => {
          if (res.data.status) {
            this.notify('success', res.data.message)
          } else {
            this.notify('danger', res.data.message)
          }
        }).catch((err) => {
          this.notify('danger', 'Something went wrong, please try again or contact support should the problem persist.')
        })
      },
      notify (type, message) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    },
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions",
        getCurrentCompany: "companies/getCurrentCompany"
      }),
    }
  }
</script>