<template>
  <div v-if="permissionsChecked">
    <div class="page-header mb-4">
      <h3 class="mb-0 mt-4 mb-4">Supplier Statements</h3>
    </div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark': ''"
          :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
          tbody-classes="list"
          :data="suppliersStatement"
        >
          <template slot="columns">
            <th>Company</th>
            <th>Balance</th>
          </template>

          <template slot-scope="{row}">
            <td>
              <router-link :to="`trade_statements/${row['uuid']}/${currentCompany.uuid}`">
                <span>{{row['title']}}</span>
              </router-link>
            </td>
            <td>
              <router-link :to="`trade_statements/${row['uuid']}/${currentCompany.uuid}`">
                <span>{{row['balance'] }}</span>
              </router-link>
            </td>
          </template>
        </base-table>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "products-index-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      permissionsChecked: false,
      accountSale: null,
      isLoading: true,
      fetchedSuppliersIndex: false,
      activeProduct: null,
      modals: {
        form: true
      }
    };
  },
  components: {

    "paygate-modal": () => import("../../../Orders/views/PayGateModal")
  },
  computed: {
    ...mapGetters({
      getPayGateModal: "payGate/getPayGateModal",
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
      suppliersStatement: "statements/suppliersIndexStatement"
    })
  },
  methods: {
    openEditModal(item) {
      this.$router.push(`/edit_product/${item.uuid}`)
    },
    fetchSupplierIndexStatement () {
      this.$store.dispatch('statements/fetchSupplierIndexStatement', this.currentCompany.uuid).then((res) => {
        this.isLoading = false
        this.fetchedSuppliersIndex = true
      })
    },
  },
  watch: {
    currentCompany (val) {
      if (val && val.uuid && !this.fetchedSuppliersIndex) {
        this.fetchSupplierIndexStatement()
      }
    }
  },
  mounted() {
    if (this.permissions.statements_settings.can_view_purchase_statement) {
        this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    if (this.currentCompany && this.currentCompany.uuid) {
      this.fetchSupplierIndexStatement()
    }
  }
};
</script>
<style scoped>
</style>
