<template>
  <div>
    <base-button
      v-if="accountPayable"
      @click="togglePayAccountModal"
      type="primary"
      class="my-4"
    >Pay Account</base-button>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
        <el-table
          :data="supplierStatement"
          border
          stripe
          cell-mouse-enter
          :summary-method="overallBalance"
          show-summary
          >
          <el-table-column
            label="Date"
            prop="date"
            >
            <template class="cell" slot-scope="scope">
              {{scope.row.date.substr(0,10)}}
            </template>
          </el-table-column>

          <el-table-column
            prop="supplier.title"
            label="Supplier">
            <template class="cell" slot-scope="scope">
              {{scope.row.supplier.title}}
            </template>
          </el-table-column>

          <el-table-column
            prop="type"
            label="Type">
            <div slot-scope="scope" :style="{'color': rowTextColour(scope.row.type)}"  class="cell">
                <span>{{ scope.row.type }}</span>
              </div>
          </el-table-column>

          <el-table-column
            scope="gross_amount"
            label="Amount">
            <div slot-scope="scope" class="cell">
                <span>{{ scope.row.gross_amount | currency }}</span>
                <br />
                <span v-if="isOrder(scope.row)"> 
                  <small> Balance: {{ scope.row.balance | currency }}</small>
                </span>
              </div>
          </el-table-column>

          <el-table-column
            scope="pay"
            label="Pay">
            <div slot-scope="scope" class="cell">
                <div class="badge-dot mr-4">
                  <base-button 
                    v-if="scope.row.balance > 0 && isOrder(scope.row)"
                    size="sm"
                    type="danger"
                  > Outstanding
                  </base-button>
                  <base-button
                    v-if="scope.row.balance <= 0 && isOrder(scope.row)"
                    size="sm"
                    type="success"
                  > Paid
                  </base-button>
              </div>
            </div>
          </el-table-column>

        </el-table>

      <modal :show="getPayGateModal" :size="'lg'">
        <paygate-modal v-if="getPayGateModal" :order="activeOrder"></paygate-modal>
      </modal>
      <modal :show="getPayAccountModal" :size="'sm'">
        <pay-account-modal :payment-details="supplierStatement[0]" :max-value="payableBalance"></pay-account-modal>
      </modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import {
  Table,
  TableColumn
} from "element-ui";

export default {
  name: "products-index-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      activeOrder: null,
      activeProduct: null,
      modals: {
        form: true
      }
    };
  },
  components: {
    "paygate-modal": () => import("@/views/Orders/views/PayGateModal"),
    "pay-account-modal": () => import("../modals/PayAccount"),
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  computed: {
    accountPayable() {
      return this.payableBalance > 0;
    },
    ...mapGetters({
      getPayAccountModal: "modals/getPayAccountModal",
      getPayGateModal: "payGate/getPayGateModal",
      supplierStatement: "accountSales/supplierStatement"
    }),
    payableBalance() {
      let total = 0;
      this.supplierStatement.forEach(cs => {
        total += cs.gross_amount
      });
      return total;
    }
  },
  methods: {
    overallBalance() {
      let total = 0;
      this.supplierStatement.forEach(cs => {
        total += cs.gross_amount
      });
      return ["Total", "","", `${this.$options.filters.currency(total)}`, "" ];
    },
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = 'Total';
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] = 'R ' + values.reduce((prev, curr) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = '';
        }
      });
      return sums;
    },
    togglePaygate(order) {
      this.activeOrder = order;
      this.$store.commit("payGate/updateActiveOrder", order);
      this.togglePayGateModal();
    },
    isOrder(order) {
      return order.type.toLowerCase().includes("order")
    }, 
    getBalance(order) {
      return Math.round(order.balance) < Math.round(order.gross_amount)
        ? true
        : false;
    },
    isPaid(row) {
      return row.balance <= 0 && row.type.split(" ")[0] == "Order"
        ? true
        : false;
    },
    goTodetail(order) {
      this.$router.push({
        name: "orderDetail",
        params: { id: order.order_number }
      });
    },
    rowColour(status) {
      switch (status.split(" ")[0]) {
        case "Payment":
          return "10px solid #5e62e4";
        case "Credit":
          return "10px solid #f5365c";
        case "Order":
          return "10px solid #00c781";
      }
    },
    rowTextColour(status) {
      switch (status.split(" ")[0]) {
        case "Payment":
          return "#5e62e4";
        case "Credit":
          return "#f5365c";
        case "Order":
          return "#00c781";
      }
    },
    openEditModal(item) {
      this.$router.push(`/edit_product/${item.uuid}`)
    },
    ...mapActions({
      togglePayAccountModal: "modals/togglePayAccountModal",
      togglePayGateModal: "payGate/togglePayGateModal",
      fetchSupplierStatement: "accountSales/fetchSupplierStatement"
    })
  },
  created() {
    this.fetchSupplierStatement(this.$route.params.supplier_id);
  }
};
</script>
<style lang="scss">
.text-black {
  color: #172b4d;
}
td {
  cursor: pointer;
}


.el-table__body, .el-table__footer, .el-table__header {
  @media (max-width: 500px) {
    width: 300% !important;
  }
}

</style>
