<template>
  <div v-if="permissionsChecked" class="col-md-10 mt-4 container-fluid">
    <!-- <delivery-fees></delivery-fees> -->
    <delivery-zone></delivery-zone>
    <delivery-reconciliation></delivery-reconciliation>
    <delivery-signature></delivery-signature>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    components: {
       'delivery-reconciliation': () => import('../components/cards/DeliveryReconcilation'),
       'delivery-signature': () => import('../components/cards/DeliverySignature'),
       'delivery-zone': () => import('../components/cards/DeliveryZone')
    },
    data () {
      return {
        permissionsChecked: false,
      }
    },
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions",
      }),
    },
    watch: {
      permissions () {
        if (!this.permissionsChecked) this.getDeliverySettings()
      }
    },
    methods: {
      getDeliverySettings() {
        if (this.permissions.delivery_settings.can_view_delivery_settings) {
          this.permissionsChecked = true
        } else {
          this.$router.push('/')
          this.$notify({
            message: 'Oops. You do not have permission to view page',
            type: 'danger'
          })
        }
      }
    },
    mounted () {
      if (this.permissions !== null) this.getDeliverySettings()
    }
  }
</script>

<style lang="scss" scoped>

</style>