<template>
  <div  v-if="deliveryZone && !isLoading && permissionsChecked" class="mt-3 ml-4 mr-4">
    <card>
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Delivery Zone</h2>
          <div class="text-right">
            <base-button @click="editDeliveryZone = !editDeliveryZone" type="secondary" class="text-right btn-sm">Edit Zone</base-button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush list my--3">
          <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col">
                    <small>Name:</small>
                    <h3 class="mb-0">{{deliveryZone.delivery_zone.name}}</h3>
                </div>
                <div class="col">
                    <small>Delivery Days:</small>
                    <h5 class="mb-0">{{deliveryZone.delivery_zone.delivery_days.toString()}}</h5>
                </div>
                <div class="col">
                    <small>Cut Off Day:</small>
                    <h5 class="mb-0">{{getDay(deliveryZone.delivery_zone.cut_off_day)}}</h5>
                </div>
                <div class="col">
                    <small>Cut off Time:</small>
                    <h5 class="mb-0">{{deliveryZone.delivery_zone.cut_off_time}}</h5>
                </div>
                <div class="col">
                    <small>Measure Type:</small>
                    <h5 class="mb-0">{{deliveryZone.delivery_zone.fee_based_on || "" | titleCase}}</h5>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </card>
    <card>
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2>{{deliveryZone.delivery_zone.name}} Areas</h2>
          <div class="text-right">
            <base-button v-if="permissions.can_create_delivery_bracket" @click="newDeliveryArea = !newDeliveryArea" type="danger" class="text-right btn-sm">Add Areas</base-button>
          </div>
        </div>
        <p class="mt-2 mb-2 mr-6">
          Add the areas you would like to include in this delivery zone.
          <br>
          <strong>
            It is important to ensure that you include all areas that you would like to be covered by this zone. 
            The delivery date will need to be allocated to all orders from areas that have not been allocated to zones.  
          </strong>
        </p>
      </div>
      <div class="card-body">
         <vs-table>
        <template #header>
          <vs-input v-model="search" border placeholder="Search" />
        </template>
        <template #thead>
          <vs-tr>
            <vs-th sort @click="deliveryZone.delivery_zone_areas = $vs.sortData($event ,deliveryZone.delivery_zone_areas, 'name')">
              Area
            </vs-th>
            <vs-th sort @click="deliveryZone.delivery_zone_areas = $vs.sortData($event ,deliveryZone.delivery_zone_areas, 'street_code')">
              Street Code
            </vs-th>
            <vs-th sort @click="deliveryZone.delivery_zone_areas = $vs.sortData($event ,deliveryZone.delivery_zone_areas, 'province')">
              Province
            </vs-th>
            <vs-th>
              Delete
            </vs-th>
          </vs-tr>
        </template>
        <template #tbody>
          <vs-tr
            :key="i"
            v-for="(tr, i) in $vs.getPage($vs.getSearch(deliveryZone.delivery_zone_areas, search), page, max)"
            :data="tr"
          >
            <vs-td>
              {{ tr.name }}
            </vs-td>
            <vs-td>
              {{ tr.street_code }}
            </vs-td>
            <vs-td>
              {{ tr.province }}
            </vs-td>
            <vs-td @click="deleteAddress(tr)">
              <small><i class="fa fa-trash ml-2"></i></small>
            </vs-td>
          </vs-tr>
        </template>
        <template #footer>
          <vs-pagination v-model="page" :length="$vs.getLength($vs.getSearch(deliveryZone.delivery_zone_areas, search), max)" />
        </template>
      </vs-table>
      </div>
    </card>
    <card>
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2>{{deliveryZone.delivery_zone.name}} Fee Bracket</h2>
          <div class="text-right">
            <base-button v-if="permissions.can_create_delivery_bracket" @click="newFeeBracket = !newFeeBracket" type="danger" class="text-right btn-sm">Add Fee Bracket</base-button>
          </div>
        </div>
        <p class="mb-2 mt-2 mr-6 text-muted"> 
            Delivery Fee Brackets define what delivery fee will be charged based on the value or quantity of items in a customer's cart.
            Quantity or value must be chosen when adding a delivery zone.
          </p>
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush list my--3">
          <li v-for="(fee, i) in deliveryZone.delivery_zone_fees" :key="i" class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col">
                <small>Alias:</small>
                <h5 class="mb-0">{{fee.name}}</h5>
              </div>
              <div class="col">
                <small>Minimum {{measurement}}:</small>
                <h5 v-if="measurement == 'value'" class="mb-0">{{parseFloat(fee.value_min) | currency}}</h5>
                <h5 v-else class="mb-0">{{parseFloat(fee.value_min)}}</h5>
              </div>
              <div class="col">
                <small>Maximum {{measurement}}:</small>
                <h5 v-if="measurement == 'value'" class="mb-0">{{parseFloat(fee.value_max) | currency}}</h5>
                <h5 v-else class="mb-0">{{parseFloat(fee.value_max)}}</h5>
              </div>
              <div class="col">
                <small>Delivery fee:</small>
                <h5 v-if="measurement == 'value'" class="mb-0">{{parseFloat(fee.price) | currency}}</h5>
                <h5 v-else class="mb-0">{{parseFloat(fee.price) }}</h5>
              </div>
              <div @click="deleteFee(fee)" class="col mt-1">
                <small>Delete</small>
                <div>
                  <small><i class="fa fa-trash ml-2"></i></small>
                </div>
              </div>
              <div @click="toggleDeliveryFee(fee)" class="col mt-1">
                <div>
                  <base-button class="btn btn-sm mt-2" type="secondary">Edit</base-button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </card>
    <modal  :prevent-close="true" @close="newDeliveryArea = !newDeliveryArea" :show="newDeliveryArea" :size="'lg'">
      <new-delivery-area :delivery-zone="deliveryZone.delivery_zone" @close="newDeliveryArea = !newDeliveryArea"></new-delivery-area>
    </modal>
    <vs-dialog :prevent-close="true" v-model="newFeeBracket" :size="'lg'">
      <new-delivery-fee-bracket v-if="newFeeBracket" :delivery-zone="deliveryZone.delivery_zone" @close="closeNewDeliveryFee"></new-delivery-fee-bracket>
    </vs-dialog>
    <vs-dialog :prevent-close="true" v-model="editDeliveryZone" :size="'lg'">
      <edit-delivery-zone v-if="editDeliveryZone" :delivery-zone="deliveryZone.delivery_zone" @close="editDeliveryZone = !editDeliveryZone"></edit-delivery-zone>
    </vs-dialog>
    <vs-dialog :prevent-close="true" v-model="editDeliveryFee" :size="'lg'">
      <edit-delivery-fee v-if="editDeliveryFee" :measurement="measurement" :delivery-fee-bracket="activeDeliveryZoneFee" @close="closeEditDeliveryFee"></edit-delivery-fee>
    </vs-dialog>
    <base-button @click="deleteZone(deliveryZone.id)" class="mt-3 mb-4">
      Delete
    </base-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import swal from "sweetalert2";
  export default {
    components: {
      'new-delivery-area': () => import('../components/modals/NewDeliveryArea'),
      'new-delivery-fee-bracket': () => import('../components/modals/NewDeliveryFeeBracket'),
      'edit-delivery-zone': () => import('../components/modals/EditDeliveryZone'),
      'edit-delivery-fee': () => import('../components/modals/EditDeliveryFeeBracket')
    },
    data () {
      return {
        permissionsChecked: false,
        newDeliveryArea: false,
        editDeliveryFee: false,
        activeDeliveryZoneFee: {},
        editDeliveryZone: false,
        newFeeBracket: false,
        page: 1,
        isLoading: false,
        key: 1,
        search: '',
        max: 10,
      }
    },
    computed: {
      measurement () {
        return this.deliveryZone !== null && this.deliveryZone.delivery_zone.fee_based_on === 'quantity' ? 'Quantity' : 'Value'
      },
      ...mapGetters({
        deliveryZone: 'deliveries/deliveryZone',
        permissions: "user/userPermissions"
      })
    },
    methods: {
      zoneDelete () {
        this.$store.dispatch('deliveries/deleteDeliveryZone', this.deliveryZone.delivery_zone.id)
        .then((res) => { if (res) this.$router.push('/delivery_settings')})
      },
      deleteZone (id) {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) this.zoneDelete()
        });
      },
      closeNewDeliveryFee () {
        this.newFeeBracket = false
      },
      closeEditDeliveryFee () {
        this.editDeliveryFee = false
      },
      toggleDeliveryFee (fee) {
        this.activeDeliveryZoneFee = fee
        this.editDeliveryFee = true
      },
      deleteAddress (address) {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) this.$store.dispatch('deliveries/deleteDeliveryZoneArea', address.id)
        });
      },
      deleteFee (fee) {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) this.$store.dispatch('deliveries/deleteDeliveryZoneFee', fee.id)
        });
      },
      getDay(day) {
        if (day == 'previous_day') {
          return "Previous Day"
        } else if (day == 'same_day') {
          return "Same Day"
        } else {
          return'Two Days Prior'
        }
      }
    },
    mounted () {
      this.$store.dispatch('deliveries/getDeliveryZone', this.$route.params.zoneUuid)
      if (this.permissions.delivery_settings.can_view_delivery_settings) {
        this.permissionsChecked = true
      } else {
        this.$router.push('/')
        this.$notify({
          message: 'Oops. You do not have permission to view page',
          type: 'danger'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>