<template>
  <div>
    <stats-card class="bg-gradient-default header-card">
      <div class="row text-center">
        <div class="col">
          <h4 class="card-title text-uppercase text-muted mb-0 text-white">Customer Balance</h4>
          <h1 class="h1 font-weight-bold mb-0 text-white">{{ customerBalance.closing_balance}}</h1>
          <div class="mt-4 mb--2">
            <router-link :to="`/trade_statements/${currentCompany.uuid}/${$route.params.customerUuid}`">
              <small class="text-white">View Details</small>
            </router-link>
          </div>
        </div>
      </div>
    </stats-card>
  </div>
</template>

<script>
  export default {
    props: ["customerBalance", "currentCompany"]
  }
</script>

<style lang="scss" scoped>

</style>