<template>
    <div>
      <div class="card-header">
        <h2>Edit your Customer</h2>
        <p class="text-sm font-weight-bold mb--2">
          Please edit your existing customer, this will be updated in your custom customers list.
        </p>
      </div>
      <div class=" mt-2 row">
      <base-input
          label="Title *"
          placeholder="Title"
          v-model="activeCustomer.title"
          class="col-md-10"
        />
      <base-input
          label="Contact *"
          placeholder="Contact number"
          v-model="activeCustomer.contact"
          class="col-md-10"
          :inputmode="'numeric'"
          :pattern="'[0-9]*'"
          :type="'number'"
        />
      <base-input
          label="Email *"
          placeholder="email"
          v-model="activeCustomer.email"
          class="col-md-10"
        />
      <base-input
          label="Vat Number"
          placeholder="Vat Number"
          v-model="activeCustomer.vat_number"
          class="col-md-10"
        />
      <base-input
          label="Contact Person"
          placeholder="Contact Person"
          v-model="activeCustomer.contact_person"
          class="col-md-10"
        />
      </div>

      <div class="text-center mt-3">
        <base-button :disabled="notSubmittable" @click="editCustomClient()" type="danger">Save</base-button>
        <base-button @click="back()" type="secondary">Back</base-button>
      </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  props: ["activeDetails"],
  data() {
    return {
      activeCustomer: {},
      backupCustomer: {},
    };
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany"
    }),
    notSubmittable () {
      if (this.activeCustomer.title == '' || (this.activeCustomer.email == '' && this.activeCustomer.contact == '' ) ) return true
      return false
    }
  },
  mounted() {
    this.pageHeight = window.innerHeight;
    this.activeCustomer = this.activeDetails
    this.backupCustomer =this.activeDetails
  
  },
  methods: {
    back () {
      this.$emit('back')
    },
    async editCustomClient() {
      this.activeCustomer.supplier_id = this.currentCompany.id
      let client = this.activeCustomer
      delete client.image
      // await this.$store.dispatch("fulfilmentOrders/postNewCustomClient", this.custom_client)
      await this.$store.dispatch("companies/editCustomClient", {custom_client: client})
      .then((res) =>{
        if (res.status === 201) {
          this.back()
          this.$notify({
            message: `Client details successfully updated.`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "success"
          });
        } else {
          this.back()
          this.$store.dispatch('companies/findAllCustomCompanies', this.currentCompany.uuid)
          this.$notify({
            message: `Client Details could not be updated. Please try again or contact support should the issue persist`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
        }
      })
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  }
};
</script>

<style lang="scss">
#lblFormattedAddress {
  z-index: 1;
}
.pac-container {
  z-index: 100000;
}

</style>