//
// Avatar
//

// General styles

.avatar {
  color: $white;
  background-color: $gray-500;
  display: inline-flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: $border-radius;
  height: 48px;
  width: 48px;

  img {
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    object-fit: cover !important;
  }

  &.rounded-circle {
    img {
      @extend .rounded-circle;
      object-fit: cover !important;
    }
  }

  + .avatar-content {
    display: inline-block;
    margin-left: 0.75rem;
  }
}

// Avatar size variations

.avatar-xl {
  object-fit: cover;
  width: 74px;
  height: 74px;
}

.avatar-lg {
  object-fit: cover;
  width: 58px;
  height: 58px;
  font-size: $font-size-sm;
}

.avatar-sm {
  object-fit: cover;
  width: 36px;
  height: 36px;
  font-size: $font-size-sm;
}

.avatar-xs {
  width: 24px;
  height: 24px;
  font-size: $font-size-xs;
}
