<template>
  <div v-if="fetchedDetails && permissionsChecked">
    <div>
      <div class="container mt-4 col-md-9">
        <router-link to="/products"><base-button type="default" class="mb-3 btn btn-sm"><i class="ni ni-bold-left"></i>Back to Products</base-button></router-link>
        <form>
          <card>
            <p class="text-sm mt-1 mb-2">
                Title your product and add a description to tell customers about your product.
              </p>
            <div class="form-group row mb-0">
              <label class="col-md-2 col-form-label form-control-label">Title</label>
              <div class="col-md-10">
                <base-input v-model="product.title" placeholder="Wholewheat bread"></base-input>
              </div>
            </div>
            <div class="form-group row mb-0">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Description</label>
              <div class="col-md-10">
                <el-tiptap :extensions="extensions" v-model="product.description"></el-tiptap>
                <!-- <textarea class="form-control form-control-alternative" rows="6"  type="text" id="example-state-input"></textarea> -->
              </div>
            </div>
          </card>
            <!-- Seperate Product Tag into own Component -->
          <card>
            <div slot="header">
              <h3 class="mb-0">Product Details</h3>
              <p class="text-sm mt-1 mb--2">
                 <b>Categories</b> help your customers find your product when filtering on your profile and the marketplace. <br />
                You can connect your Xero or Sage One account to have access to the accounting item integration.
              </p>
            </div>
            <multiple-tags
              @getTags="getTags()"
              @close="displayNewTag = !displayNewTag"
              :key="tagKey"
              @add-tag="addTag"
              :selectTags="selectTags"
              @toggleNewTagModal="displayNewTag=!displayNewTag"
              :product-id="product.id"
              :product-tags="product.tags"
            ></multiple-tags>
            <!-- Seperate Tax into own Component -->
            <div class="form-group row mb-0">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Vat</label>
              <el-select
                class="select-danger col-md-10"
                placeholder="Select Vat"
                v-model="selects.value"
              >
                <el-option
                  v-for="(option, i) in selects.taxes"
                  class="select-danger"
                  :value="option.id"
                  :label="option.description"
                  :key="i"
                ></el-option>
              </el-select>
            </div>

            <!-- this needs to be a seperate compoenet -->
            <div v-if="xeroItems.length > 0" class="form-group row mt-4">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Sync Xero Item</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Select Xero Item"
                v-model="accountingItem"
              >
                <el-option
                  v-for="option in xeroItems"
                  class="select-danger"
                  :value="option.Code"
                  :label="`${option.Code} - ${option.Description}`"
                  :key="option.Code"
                ></el-option>
              </el-select>
              <div class="col-md-2">
                <base-button type="danger" @click="removeAccountingItem()" v-if="accountingItem" outline>Remove</base-button>
              </div>
            </div>
            <div v-if="sageItems.length > 0" class="form-group row mt-4">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Sync Sage Item</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Select Sage One Item"
                v-model="sageAccountingItem"
              >
                <el-option
                  v-for="option in sageItems"
                  class="select-danger"
                  :value="option.ID"
                  :label="`${option.Description}`"
                  :key="option.ID"
                ></el-option>
              </el-select>
              <div class="col-md-2">
                <base-button type="danger" @click="removeSageccountingItem()" v-if="sageAccountingItem" outline>Remove</base-button>
              </div>
            </div>
          </card>

          <card>
            <div slot="header"> <h3 class="mb-0">Product Variants</h3>
              <p class="text-sm mt-1 mb--2">
                <b>Variants</b> are added to products that come in more than one option such as different sizes or weights. 
                <br>
                <b>Base Price</b> is the <u>inclusive</u> of tax price per your standard price list. We recommend setting the price margin to match your Orderbly commission fee.
                <br>
                <b>Price Margin</b> allows you to increase the retail price of your products displayed on the Orderbly market place. We recommend setting this to match your Orderbly commission fee.
              </p>
            </div>
            <!-- Seperate Individual into own Component -->
            <div>
              <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label">Variants</label>
                <tags-input
                  class="col-md-8 ml-4 mt-2 px-0"
                  style="display:inline-block"
                  label="Tags"
                  v-model="tags"
                ></tags-input>
              </div>

              <!---------------- VARAINT TABLE ----------------->
                  <el-table
                  :data="product.product_variants"
                  style="width: 100%">
                  <el-table-column
                    label="Variant Description *"
                    width="200">
                    <template slot-scope="scope">
                      <base-input class="mt-4" v-model="scope.row.description"></base-input>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="SKU"
                    width="150">
                    <template slot-scope="scope">
                      <base-input class="mt-4" v-model="scope.row.sku"></base-input>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Track Stock"
                    width="130">
                    <template slot-scope="scope">
                      <base-switch  v-model="scope.row.track_stock" />
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Base Price (inc VAT) *"
                    width="185">
                    <template slot-scope="scope">
                      <base-input @keydown="validateDecimalNumber" class="mt-4" v-model="scope.row.base_amount"></base-input>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Available Stock"
                    width="160">
                    <template slot-scope="scope">
                      <base-input @keydown="validateWholeNumber" class="mt-4" v-model="scope.row.available_stock"></base-input>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Price Margin (%)"
                    width="250">
                    <template slot-scope="scope">
                     <el-input-number v-model="scope.row.margin" :precision="2" :step="1" :min="0" :max="10"></el-input-number>
                    </template>
                  </el-table-column>
                  <el-table-column
                    fixed="right"
                    class-name="bg-white"
                    style="background: white !important;background-color: white !important;"
                    label="Retail Price"
                    width="150">
                    <template slot-scope="scope">
                      <base-input class="mt-4" disabled :value="currency(scope.row.margin, scope.row.base_amount)"></base-input> 
                      </template> 
                  </el-table-column>
                </el-table>
            </div>
            <div class="mt-2">
              <small>* These fields are mandatory</small>
            </div>
          </card>
          
          <card>
            <h3 slot="header" class="mb-0">Product Image <span class="text-danger">{{imageError}}</span></h3>
            <div class="row">
              <div class="col-md-3">
                <img class="avatar-xxl" :src="product.image" />
              </div>
              <div class="col-md-8">
                <base-upload @base64-file="getBase64Image"></base-upload>
              </div>
            </div>
          </card>
        </form>

          <card class="mt-4">
            <div slot="header">
              <h3 class="mb-0">Product Exclutivity</h3>
              <p class="text-sm mt-1 mb--2">
                <b>Exclusive Company List</b> allows you to make products visible to only specific customers. 
                <br>
                The default behaviour is that all customers on Orderbly will be able to see your products. 
                <br>
                Once you have added a customer(s) the list the product will become exclusive to them and not be visible to anyone not listed here.
              </p>
            </div>
            <div class="form-group row">
              <label
                for="example-password-input"
                class="col-md-4 col-form-label form-control-label"
              >Exlusive Company List</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Exclusive Company List"
                multiple
                v-model="product.exclusive_companies"
              >
                <el-option
                  v-for="company in customerList"
                  class="select-danger"
                  :value="company.uuid"
                  :label="company.title"
                  :key="company.uuid"
                ></el-option>
              </el-select>
            </div>
          </card>

          <card class="mt-4">
            <h3 slot="header" class="mb-0">Customer Specific Price Points</h3>
            <p class="text-sm mt-1 mb--2">
                <b>Customer specific price points</b> can be set in the ‘Product Price Books’ section of the ‘Pricing’ menu found on the side bar.
              </p>
          </card>
        
        <base-button type="success" :loading="isLoading" :disabled="btnDisabled" @click="submitForm" class="mt-2 mb-6">Save Product</base-button>

        <vs-dialog :modalName="'newTag'" v-model="displayNewTag" size="md" body-classes="p-0">
          <NewTagModal @close="displayNewTag = !displayNewTag" @new-tag="newTag" />
        </vs-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { Select, Option, Popover, InputNumber, Table, TableColumn } from "element-ui";
import DropzoneFileUpload from "../../../components/Inputs/DropzoneFileUpload";
import { mapGetters, mapActions } from "vuex";
import HtmlEditor from "../../../components/Inputs/HtmlEditor";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import TagsInput from "@/components/Inputs/TagsInput";
import vSelect from "vue-select";
import MultipleTags from "../../../components/Shared/MultipleTags";
import NewTagModal from "../../Tags/components/modals/NewTagModal";
import {
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
} from 'element-tiptap';
export default {
  components: {
    MultipleTags,
    NewTagModal,
    [InputNumber.name]: InputNumber,
    [TableColumn.name]: TableColumn,
    [Table.name]: Table,
    [Popover.name]: Popover,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
    DropzoneFileUpload,
    vSelect,
    TagsInput,
    HtmlEditor
  },
  data() {
    return {
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph(),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline({ bubble: true, menubar: false }), // render command-button in bubble menu but not in menubar.
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
      ],
      tagKey: 1,
      displayNewTag: false,
      permissionsChecked: false,
      product: null,
      placeholder: "",
      margin: 0,
      selectTags: {
        value: [],
        tags: [
          { id: 1, description: "Dairy" },
          { id: 2, description: "Meat" },
          { id: 3, description: "Fish" }
        ]
      },
      selects: {
        value: "",
        taxes: null
      },
      title: "",
      btnDisabled: false,
      grossPrice: 0,
      product_tax: null,
      netPrice: 0,
      vatPrice: 0,
      isLoading: false,
      img: "",
      productTags: [],
      tags: [],
      status: "",
      updatedImage: false,
      product_image: null,
      base64Image: null,
      fetchedDetails: false,
      accountingItem: null,
      sageAccountingItem: null,
      customerList: []
    };
  },
  methods: {
    validateDecimalNumber (evt) {
      this.$options.filters.isNumber(evt)
    },
    validateWholeNumber (evt) {
      this.$options.filters.isWholeNumber(evt)
    },
    currency(margin, amount) {
      if (typeof margin !== 'number')  return amount 

      return this.$options.filters.currency(((1 + (margin/100)) * amount))
    },

    retailprice(margin, amount) {
      if (typeof margin !== 'number')  return amount 
      return (1 + (margin/100)) * amount
    },

    getProductDetails() {
      this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id).then( async (res) => {
        await this.$store.dispatch("xero/fetchAllItems", this.currentCompany.id)
        this.$store.dispatch("sage/fetchAllItems", this.currentCompany.uuid)
        await this.fetchAllTaxes();
        await this.fetchAllTags();
        this.setTags()
        this.$store.dispatch('companies/fetchSlimCompanyList', this.currentCompany.id).then((res) => {
          this.customerList = res
        })
        this.fetchedDetails = true
      })
    },

    removeAccountingItem () {
      this.accountingItem = null
    },

    removeSageccountingItem () {
      this.sageAccountingItem = null
    },

    setTags () {
      this.selects.taxes = this.getTaxes;
      this.taxes = this.getTaxes;
      this.selects.value = this.product.tax_id;
      this.selectTags.tags = this.getAllTags;
      this.tags = [];
      this.product.product_variants.map(pv =>{
        this.tags.push(pv.description)
      });
      this.product.tags.map(t => this.selectTags.value.push(t.description));
    },

    getItemValue(option) {
      return { description: option.Description, code: option.Code, item_id: option.ItemID, provider: 'xero' }
    },

    getSageItemValue(option) {
      return { description: option.Description, code: option.Code, item_id: option.ID, provider: 'sage' }
    },

    disableBtn (status) {
      this.btnDisabled = status
    },

    getBase64Image(file) {
      this.base64Image = file
      this.updatedImage = true;
      this.product_image = this.$refs.myFiles.files[0];
    },

    newTag(tag) {
      let id = this.selectTags.tags.length + 1;
      this.selectTags.tags.push({ value: id, label: tag });
    },

    addTag(val) {
      this.productTags = val
    },

    grossAmount(net) {
      return (parseFloat(net) + parseFloat(this.vatAmount(net))).toFixed(1);
    },

    getTags() {
      this.selectTags.tags = this.getAllTags;
    },

    unitAmount(margin, val) {
      let gross_amount = this.retailprice(margin, parseFloat(val))
      if (this.taxPercentage > 0) {
        let vat = parseFloat((gross_amount / (1 + this.taxPercentage)).toFixed(2))
        return vat.toFixed(2)
      } else {
        return gross_amount
      }
    },

    vatAmount(margin, val) {
      if (this.taxPercentage <= 0) return 0
      return (this.retailprice(margin, val) - this.unitAmount(margin, val)).toFixed(2)
    },

    submitForm() {
      this.isLoading = true
      this.product.product_variants.forEach(pv => {
        pv.tax_amount = this.vatAmount(pv.margin, pv.base_amount)
        pv.unit_amount = this.unitAmount(pv.margin, pv.base_amount)
        pv.gross_amount = this.retailprice(pv.margin, pv.base_amount)
      })
      let form = {
        product: {
          title: this.product.title,
          description: this.product.description,
          exclusive_companies: this.product.exclusive_companies,
          accounting_item: JSON.stringify(this.returnAccountingItem),
          tax_id: this.selects.value,
          got_variants: true,
          product_variants_attributes: this.product.product_variants,
          tags: this.productTags
        }
      };

      if(this.base64Image) form.product['image'] = this.base64Image

      this.$store.dispatch("products/postEditProduct", {
        id: this.product.id,
        product: form,
        tags: this.productTags,
        type: "edit"
      })
      .then((res) => {
        if (res.status == 201) {
          this.isLoading = false
          this.notify('Product details were successfuly updated', 'success'),
          this.$router.push(`/products`)
        } else {
          this.isLoading = false
          this.notify('Product details failed to update. Please try again or contact support should the issue persist', 'danger')
        }
      })
      .catch((err) => {
        this.isLoading = false
        this.notify('Product details failed to update. Please try again or contact support should the issue persist', 'danger')
      });
    },
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 5000,
        icon: "ni ni-bell-55",
        type: type
      });
    },

    toggleTags () {
      this.tagKey += 1
      document.body.style.overflow = "visible";
      this.$store.dispatch('modals/toggleNewTagModal')
    },

    ...mapActions({
      fetchAllProducts: "products/fetchAllProducts",
      fetchAllTags: "tags/fetchAllTags",
      fetchAllTaxes: "tax/fetchAllTaxes"
    })
  },
  computed: {
    activeAccountingItem () {
        let item = this.xeroItems.find((xeroItem) => xeroItem.Code === this.accountingItem)
        return item ? this.getItemValue(item) : null
    },
    activeSageAccountingItem () {
        let item = this.sageItems.find((sageItem) => sageItem.ID === this.sageAccountingItem)
        return item ? this.getSageItemValue(item) : null
    },
    returnAccountingItem () {
      if (this.activeSageAccountingItem !== null) return this.activeSageAccountingItem
      if (this.activeAccountingItem !== null) return this.activeAccountingItem
    },
    ...mapGetters({
      getTaxes: "tax/getTaxes",
      getNewTagModal: "modals/getNewTagModal",
      getAllTags: "tags/getAllTags",
      getProducts: "products/getProducts",
      xeroItems: "xero/allItems",
      sageItems: "sage/allItems",
      permissions: "user/userPermissions",
      currentCompany: "companies/getCurrentCompany"
    }),

    imageError () {
      return this.btnDisabled ? "Maximum dimensions 1200px x 1200px" : ""
    },

    taxId() {
      return this.product_tax == this.selects.value;
    },

    taxPercentage() {
      if (this.selects.value) {
        let taxIndex = this.taxes.findIndex(t => t.id == this.selects.value);
        let taxAmount = this.selects.taxes[taxIndex].percentage || 0
        return taxAmount;
      }
    }
  },
  watch: {
    currentCompany () {
      if (!this.fetchedDetails && this.currentCompany && this.currentCompany.id) {
        this.getProductDetails()
      }
    },
    tags(newVal, oldVal) {
      // find Removed Tag
      if (newVal.length < this.product.product_variants.length) {
        let removed = this.product.product_variants.filter(
          pv => !newVal.includes(pv.description)
        );
        this.product.product_variants = this.product.product_variants.filter(
          v => v.description !== removed[0].description
        );
        if (removed[0].id)
          this.$store.dispatch("products/removeProductVariant", removed[0].id);
      }
      // find Added Tag
      if (newVal.length > this.product.product_variants.length) {
        this.product.product_variants.push({
          product_id: this.product.id,
          description: newVal.slice(-1)[0],
          track_stock: true,
          margin: 0,
          available_stock: 0,
          stock: 0,
          unit_amount: 100,
          gross_amount: 100,
        });
      }
    }
  },
  mounted() {
    if (this.permissions.product_settings.can_edit_product) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    this.product = this.getProducts.find((product) => product.uuid === this.$route.params.uuid)
    if (this.product === null || this.product === undefined) this.$router.push(`/products`)

    if (this.product.accounting_item && this.product.accounting_item.code) {
      this.accountingItem = this.product.accounting_item.code
      this.sageAccountingItem = this.product.accounting_item.item_id
    }
    if (this.currentCompany && this.currentCompany.id && this.product !== null) {
      this.getProductDetails()
    }

  }
};
</script>
<style lang="scss">
.el-upload-list--picture-card .el-upload-list__item-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.el-upload-list--picture-card .el-upload-list__item {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 0 8px 8px 0;
    display: inline-block;
}

.avatar-xxl {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
td.fit {
  &.cell {
    width: max-content !important;
  }
}
</style>

