<template>
  <div class="mx-4">
    <div>
      <div class="container-fluid mt-2 col-md-10">
        <router-link to="/products"><base-button type="default mt-2 btn-sm" class="mb-4"><i class="ni ni-bold-left"></i>Back to Products</base-button></router-link>
        <form>
          <card>
            <div slot="header">
              <h3 class="mb-0">Product</h3>
              <p class="text-sm mt-1 mb--2">
                Title your product and add a description to tell customers about your product.
              </p>
            </div>
            <div class="form-group row mb-0">
              <label class="col-md-2 col-form-label form-control-label">Title</label>
              <div class="col-md-10">
                <base-input v-model="title" placeholder="Wholewheat bread"></base-input>
              </div>
            </div>
            <div class="form-group row mb-0">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Description</label>
              <div class="col-md-10">
                <el-tiptap :extensions="extensions" v-model="description"></el-tiptap>
                <!-- <textarea class="form-control form-control-alternative" rows="6" v-model="description" type="text" id="example-state-input"></textarea> -->
              </div>
            </div>
          </card>

          <card>
            <div slot="header">
              <h3 class="mb-0">Product Details</h3>
              <p class="text-sm mt-1 mb--2">
                <b>Categories</b> help your customers find your product when filtering on your profile and the marketplace. <br />
                You can connect your Xero or Sage One account to have access to the accounting item integration.
              </p>
            </div>
            <div class="form-group row mr-0"> 
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Tags</label>
              <el-select
                multiple
                @click.native="getTags()"
                class="select-danger col-md-8"
                v-model="productTags"
                placeholder="Select Category"
              >
                <el-option
                  v-for="option in getAllTags"
                  :value="option.id"
                  :label="option.description"
                  :key="option.id"
                ></el-option>
              </el-select>
              <base-button type="secondary" @click="displayNewTag = !displayNewTag" class="col-md-2">Add Category</base-button>
            </div>

            <div class="form-group row">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >VAT</label>
              <el-select
                class="select-danger col-md-10"
                placeholder="Select Vat"
                v-model="selects.value"
              >
                <el-option
                  v-for="option in getTaxes"
                  class="select-danger"
                  :value="option.id"
                  :label="option.description"
                  :key="option.id"
                ></el-option>
              </el-select>
            </div>

            <!-- xero items must go into a new component -->
            <div v-if="xeroItems.length > 0" class="form-group row">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Sync Xero Item</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Select Xero Item"
                v-model="accountingItem"
              >
                <el-option
                  v-for="option in xeroItems"
                  class="select-danger"
                  :value="option.Code"
                  :label="`${option.Code} - ${option.Description}`"
                  :key="option.Code"
                ></el-option>
              </el-select>
              <div class="col-md-2">
                <base-button type="danger" @click="removeAccountingItem()" v-if="accountingItem" outline>Remove</base-button>
              </div>
            </div>
            
            <!-- sage items must go into a new component -->
            <div v-if="sageItems.length > 0" class="form-group row">
              <label
                for="example-password-input"
                class="col-md-2 col-form-label form-control-label"
              >Sync Sage Item</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Select Xero Item"
                v-model="sageAccountingItem"
              >
                <el-option
                  v-for="option in sageItems"
                  class="select-danger"
                  :value="option.ID"
                  :label="`${option.Description}`"
                  :key="option.ID"
                ></el-option>
              </el-select>
              <div class="col-md-2">
                <base-button type="danger" @click="removeSageccountingItem()" outline>Remove</base-button>
              </div>
            </div>

          </card>

          <card>
            <div slot="header">
              <h3 class="mb-0">Product Variants</h3>
              <p class="text-sm mt-1 mb--2">
                <b>Variants</b> are added to products that come in more than one option such as different sizes or weights. 
                <br>
                <b>Base Price</b> is the <u>inclusive</u> of tax price per your standard price list. We recommend setting the price margin to match your Orderbly commission fee.
                <br>
                <b>Price Margin</b> allows you to increase the retail price of your products displayed on the Orderbly market place. We recommend setting this to match your Orderbly commission fee.
              </p>
            </div>
            <div class="form-group row">
              <label class="col-md-2 mt-2 col-form-label form-control-label">Variants</label>
                <tags-input
                  class="col-md-10"
                  label="Add a variant and press enter" 
                  v-model="tags"
                ></tags-input>
                </div>
                <div class="mt-4">
                  <el-table
                    empty-text="First create a variant ☝️"
                    :data="variants"
                    style="width: 100%">
                    <el-table-column
                      label="Description *"
                      class-name="fit"
                      width="180">
                      <template slot-scope="scope">
                        <base-input class="mt-4" v-model="scope.row.description"></base-input>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Track Stock"
                      width="130">
                      <template slot-scope="scope">
                        <base-switch v-model="scope.row.track_stock" />
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="SKU"
                      width="150">
                      <template slot-scope="scope">
                        <base-input class="mt-4" v-model="scope.row.sku"></base-input>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Base Price *"
                      width="185">
                      <template slot-scope="scope">
                        <base-input @keydown="validateDecimalNumber" class="mt-4" v-model="scope.row.base_amount"></base-input>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Available Stock"
                      width="160">
                      <template slot-scope="scope">
                        <base-input @keypress="validateWholeNumber" class="mt-4" v-model="scope.row.available_stock"></base-input>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Price Margin"
                      width="250">
                      <template slot-scope="scope">
                      <el-input-number v-model="scope.row.margin" :precision="2" :step="1" :max="10"></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column
                      fixed="right"
                      class-name="bg-white"
                      style="background: white !important;background-color: white !important;"
                      label="Retail Price"
                      width="150">
                      <template slot-scope="scope">
                        <base-input class="mt-4" :value="retailprice(scope.row.margin, scope.row.base_amount)"></base-input> 
                        </template> 
                    </el-table-column>
                  </el-table>
                </div>
            <div class="mt-2">
              <small>* These fields are mandatory</small>
            </div>
          </card>

          <card class="mt-4">
            <h3 slot="header" class="mb-0">Product Image</h3>
            <base-upload @base64-file="getBase64Image"></base-upload>
            <!-- <dropzone-file-upload @base-image="getBase64Image" ref="myFiles" @change='processFile'></dropzone-file-upload> -->
          </card>

          <card class="mt-4">
            <div slot="header">
              <h3 class="mb-0">Product Exclutivity</h3>
              <p class="text-sm mt-1 mb--2">
                <b>Exclusive Company List</b> allows you to make products visible to only specific customers. 
                <br>
                The default behaviour is that all customers on Orderbly will be able to see your products. 
                <br>
                Once you have added a customer(s) the list the product will become exclusive to them and not be visible to anyone not listed here.
              </p>
            </div>
            <div class="form-group row">
              <label
                for="example-password-input"
                class="col-md-4 col-form-label form-control-label"
              >Exlusive Company List</label>
              <el-select
                filterable
                class="select-danger col-md-8"
                placeholder="Exclusive Company List"
                multiple
                v-model="exclusiveCompanyList"
              >
                <el-option
                  v-for="company in customerList"
                  class="select-danger"
                  :value="company.uuid"
                  :label="company.title"
                  :key="company.uuid"
                ></el-option>
              </el-select>
            </div>
          </card>

          <card class="mt-4">
            <h3 slot="header" class="mb-0">Customer Specific Price Points</h3>
            <p class="text-sm mt-1 mb--2">
                <b>Customer specific price points</b> can be set in the ‘Product Price Books’ section of the ‘Pricing’ menu found on the side bar.
              </p>
          </card>
          
        </form>
        <base-button type="success"  :disabled="!variants.length" :loading="isLoading" @click="submitForm()" class="mt-2 mb-6">Add Product</base-button>
        <vs-dialog v-model="displayNewTag" body-classes="p-0">
          <NewTagModal @close="displayNewTag = !displayNewTag" @new-tag="newTag" />
        </vs-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
import { Select, Option, Popover, InputNumber, Table, TableColumn } from "element-ui";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import TagsInput from "@/components/Inputs/TagsInput";
import NewTagModal from "../../Tags/components/modals/NewTagModal";
import { mapGetters, mapActions } from "vuex";
import {
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
} from 'element-tiptap';

export default {
  components: {
    NewTagModal,
    DropzoneFileUpload,
    TagsInput,
    tabs: Tabs,
    "tab-pane": Tab,
    [InputNumber.name]: InputNumber,
    [TableColumn.name]: TableColumn,
    [Table.name]: Table,
    [Popover.name]: Popover,
    [Select.name]: Select,
    [Option.name]: Option,
    "sage-items": () => import("../components/cards/SageItems")
  },
  data() {
    return {
      displayNewTag: false,
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph(),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline({ bubble: true, menubar: false }), // render command-button in bubble menu but not in menubar.
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
      ],
      accountingItem: null,
      isLoading: false,
      product: {
        title: "",
        description: "",
        net_price: 0,
        vat_price: 0,
        status: "",
      },
      product_variants: [{
        description: "",
        track_stock: false,
        gross_amount: 0,
        cost_price: 0,
        base_amount: 0,
        margin: 0,
        sku: "",
        available_stock: 20
      }],
      placeholder: "",
      grossPrice: 0,
      title: "",
      trackStock: false,
      netPrice: 0,
      got_variants: false,
      availableStock: 0,
      selectsTags: {
        value: null,
        tags: [
          { id: 1, description: "Dairy" },
          { id: 2, description: "Meat" },
          { id: 3, description: "Fish" }
        ]
      },
      selects: {
        value: null,
        taxes: []
      },
      variants: [],
      vatPrice: 0,
      showVariants: false,
      img: "",
      description: "",
      taxes: "",
      productTags: [],
      product_image: false,
      base64Image: null,
      tags: [],
      fetchedDetails: false,
      exclusiveCompanyList: null,
      sageAccountingItem: null,
      customerList: []
    };
  },
  methods: {
    // validateNumber (evt) {
    //   this.$options.filters.isNumber(evt)
    // },
    validateDecimalNumber (evt) {
      this.$options.filters.isNumber(evt)
    },
    validateWholeNumber (evt) {
      this.$options.filters.isWholeNumber(evt)
    },
    currency(margin, amount) {
      if (typeof margin !== 'number')  return amount 
      return this.$options.filters.currency(((1 + (margin/100)) * amount))
    },

    retailprice(margin, amount) {
      if (typeof margin !== 'number')  return amount
      return ((1 + (margin/100)) * amount).toFixed(2)
    },

    removeAccountingItem () {
      this.accountingItem = null
    },

    removeSageccountingItem () {
      this.sageAccountingItem = null
    },

    getProductDetails() {
      this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id).then((res) => {
        this.$store.dispatch("xero/fetchAllItems", this.currentCompany.id)
        this.$store.dispatch("sage/fetchAllItems", this.currentCompany.uuid)
        this.$store.dispatch('companies/fetchSlimCompanyList', this.currentCompany.id).then((res) => {
          this.customerList = res
        })
        this.fetchAllTaxes()
        this.fetchedDetails = true
      })
    },

    fetchAllTaxes () {
      this.$store.dispatch("tax/fetchAllTaxes").then((res) => {
        this.selects.taxes = this.getTaxes;
        this.selects.value = this.getTaxes[0].id;
        this.taxes = this.getTaxes;
      })
    },

    getItemValue(option) {
      return { description: option.Description, code: option.Code, item_id: option.ItemID, provider: 'xero' }
    },
    getSageItemValue(option) {
      return { description: option.Description, code: option.Code, item_id: option.ID, provider: 'sage' }
    },
    processFile(event) {
      this.product_image = this.$refs.myFiles.files[0];
    },
    getBase64Image(file) {
      this.base64Image = file
      this.product_image = file
    },
    addTag(val) {
        this.productTags.push(val)
    },
    newTag(tag) {
      let id = this.selectsTags.tags.length + 1
      this.selectsTags.tags.push({value: id, label: tag})
    },
    ...mapActions({
      toggleNewTagModal: "modals/toggleNewTagModal",
      fetchAllProducts: "products/fetchAllProducts",
      fetchAllTags: "tags/fetchAllTags",
      fetchAllTaxes: "tax/fetchAllTaxes"
    }),
    toggleShowVariants() {
      this.showVariants = !this.showVariants;
    },
    grossAmount(net) {
      return this.taxPercentage > 0 ? (parseFloat(net) + parseFloat(this.vatAmount(net))).toFixed(2) : 0
    },
    getTags() {
      this.selectsTags.tags = this.getAllTags
    },
    unitAmount(margin, val) {
      let gross_amount = this.retailprice(margin, parseFloat(val))
      if (this.taxPercentage > 0) {
        let vat = parseFloat((gross_amount / (1 + this.taxPercentage)).toFixed(2))
        return vat.toFixed(2)
      } else {
        return gross_amount
      }
    },

    vatAmount(margin, val) {
      if (this.taxPercentage <= 0) return 0
      return (this.retailprice(margin, val) - this.unitAmount(margin, val)).toFixed(2)
    },
    submitForm() {
      this.isLoading = true
      let product_variants = this.variants;
      product_variants.forEach((pv) => {
        pv.tax_amount = this.vatAmount(pv.margin, pv.base_amount)
        pv.unit_amount = this.unitAmount(pv.margin, pv.base_amount)
        pv.gross_amount = this.retailprice(pv.margin, pv.base_amount)
      }) 

      let form = {
        product: {
          title: this.title,
          description: this.description,
          exclusive_companies: this.exclusiveCompanyList,
          tax_id: this.selects.value,
          accounting_item: JSON.stringify(this.returnAccountingItem),
          got_variants: true,
          product_variants_attributes: product_variants,
          image: this.product_image,
          tags: this.productTags
        }
      };
      this.$store.dispatch("products/postNewProduct", 
        { 
          product: form
        }
      ).then((res) => {
        if (res.status == 201) {
          this.notify('Your product was created successfully', 'success')
          this.placeholder = ""
          this.grossPrice = 0
          this.title = ""
          this.variants = []
          this.productTags = [],
          this.description = ""
          this.accountingItem = null
          this.netPrice = 0
          this.got_variants = false
          this.availableStock = 0
          this.isLoading = false
          this.$router.push('/products')
        } else {
          this.isLoading = false
          this.notify('Your product failed to create. Please try again or contact support should the issue persist', 'danger')
        }
      })
      .catch((err) => {
        this.isLoading = false
        this.notify('Your product failed to create. Please try again or contact support should the issue persist', 'danger')
      });
    },
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 5000,
        icon: "ni ni-bell-55",
        type: type
      });
    }
  },
  computed: {
    isSubmittable () {
      let statusCheck= []
      this.product_variants.filter((pv) => {
        if(pv.description.trim().length == 0 || pv.base_amount == 0 || pv.base_amount == null || pv.base_amount == undefined) {
          statusCheck.push(true)
        }
      })
      return statusCheck.length > 0
    },
    activeAccountingItem () {
        let item = this.xeroItems.find((xeroItem) => xeroItem.Code === this.accountingItem)
        return item ? this.getItemValue(item) : null
    },
    activeSageAccountingItem () {
        let item = this.sageItems.find((sageItem) => sageItem.ID === this.sageAccountingItem)
        return item ? this.getSageItemValue(item) : null
    },
    returnAccountingItem () {
      if (this.activeSageAccountingItem !== null) return this.activeSageAccountingItem
      if (this.activeAccountingItem !== null) return this.activeAccountingItem
    },
    ...mapGetters({
      getNewTagModal: "modals/getNewTagModal",
      getAllTags: "tags/getAllTags",
      getTaxes: "tax/getTaxes",
      sageItems: "sage/allItems",
      permissions: "user/userPermissions",
      xeroItems: "xero/allItems",
      currentCompany: "companies/getCurrentCompany"
    }),
    taxPercentage() {
      if (this.selects.value) {
        let taxIndex = this.taxes.findIndex(t => t.id == this.selects.value);
        let taxPercentage = this.selects.taxes[taxIndex].percentage;
        return taxPercentage;
      }
    },
  },
  watch: {
    currentCompany () {
      if (this.permissions && this.permissions.prouduct_settings && this.permissions.prouduct_settings.can_create_product) {
        this.getProductDetails()
        this.permissionsChecked = true
      } else {
        this.$router.push('/')
        this.$notify({
          message: 'Oops. You do not have permission to view page',
          type: 'danger'
        })
      }
    },
    fetchAllProducts () {
      if (!this.fetchedDetails && this.currentCompany && this.currentCompany.id) {
        
      }
    },
    getTaxes(val) {
      this.selects.taxes = val
      this.taxes = val
    },
    tags(newVal, oldVal) {
      this.variants = [];
      if (newVal.length > 0) {
        this.netPrice = 0;
        this.got_variants = true;
      }

      this.tags.map(tag =>
        this.variants.push({
          description: tag,
          gross_amount: 0.0,
          track_stock: true,
          available_stock: 0,
          vat: 0,
          margin: 0
        })
      );
    },
    netPrice(newVal, oldVal) {
      if (parseFloat(newVal) > 0) {
        this.tags = [];
        this.got_variants = false;
      }
    }
  },
  mounted() {
    this.getProductDetails()
    this.fetchAllTaxes()
    this.fetchAllTags()
  }
};
</script>
