<template>
  <div>
    <div>
      <div class="container-fluid mt-4">
        <div class="page-header">
          <h3 class="mb-0 my-4">Products</h3>
        </div>
        <router-link v-if="permissions.product_settings.can_create_product" to="/new_product"><base-button type="primary" class="mb-3">New Product</base-button></router-link>
        <base-button v-if="permissions.product_settings.can_create_product && hasInventoryIntegration" type="default" :loading="isLoading" @click="openTradegeckoModal()" class="mb-3 ml-2">Import TradeGecko Products</base-button>
        <div class="row">
          <div class="col">
            <products-index-table title="Light Table"></products-index-table>
          </div>
        </div>
      </div>
    </div>
    <modal size="lg" :show="getTradegeckoProductModal">
      <tradegecko-products  v-if="getTradegeckoProductModal"></tradegecko-products>
    </modal>
  </div>
</template>
<script>
// import ProductsIndexTable from "../components/tables/ProductsIndexTable";
import {
  ProductsIndexTable
} from "../index";
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    ProductsIndexTable,
    'tradegecko-products': () => import('../components/modals/TradegeckoProducts')
  },
  data () {
    return {
      fetchedProducts: false,
      isLoading: false
    }
  },
  computed: {
    hasInventoryIntegration () {
      return this.listProviders.filter((lp) => lp.category == 'inventory' && lp.status == "Enabled").length > 0
    },
    ...mapGetters({
      getTaxes: "tax/getTaxes",
      getTradegeckoProductModal: "modals/getTradegeckoProductModal",
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
      listProviders: "integrations/integrationProviders"
    })
  },
  watch: {
    currentCompany () {
      if (!this.fetchedProducts && this.currentCompany) {
        this.getProductDetails()
      }
    }
  },
  methods: {
    openTradegeckoModal () {
      this.$store.commit('modals/toggleDisplayTradegeckoProductModal')
    },
    getProductDetails() {
      this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id).then((res) => {
        // this.$store.dispatch("xero/fetchAllItems", this.currentCompany.id)
        this.fetchAllTaxes();
        this.fetchedProducts = true
      })
    },
    openEditModal(item) {
      this.$router.push(`/edit_product/${item.uuid}`)
    },
    ...mapActions({
      fetchAllProducts: "products/fetchAllProducts",
      fetchAllTaxes: "tax/fetchAllTaxes"
    })
  },
  mounted() {
    this.$store.dispatch("integrations/fetchIntegrationProviders");  
    if (this.currentCompany && this.currentCompany.id) {
      this.getProductDetails()
    }
  }
};
</script>
<style scoped>
</style>
