<template>
  <div>
    <sidebar-item 
      :link="{ name: 'Driver Deliveries', icon: 'fa fa-truck text-primary', path: '/my_deliveries'}"
    />
    <sidebar-item
      :link="{name: 'Waybills', icon: 'fa fa-truck-loading text-green', path: '/waybills'}"
    />
    <sidebar-item
      :link="{name: 'Upcoming Orders', icon: 'fas fa-calendar-week text-red', path: '/upcoming_deliveries'}"
    />
    <sidebar-item
      :link="{name: 'Completed Deliveries', icon: 'fa fa-check-circle text-green', path: '/completed_deliveries'}"
    />
  </div>
</template>

<script>
  export default {
    props: ['isSupplier']
    
  }
</script>

<style lang="scss" scoped>

</style>