<template>
  <div v-if="permissions !== null">
    <sidebar-item
        :link="{
          name: 'Home',
          icon: 'ni ni-tv-2 text-primary',
          path: '/dashboard'
        }"
      />
      <sidebar-item
        :link="{name: 'Marketplace', icon: 'ni ni ni-basket text-green', path: '/suppliers'}"
      />

      <sidebar-item
        v-if="!isSupplier && permissions.purchases_settings.can_view_all_purchases"
        :link="{name: 'Purchases', icon: 'ni ni-folder-17 text-red', path: '/purchase_orders'}"
      />

      <sidebar-item
        v-if="isSupplier && (permissions.purchases_settings.can_view_all_purchases || permissions.sales_settings.can_view_all_sales)"
        :link="{
          name: 'Orders',
          icon: 'ni ni-folder-17 text-red',
        }"
      >
        <sidebar-item
          v-if="permissions.purchases_settings.can_view_all_purchases"
          :link="{name: 'Purchases', icon: 'ni ni ni-ni ni', path: '/purchase_orders'}"
        />
        <sidebar-item
          v-if="isSupplier && permissions.sales_settings.can_view_all_sales"
          :link="{name: 'Sales', icon: 'ni ni-bag-17 text-primary', path: '/sales_orders'}"
        />
      </sidebar-item>

        <sidebar-item
          v-if="isSupplier"
          :link="{name: 'Manage Products', icon: 'ni ni-tag  text-info', path: '/products'}"
        />

        <sidebar-item
          :link="{
            name: 'Pricing',
            icon: 'fas fa-money-bill-wave text-primary',
          }"
          v-if="isSupplier && (permissions.pricing_settings.can_view_pricebooks || permissions.credit_limit_settings.can_view_credit_limits)"
        >


        <sidebar-item
          v-if="isSupplier && isAdmin && permissions.pricing_settings.can_view_pricebooks"
          :link="{name: 'Product Price Books', icon: 'ni ni-single-copy-04 text-warning', path: '/price_books'}"
        />
        <sidebar-item
          v-if="isSupplier && isAdmin && permissions.credit_limit_settings.can_view_credit_limits"
          :link="{name: 'Credit Limits', icon: 'ni ni-single-copy-04 text-warning', path: '/credit_limits'}"
        />
      </sidebar-item>

      <sidebar-item
        :link="{name: 'Supplier Statements', icon: 'ni ni-single-copy-04 text-indigo', path: '/supplier_statement'}"
        v-if="!isSupplier && permissions.statements_settings.can_view_purchase_statement"
      />

      <sidebar-item
        :link="{
          name: 'Statements',
          icon: 'ni ni-single-copy-04 text-green',
        }"
        v-if="isSupplier && (permissions.statements_settings.can_view_sales_statement || permissions.statements_settings.can_view_purchase_statement)"
      >
        <sidebar-item
          v-if="permissions.statements_settings.can_view_purchase_statement"
          :link="{name: 'Supplier Statements', icon: 'ni ni-single-copy-04 text-indigo', path: '/supplier_statement'}"
        />
        <sidebar-item
          v-if="isSupplier && permissions.statements_settings.can_view_sales_statement"
          :link="{name: 'Customer Statements', icon: 'ni  text-green', path: '/customer_statement'}"
        />
      </sidebar-item>

      <sidebar-item
        v-if="isSupplier"
        :link="{name: 'Customer Management', icon: 'fas fa-users text-danger', path: '/my_customers'}"
      />
      
      <sidebar-item
        :link="{name: 'Calendar', icon: 'ni ni ni-ni ni-calendar-grid-58 text-blue', path: '/calendar'}"
      />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    props: ['isSupplier', 'staffRole'],
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions"
      }),
      isAdmin () {
        return this.staffRole == 0
      },
      isStaff () {
        return this.staffRole == 1
      },
      isFulfilment () {
        return this.staffRole == 2
      }
    }

    
  }
</script>

<style lang="scss" scoped>

</style>