<template>
  <div>
    <card>
      <div class="form-group row justify-content-md-center">
        <div class="col-md-8">
          <base-input
            label="Email"
            :errorMessage="errorMessage"
            :error="inviteErrorResponse"
            :valid="inviteSuccessResponse"
            :success-message="inviteSuccessResponse"
            v-model="email"
            class="text-center"
            placeholder="User email"
          ></base-input>
          <el-select 
            class="select-danger mb-4 col-md-12"
            placeholder="Select Role"
            v-model="role">
            <el-option v-for="option in selects.roles"
                      class="select-danger text-center"
                      :value="option.value"
                      :label="option.label"
                      :key="option.label">
            </el-option>
          </el-select>
        </div>
      </div>
      <div class="ml-6">
        <div class="card">
          <div v-for="(permission, index) in Object.keys(permissions)" :key="index">

            <div class="card-header mt--4">
              <h4>{{permission | capitalize}}</h4>
            </div>

            <div class="card-body">
              <ul v-for="(p, i) in Object.keys(permissions[permission])" :key="i" class="list-group list-group-flush list my--3">
                <vs-checkbox v-model="permissions[permission][p]">
                  {{ p | capitalize }}
                </vs-checkbox>
              </ul>
            </div>
            <div class="card-footer">

            </div>


          </div>
        </div>
      </div>
        <div class="text-center">
          <base-button type="btn col-md-4 mb-2 btn-primary" @click="inviteUser()">Invite User</base-button>
          <base-button type="btn col-md-4 mb-2 btn-danger" @click="toggleInviteUserModal()">Close</base-button>
        </div>
    </card>
  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      test: false,
      permissions: {
        user_settings: {
          can_create_user: false,
          can_delete_user: false
        },
      
        company_details: {
          can_change_company_details: false,
          can_update_company_images: false,
          can_add_address: false,
          can_edit_address: false
        },
      
        tax_settings: {
          can_add_tax: false,
          can_edit_tax: false
        },
      
        delivery_settings: {
          can_edit_delivery_bracket: false,
          can_create_delivery_bracket: false,
          can_toggle_delivery_reconciliation: false
        },
      
        integration_settings: {
          can_add_integration: false,
          can_disable_integration: false
      
        },
      
        marketplace_settings: {
          can_view_marketplace: false,
          can_create_orders: false,
          can_integrate_sales: false
        }, 
      
        purchases_settings: {
          can_view_all_purchases: false,
          can_cancel_purchases: false,
          can_edit_purchases: false,
          can_integrate_purchases: false
        },
      
        sales_settings: {
          can_view_all_sales: false,
          can_accept_sale: false,
          can_decline_sale: false,
          can_edit_quantity: false,
          can_edit_gross_price: false,
          can_allocate_delivery: false,
          can_update_delivery_status: false,
          can_create_custom_delivery: false
        },
      
        pricing_settings: {
          can_view_pricebooks: false,
          can_create_pricebook: false,
          can_edit_pricebook: false
        },
      
        credit_limit_settings: {
          can_view_credit_limits: false,
          can_edit_credit_limits: false,
          can_update_credit_limits: false
        },
      
        statements_settings: {
          can_view_sales_statement: false,
          can_view_purchase_statement: false
        },
      
        fulfilment_settings: {
          can_view_deliveries: false,
          can_edit_deliveries: false,
          can_create_custom_delivery: false
        }
      },
      role: null,
      userExists: false,
      inviteErrorResponse: false,
      errorMessage: null,
      inviteSuccessResponse: null,
      email: "",
      selects: {
        roles: [
          {value: '1', label: 'Admin'},
          {value: '2', label: 'Staff'},
          {value: '3', label: 'Fulfilment'}
        ]
      }
    };
  },
    components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  methods: {
    inviteUser() {
      this.$store.dispatch("user/invite_user", {email: this.email, role_id: this.role}).then((res) => {
        if (res.data.type == "error") {
          this.notify(res.data.message, "warning")
          this.toggleInviteUserModal()
        }
        else if (res.data.type == "success") {
          this.inviteSuccessResponse = res.data.message
          this.notify(res.data.message, "success")
          this.toggleInviteUserModal()
        }
        else {
          this.notify("Something went wrong, please try again or contact support should the problem persist.", "danger")
        }
      }).catch(() => {
        this.notify("Something went wrong, please try again or contact support should the problem persist.", "danger")
      })
    },
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 3000,
        icon: "ni ni-bell-55",
        type: type
      })
    },
    ...mapActions({
      toggleInviteUserModal: "modals/toggleInviteUserModal"
    })
  },
  computed: {
    inviteResponseText() {
      if (this.getInviteMessage && this.getInviteMessage.type == "error") {
        return "text-warning";
      }
      return "text-success";
    },
    ...mapGetters({
      getInviteMessage: "user/getInviteMessage"
    }),
    disableButton() {
      return this.userExists ? "enabled" : "disabled";
    }
  }
};
</script>

<style scoped>
  .el-input__inner {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>