<template>
  <div>
    <card
      type="secondary"
      header-classes="bg-transparent pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0"
    >
      <div class="form-group row">
        <div class="col-md-12">
          <base-input
            v-model="tax.description"
            label="Description"
            class="text-center"
            placeholder="Tax Name"
          ></base-input>
          <base-input
            v-model="tax.percentage"
            class="text-center"
            disabled
            label="Percentage"
            placeholder="Tax Name"
          ></base-input>
        </div>
        <base-button v-if="canEditTax" type="primary" @click="postEditTax" class="col-md-8 ml-5 mb-2">Update Tax</base-button>
        <base-button
          type="danger"
          @click="toggleEditTaxModal()"
          class="col-md-8 ml-5 mb--4 mt-2"
        >Close</base-button>
      </div>
    </card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    tax: {
      type: Object,
      required: false
    }
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      userPermissions: "user/userPermissions"
    }),
    canEditTax () {
      return this.userPermissions.tax_settings.canEditTax
    },
  },
  methods: {
    ...mapActions({
      toggleEditTaxModal: "modals/toggleEditTaxModal"
    }),
    postEditTax() {
      this.$store.dispatch("tax/postEditTax", this.tax);
    }
  }
};
</script>
<style lang="scss">
</style>
