<template>
  <div>
    <card
      type="secondary"
      header-classes="bg-transparent pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0"
    >
      <div class="form-group row">
        <div class="col-md-12">
          <base-input
            v-model="tax.description"
            label="Description"
            class="text-center"
            placeholder="Tax Name"
          ></base-input>
          <base-input
            label="Percentage"
            v-model="tax.percentage"
            class="text-center"
            placeholder="Tax Percentage eg. (0.10)"
          ></base-input>
        </div>
        <base-button type="primary" v-if="canCreateTax" @click="postEditTax()" class="col-md-8 ml-5 mb-2">Add New Tax</base-button>
        <base-button
          type="danger"
          @click="toggleNewTaxModal()"
          class="col-md-8 ml-5 mb--4 mt-2"
        >Close</base-button>
      </div>
    </card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      tax: {
        description: "",
        percentage: 0
      }
    };
  },
  computed: {
    ...mapGetters({
      getNewTaxModal: "modals/getNewTaxModal",
      currentCompany: "companies/getCurrentCompany",
      userPermissions: "user/userPermissions"
    }),
    canCreateTax () {
      return this.userPermissions.tax_settings.canCreateTax
    },
  },
  methods: {
    ...mapActions({
      toggleNewTaxModal: "modals/toggleNewTaxModal"
    }),
    postEditTax() {
      
      this.$store.dispatch("tax/postNewTax", this.tax);
    }
  }
};
</script>
<style lang="scss">
</style>
