<template>
  <div>

    <base-button v-if="permissions.credit_limit_settings.can_create_credit_limits" type="success" @click="toggleNewCredlitLimit" class="ml-4 mt-4">New Credit Limit</base-button>
    <div class="card shadow col-md-10 mt-4 ml-4 mr-4" :class="type === 'dark' ? 'bg-default': ''">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark': ''"
          :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
          tbody-classes="list"
          :data="creditLimits"
        >
          <template slot="columns">
            <th>Company</th>
            <th>Credit Amount</th>
            <th v-if="permissions.credit_limit_settings.can_edit_credit_limits" >Delete</th>
          </template>

          <template slot-scope="{row}">
            <td type="default" block class="mb-3 product__item">
              {{row.customer_name}}
            </td>
            <td type="default" block class="mb-3 product__item">
              {{row.credit_limit | currency}}
            </td>
            <td  v-if="permissions.credit_limit_settings.can_edit_credit_limits" type="default" block>
              <base-button @click="confirmDelete(row.id)" type="danger" class="btn-sm">Delete</base-button>
              <base-button @click="toggleEditCreditLimit(row)" type="default" class="btn-sm">Edit</base-button>
            </td> 
          </template>
        </base-table>
      </div>
    </div>
    <modal type="sm" :show="getDisplayNewCreditLimit">
      <new-credit-limit :current-company="currentCompany" v-if="getDisplayNewCreditLimit"></new-credit-limit>
    </modal>
    <modal type="sm" :show="getDisplayEditCreditLimit">
      <edit-credit-limit :credit-limit="activeCreditNote" v-if="getDisplayEditCreditLimit"></edit-credit-limit>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";

export default {
  data () {
    return {
      activeCreditNote: {}
    }
  },
  components: {
    "new-credit-limit": () => import("../../components/modals/NewCreditLimit"),
    "edit-credit-limit": () => import("../../components/modals/EditCreditLimit")
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
      getDisplayNewCreditLimit: "modals/getDisplayNewCreditLimit",
      getDisplayEditCreditLimit: "modals/getDisplayEditCreditLimit",
      creditLimits: "creditLimits/creditLimits"
    })
  },
  methods: {
    confirmDelete (id) {
      swal({
        title: "Are you sure?",
        text: "Ensure you want to remove this credit limit",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.deleteCreditNote(id)
      });
    },
    deleteCreditNote(id) {
      this.$store.dispatch("creditLimits/deleteCreditLimit", id)
    },
    toggleNewCredlitLimit () {
      this.$store.commit("modals/toggleDisplayNewCreditLimit")
    },
    toggleEditCreditLimit (row) {
      this.activeCreditNote = row
      this.$store.commit("modals/toggleEditCreditLimit")
    }
  },
  watch: {
    currentCompany (company) {
      if (company && company.id && !this.limitsReceived) {
        this.$store.dispatch('creditLimits/fetchAllCreditLimits', company.id)
        .then((res) => {
          this.limitsReceived = true
        })
      }
    },
  },
  mounted () {
    if (this.currentCompany && this.currentCompany.id && !this.limitsReceived) {
      this.$store.dispatch('creditLimits/fetchAllCreditLimits', this.currentCompany.id)
      .then((res) => {
        this.limitsReceived = true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>