<template>
  <div>
    <div class="card-header mt-1">
      <h2>Edit Delivery Fee Bracket</h2>
      <p class="text-sm font-weight-bold mb--2">
        Delivery Fee Brackets define what delivery fee will be charged based on the value or quantity of items in a customer's cart.
        Quantity or value must be chosen when adding a delivery zone.
      </p>
    </div>
    <div class="card-body">
    <vs-alert v-if="valuesInvalid" :color="'danger'" class="mb-3">
      <template #title>
        Oops, your values seem to be invalid
      </template>
      Please ensure that your minimum value is smaller than your maxiumum value. If your values overlap existing bracket values, the bracket will not be valid.
    </vs-alert>
      <label class="form-control-label">Name</label>
        <p class="mt--2 text-muted"><small> Give your bracket a name </small> </p>
      <base-input v-model="feeBracket.name" placeholder="Super Buyers"></base-input>
      <base-input v-model="feeBracket.value_min" placeholder="200" :label="`Minimum ${measurement}`"></base-input>
      <base-input v-model="feeBracket.value_max" placeholder="350" :label="`Maximum ${measurement}`"></base-input>
      <base-input v-model="feeBracket.price" placeholder="120" label="Delivery Fee"></base-input>
    </div>
    <div class="card-footer">
      <div class="text-center row">
        <base-button @click="submitDeliveryFee()" type="danger">Save</base-button>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    props: {
      deliveryFeeBracket: {
        type: Object,
        required: true
      },
      measurement: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        validate: false,
        feeBracket: {
          alias: null,
          value_min: null,
          value_max: null,
          price: null,
        }
      }
    },
    mounted () {
      this.feeBracket = this.deliveryFeeBracket
    }, 
    computed: {
      valuesInvalid () {
        if (!this.validate) return false
        return parseFloat(this.feeBracket.value_min) > parseFloat(this.feeBracket.value_max)
      },
    },
    methods: {
      notify (message, type) {
        this.$notify({
          message: message,
          type: type,
          timeout: 3000
        })
      },
      close () {
        this.$emit('close')
      },
      submitDeliveryFee () {
        this.validate = true
        if (this.valuesInvalid) return
        this.$emit('close')
        this.$store.dispatch('deliveries/updateDeliveryZoneFee', this.feeBracket)
        .then((res) => {
          if (res.data.status) {
            this.notify('The fee bracket has been updated', 'success')
          } else {
            this.notify(res.data.message, 'danger')
          }
        }).catch((res) => {
          this.notify(res.data.message, 'danger')
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>