<template>
  <div>
    <div class="card-header mb-4">
      <h5 class="h3 mb-0">New Delivery Zone</h5>
      <p class="text-sm mb--1">
        Add the areas you would like to include in this delivery zone.
      </p>
      <p class="text-sm mt-2">
        <strong>
          It is important to ensure that you include all areas that you would like to be covered by this zone.
          The delivery date will need to be allocated to all orders from areas that have not been allocated to zones.
        </strong>
      </p>
    </div>
    <div class="row text-center">
      <vs-switch v-model="isGlobal">
        Global Search
      </vs-switch>
    </div>
    <div v-if="!isGlobal">
      <base-input label="Select Province">
        <el-select
          class="col-md-10"
          v-model="province"
          :loading="loading"
          filterable
          placeholder="Select Province"
        >
          <el-option
            v-for="(item,i) in allProvinces"
            :key="i"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </base-input>
      <base-input label="Select Area">
        <el-select
          class="col-md-10"
          v-model="city"
          :loading="loading"
          filterable
          :disabled="province == null"
          placeholder="Select City"
        >
          <el-option
            v-for="(item, i) in cities"
            :key="i"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </base-input>
      <base-input label="Filter Postal Code">
        <el-select
          class="col-md-10"
          v-model="postalCodeSearch"
          :loading="loading"
          filterable
          clearable
          :disabled="city == null"
          placeholder="Select City"
        >
          <el-option
            v-for="(item, i) in postalCodes"
            :key="i"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </base-input>

      <base-input :label="labelText">
        <el-select
          class="col-md-10"
          v-model="suburb"
          :loading="loading"
          filterable
          clearable
          :disabled="city == null"
          multiple
          placeholder="Select Suburb"
        >
          <el-option
            v-for="(item, i) in suburbList"
            :key="i"
            :label="`${item.name} | ${item.street_code}`"
            :value="item.id">
          </el-option>
        </el-select>
      </base-input>
      <div class="text-select row">
        <base-button @click="submitAreas()" type="danger">Add</base-button>
      </div>
    </div>

    <div v-else>
      <global-area-selector :delivery-zone="deliveryZone"></global-area-selector>
    </div>

  </div>
</template>

<script>
import { Select, Option } from 'element-ui'
import { mapGetters } from 'vuex'
  export default {
    props: {
      deliveryZone: {
        type: Object,
        required: true
      }
    },
    components: {
      [Select.name]: Select,
      [Option.name]: Option,
      'global-area-selector': () => import('../cards/GlobalAreaSearch')
    },
    data () {
      return {
        value: null,
        isGlobal: false,
        allAreas: [],
        province: null,
        postalCodeSearch: null,
        city: null,
        cities: [],
        area: null,
        loading: false,
        allProvinces: [],
        suburb: [],
        suburbs: []
      }
    },
    watch: {
      province (oldVal, newVal) {
        if(oldVal !== newVal) {
          this.$store.dispatch('companies/fetchAllCities', this.province)
          .then((res) => {
            this.cities = res.data
          })
        }
      },
      city (oldVal, newVal) {
        if(oldVal !== newVal) {
          this.$store.dispatch('deliveries/fetAllAvailableSuburbs', {companyUuid: this.currentCompany.uuid, city: this.city})
          .then((res) => {
            this.suburbs = res.data
          })
        }
      }
    },
    computed: {
      labelText () {
        if (this.city !== null) {
          return `Select from ${this.suburbs.length - this.suburb.length} unallocated suburbs in ${this.$options.filters.titleCase(this.city)}`
        } else {
          return `Select your Suburb`
        }
      },
      suburbList () {
        if (this.postalCodeSearch == null || this.postalCodeSearch == "") return this.suburbs
        let list = []
        this.suburbs.forEach((suburb) => {
          if (suburb.street_code == this.postalCodeSearch) list.push(suburb)
        })
        return list
      },
      postalCodes () {
        if (this.city == null) return
        let list = []
        this.suburbs.forEach((suburb) => {
          if (!list.includes(suburb.street_code)) list.push(suburb.street_code)
        })
        return list
      },
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany"
      }),
      areas () {
        return this.allAreas
      }
    },
    mounted () {
      this.$store.dispatch('companies/fetchAllProvinces')
        .then(res => {
          this.allProvinces = res.data
          this.loading = false
          return res.data
        })
    },
    methods: {
      handleSelect(item) {
        console.log(item);
      },
      submitAreas () {
        this.$store.dispatch('deliveries/addDeliveryAreas', {areas: this.suburb, uuid: this.deliveryZone.uuid })
        .then((res) => {
          this.$emit('close')
          this.suburbs = []
          this.suburbs = []
        })
      },
      querySearchAsync (query) {
        this.loading = true
        this.$store.dispatch('companies/fetchAllAreas', query)
        .then(res => {
          this.allAreas = res.data
          this.loading = false
          return res.data
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.el-select-dropdown__item:hover {
  color:#FF4C4E;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color:#FF4C4E;
  background-color: #ff4c4e0d;
  &.hover {
    color:#FF4C4E;
    background-color: #ff4c4e0d;
  }
}
.el-select__tags {
  overflow: scroll !important;
}
</style>