<template>
  <div>
    <div>
      <div class="card-header">
        <h5 class="h3 mb-0">New Delivery Zone</h5>
        <p class="text-sm mb--1">
          You can create a delivery zone and allocate which areas fall within this bracket.
          All areas allocated the same zone will receive the same delivery configurations. 
        </p>
        <p class="text-sm mb--1 mt-2"><strong>Delivery fees and dates can be overriden by the supplier on each order.</strong></p>
      </div>
      <div class="card-body">
        <label class="form-control-label mb--2">Zone Name</label>
        <p><small class="text-muted mb--2">Give your delivery zone a unique name</small></p>
        <base-input v-model="name"></base-input>

        <base-input label="Delivery Days">
          <p><small class="text-muted mb--2">
            Select the days that you would like to offer delivery to this zone
          </small></p>
          <vs-select
            :color="'danger'"
            placeholder="Select"
            v-model="days"
            multiple
          >
            <vs-option v-for="(day, i) in deliveryDays" :key="i" :label="day" :value="day">
              {{day}}
            </vs-option>
          </vs-select>
        </base-input>
        <base-input label="Cut Off Day">
          <p><small class="text-muted mb--2">
            Cut off day is used to define how many days are required to prepare an order for shipment.
            A customer ordering today will see the soonest available delivery date based on their delivery days this many days later.
          </small></p>
          <vs-select v-model="cutOfDay" :color="'danger'">
            <vs-option label="Same Day" value="0">
              Same Day
            </vs-option>
            <vs-option label="Previous Day" value="1">
              Previous Day
            </vs-option>
            <vs-option label="Two Days Prior" value="2">
              Two Days Prior
            </vs-option>
          </vs-select>
        </base-input>
        <base-input label="Cut Off Time">
          <p><small class="text-muted mb--2">
            Cut Off Time is used to define what time you stop dispatching orders the same day. This works in conjunction with cut off day to define how long advance an order must be placed to see the delivery dates.
          </small></p>
          <vs-select
            :color="'danger'"
            v-model="cutOfTime"
          >
            <vs-option v-for="(day, i) in cutOffTimes" :key="i" :label="day" :value="day">
              {{day}}
            </vs-option>
          </vs-select>
        </base-input>
        <base-input label="Fee Based On">
          <p><small>
            Delivery fees can be set in brackets and change depending on the value of a customer's cart or the number of items added to the zone.
          </small></p>
          <vs-select
            :color="'danger'"
            v-model="basedOn"
          >
            <vs-option v-for="(type, i) in feeBasedOn" :key="i" :label="type.label" :value="type.value">
              {{type.label}}
            </vs-option>
          </vs-select>
        </base-input>

      </div>
    </div>
    <div class="card-footer">
      <base-button type="success" @click="postNewZone"  class="btn">New</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
        name: [],
        active: false,
        days: [],
        isLoading: false,
        searchKey: 0,
        getAddressTimout: null,
        searchQuery: '',
        areas: [],
        allAreas: [],
        zones: [],
        cutOfTime: 0,
        cutOfDay: 0,
        basedOn: 0,
        deliveryDays:["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        cutOffTimes:["06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00"],
        feeBasedOn:[
          {label: "Value based delivery fee", value: 0}, 
          {label: "Quantity based delivery fee", value: 1}
        ],
        cutOffDays:[
          {label: 'Same Day', value: 0},
          {label: '1 Day in Advance', value: 1},
          {label: '2 Days in Advance', value: 2},
          {label: '3 Days in Advance', value: 3},
        ]
      }
    },
    watch: {
      searchQuery(oldVal, newVal) {
        if (oldVal !== newVal) {
          console.log('oldVal', oldVal)
          console.log('newVal', newVal)
          this.getAddress()
        }
      }
    },
    computed: {
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany"
      })
    },
    methods: {
      postNewZone () {
        let deliveryZone = {
          name: this.name,
          company_id: this.currentCompany.id,
          delivery_days: this.days,
          cut_off_time: this.cutOfTime,
          cut_off_day: parseInt(this.cutOfDay),
          fee_based_on: parseInt(this.basedOn),
        }
        this.$store.dispatch('deliveries/newDeliveryZone', {deliveryZone, uuid: this.currentCompany.uuid})
        .then(res => {
           this.$store.dispatch('deliveries/getDeliveryZones', this.currentCompany.uuid )
           document.getElementsByClassName('vs-dialog__close')[0].click()
           this.$emit('fetchDeliveries')
        })
      },
      getAddress () {
        if (this.getAddressTimout) clearTimeout(this.getAddressTimout)
        this.getAddressTimout = setTimeout(() => {
          this.isLoading = true
          this.$store.dispatch('companies/fetchAllAreas', this.searchQuery)
          .then(res => {
            this.allAreas = res.data
            this.isLoading = false
            this.searchKey += 1
            document.getElementsByClassName('area-selector')[0].click
          })
        }, 2000)
      },
    }
  }
</script>

<style lang="scss">

.vs-select-content {
  min-width: -webkit-fill-available;
}
</style>