<template>
  <div>
    <div class="card-header mt-1">
      <h2>New Delivery Fee Bracket</h2>
      <p class="text-sm font-weight-bold mb--2">
        Delivery Fee Brackets define what delivery fee will be charged based on the value or quantity of items in a customer's cart.
        Quantity or value must be chosen when adding a delivery zone.
      </p>
    </div>
    <div class="card-body">
      <vs-alert v-if="valuesInvalid" :color="'danger'" class="mb-3">
      <template #title>
        Oops, your values seem to be invalid
      </template>
      Please ensure that your minimum value is smaller than your maxiumum value. If your values overlap existing bracket values, the bracket will not be valid.
    </vs-alert>
      <label class="form-control-label">Name</label>
        <p class="mt--2 text-muted"><small> Give your bracket a name </small> </p>
      <base-input v-model="name" placeholder="Super Buyers"></base-input>
      <base-input v-model="valueMin" placeholder="200" :label="`Minimum ${measurement}`"></base-input>
      <base-input v-on:blur="validateValues()" v-model="valueMax" placeholder="350" :label="`Maximum ${measurement}`"></base-input>
      <base-input v-model="price" placeholder="120" label="Delivery Fee"></base-input>
    </div>
    <div class="card-footer">
      <div class="text-center row">
        <base-button :disabled="isDisabled" @click="submitDeliveryFee()" type="danger">Add</base-button>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    props: {
      deliveryZone: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        name: null,
        valueMin: 0,
        valueMax: null,
        price: null,
        validate: false,
      }
    },
    computed: {
      measurement () {
        return this.deliveryZone.fee_based_on == 'quantity' ?  'Quantity' : 'Purchase Value'
      },
      valuesInvalid () {
        if (!this.validate) return false
        return parseFloat(this.valueMin) > parseFloat(this.valueMax)
      },
      isDisabled () {
        return (this.name == '' || this.name == null) 
        || (this.valueMin == '' || this.valueMin == null) 
        || (this.valueMax == '' || this.valueMax == null) 
        || (this.price == '' || this.price == null) 
        || (parseFloat(this.valueMin) > parseFloat(this.valueMax)) 

      }
    },
    methods: {
      validateValues () {
        this.validate = true
      },
      close () {
        this.$emit('close')
      },
      submitDeliveryFee () {
        this.$store.dispatch('deliveries/newDeliveryZoneFee', {
          delivery_zone_fee: {
            name: this.name,
            value_min: this.valueMin,
            value_max: this.valueMax,
            price: this.price,
          },
          zoneUuid: this.$route.params.zoneUuid
        })
        .then((res) => {
          console.log(res.data.delivery_zone)
          this.$emit('close')
        })
        .catch(() => {
          this.$notify({
          message: 'The delivery fee bracket could not be saved. Please ensure there are no overlaps of the value fields',
          type: 'danger',
          timeout: 3000
        })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>