<template>
  <div>
    <div class="card">
      <div>
        <div class="card-header">
          <h5 class="h3 mb-0">Delivery Zones</h5>
          <p class="text-sm mb--1">
            Creating a delivery zone defines what delivery dates customers can see based on their location and time of order. 
            Delivery fees can be set up for each zone based on the value or quantity of items in a customers cart.
            If a customer orders from outside the zones you have created you will allocate the expected shipping date and delivery fee to them when the order is received. 
          </p>
        </div>
        <div class="card-body">
           <vs-table>
        <template #thead>
          <vs-tr class="row">
            <vs-th class="col-md-2">
              Zone Name
            </vs-th>
            <vs-th class="col-md-3">
              Delivery Days
            </vs-th>
            <vs-th class="col-md-2">
              Cut Off Day
            </vs-th>
            <vs-th class="col-md-2">
              Cut Off Time
            </vs-th>
            <vs-th class="col-md-2">
              Fee Based On
            </vs-th>
            <vs-th class="col-md-1">
              Edit
            </vs-th>
          </vs-tr>
        </template>
        <template #tbody>
          <vs-tr
            class="row"
            :key="i"
            v-for="(zone, i) in deliveryZones"
          >
            <vs-td class="col-md-2">
              {{ zone.name }}
            </vs-td>
            <vs-td class="col-md-3">
            {{ zone.delivery_days.toString() }}
            </vs-td>
            <vs-td class="col-md-2">
            {{ zone.zone_cut_off_day }}
            </vs-td>
            <vs-td class="col-md-2">
            {{ zone.cut_off_time }}
            </vs-td>
            <vs-td class="col-md-2">
            {{ zone.zone_fee_based_on }}
            </vs-td>
            <vs-td class="col-md-1">
              <router-link :to="`delivery_zone/${zone.uuid}`">Edit</router-link>
            </vs-td>
          </vs-tr>
        </template>
      </vs-table>
          
        </div>
      </div>
      <div class="card-footer">
        <base-button 
          v-if="this.permissions.delivery_settings.can_create_delivery_bracket"
          type="success"
          @click="displayNewZone = !displayNewZone"
          class="btn"
        >New</base-button>
      </div>
      <vs-dialog v-model="displayNewZone">
        <new-delivery-zone @fetch-deliveries="getDeliveryZones()"></new-delivery-zone>
      </vs-dialog>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    components: {
      'new-delivery-zone': () => import('../modals/NewDeliveryZone')
    },
    data () {
      return {
        displayNewZone: false,
        hasFetchedZones: false
      }
    },
    computed: {
      ...mapGetters({
        deliveryZones: 'deliveries/deliveryZones',
        currentCompany: "companies/getCurrentCompany",
        permissions: "user/userPermissions"
      })
    },
    methods: {
      getDeliveryZones () {
        this.displayNewZone = false
        this.$store.dispatch('deliveries/getDeliveryZones', this.currentCompany.uuid )
        .then((res) => {
          this.hasFetchedZones = true
        })
      }
    },
    watch: {
      currentCompany (val) {
        if(this.currentCompany && !this.hasFetchedZones) {
          this.getDeliveryZones()
        }
      }
    },
    mounted () {
      console.log('hi')
      if (this.currentCompany && this.currentCompany.uuid) {
        this.getDeliveryZones()
      }
    }
}
</script>

<style lang="scss" scoped>

</style>