<template>
  <div v-if="permissions.delivery_settings.can_toggle_delivery_reconciliation">
    <div class="card">
        <div>
          <div class="card-header">
            <h5 class="h3 mb-0">Default Delivery Signature</h5>
            <p class="text-sm mb--1"> 
              The delivery signature enforces that a signature is still required when the delivery reconciliation is off.
              Set the slider to ‘Yes’ to require a signature when the order is marked as delivered.
            </p>
            <p class="text-sm mb--1 mt-2"><strong>The feature can be enabled for specific orders on the order page.</strong></p>
          </div>
          <div class="card-body">
            <div>
                <base-switch v-model="isEnabled"></base-switch>
                <span class="clearfix"></span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <base-button type="success" @click="updateDefaultDeliveryReconciliation" class="btn btn-sm">Save</base-button>
        </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
        isEnabled: false,
        fetchedRecon: false,
        isEnabledBackup: false,
      }
    },
    computed: {
      ...mapGetters({
        currentCompany: 'companies/getCurrentCompany',
        permissions: "user/userPermissions"
      })
    },
    methods: {
      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      },
      updateDefaultDeliveryReconciliation () {
         this.$store.dispatch('companies/updateDefaultDeliverySignature', {company_uuid: this.currentCompany.uuid, is_delivery_signature_required: this.isEnabled})
         .then((res) => {
           if (res.status == 200 || res.status == 201) {
             this.isEnabled = res.data
             this.isEnabledBackup = res.data
             this.notify('Delivery signature settings have been saved', 'success')
           } else {
             this.notify('Something went wrong. Please try again or contact support should the problem persist', 'danger')
           }
        })
      },
      getDeliveryRecon () {
        this.$store.dispatch('companies/getDefaultDeliverySignature', this.currentCompany.uuid)
        .then((res) => {
          this.isEnabled = res.data
          this.isEnabledBackup = res.data
          this.fetchedRecon = true
        })
      }
    },
    watch: {
      currentCompany (val) {
        if (val && val.uuid && !this.fetchedRecon) {
          this.getDeliveryRecon()
        }
      }
    },
    mounted () {
      if (this.currentCompany && this.currentCompany.uuid) {
        this.getDeliveryRecon()
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>