<template>
  <div>
    <base-input label="Delivery Areas">
      <el-select
        class="col-md-10"
        v-model="value"
        remote
        :remote-method="querySearchAsync"
        multiple
        :loading="loading"
        filterable
        placeholder="Select"
        reserve-keyword
      >
        <el-option
          v-for="item in areas"
          :key="item.id"
          :label="`${item.name}, ${item.city}, ${item.province}, ${item.street_code}`"
          :value="item.id">
        </el-option>
      </el-select>
    </base-input>
    <div class="text-select row">
      <base-button @click="submitAreas()" type="danger">Add</base-button>
    </div>

  </div>
</template>

<script>
import { Select, Option } from 'element-ui'
import { mapGetters } from 'vuex'
  export default {
    props: {
      deliveryZone: {
        type: Object,
        required: true
      },
      isGeneralAddress: {
        type: Boolean,
        required: false,
        default: false
      }
    },
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    data () {
      return {
        value: null,
        area: null,
        loading: false,
        allAreas: []
      }
    },
    watch: {
      value (val) {
        if (val !== null) return val
      }
    },
    computed: {
      areas () {
        return this.allAreas
      },
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany"
      })
    },
    methods: {
      handleSelect(item) {
        console.log(item);
      },
      submitAreas () {
        this.$store.dispatch('deliveries/addDeliveryAreas', {areas: this.value, uuid: this.deliveryZone.uuid })
        .then((res) => {
          this.$emit('close')
          this.$emit('saveResponse', res.data)
        })
      },
      querySearchAsync (query) {
        this.loading = true
         this.$store.dispatch('deliveries/allAvailableAreas', {companyUuid: this.currentCompany.uuid, query: query})
        .then(res => {
          this.allAreas = res.data
          this.loading = false
          return res.data
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.el-select-dropdown__item:hover {
  color:#FF4C4E;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color:#FF4C4E;
  background-color: #ff4c4e0d;
  &.hover {
    color:#FF4C4E;
    background-color: #ff4c4e0d;
  }
}
.el-select__tags {
  overflow: scroll !important;
}
</style>
