<template>
  <component
    :is="tag"
    :class="[{ show: isOpen }, `drop${direction}`]"
    @click="toggleDropDown"
    v-click-outside="closeDropDown"
  >
    <slot name="title-container" :is-open="isOpen">
      <component
        :is="titleTag"
        class="btn-rotate"
        :class="[{'dropdown-toggle': hasToggle}, titleClasses]"
        :aria-expanded="isOpen"
        data-toggle="dropdown"
      >
        <slot name="title" :is-open="isOpen">
          <i :class="icon"></i>
          {{ title }}
        </slot>
      </component>
    </slot>
    <ul
      class="dropdown-menu"
      :class="[
        { show: isOpen },
        { 'dropdown-menu-right': menuOnRight },
        menuClasses
      ]"
    >
      <slot></slot>
    </ul>
  </component>
</template>
<script>
export default {
  name: "base-dropdown",
  props: {
    tag: {
      type: String,
      default: "div",
      description: "Dropdown html tag (e.g div, ul etc)"
    },
    titleTag: {
      type: String,
      default: "button",
      description: "Dropdown title (toggle) html tag"
    },
    title: {
      type: String,
      description: "Dropdown title"
    },
    direction: {
      type: String,
      default: "down", // up | down
      description: "Dropdown menu direction (up|down)"
    },
    icon: {
      type: String,
      description: "Dropdown icon"
    },
    titleClasses: {
      type: [String, Object, Array],
      description: "Title css classes"
    },
    menuClasses: {
      type: [String, Object],
      description: "Menu css classes"
    },
    menuOnRight: {
      type: Boolean,
      description: "Whether menu should appear on the right"
    },
    hasToggle: {
      type: Boolean,
      description: "Whether dropdown has arrow icon shown",
      default: true
    },
    cartBtn: {
      type: Boolean,
      default :false
    },
    clickOutside: {
      type: Boolean,
      default :true
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleDropDown(event) {
      if (this.cartBtn) {
        if (
            event.target.parentNode.className !== "dropdown-item"
            && event.target.parentNode.className !== "swal2-confirm swal2-styled"
            && event.target.parentNode.className !== "show dropdown"
            && event.target.parentNode.className !== "btn-inner--icon"
          ) {
          this.isOpen = true;
          this.$emit("change", this.isOpen);
        } else {
          this.isOpen = !this.isOpen;
        }
      } else {
        this.isOpen = true;
      }
    },
    temp () {
      conosle.log('close')
    },
    closeDropDown() {
      if (!this.clickOutside) return
      this.isOpen = false;
      this.$emit("change", false);
    }
  }
};
</script>
<style lang="scss" scoped>
.dropdown {
  cursor: pointer;
  user-select: none;
  background-color: white;
  border: none !important;
}
.dropdown-toggle {
  background: white;
  content: none;
  border: none !important;
}
.dropdown-toggle::after {
  content: none;
  border: none !important;
}
</style>
