<template>
  <div>
    <div class="form-group row ">
      <label for="example-password-input" class="col-md-2 col-form-label form-control-label">Categories</label>
      <el-select
        multiple
        class="col-md-8"
        filterable
        v-model="tags"
        placeholder="Category Multi-Select"
      >
        <el-option
          v-for="option in getAllTags"
          :value="option.id"
          :label="option.description"
          :key="option.id"
        ></el-option>
      </el-select>
      <base-button type="secondary" @click="newTag()" class="col-md-2">Add Category</base-button>
    </div>
  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  props: {
    productTags: {
      type: Array,
      required: false,
      default: () => {}
    },
    productId: {
      type: Number,
      required: false
    }
  },
  data() {
    return {
      tags: []
    };
  },
  computed: {
    ...mapGetters({
      getNewTagModal: "modals/getNewTagModal",
      getAllTags: "tags/getAllTags"
    }),
  },
  methods: {
    removeTag(val) {
      let index = this.tags.findIndex(t => t.description === val);
      swal({
        title: "Are you sure?",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) {
          this.$store.dispatch("tags/removeProductTag", {
            productId: this.productId,
            tag_id: tag.id
          });
        } else {
          this.tags = this.tags.filter(t => t.description !== val);
        }
      });
    },

    getProductTags(tag) {
      this.$emit("getTags", tag);
    },

    newTag(tag) {
      this.$emit("toggleNewTagModal");
    }
  },

  watch: {
    tags(newVal) {
      this.$emit("add-tag", newVal);
    }
  },
  mounted () {

    this.productTags.forEach((tag) => this.tags.push(tag.id))
  }
};
</script>
