<template>
  <div>
    <card>
      <!-- Card header -->
      <h3 slot="header" class="mb-0">Confirm Details</h3>
      <!-- Card body -->
      <form>
        <!-- Input groups with icon -->
        <div class="row">
          <div class="col-md-12">
            <base-input class="mt-2" label="Select Address">
              <el-select
                class="select-danger ml--2 col-md-8 pl-2 pr-4"
                placeholder="Select Address"
                @change="selectCompany"
                v-if="!!getCompanyAddresses.length"
                v-model="addressId">
                <el-option
                  v-for="address in getCompanyAddresses"
                  class="select-danger"
                  :value="address.id"
                  :label="addressName(address)"
                  :key="address.id"
                ></el-option>
              </el-select>
              <base-button class="col-auto bt-lg" @click="toggleNewAddressModal" type="primary">New Address</base-button>
            </base-input>
            
            <base-alert v-if="dateInvalid" type="danger" dismissible>
              <span class="alert-inner--text"><strong>Please select a delivery date from the available dates below.</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </base-alert>
            <label class="form-control-label">Order Due Date</label>
            <p class="text-sm text-muted mt--2">
              Please enter your requested delivery date.
            </p>
            <base-input class="mt--2" prepend-icon="fas fa-calendar">
              <flat-picker
                slot-scope="{focus, blur}"
                @on-open="focus"
                @on-close="blur"
                :config="{
                  disable: disabledDates,
                  allowInput: true,
                  dateFormat: 'Y-m-d',
                  minDate: `${minDate}`,
                  maxDate: `${maxDate}`}"
                class="form-control datepicker"
                v-model="date"
              ></flat-picker>
            </base-input>


            <base-input
              class="mt--2"
              label="Address One"
              prepend-icon="fas fa-road"
              :value="activeAddress.address_one"
              disabled
            ></base-input>
            <base-input
              class="mt--2"
              label="City"
              prepend-icon="fas fa-map-signs"
              :value="activeAddress.city"
              disabled
            ></base-input>
            <base-input
              class="mt--2"
              label="Country"
              prepend-icon="fas fa-map"
              :value="activeAddress.country"
              disabled
            ></base-input>
            <base-input
              class="mt--2"
              label="Postal Code"
              prepend-icon="fas fa-map-marker"
              :value="activeAddress.postal_code"
              disabled
            ></base-input>
            <base-input label="Additional Notes">
              <textarea
                class="form-control"
                v-model="notes"
                placeholder="Please park at the delivery entrance..."
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </base-input>
            <base-button @click="saveDate()" type="success" class="my-4">Save</base-button>
          </div>
        </div>
        <!-- Input groups with icon -->
      </form>
    </card>
    <modal :show="getNewAddressModal" size="md">
      <new-company-address v-if="getNewAddressModal"></new-company-address>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import flatPicker from "vue-flatpickr-component";
import { Select, Option } from "element-ui";
import "flatpickr/dist/flatpickr.css";
export default {
  data() {
    return {
      disabledDates: [],
      notes: "",
      activeAddress: {
        id: "",
        address_one: "",
        suburb: "",
        city: "",
        postal_code: "",
        country: ""
      },
      addressId: "",
      date: null
    };
  },
  components: {
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option,
    'new-company-address': () => import("../../../Company/components/modals/NewCompanyAddress")
  },
  methods: {
    addressName (address) {
      if (address.name) {
        return `${address.name} | ${address.address_one}`
      } else {
        return address.address_one
      }
    },
    getDeliveryFee () {
      this.$store.dispatch('deliveries/getDeliveryFee', {
        addressId: Math.ceil(this.addressId),
        quantity: Math.ceil(this.cartTotalQuantity),
        value: Math.ceil(this.cartTotal),
        supplierId: Math.ceil(this.activeSupplier)
      })
    },
    toggleNewAddressModal () {
      this.$store.commit("modals/toggleNewAddressModal")
    },
    selectCompany () {
      this.activeAddress = this.getCompanyAddresses.find((address) => address.id == this.addressId)
      this.$store.commit("cart/setCartAddress", this.addressId)
    },
    saveDate() {
      this.$store.dispatch("cart/saveOrderDate", this.date)
    }
  },
  mounted() {
    this.date = null
    // get customer addresses
    this.$store.dispatch("companies/getAddresses").then(() => {
      if (this.getCompanyAddresses.length) {
         let lastAddress = this.getCompanyAddresses.length
          this.activeAddress = this.getCompanyAddresses[lastAddress - 1]
          this.addressId =  this.activeAddress.id
          this.$store.commit("cart/setCartAddress", this.addressId)
          // Get delivery Fee
          if (this.activeSupplier !== null) {
            this.getDeliveryFee()
          }

          // Get delivery dates to disable
          this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: this.addressId, value: this.cartTotal, supplierId: this.activeSupplier})
          .then(res => {
            this.disabledDates = res.data.dates
          })

      }
    })
  },
  watch: {
    notes (val) {
      this.$store.commit("cart/saveOrderNote", this.notes)
    },
    date (val) {
      this.$store.dispatch("cart/saveOrderDate", this.date)
    },
    getCompanyAddresses (val) {
      if (this.getCompanyAddresses.length) {
        let lastAddress = this.getCompanyAddresses.length
        this.activeAddress = this.getCompanyAddresses[lastAddress - 1]
        this.addressId =  this.activeAddress.id
        this.$store.commit("cart/setCartAddress", this.addressId)
        this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: this.addressId, value: this.cartTotal, supplierId: this.activeSupplier})
        .then(res => {
          this.disabledDates = res.data.dates
        })
      }
    },
    cartTotal (val) {
      if (val) {
        this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: this.addressId, value: this.cartTotal, supplierId: this.activeSupplier})
        .then(res => {
          this.disabledDates = res.data.dates
          this.getDeliveryFee()
        })
      }
    },
    cartTotalQuantity (val) {
      if (val) {
        this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: this.addressId, value: this.cartTotal, supplierId: this.activeSupplier})
        .then(res => {
          this.disabledDates = res.data.dates
          this.getDeliveryFee()
        })
      }
    },
    addressId(val) {
      if (val) {
        this.date = null
        this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: this.addressId, value: this.cartTotal, supplierId: this.activeSupplier})
        .then(res => {
          this.disabledDates = res.data.dates
          this.getDeliveryFee()
        })
      }
    }
  },
  computed: {
    dateInvalid () {
      if (this.date == null) return true
      if (this.date.length !== 10) return true
    },
    ...mapGetters({ 
      currentCompany: "companies/getCurrentCompany",
      getCompanyAddresses: "companies/getCompanyAddresses",
      activeSupplier: "cart/getActiveSupplier",
      getNewAddressModal: "modals/getNewAddressModal",
      cartTotal: "cart/cartTotal",
      cartTotalQuantity: "cart/cartTotalQuantity"
    }),
    maxDate() {
      let date = new Date(Date.now() + 12096e5);
      let datestring =
        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
      return datestring;
    },
    minDate() {
      let date = new Date(new Date().getTime() + 0 * 60 * 60 * 1000);
      let datestring =
        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
      return datestring;
    },
    company() {
      return this.currentCompany;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
