<template>
  <div class="form-group">
    <slot name="label">
      <label v-if="label" :class="labelClasses">{{label}}</label>
    </slot>
    <div
      :class="[
      {'input-group': hasIcon},
      {'focused': focused},
      {'input-group-alternative': alternative},
      {'has-label': label || $slots.label},
      inputGroupClasses
      ]"
    >
      <div v-if="prependIcon || $slots.prepend" class="input-group-prepend">
        <span class="input-group-text">
          <slot name="prepend">
            <i :class="prependIcon"></i>
          </slot>
        </span>
      </div>

      <slot v-bind="slotData">
        <input
          :value="value"
          :type="type"
          :inputmode="inputmode"
          :pattern="pattern"
          v-on="listeners"
          v-bind="$attrs"
          :valid="!error"
          :required="required"
          class="form-control"
          :class="[{'is-warning': warning === true}, {'is-valid': valid === true}, {'invalid': error}, inputClasses]"
        />
      </slot>
      <div v-if="appendIcon || $slots.append" class="input-group-append">
        <span :style="{'background': btnClass, 'color': getBtnColor}" class="input-group-text">
          <slot name="append">
            <i :class="appendIcon" class="text-muted"></i>
          </slot>
        </span>
      </div>
      <slot name="infoBlock"></slot>
      <slot name="error">
        <div v-if="error" class="error">{{ errorMessage }}</div>
      </slot>
      <slot name="success">
        <div class="valid-feedback" v-if="!error && valid">{{successMessage}}</div>
      </slot>
      <slot name="warning">
        <div class="warning-feedback" v-if="!error && warning">{{warningMessage}}</div>
      </slot>
    </div>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  name: "base-input",
  props: {
    required: {
      type: Boolean,
      description: "Whether input is required (adds an asterix *)"
    },
    group: {
      type: Boolean,
      description:
        "Whether input is an input group (manual override in special cases)"
    },
    valid: {
      type: Boolean,
      description: "Whether is valid",
      default: undefined
    },
    warning: {
      type: Boolean,
      description: "Whether is valid",
      default: undefined
    },
    alternative: {
      type: Boolean,
      description: "Whether input is of alternative layout"
    },
    btnClass: {
      type: String,
      description: "Input button colour"
    },
    inputmode: {
      type: String,
      description: "Input mode"
    },
    pattern: {
      type: String,
      description: "Input Pattern"
    },
    label: {
      type: String,
      description: "Input label (text before input)"
    },
    errorMessage: {
      type: String,
      description: "Input label (text before input)"
    },
    warningMessage: {
      type: String,
      description: "Input label (text before input)"
    },
    error: {
      type: Boolean,
      description: "Input error (below input)"
    },
    successMessage: {
      type: String,
      description: "Input success message",
      default: "Looks good!"
    },
    labelClasses: {
      type: String,
      description: "Input label css classes",
      default: "form-control-label"
    },
    inputClasses: {
      type: String,
      description: "Input css classes"
    },
    inputGroupClasses: {
      type: String,
      description: "Input group css classes"
    },
    value: {
      type: [String, Number],
      description: "Input value"
    },
    type: {
      type: String,
      description: "Input type",
      default: "text"
    },
    appendIcon: {
      type: String,
      description: "Append icon (right)"
    },
    prependIcon: {
      type: String,
      description: "Prepend icon (left)"
    }
  },
  data() {
    return {
      focused: false
    };
  },
  computed: {
    getBtnColor() {
      return this.btnClass !== "" ? "white" : "gray";
    },
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue,
        focus: this.onFocus,
        blur: this.onBlur
      };
    },
    slotData() {
      return {
        focused: this.focused,
        error: this.error,
        ...this.listeners
      };
    },
    hasIcon() {
      const { append, prepend } = this.$slots;
      return (
        append !== undefined ||
        prepend !== undefined ||
        this.appendIcon !== undefined ||
        this.prependIcon !== undefined ||
        this.group
      );
    }
  },
  methods: {
    submitValue(evt) {
      let value = evt.target.value;
      this.$emit("submit-val", value);
    },
    updateValue(evt) {
      let value = evt.target.value;
      this.$emit("input", value);
    },
    onFocus(evt) {
      this.focused = true;
      this.$emit("focus", evt);
    },
    onBlur(evt) {
      this.focused = false;
      this.$emit("blur", evt);
    }
  }
};
</script>
<style>

.invalid {
  border: 2px solid #f5365c !important;
}

.warning-feedback {
  color: #FC9F3F;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 85%;
}

.is-warning {
  border-color: #FC9F3F !important;
}

.error {
  color: #f5365c;
  font-size: 85%;
}

</style>
