<template>
  <div
    class="dropzone mb-3 dz-clickable"
    :class="[multiple ? 'dropzone-multiple': 'dropzone-single']"
  >
    <div class="fallback">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="projectCoverUploads" :multiple="multiple" />
        <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
      </div>
    </div>
    <div
      class="dz-preview dz-preview-single"
      v-if="!multiple"
      :class="previewClasses"
      ref="previewSingle"
    >
      <div class="dz-preview-cover">
        <img class="dz-preview-img" data-dz-thumbnail />
      </div>
    </div>
    <ul
      v-else
      class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush"
      :class="previewClasses"
      ref="previewMultiple"
    >
      <li class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <img class="avatar-img rounded" data-dz-thumbnail />
            </div>
          </div>
          <div class="col ml--3">
            <h4 class="mb-1" data-dz-name>...</h4>
            <p class="small text-muted mb-0" data-dz-size>...</p>
          </div>
          <div class="col-auto">
            <button data-dz-remove="true" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
const INITIAL = 0,
  LOADING = 1,
  SUCCESS = 2,
  FAILED = 3,
  NOTIFICATIONS = [
    {
      title: "Success",
      color: "#50c0b4"
    },
    {
      title: "Warning",
      color: "#f59938"
    },
    { title: "Danger", color: "#e2342f" }
  ],
  MAX_FILE_SIZE = 500000;
export default {
  name: "dropzone-file-upload",
  props: {
    options: {
      type: Object,
      default: () => ({})
    },
    value: [String, Object, Array],
    url: {
      type: String,
      default: "http://"
    },
    multiple: Boolean,
    previewClasses: [String, Object, Array]
  },
  model: {
    prop: "value",
    event: "change"
  },
  data() {
    return {
      currentFile: null,
      files: [],
      showList: false,
      errors: [],
      status: null, // INITIAL, LOADING, SUCCESS, FAILED
      output: []
    };
  },
  watch: {
    files (val) {
      let lastImage = val.length - 1
      setTimeout(() => {
        if (val[lastImage] && (val[lastImage].height > 1200 || val[lastImage].width > 1200)) {
          this.files = []
          this.disableBtn()
        } else {
          this.$emit('file-status', false)
        }
      }, 200)
    }
  },
  computed: {
    isInitial() {
      return this.status === INITIAL;
    },
    isLoading() {
      return this.status === LOADING;
    },
    isSuccess() {
      return this.status === SUCCESS;
    },
    isFailed() {
      return this.status === FAILED;
    }
  },
  methods: {
    getMimeTypeSignature(data) {
      const uint = new Uint8Array(data);
      let bytes = [];
      uint.forEach(byte => {
        bytes.push(byte.toString(16));
      });
      return bytes.join("").toUpperCase();
    },
    // Sanitizes file's name
    sanitizeFileName(name) {
      return name
        .replace(/\.[^/.]+$/, "")
        .replace(/[^a-z0-9]/gi, "_")
        .toLowerCase();
    },
    // Add duration to upload
    resolveAfterTime(time) {
      return x => {
        return new Promise(resolve => setTimeout(() => resolve(x), time));
      };
    },
    // Resets upload
    reset() {
      this.status = INITIAL;
      this.errors = [];
      this.output = [];
    },
    // Copies to clipboard
    copy(e) {
      const selector = e.target.getAttribute("data-selector"),
        element = document.querySelector(`.${selector} pre code`),
        text = element.innerText || element.textContent,
        tmp = document.createElement("textarea");
      document.body.appendChild(tmp);
      tmp.value = text;
      tmp.select();
      try {
        document.execCommand("copy");
      } catch (err) {
        throw err;
      }
      document.body.removeChild(tmp);
      this.triggerToast("Copied successfully!", NOTIFICATIONS[0]);
    },
    // Triggers notification
    triggerToast(message, status) {
      const toast = document.querySelector(".toast"),
        toastText = document.createElement("span"),
        toastBadge = document.createElement("span");
      toast.innerHTML = "";
      toastBadge.classList.add("toast-badge", status.title.toLowerCase());
      toastText.classList.add("toast-text");
      toastText.innerHTML = message;
      toastBadge.innerHTML = status.title;
      toast.appendChild(toastBadge);
      toast.appendChild(toastText);
      toast.classList.add("visible");
      if (toast.classList.contains("visible")) {
        setTimeout(() => {
          toast.classList.remove("visible");
          toast.innerHTML = "";
        }, 3000);
      }
    },
    // Shows errors
    flashErrors(errors) {
      if (errors.length === 2) {
        this.triggerToast(
          "File upload failed due to size and type!",
          NOTIFICATIONS[2]
        );
      } else {
        this.triggerToast(errors[0].message, errors[0].type);
      }
    },
    disableBtn () {
      document.getElementsByClassName('dz-preview-img')[0].src = "#"
      this.$emit('file-status', true)
    },

    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader(),
          readerBase64 = new FileReader(),
          blob = file.slice(0, 4);
        reader.readAsArrayBuffer(blob);
        reader.onloadend = e => {
          let isValidMimeType = this.checkMimetype(
            this.getMimeTypeSignature(e.target.result)
          );
          if (
            this.bytesToMegabytes(file.size) >
            this.bytesToMegabytes(MAX_FILE_SIZE)
          ) {
            this.errors.push({
              message: "File size is too large!",
              type: NOTIFICATIONS[1]
            });
          }
          if (isValidMimeType === false) {
            this.errors.push({
              message: "File type is not supported!",
              type: NOTIFICATIONS[2]
            });
          }
          if (this.errors.length > 0) {
            this.flashErrors(this.errors);
            this.reset();
            return;
          } else {
            readerBase64.readAsDataURL(file);
          }
        };
        readerBase64.onloaded = () => {
          let res = readerBase64.result;
          resolve(res);
          this.$emit('base64-image', res)
        };
        reader.onerror = error => reject(error);
        readerBase64.onerror = error => reject(error);
      });
    },
    bytesToMegabytes(bytes) {
      return 10;
    },
    checkMimetype(signature) {
      const signatures = [
        "89504E47", // image/png
        "47494638", // image/gif
        "FFD8FFDB", // image/jpeg
        "FFD8FFE0",
        "FFD8FFE1",
        "FFD8FFE2",
        "FFD8FFE3",
        "FFD8FFE8",
        "3C3F786D", // svg/xml
        "3C737667"
      ];
      return signatures.includes(signature);
    },

    async initDropzone() {
      let Dropzone = await import("dropzone");
      Dropzone = Dropzone.default || Dropzone;
      Dropzone.autoDiscover = false;
      let preview = this.multiple
        ? this.$refs.previewMultiple
        : this.$refs.previewSingle;
      let self = this;
      let finalOptions = {
        ...this.options,
        url: this.url,
        thumbnailWidth: null,
        thumbnailHeight: null,
        previewsContainer: preview,
        previewTemplate: preview.innerHTML,
        maxFiles: !this.multiple ? 1 : null,
        acceptedFiles: !this.multiple ? "image/*" : null,
        init: function() {
          this.on("addedfile", function(file) {
            if (!self.multiple && self.currentFile) {
              // this.removeFile(this.currentFile);
            }
            self.currentFile = file;
          });
        }
      };
      this.dropzone = new Dropzone(this.$el, finalOptions);
      preview.innerHTML = "";
      let evtList = [
        "drop",
        "dragstart",
        "dragend",
        "dragenter",
        "dragover",
        "addedfile",
        "removedfile",
        "thumbnail",
        "error",
        "processing",
        "uploadprogress",
        "sending",
        "success",
        "complete",
        "canceled",
        "maxfilesreached",
        "maxfilesexceeded",
        "processingmultiple",
        "sendingmultiple",
        "successmultiple",
        "completemultiple",
        "canceledmultiple",
        "totaluploadprogress",
        "reset",
        "queuecomplete"
      ];
      evtList.forEach(evt => {
        this.dropzone.on(evt, data => {
          this.$emit(evt, data);

          if (evt === "addedfile") {
            this.files.push(data);
            this.$emit("change", this.files);
            this.fileToBase64(this.files[0])
          } else if (evt === "removedfile") {
            let index = this.files.findIndex(
              f => f.upload.uuid === data.upload.uuid
            );
            if (index !== -1) {
              this.files.splice(index, 1);
            }
            this.$emit("change", this.files);
          }
        });
      });
    }
  },
  async mounted() {
    this.initDropzone();
  }
};
</script>
<style>
</style>
