<template>
  <div>
    <div class="tags-input__wrapper">
      <el-tag
        v-for="(tag, index) in dynamicTags"
        :key="tag + index"
        size="small"
        :type="tagType"
        :closable="true"
        :close-transition="false"
        @close="handleClose(tag)"
      >{{ tag.customer }}</el-tag>
    </div>
  </div>
</template>

<script>
import { Tag } from "element-ui";
import swal from "sweetalert2";
export default {
  name: "tags-input",
  components: {
    [Tag.name]: Tag
  },
  props: {
    value: {
      type: Array,
      default: () => [],
      description: "List of tags"
    },
    deletable: {
      type: Boolean,
      default: true,
      description: "Can delete a tag"
    },
    tagType: {
      type: String,
      default: "primary",
      description: "Tag type (primary|danger etc)"
    }
  },
  model: {
    prop: "value",
    event: "change"
  },
  data() {
    return {
      dynamicTags: [],
      inputVisible: false,
      inputValue: "",
      confirm: false
    };
  },
  methods: {
    showSwal(tag) {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.confirmClose(tag);
      });
    },
    confirmClose(tag) {
      this.$emit("delete-membership", tag.id);
    },
    handleClose(tag) {
      if(!this.deletable) return
      this.showSwal(tag);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue && !this.dynamicTags.includes(inputValue)) {
        this.dynamicTags.push(inputValue);
        this.$emit("change", this.dynamicTags);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    onInput(evt) {
      this.$emit("input", evt.target.value);
    }
  },
  created() {
    this.$watch(
      "value",
      newVal => {
        this.dynamicTags = [...newVal];
      },
      { immediate: true }
    );
  }
};
</script>
