<template>
  <div v-if="company !== null">
    <base-nav class="navbar-top bg-success" id="navbar-main">
      <!-- Search form -->
      <!-- <base-button class="center">Marketplace</base-button> -->

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-md-auto">
        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" @click="toggleSidebar">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <base-button type="danger">Add New Order</base-button>
        </li> -->
        <li class="nav-item dropdown">
          <router-link to="/checkout" class="dropdown-item">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ><i class="ni ni-cart"></i>
            </a>
          </router-link>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <base-dropdown class="nav-link pr-0" :menuOnRight="false" >
            <div class="media align-items-center" slot="title">
              <a href="#!" class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" :src="company.image" />
              </a>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm text-grey font-weight-bold">{{company.title}}</span>
              </div>
            </div>

            <template>
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <router-link to="/profile" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>Settings</span>
              </router-link>
              <router-link v-if="isAdmin" to="/memberships" class="dropdown-item">
                <i class="fas fa-users"></i>
                <span>Memberships</span>
              </router-link>
              <router-link v-if="isAdmin" to="/tax_settings" class="dropdown-item">
                <i class="ni ni-collection"></i>
                <span>Tax Settings</span>
              </router-link>
              <router-link v-if="isAdmin" to="/delivery_settings" class="dropdown-item">
                <i class="fa fa-truck"></i>
                <span>Delivery Settings</span>
              </router-link>
              <router-link v-if="isAdmin" to="/integrations" class="dropdown-item">
                <i class="ni ni-spaceship"></i>
                <span>Integrations</span>
              </router-link>              
              <div class="dropdown-divider"></div>
              <router-link to="/select_company" class="dropdown-item">
                <i class="ni ni-shop"></i>
                <span>Switch Companies</span>
              </router-link>
              <div @click="signOut()" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </div>
            </template>
          </base-dropdown>
        </li>
      </ul>
    </base-nav>
    <div>
      <!-- <modal size="lg" body-classes="p-0" :show="getDisplayInviteUserModal">
        <invite-user-modal></invite-user-modal>
      </modal> -->
    </div>
  </div>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";
import { BaseNav, Modal } from "@/components";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    CollapseTransition,
    BaseNav,
    Modal
  },
  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    },
    isRTL() {
      return this.$rtl.isRTL;
    }
  },
  data() {
    return {
      activeNotifications: false,
      showMenu: true,
      windowWidth: 0,
      searchModalVisible: false,
      searchQuery: ""
    };
  },

  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);
      //Init
      this.getWindowWidth();
    });
  },
  methods: {
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },
    ...mapActions({
      signOut: "user/signOut",
      toggleInviteUserModal: "modals/toggleInviteUserModal"
    }),
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    }
  },
  computed: {
    ...mapGetters({
      getDisplayCustomClientSelect: "modals/getDisplayCustomClientSelect",
      getDisplayInviteUserModal: "modals/getDisplayInviteUserModal",
      isAdmin: "user/isAdmin",
      company: "companies/getCurrentCompany",
    }),
    showNav() {
      return this.$sidebar.showSidebar;
    },
  }
};
</script>
<style scoped>
.ml--16 {
  margin-left: -16em !important;
}
.dropdown-item:hover{
  cursor: pointer;
}
</style>

