<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar background-color="success" short-title="Orderbly" title="Orderbly">
      <template slot="links">
        <!-- <base-dropdown v-if="!isFulfilmentStaff" class="ml-4 mt--4">
          <base-button slot="title-container" outline type="secondary" class="align-items-center ml-5 dropdown-toggle text-center col-md-6 mb-2">
            {{isMarketplace ? 'Marketplace' : 'Fulfillment'}}
            <i style="font-size: 10px;" class="fa fa-arrow-down ml-2"></i>
          </base-button>
          <a @click="setMarketplace()" v-if="!isMarketplace" class="dropdown-item" href="#">Marketplace</a>
          <a @click="setFulfillment()" v-if="!isFulfilment" class="dropdown-item" href="#">Fulfillment</a>
        </base-dropdown> -->
      <marketplace-sidebar :staffRole="currentUser.role" :isSupplier="isSupplier" v-if="isMarketplace"></marketplace-sidebar>
      <fulfilment-sidebar :staffRole="currentUser.role" :isSupplier="isSupplier" v-if="isFulfilment"></fulfilment-sidebar>
      </template>
      <template slot="links-after">
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <hr class />
            <a v-if="isFulfilment && currentUser.role !== 2" @click="setMarketplace()" class="nav-link sub-menu-item">
              <i class="ni ni-shop"></i>
              <span>Go To Marketplace</span>
            </a>
            <a v-if="isMarketplace && isSupplier" @click="setFulfillment()" class="nav-link">
              <i class="fa fa-truck-loading"></i>
              <span>Go To Fulfilment</span>
            </a>
          </li>
          <li class="nav-item">
            <router-link to="/select_company" class="nav-link">
              <i class="fas fa-random"></i>
              <span>Switch Companies</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/profile" class="nav-link">
              <i class="ni ni-single-02"></i>
              <span>Profile</span>
            </router-link>
          </li>
          <li v-if="this.$mq == 'mobile' " class="nav-item">
            <router-link to="/profile" class="nav-link">
              <i class="ni ni-curved-next"></i>
              <span>Logout</span>
            </router-link>
          </li>
        </ul>
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
  </div>
</template>
<script>
import DashboardNavbar from "./DashboardNavbar.vue";
import Calendar from "../Calendar/Calendar";
import ContentFooter from "./ContentFooter.vue";
import { FadeTransition } from "vue2-transitions";
import { mapActions, mapGetters } from "vuex";
import { setCookie, getCookie } from '../../constants/cookies'
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
export default {
  components: {
    tabs: Tabs,
    "tab-pane": Tab,
    DashboardNavbar,
    ContentFooter,
    Calendar,
    FadeTransition,
    'marketplace-sidebar': () => import('./components/MarketplaceSidebar'),
    'fulfilment-sidebar': () => import('./components/FulfilmentSidebar')
  },
  data() {
    return {
      sidebarBackground: "vue", //vue|blue|orange|green|red|primary
      isMarketplace: true,
      isFulfilment: false,
      displayDropdown: true,
      unpermittedDriverRoutes: ["suppliers", "dashboard", "purchases", "sales", "supplier_statements", "customer_statements"]
    };
  },
  computed: {
    isFulfilmentStaff () {
      return this.currentUser.role == 2
    },
    ...mapGetters({
      isSupplier: "companies/isSupplier",
      currentUser: "user/currentUser"
    })
  },
  methods: {
    setFulfillment () {
      this.isMarketplace = false
      this.isFulfilment = true
      this.$router.push('/my_deliveries')
      setCookie('home', 'my_deliveries', 10)
    },
    setMarketplace () {
      this.isMarketplace = true
      this.isFulfilment = false
      this.$router.push('/dashboard')
      setCookie('home', 'dashboard', 10)
    },
    ...mapActions({
      logout: "user/signOut"
    }),
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  },
  watch: {
    currentUser (val) {
      if (val.role == 2) {
        this.displayDropdown = false,
        this.isMarketplace = false,
        this.isFulfilment = true
      }
    }
  },
  mounted () {
    if (this.currentUser) {
      if (this.currentUser.role == 2) {
        this.displayDropdown = false,
        this.isMarketplace = false,
        this.isFulfilment = true
      } else {
        if (getCookie('home') === 'my_deliveries') {
          this.$router.push('/my_deliveries')
          this.isMarketplace = false
          this.isFulfilment = true
        } 
      }
    }
  }
};
</script>
<style lang="scss">
.nav-link:hover,
.logout-btn:hover{
  cursor: pointer;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
}
</style>
