<template>
  <div>
    <nav class="mobile-bottom-nav">
      <div @click="goTo('liveRoute')" :class="pageStyle('liveRoute')" class="mobile-bottom-nav__item mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
          Live Route
        </div>
      </div>
      <div @click="goTo('allRoutes')"  :class="pageStyle('allRoutes')" class="mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
          All Routes
        </div>
      </div>
      <div @click="newAddress()" class="mobile-bottom-nav__item">
        <div class="mobile-bottom-nav__item-content">
          Add Destination
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        pageType: 'liveRoute'
      }
    },
    methods: {
      newAddress() {
        this.$emit('new-address')
      },
      pageStyle (route) {
        return route == this.pageType ? 'text-green' : ''
      },
      goTo(page) {
        this.pageType = page
        this.$emit('change-page', page)
      }
    }
  }
</script>
<style lang="scss" scoped>
.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color:#fff;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__item--active{
		//dev
		color:red;
	}
	&__item-content{ 
		display:flex;
		flex-direction:column;		
	}
}
</style>