<template>
  <div>
    <div class="page-header ml-4">
      <h3 class="mb-0 mt-4">Product Price Books</h3>
    </div>
    <base-button v-if="permissions.pricing_settings.can_create_pricebook" type="primary" @click="toggleNewPriceBookModal()" class="ml-4 mt-4">New Price Book</base-button>
    <price-book-table title="Light Table"></price-book-table>
    <modal :modalName="'PriceBookMembershipModal'" :show="getNewPriceBookModal" size="sm" body-classes="p-0">
      <new-price-book-modal></new-price-book-modal>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    "price-book-table": () => import("../components/tables/PriceBookTable"),
    "new-price-book-modal": () => import("../components/modals/NewPriceBook")
  },
  methods: {
    ...mapActions({
      fetchAllPriceBooks: "priceBooks/fetchAllPriceBooks",
      toggleNewPriceBookModal: "modals/toggleNewPriceBookModal",
    })
  },
  computed: {
    ...mapGetters({
      permissions: "user/userPermissions",
      getNewPriceBookModal: "modals/getNewPriceBookModal"
    })
  },

  mounted() {
    this.fetchAllPriceBooks();
  }
};
</script>

<style lang="scss" scoped>
</style>

