<template>
  <div>
    <base-button
      type="primary"
      v-if="permissions.pricing_settings.can_create_pricebook_membership"
      @click="togglePriceBookMembershipModal()"
      class="ml-4 mb-2 mt-4"
    >New Price Book Membership</base-button>
    <div v-if="displayTable">
      <price-book-detail title="Light Table"></price-book-detail>
    </div>
    <modal
      :modalName="'PriceBookMembershipModal'"
      :show="getPriceBookMembershipModal"
      size="sm"
      body-classes="p-0"
    >
      <new-price-book-membership v-if="getPriceBookMembershipModal"></new-price-book-membership>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["discount_book_id"],
  components: {
    "price-book-detail": () => import("../components/tables/PriceBookDetails"),
    "new-price-book-membership": () =>
      import("../components/modals/PriceBookMembershipModal")
  },
  computed: {
    ...mapGetters({
      priceBookDiscounts: "priceBooks/priceBookDiscounts",
      getPriceBookMembershipModal: "modals/getPriceBookMembershipModal",
      permissions: "user/userPermissions"
    }),
    displayTable() {
      return this.priceBookDiscounts.length > 0;
    }
  },
  methods: {
    ...mapActions({
      fetchPriceBookDiscounts: "priceBooks/fetchPriceBookDiscounts",
      togglePriceBookMembershipModal: "modals/togglePriceBookMembershipModal"
    })
  },

  mounted() {
    if (this.$route.params.discount_book_id) {
      let discount_book_id = parseInt(this.$route.params.discount_book_id);
      this.fetchPriceBookDiscounts({ discount_book_id });
    } else {
      window.location("/price_books");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

