<template>
  <div id="checkout">
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-xl-6 order-xl-2 mb-2 mb-xl-0">
          <div class="card">
            <CartTable v-if="$mq != 'mobile'" type="light" title="Dark Table" :checkoutPage="true" :active-supplier-balance="getActiveSupplierBalance" />
            <MobileCartTable v-else class="ml-0" @click.prevent  type="light" title="Dark Table"/> 
          </div>
        </div>
        <div v-if="confirmDetails" class="col-xl-6 order-xl-1">
          <CheckoutForm @go-to-card="displayConfirmCard" />
        </div>
        <div v-if="confirmCard" class="col-xl-6 order-xl-1">
          <CheckoutCard @go-to-details="displayDetails" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CheckoutForm from "../components/forms/CheckoutForm";
import CheckoutCard from "../components/cards/CheckoutCard";
import { CartTable } from "../../Cart/index";
import { MobileCartTable } from "../../Cart/index";
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    CartTable,
    CheckoutForm,
    CheckoutCard,
    MobileCartTable
  },
  props: ["company"],
  name: "user-profile",
  data() {
    return {
      products: [],
      confirmDetails: true,
      confirmCard: false,
      confirmOrder: false,
      title: "Hello Jesse"
    };
  },
  methods: {
    showProductModal(product) {
      this.product = product;
      this.toggleProductModal();
    },
    displayDetails() {
      this.confirmDetails = true;
      this.confirmCard = false;
      this.confirmOrder = false;
    },
    displayConfirmCard() {
      this.confirmDetails = false;
      this.confirmCard = true;
      this.confirmOrder = false;
    },
    ...mapActions({
      fetchSupplierProducts: "products/fetchSupplierProducts",
      toggleProductModal: "companies/toggleProductModal"
    })
  },
  computed: {
    ...mapGetters({
      getAllProducts: "products/getAllSupplierProducts",
      displayProduct: "modals/getDisplayProductModal",
      getActiveSupplierBalance: "companies/getActiveSupplierBalance",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      activeSupplier: "cart/getActiveSupplier",
      cartProducts: "cart/cartProducts"
    }),
    items() {
      return this.getAllProducts();
    },
    isSelectedAll() {
      return this.selectedItems.length >= this.items.length;
    }
  },
  mounted () {
    document.body.style.overflow = "visible";
    document.getElementById('checkout').scrollIntoView({
        behavior: 'smooth'
      });
    this.$store.dispatch('companies/fetchActiveSupplierBalance' )
    if (this.cartProducts.length > 0) {
      this.$store.dispatch('mixpanel/mixpanelTrack', {track: 'visit_checkout', obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          supplier_id: this.activeSupplier,
          '$referring_domain': window.location.origin
      }})
    }
  },
  watch: {}
};
</script>
<style></style>
