<template>
  <div>
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Total Sales Value"
          type="gradient-red"
          :sub-title="totalSales"
          :currency="true"
          icon="ni ni-active-40"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Average Sales Value"
          type="gradient-orange"
          :sub-title="averageOrderValue"
          :currency="true"
          icon="ni ni-chart-pie-35"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Number of sales"
          type="gradient-green"
          :sub-title="numberOfSales"
          icon="ni ni-money-coins"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Number of Customers"
          type="gradient-info"
          :sub-title="orderCustomers"
          icon="ni ni-chart-bar-32"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ['sales'],
  computed: {

    ...mapGetters({
      saleFilterDates: "orders/saleFilterDates",
      averageOrderValue: "orders/averageOrderValue"
    }),

    totalSales() {
      let total = 0
      this.sales.forEach(sale => {
        total += sale.value
      });
      return total || 0
    },

    numberOfSales () {
      return this.sales.length || 0
    },

    averageOrderValue () {
      if (this.totalSales !== null && this.numberOfSales !== null) {
        return this.totalSales / this.numberOfSales || 0 
      } else {
        return  0
      }
    },

    orderCustomers() {
      let customers = []
      if (this.numberOfSales > 0) {
        this.sales.forEach(o => {
          if (!customers.includes(o.customer_id)) {
            customers.push(o.customer_id)
          }
        })
      }
      return customers.length || 0
    }
  }
};
</script>

<style lang="scss" scoped>
</style>