<template>
  <div>
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Total order value"
          type="gradient-red"
          :sub-title="totalPurchases"
          :currency="true"
          icon="ni ni-active-40"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Average order value"
          type="gradient-orange"
          :sub-title="averageOrderValue"
          :currency="true"
          icon="ni ni-chart-pie-35"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Number of purchases"
          type="gradient-green"
          :sub-title="numberOfPurchases"
          icon="ni ni-money-coins"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-3 col-lg-6">
        <stats-card
          title="Number of Suppliers"
          type="gradient-info"
          :sub-title="orderSuppliers"
          icon="ni ni-chart-bar-32"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ['purchases'],
  computed: {

    ...mapGetters({
      allOrders: "orders/allOrders",
      orderSuppliers: "orders/orderSuppliers",
    }),

    totalPurchases() {
      let total = 0
      if (this.purchases) {
        this.purchases.forEach(purchase => {
          total += purchase.value
        });
      }
      return total || 0
    },

    numberOfPurchases () {
      return this.purchases ? this.purchases.length : 0
    },

    averageOrderValue () {
      if (this.totalPurchases !== null && this.numberOfPurchases !== null) {
        return this.totalPurchases / this.numberOfPurchases || 0 
      } else {
        return  0
      }
    },

    orderSuppliers() {
      let suppliers = []
      if (this.numberOfPurchases > 0) {
        this.purchases.forEach(o => {
          if (!suppliers.includes(o.supplier.id)) {
            suppliers.push(o.supplier.id)
          }
        })
      }
      return suppliers.length || 0
    }
  }
};
</script>

<style lang="scss" scoped>
</style>