<template>
  <div class="product-grid col-md-12">
    <div class="card shadow">
      <div class="col-md-12 row">
        <div class="col-md-4 mt-4">
          <base-input label="Filter by category">
            <el-select filterable v-model="searchTags" multiple placeholder="Select">
              <el-option
                v-for="item in productTags"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </base-input>
        </div>
        <base-input label="Search Products" class="mt-4 col-md-8">
        <base-input v-model="searchTitle" placeholder="Search Products . . ." />
        </base-input>
      </div>
    </div>
    <!-- Grid and List view buttons -->

    <div id="product-list">
      <base-button v-on:click="isGrid=true" type="primary">
        <i class="fas fa-th"></i>
      </base-button>
      <base-button v-on:click="isGrid=false" type="primary">
        <i class="fas fa-list"></i>
      </base-button>

      <!-- Product card view​ -->

      <div v-if="isGrid === true" class="card-deck mt-3">
        <card v-for="(productItem, index) in listProducts" :key="index" body-classes="p-0">
          <div class="row mx-0 h-100">
            <div class="col p-4">
              <h2 @click="openProductModal(productItem)" class="card-title">{{productItem.product.title}}</h2>
              <p @click="openProductModal(productItem)" class="card-text" v-html="productItem.product.description"></p>
            </div>
            <div class="col px-0" v-if="productItem.product.image">
              <div @click="openProductModal(productItem)" class="rounded-right h-100 w-100" :style="{'background-image': `url(${productItem.product.image})`}"></div>
            </div>
          </div>
        </card>
      </div>

      <!-- Product list view -->
      <div v-else>
          <div v-for="(productItem, index) in allProducts" :key="index">
            <ul v-if="!!productItem.product_variants.length" class="list-group mt-3" >
              <li class="list-group-item" style="background: snow;">
                <h3 class="mb-1 ml-3">{{productItem.product.title}}</h3>
                <div class="row" id="variant-headings">
                    <div class="col-4 col-sm-4 col-md-4">
                        <small class="mb-0 ml-3">Variant Description</small>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2"> 
                        <small class="mb-0 ml-3">Available Stock</small>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2">
                      <small class="mb-0 ml-4">Price</small>
                    </div>
                    <div class="col-2 col-sm-2 col-md-4">
                        <small class="mb-0 ml-4">Cart Quantity</small>
                    </div>
                </div>
              </li>
              <li v-for="(variant, index) in productItem.product_variants" :key="index" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-md-4 ml-0">
                  <h4 class="mb-0">
                      <a @click="openProductModal(productItem)">{{variant.description}}</a>
                  </h4> 
                   <!--MOBILE ONLY-->
                  <div id="variant-price-quantity-mobile">
                    <small v-if="variant.gross_amount > 0"> Price: R{{variant.gross_amount}} </small>
                    <small v-else>Price is not available</small>
                    | 
                    <small v-if="variant.track_stock === true">Stock: {{variant.available_stock}} </small>
                    <small v-else>Stock available</small>
                  </div>
                </div>  
                <div class="col-md-2 ml-2" id="variant-stock">
                  <h4 v-if="variant.track_stock === true" class="mb-0">
                    <badge class="badge-stock-text" v-if="variant.available_stock <= 10 && variant.available_stock > 0" type="warning"> {{variant.available_stock}}</badge>
                    <badge class="badge-stock-text" v-if="variant.available_stock > 10" type="success">{{variant.available_stock}}</badge>
                    <badge class="badge-stock-text" v-if="variant.available_stock == 0" type="danger">Out of stock</badge>
                  </h4> 
                  <div v-else class="h-10" >
                    <el-tooltip content="Stock is not tracked on this item" placement="left">
                      <badge class="badge-stock-text" type="info">∞</badge>
                    </el-tooltip>
                  </div>
                </div>
                <div class="col-md-2 ml-2" id="variant-price">
                  <small v-if="variant.gross_amount > 0">R{{variant.gross_amount}}</small>
                  <small v-else>Price is not available for this variant</small>
                  </div>
                <div class="col-md-4 mt-2 h-50 align-center">
                  <div>
                      <quick-select-input :key="key" :identifier="index" :product-variant="variant" :product="productItem.product">{{variant}}</quick-select-input>
                    </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
     

    <div v-if="!isGrid" class="card-footer py-4 d-flex justify-content-end">
        <base-pagination @click.native="resetKey()" align="center" :page-count="pageCount" v-model="pagination.default"></base-pagination>
    </div>
    <modal :show="displaySelectProductModal" size="xl" body-classes="p-0">
      <SelectProductModal v-if="displaySelectProductModal" :product="productSortedByVariants" />
    </modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option, InputNumber, Tooltip } from 'element-ui'
import { SelectProductModal } from "../../../Products/index";
import { vsCard, vsButton } from 'vuesax'
export default {
  name: "projects-table",
  props: ["product", "companyId"],
  components: {
    'quick-select-input': () => import('../widget/QuickSelectInput'),
    SelectProductModal,
    'vs-card': vsCard,
    'vs-button': vsButton,
    [Select.name]: Select, 
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    [InputNumber.name]: InputNumber 
  },
  data() {
    return {
      isGrid: true,
      key: 0,
      pagination: {
        default: 1
      },
      filterVolume: 5,
      searchTitle: "",
      searchTags: [],
      displayModal: true,
      activeProduct: null,
      selectModal: false,
      modals: {
        classic: false,
        notice: false,
        form: false
      },
      form: {
        quantity: ""
      },
      type: "light"
    };
  },
  methods: {
    resetKey() {
      this.key += 1
      document.getElementById('product-list').scrollIntoView({
        behavior: 'smooth'
      });
    },
    ...mapActions({
      toggleSelectProductModal: "modals/toggleSelectProductModal",
      fetchAllTaxes: "tax/fetchAllTaxes"
    }),
    notifyVue(type = "default") {
      this.$notify({
        message: `${this.activeProduct.title} - added to cart`,
        timeout: 2000,
        icon: "ni ni-bell-55",
        type
      });
    },

    trackEvent() {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'prooduct_select',
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          product_title: this.product.title,
          product_id: this.product.uuid,
          supplier: this.companyId,
          '$referring_domain': window.location.origin
        }
      })
    },

    openProductModal(product) {
      this.activeProduct = product
      this.$store.dispatch("products/fetchVariantsByProduct", product.product.id);
      this.toggleSelectProductModal();
      this.trackEvent()
    },
    arrayChecker (target, filterTags) {
      return filterTags.every(v => target.includes(v))
    },

    validateSearch(string, searchQuery, variants) {
      let productTitleMatch = string.toLowerCase().includes(searchQuery.toLowerCase())
      let variant_flat = [].concat.apply([], variants).map((v) => v.description.toLowerCase().includes(searchQuery.toLowerCase()))
      return  productTitleMatch || variant_flat.includes(true)
    },

    addToCart() {
      let product = {};
      product["quantity"] = parseInt(this.form.quantity);
      product["net_price"] = this.activeProduct.net_price;
      product["vat_price"] = this.activeProduct.vat_price;
      product["gross_price"] = this.activeProduct.gross_price;
      product["supplier_id"] = this.activeProduct.company_id;
      product["product_id"] = this.activeProduct.id;
      product["title"] = this.activeProduct.title;
      this.notifyVue("info");
      this.$store.dispatch("cart/modifyCart", product);
    }
  },
  computed: {
    pageCount () {
      if (this.listProducts !== null && this.listProducts !== null ) {
        return Math.ceil(this.listProducts.length / this.filterVolume)
      } 
      return 1
    },
    minValue () {
      return (this.pagination.default * this.filterVolume) - this.filterVolume
    },
    maxValue () {
      return this.pagination.default * this.filterVolume
    },
    allProducts () {
      if (this.listProducts !== null && this.listProducts !== undefined ) {
        return this.listProducts.filter((product) => !!product.product_variants.length).slice(this.minValue, this.maxValue)
      }
    },
    productTags () { 
      let tags = []
      if (this.product) {
        this.product.map(product => product.tags.forEach(tag => tags.push(tag)))
        return tags.filter((v, i, a) => a.indexOf(v) === i);
      }
    },

    productSortedByVariants () {
      if (this.activeProduct) {
        // retutrn this.activeProduct.product_variants.sort((a, b) =>  b.id - a.id )
        return this.activeProduct
      }
    },

    isSearching() {
      return this.searchTitle !== "" ? true : false;
    },

    listProducts() {
      if (this.searchTitle == "" && this.searchTags.length == 0) {
        return this.product 
      } else if (this.searchTitle !== "" && this.searchTags.length == 0) {
        return this.product.filter(p => this.validateSearch(p.product.title, this.searchTitle, p.product_variants))
      } else if (this.searchTitle == "" && this.searchTags.length > 0) {
        return this.product.filter(p =>  this.arrayChecker(p.tags, this.searchTags));
      } else if (this.searchTitle !== "" && this.searchTags.length > 0) {
        return this.product.filter(p => 
          (this.validateSearch(p.product.title, this.searchTitle, p.vroduct_variants)) && this.arrayChecker(p.tags, this.searchTags)
        );
      }
    },

    ...mapGetters({
      getActiveProduct: "products/getActiveProduct",
      displaySelectProductModal: "modals/displaySelectProductModal",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser"
    })
  },

  created() {
    this.fetchAllTaxes();
    this.$store.dispatch("products/fetchSupplierProducts", this.$route.params.title);
  }

};
</script>
<style lang="scss">
.badge-stock-text {
  font-size: 80% !important;
}

.list-group-item.active {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: #32325d;
}
.list-group {
  list-style:none !important;
}
.product-grid .fixed-col {
  width: 182px;
}

.product-grid .card-img-top:hover,
.product-grid .card-title:hover,
.product-grid .card-text:hover,
.product-grid .card-body .rounded-right {
  cursor: pointer;
}
.product-grid .card-deck {
  margin-right: -2%;
  margin-left: -2%;  
}
.product-grid .card-deck .card {
  -ms-flex: 0 0 29.333333%;
  flex: 0 0 29.333333%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
  height: 182px;
}

.product-grid .card-title {
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-grid .card-text {
  font-size: 0.8rem;
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-grid .card-text p,
.product-grid .card-text h1,
.product-grid .card-text h2,
.product-grid .card-text h3, 
.product-grid .card-text h4,
.product-grid .card-text h5,
.product-grid .card-text h6 {
  font-size: 0.8rem;
}


@media screen and (min-width:1440px) {
  .product-grid .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .product-grid .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
  }
  .product-grid .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .product-grid .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
  }
  .product-grid .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .product-grid .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%
  }
  .product-grid .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .product-grid .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .product-grid .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%
  }
  .product-grid .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .product-grid .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .product-grid .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%
  }
  #variant-price-quantity-mobile {
  display: none
 }
}

@media screen and (min-width: 960px) and (max-width: 1439px) {
  .product-grid .card-deck .card {
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
  }
  #variant-price-quantity-mobile {
  display: none
 }
}

@media (max-width: 991px) {
  .product-grid .card-deck {
    margin-right: 0;
    margin-left: 0;
  }
  .product-grid .card-deck .card {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 959px) {
  .product-grid .card-deck .card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.product-grid .card-body .rounded-right {
    background-size: contain;
    background-repeat: no-repeat;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    background-position: 100%;
}

.product-grid .card-title {
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-grid .card-text {
  font-size: 0.8rem;
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}
.product-grid .card-text p,
.product-grid .card-text h1,
.product-grid .card-text h2,
.product-grid .card-text h3, 
.product-grid .card-text h4,
.product-grid .card-text h5,
.product-grid .card-text h6 {
  font-size: 0.8rem;
}
.product-grid .card-text p {
  margin-bottom:0;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .product-grid .card-title {
    -webkit-line-clamp: 1;
  }
  .product-grid .card-text {
    -webkit-line-clamp: 4;
    max-height: 80%;
  }
}

@media screen and (min-width: 871px) {
  #variant-price-quantity-mobile {
  display: none
 }
}

@media screen and (max-width: 870px) {
  #variant-headings {
    display: none
  }
  #variant-stock{
    display: none
  }
  #variant-price{
    display: none
  }
  .el-input-number{
    max-width: 130px;
    border: none;
    font-weight: 900;
  }
}

.h-10 {
  max-height: 20px;
  min-height: 20px;
}
</style>