<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
        <div class="col-md-12 row">
          <div class="col-md-4 mt-4">
            <base-input label="Filter by category">
              <el-select filterable v-model="searchTags" multiple placeholder="Select">
                <el-option
                  v-for="item in productTags"
                  :key="item"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </base-input>
          </div>
          <base-input label="Search Products" class="mt-4 col-md-8">
          <base-input v-model="searchTitle" placeholder="Search Products . . ." />
          </base-input>
        </div>
    </div>

    <div class="col-md-4">
      <div class="card row">
        <div class="col-md-4">
          <img style="height:120px;width:120px" class="ml--3 product-card-img" src="https://hips.hearstapps.com/hmg-prod/images/20190503-delish-pineapple-baked-salmon-horizontal-ehg-450-1557771120.jpg"/>
        </div>
        <div class="col-md-8">
          <h2 @click="openProductModal(productItem)" class="card-title mt-2">Product Title</h2>
          <p @click="openProductModal(productItem)" class="card-text product-card-text mb-2 mt--3">product title product title product titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct titleproduct title</p>
        </div>
      </div>
    </div>

    <card class="col-md-4">
    <!-- Card body -->
    <div class="row align-items-center">
        <div class="col-auto">
            <!-- Avatar -->
            <a href="#" class="avatar avatar-xl card-img-top  ">
                <img alt="Image placeholder" src="https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/team-2.jpg">
            </a>
        </div>
        <div class="col ml--2">
            <h2 class="mb-0">Product Title</h2>
            <p class="text-sm text-muted mb-0">Working remoteley</p>
        </div>
      </div>
    </card>

    <!-- <div class="card-deck">
      <card v-for="(productItem, index) in listProducts" :key="index">
        <div class="row">
          <div class="col-md-3">
            <div slot="image" @click="openProductModal(productItem)" class="card-img-top" :style="{'background-image': `url(${productItem.product.image})`}">
          </div>
          <div class="col-md-9">
            <h2 @click="openProductModal(productItem)" class="card-title">{{productItem.product.title}}</h2>
            <p @click="openProductModal(productItem)" class="card-text">{{productItem.product.description}}</p>
          </div>
            <card v-if="!productItem.has_stock" style="float:right;height:19%" class="mr-0 mt-2 mb--1" type="warning right text-white text-right align-items-center">
              <h4 class=" mt--3 text-white"><strong> Out of Stock</strong></h4>
            </card>
          </div>
        </div> 
      </card>
    </div> -->

    <modal :show="displaySelectProductModal" size="lg" body-classes="p-0">
      <SelectProductModal v-if="displaySelectProductModal" :product="productSortedByVariants" />
    </modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option } from 'element-ui'
import { SelectProductModal } from "../../../Products/index";
export default {
  name: "projects-table",
  props: ["product", "companyId"],
  components: { SelectProductModal, [Select.name]: Select, [Option.name]: Option },
  data() {
    return {
      searchTitle: "",
      searchTags: [],
      displayModal: true,
      activeProduct: null,
      selectModal: false,
      modals: {
        classic: false,
        notice: false,
        form: false
      },
      form: {
        quantity: ""
      },
      type: "light"
    };
  },
  methods: {
    ...mapActions({
      toggleSelectProductModal: "modals/toggleSelectProductModal",
      fetchAllTaxes: "tax/fetchAllTaxes"
    }),

    notifyVue(type = "default") {
      this.$notify({
        message: `${this.activeProduct.title} - added to cart`,
        timeout: 2000,
        icon: "ni ni-bell-55",
        type
      });
    },

    trackEvent() {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'prooduct_select',
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          product_title: this.productItem.product.title,
          product_id: this.productItem.product.uuid,
          supplier: this.companyId,
          '$referring_domain': window.location.origin
        }
      })
    },

    openProductModal(product) {
      this.activeProduct = product
      this.$store.dispatch("products/fetchVariantsByProduct", product.product.id);
      this.toggleSelectProductModal();
      this.trackEvent()
    },

    arrayChecker (target, filterTags) {
      return filterTags.every(v => target.includes(v))
    },

    validateSearch(string, searchQuery) {
      return string.toLowerCase().includes(searchQuery.toLowerCase())
    },

    addToCart() {
      let product = {};

      product["quantity"] = parseInt(this.form.quantity);
      product["net_price"] = this.activeProduct.net_price;
      product["vat_price"] = this.activeProduct.vat_price;
      product["gross_price"] = this.activeProduct.gross_price;
      product["supplier_id"] = this.activeProduct.company_id;
      product["product_id"] = this.activeProduct.id;
      product["title"] = this.activeProduct.title;
      this.notifyVue("info");
      this.$store.dispatch("cart/modifyCart", product);
    }
  },
  computed: {
    productTags () { 
      let tags = []
      if (this.product) {
        this.product.map(product => product.tags.forEach(tag => tags.push(tag)))
        return tags.filter((v, i, a) => a.indexOf(v) === i);
      }
    },

    productSortedByVariants () {
      if (this.activeProduct) {
        // retutrn this.activeProduct.product_variants.sort((a, b) =>  b.id - a.id )
        return this.activeProduct
      }
    },

    isSearching() {
      return this.searchTitle !== "" ? true : false;
    },

    listProducts() {
      if (this.searchTitle == "" && this.searchTags.length == 0) {
        return this.product 
      } else if (this.searchTitle !== "" && this.searchTags.length == 0) {
        return this.product.filter(p => this.validateSearch(p.product.title, this.searchTitle) || this.validateSearch(p.product.description, this.searchTitle));
      } else if (this.searchTitle == "" && this.searchTags.length > 0) {
        return this.product.filter(p =>  this.arrayChecker(p.tags, this.searchTags));
      } else if (this.searchTitle !== "" && this.searchTags.length > 0) {
        return this.product.filter(p => 
          (this.validateSearch(p.product.title, this.searchTitle) || this.validateSearch(p.product.description, this.searchTitle)) && this.arrayChecker(p.tags, this.searchTags)
        );
      }
    },

    ...mapGetters({
      getActiveProduct: "products/getActiveProduct",
      displaySelectProductModal: "modals/displaySelectProductModal",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser"
    })
  },

  created() {
    this.fetchAllTaxes();
    this.$store.dispatch("products/fetchSupplierProducts", this.$route.params.title);
  }

};
</script>
<style lang="scss" scoped>
.card-img-top:hover,
.card-title:hover,
.card-text:hover {
  cursor: pointer;
}
.product-card-img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-img-top {
  height: 200px;
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
  flex-shrink: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-deck {
  margin-right: -2%;
  margin-left: -2%;
}
.card-deck .card {
  -ms-flex: 0 0 29.333333%;
  flex: 0 0 29.333333%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.product-card-text {
  max-height: 50px;
  text-overflow: ellipsis;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card-deck .card {
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
  }
}

@media (max-width: 991px) {
  .card-deck {
    margin-right: 0;
    margin-left: 0;
  }
  .card-deck .card {
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    margin-right: 0;
    margin-left: 2%;
    margin-bottom: 30px;
  }
}

.card-text {
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>