<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
      <!-- Form groups used in grid -->
      <div class="row ml-2 mr-2">
        <div class="col-md-12">
          <div class="row">
            <base-input v-model="searchTitle" class="mt-4 col-md-8" placeholder="Search for Suppliers" />
            <el-select
                multiple
                class="select-primary col-md-4 mt-4"
                v-model="activeCat"
                placeholder="Select Category">
              <el-option 
                v-for="option in categories"
                class="select-primary"
                :value="option.value"
                :label="option.name"
                :key="option.name">
              </el-option>
            </el-select>
          </div>
          <div class="card-deck mt-4">
            <card 
              v-for="(supplier, index) in listSuppliers"
              :key="index" 
              body-classes="p-0"
            >
              <router-link
                class="text-default"
                :to="{ name: 'suppliersDetail', params: { title: supplier.title.split(' ').join('_'), company: supplier}}"
              >
                <div class="card-img-top" :style="{'background-image': `url(${supplier.image})`}"></div> 
                <h2 class="card-title pt-4 px-4">{{supplier.title}}</h2>
                <div class="pb-4 px-4">
                  <p v-if="supplier.first_address.address_one" class="card-text d-inline-block mb-1">{{supplier.first_address.address_one}}</p>
                  <p v-if="supplier.first_address.address_one" class="card-text d-inline-block mb-1 mx-1">|</p>
                  <p v-if="supplier.first_address.suburb" class="card-text d-inline-block mb-1"> {{supplier.first_address.suburb}}</p>
                  <p v-if="supplier.first_address.suburb" class="card-text d-inline-block mb-1 mx-1">|</p>
                  <p v-if="supplier.first_address.city" class="card-text d-inline-block mb-1"> {{supplier.first_address.city}}</p>
                </div>
              </router-link>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { Select, Option } from 'element-ui'
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
export default {
  name: "projects-table",
  components: {
    tabs: Tabs,
    "tab-pane": Tab,
    [Select.name]: Select,
    [Option.name]: Option
  },
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      triggerIndex: 0,
      activeCat: [],
      allCat: true,
      categories: [
        {value: 'All', name: 'All'},
        {value: 'Alcohol', name: 'Alcohol'},
        {value: 'Baked', name: 'Baked Goods'},
        {value: 'Beverages', name: 'Beverages'},
        {value: 'Coffee', name: 'Coffee'},
        {value: 'General', name: 'General'},
        {value: 'Meat', name: 'Meat & Poultry'},
        {value: 'Milk', name: 'Milk & Alternatives'},
        {value: 'Speciality', name: 'Speciality'},
        {value: 'Sauces', name: 'Sauces'},
      ],
      searchTitle: ""
    };
  },
  methods: {
    toggleNavPill () {
      if (this.allCat) {
        this.allCat = false
        document.getElementsByClassName('nav-pills')[0].classList.add('hidden')
      } else {
        this.allCat = true
        document.getElementsByClassName('nav-pills')[0].classList.remove('hidden')
      }
    },
    setCategory (title) {
      this.activeCat = title
    },
    printRes (res) {
      console.log(res)
    }
  },
  computed: {
    categoryList () {
      if (this.allCat) {
        this.triggerIndex += 1
        return this.categories
      } else {
        this.triggerIndex += 1
        return [this.categories.find(c => c.name == this.activeCat)]
      }
    },
    isSearching() {
      return this.searchTitle !== "" ? true : false;
    },
    companyByCategory () {
      if (this.activeCat.includes('All') || !this.activeCat.length) return this.allSuppliers
      let list = []
       this.allSuppliers.filter(s => {
          let isValid = []
          s.category_list.filter(category => isValid.push(this.activeCat.includes(category)))
          if (isValid.includes(true)) list.push(s)
        })
        return list
    },
    listSuppliers() {
      if (this.isSearching) {
        return this.companyByCategory.filter(s =>
          s.title.toLowerCase().includes(this.searchTitle.toLowerCase())
        );
      } else {
        return this.companyByCategory;
      }
    },
    ...mapGetters({
      allSuppliers: "companies/getAllSuppliers"
    })
  },
  async created() {
    this.$store.dispatch("companies/fetchAllSuppliers")
    .then((res) => {

    })
    .catch((err) => {
      this.$notify({
        message: `This could not be completed `,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type: 'warning'
      });
    })
  },
  mounted() {
     if (this.$mq == 'mobile') document.getElementsByClassName('nav-pills')[0].style.display = 'none'; 
  }
};
</script>

<style>
.card-img-top {
  height: 200px;
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
  flex-shrink: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-deck {
  margin-right: -2%;
  margin-left: -2%;
}
.card-deck .card {
  -ms-flex: 0 0 29.333333%;
  flex: 0 0 29.333333%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
}
@media screen and (min-width: 960px) and (max-width: 1263px) {
  .card-deck .card {
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
  }
}

@media (max-width: 959px) {
  .card-deck {
    margin-right: 0;
    margin-left: 0;
  }
  .card-deck .card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.tab {
  border-radius: 10px;
  font-size: 12px;
}

.active-tab {
  color: white;
  background-color: #FF4C4E;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}
 
.el-select__tags {
  margin-top: -0.5em;
}
@media (max-width: 575px) {
  .el-select__tags {
    margin-top: -0em !important;
  }
}

.el-tag--info {
  color: white !important;
  background: #172b4d !important;
}

.el-tag__close.el-icon-close {
    background-color:white;
    right: -7px;
    top: 0;
    color: #172b4d;
}

</style>