<template>
  <div>
    <el-input-number 
      :key="key"
      :disabled="!permissions.marketplace_settings.can_create_orders"
      :id='`variant-${identifier}`' 
      class="quantitySelector"
      @focus="updateOldQuantity"
      :precision="2"
      :step="1"
      @change="validateBalance" 
      @keydown.prevent
      v-model="quantity" 
      :min="0" 
      :max="availableQuantity + quantity"
    ></el-input-number>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import {InputNumber} from 'element-ui'
import swal from "sweetalert2";
export default {
  props: ["productVariant", 'product', 'identifier'],
  components: {
    [InputNumber.name]: InputNumber
  },
  data() {
    return {
      key: 0,
      quantity: 0,
      oldQuantity: 0,
      originalStock: 0,
    };
  },
  computed: {
      determineStockErrorMessage() {
      if (this.productVariant && this.productVariant.trackStock) {
        return this.quantity > this.productVariant.available_stock
          ? "We cannot fullfill the requested stock."
          : null;
      }
      return null;
    },
    ...mapGetters({
      activeCart: "cart/getCart",
      cartTotal: "cart/cartTotal",
      currentCompany: "companies/getCurrentCompany",
      currentCredit: "companies/getCurrentCredit",
      currentAccontBalane: "companies/getCurrentAccontBalane",
      displaySupplierDetailsModal: "modals/displaySupplierDetailsModal",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      availableBalance: "creditLimits/availableBalance",
      permissions: "user/userPermissions"
    }),
    availableQuantity () {
      if (this.productVariant ) {
        if (this.productVariant.track_stock) {
          return this.productVariant.available_stock
        } else {
          return Infinity 
        }
      } else {
        0
      }
    },
  },
  methods: {
    updateOldQuantity(val) {
      this.oldQuantity = val.target.value
    },
    validateNumber (evt, trackStock, stockLimit) {
      this.$options.filters.isNumber(evt)
      if(trackStock) this.validateStockInput(evt, stockLimit)
    },

    validateBalance(val, oldVal) {
       if (val === '' || val === undefined || this.quantity === 0) {
        this.resetStock()
        this.quantity = 0
        this.key += 1
        return
      }
      let totalItemCost = val * parseFloat(this.productVariant.gross_amount)
      if (totalItemCost - (oldVal * this.productVariant.gross_amount) + this.cartTotal + this.accountBalance < this.accountLimit) {
        this.addToCart()
      } else {
        swal({
          title: `Insufficient balance, please note your available your balance is ${this.$options.filters.currency(this.availableBalance)}`,
          html: '<h4 style="color:#595959">Please pay your account to increase your availible balance or contact your supplier to increase your credit limit.</h4>',
          type: "warning",
          showConfirmButton: false,
          showCancelButton: true,
          cancelButtonColor: "#aaaaaa",
          cancelButtonText: 'Take me back'
        }).then(result => {
            // this.resetStock()
            this.quantity = this.oldQuantity
            this.key += 1
            return
        });
      return false
      }
    },

    resetStock () {
      this.$store.dispatch("cart/deleteProductFromCart", this.productVariant.id)
      this.productVariant.available_stock = this.productVariant.original_stock
    },
    addToCart(val, oldVal) {
      if (!this.determineStockError && this.quantity > 0) {
        let variant = {
          available_stock: this.productVariant.original_stock,
          track_stock: this.productVariant.track_stock,
          product_id: this.productVariant.product_id,
          product_name: this.product.title,
          company_id: this.product.company_id,
          product_variant: this.productVariant.description,
          product_variant_id: this.productVariant.id,
          quantity: this.quantity,
          unit_amount: parseFloat(this.productVariant.unit_amount),
          tax_amount: parseFloat(this.productVariant.tax_amount)
        };
        this.$store.dispatch('cart/addBackStock', variant.product_variant_id)
        this.$store.dispatch("cart/deleteProductFromCart", this.productVariant.id)
        .then((res)=>{
          this.$store.dispatch("cart/modifyQuickSelectCart", variant);
        })
      }
    },
    updateVariantStock () {
      if (this.activeCart.length == 0) {
        this.quantity = 0
        } 
      if (this.activeCart.length > 0){
        let cartItem = this.activeCart.find((item) => item.product_variant_id === this.productVariant.id)
        if (cartItem !== null && cartItem !== undefined && cartItem.quantity !== undefined) {
          this.quantity = cartItem.quantity
        } else {
           this.quantity = 0
        }
      } 
    }
  },
  watch: {
    cartTotal(val) {
      this.updateVariantStock()
    }
  },
  mounted () {
    this.updateVariantStock()
  }
}
</script>

<style>
</style>