<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
    <base-input label="Search products" v-model="productSearch" class="ml-4 mr-4 mb-4"></base-input>
    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        :class="type === 'dark' ? 'table-dark': ''"
        :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
        tbody-classes="list"
        :data="allProducts"
      >
        <template slot="columns">
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th v-if="permissions.product_settings.can_edit_product">Active</th>
        </template>

        <template slot-scope="{row}">
          <td @click="openEditModal(row)">
            <img class="avatar avatar-xl" :src="row.image" />
          </td>

          <td @click="openEditModal(row)">
            <badge class="badge-dot mr-4" :type="row.title">
              <span>
                {{row.title}}
                <small
                  class="text-muted"
                >{{row.got_variants ? `Variants ${row.product_variants.length}`: ""}}</small>
              </span>
            </badge>
          </td>
          <td class="product-description" @click="openEditModal(row)">
            <badge class="badge-dot mr-4" :type="row.description">
              <span class="standard-text" v-html="row.description" @click="openEditModal(row)"></span>
            </badge>
          </td>

          <td v-if="permissions.product_settings.can_edit_product" class="text-right">
            <base-switch @input="toggleActiveProduct(row.id)" v-model="row.is_active"></base-switch>
          </td>
        </template>
      </base-table>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "products-index-table",
  components: {},
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      activeProduct: null,
      productSearch: "",
      fetchedProducts: false,
      modals: {
        form: true
      }
    };
  },
  computed: {
    allProducts () {
      if (this.productSearch == "" ) {
        return this.getProducts
      } else {
        return this.getProducts.filter(product =>  product.title.toLowerCase().includes(this.productSearch.toLowerCase()) )
      }
    },
    ...mapGetters({
      getProducts: "products/getProducts",
      permissions: "user/userPermissions",
      currentCompany: "companies/getCurrentCompany"
    }),
  },
  methods: {
    toggleActiveProduct (id) {
      this.$store.dispatch("products/toggleActiveProduct", id)
    },
    openEditModal(item) {
      this.$router.push(`/edit_product/${item.uuid}`)
    },
    deleteProduct(id) {
      this.$store.dispatch("products/deleteProduct", id);
    },
    ...mapActions({
      fetchAllProducts: "products/fetchAllProducts",
      fetchAllTags: "tags/fetchAllTags"
    })
  },
  watch: {
    currentCompany(val) {
      if (!this.fetchedProducts && val !== null && !!val.length ) {
        this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id)
      }
    }
  },
  mounted() {
    if (this.currentCompany && this.currentCompany.id) {
      this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id).then((res) => {
        this.fetchedProducts = true
      })
    }
    this.fetchAllTags();
  }
};
</script>
<style lang="scss">
.list td:hover {
  cursor: pointer;
}
.standard-text {
  h1, h2, h3, h4, h5 {
    font-weight: 100;
    font-size: 15px !important;
  }
}

.product-description .badge {
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.product-description .badge {
  white-space: normal;
  text-align: left;
}
</style>
