<template>
  <div>
  <SupplierDetailHeader :company="activeSupplier" />
    <div class="row">
      <!-- <div class="col-xl-5 order-xl-2 mb-5 mb-xl-0">
        <CartTable type="light" title="Dark Table" />
      </div> -->
      <div class="col-12 ml-4 mr-4">
        <ProductGrid
          :product="activeProducts"
          :companyId="this.$route.params.title"
        />
        <!-- <ProductMobileTable
          v-show="this.$mq === 'mobile'"
          :products="getAllProducts"
          :companyId="this.$route.params.title"
        /> -->
        <!-- <Chat></Chat> -->
        <div v-if="permissions.marketplace_settings.can_create_orders" class="col-md-5 mt-4">
          <CartBalloon :click-outside="false" type="light" title="Dark Table" class="fixed-bottom"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ProductGrid, ProductMobileTable } from "../index";
import { SupplierDetailHeader } from "../index";
import CartBalloon from "../../Cart/components/balloons/CartBalloon";
import { mapGetters, mapActions } from "vuex";
import { Select, Option, InputNumber, Tooltip } from 'element-ui'
export default {
  components: {
    ProductGrid,
    [Select.name]: Select, 
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    CartBalloon,
    SupplierDetailHeader,
    ProductMobileTable
  },
  props: ["company"],
  name: "user-profile",
  data() {
    return {
      searchTitle: '',
      searchTags: [],
      trackEvent: false,
      products: [],
      title: "Hello Jesse",
      detail:
        "This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks",
      model: {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        address: "",
        city: "",
        country: "",
        zipCode: "",
        about: ""
      }
    };
  },
  methods: {
    arrayChecker (target, filterTags) {
      return filterTags.every(v => target.includes(v))
    },
    validateSearch(string, searchQuery) {
      return string.toLowerCase().includes(searchQuery.toLowerCase())
    },
    showProductModal(product) {
      this.product = product;
      this.toggleProductModal();
    },
    ...mapActions({
      fetchSupplierProducts: "products/fetchSupplierProducts",
      toggleProductModal: "companies/toggleProductModal",
      fetchCompanyByTitle: "companies/fetchCompanyByTitle"
    }),
    hideModal(refname) {
      this.$refs[refname].hide();
    },
    changeDisplayMode(displayType) {
      this.displayMode = displayType;
    },
    changePageSize(perPage) {
      this.perPage = perPage;
    },
    changeOrderBy(sort) {
      this.sort = sort;
    },
    trackPageEvent() {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'supplier_view',
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          supplier: this.$route.params.title,
          '$referring_domain': window.location.origin
        }
      })
    }
  },
  watch: {
    currentUser (val) {
      if (val !== null && this.currentCompany  !== null && !this.trackEvent) {
        this.trackEvent = true
        this.trackPageEvent()
      }
    },
    currentCompany (val) {
      if (val !== null && this.currentUser !== null && !this.trackEvent) {
        this.trackEvent = true
        this.trackPageEvent()
      }
    },
  },
  mounted() {
    if (this.currentUser !== null && this.currentCompany !== null) {
      this.trackPageEvent()
    }
    if (!this.company) {
      this.$store.dispatch(
        "companies/fetchCompanyByTitle",
        this.$route.params.title
      );
    }
  },
  computed: {
    
    activeProducts () {
      if (this.searchTitle == "" && this.searchTags.length == 0) {
        return this.getAllProducts 
      } else if (this.searchTitle !== "" && this.searchTags.length == 0) {
        return this.getAllProducts.filter(p => this.validateSearch(p.product.title, this.searchTitle) || this.validateSearch(p.product.description, this.searchTitle));
      } else if (this.getAllProducts == "" && this.searchTags.length > 0) {
        return this.product.filter(p =>  this.arrayChecker(p.tags, this.searchTags));
      } else if (this.searchTitle !== "" && this.searchTags.length > 0) {
        return this.getAllProducts.filter(p => 
          (this.validateSearch(p.product.title, this.searchTitle) || this.validateSearch(p.product.description, this.searchTitle)) && this.arrayChecker(p.tags, this.searchTags)
        );
      }
    },
    ...mapGetters({
      getAllProducts: "products/getAllSupplierProducts",
      displayProduct: "modals/getDisplayProductModal",
      currentSupplier: "companies/currentSupplier",
      currentUser: "user/getCurrentUser",
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
    }),
    productTags () { 
      let tags = []
      if (this.getAllProducts) {
        this.getAllProducts.forEach(product => product.tags.forEach(tag => tags.push(tag)))
        return tags.filter((v, i, a) => a.indexOf(v) === i);
      }
    },
    activeSupplier() {
      return this.company ? this.company : this.currentSupplier;
    },
    items() {
      return this.getAllProducts();
    },
    isSelectedAll() {
      return this.selectedItems.length >= this.items.length;
    }
  }
};
</script>
<style>
  .fixed-bottom {
    right: 20px;
    bottom: 20px;
    left: auto;
    width: 50px;
    height: 50px;
  }
</style>