<template>
  <div>
    <div class="container-fluid">
      <cart-modal></cart-modal>
      <div class="page-header">
        <h3 class="mb-0 mt-4">Marketplace</h3>
      </div>
      <div class="row">
        <div class="col-12 mt-4">
          <SupplierIndexGrid title="Light Table" />
        </div>
        <div v-if="permissions.marketplace_settings.can_create_orders" class="col-md-5 mt-4">
          <CartBalloon type="light" title="Dark Table" class="fixed-bottom"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CartBalloon from "../../Cart/components/balloons/CartBalloon";
import Card from "../../../components/Cards/Card";
import { SupplierHeader, SupplierIndexGrid } from "../index";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "tables",
  computed: {
    ...mapGetters({
      permissions: "user/userPermissions",
    })
  },
  components: {
    'cart-modal': () => import('../components/modals/CartModal'),
    Card,
    CartBalloon,
    SupplierIndexGrid,
    SupplierHeader
  }
};
</script>
<style>
  .fixed-bottom {
    right: 20px;
    bottom: 20px;
    left: auto;
    width: 50px;
    height: 50px;
  }
</style>
