<template>
  <div class="card-body">
    <ul class="list-group list-group-flush list my--3">
      <li v-for="(row, index) in listProviders"
          :key="index"
          class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col ml--2">
              <h4 class="mb-0">
                  <a href="#!">{{row.title}}</a>
              </h4>
          </div>
          <div v-if="permissions.integration_settings.can_add_integration" class="col-auto">
              <base-button v-if="row.status !== 'Enabled'" @click="oauthPopout(row)" class="ml-4" size="sm" type="success">Connect</base-button>
              <base-button v-else @click="disconnect(row.integration)" class="ml-4" size="sm" type="danger">Disconnect</base-button>
              <base-button :disabled="row.status !== 'Enabled'" @click="configure(row.integration)" class="ml-4" size="sm" type="success">Setup</base-button>
          </div>
        </div>
      </li>
    </ul>
    <modal :show="getIntegrationModal" :size="'xl'">
      <configuration-modal :provider="provider"></configuration-modal>
    </modal>

    <modal :show="showOptimo" :size="'lg'" @close="showOptimo = false">
      <optimo-modal @submit="submitOptimo" />
    </modal>

    <modal :show="displaySageModal" :size="'lg'">
      <sage-login-modal v-if="getSageIntegrationModal"  :provider="provider"></sage-login-modal>
      <sage-company-select-modal v-if="getSageCompanySelectModal" :provider="provider"></sage-company-select-modal>
      <sage-configuration-modal v-if="getSageConfigurationModal" :provider="provider"></sage-configuration-modal>
    </modal>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
export default {
  components: {
    "configuration-modal": () => import("../modals/ConfigurationModal"),
    "sage-login-modal": () => import("../modals/sageLoginModal"),
    "sage-company-select-modal": () => import("../modals/sageCompanySelect"),
    "sage-configuration-modal": () => import("../modals/SageConfigurationModal"),
    "optimo-modal": () => import("../modals/OptimoModal")
  },
  data() {
    return {
      provider: null,
      newWindow: null,
      showOptimo: false,
      channel: null,
      initializedPusher: false
    };
  },
  methods: {
    notify (message, type) {
      this.$notify({
        message: message,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: type
      });
    },

    pusherAction () {
      let channel = this.$pusher.subscribe("integrations");
      channel.bind(`company_${this.currentCompany.id}`, result => {
        if (result) {
          this.$store.dispatch("integrations/fetchIntegrationProviders");  
          this.notify('Your account has been successfully integrated', 'success')
        } else {
          this.notify('Your account could not be integrated. Please try again or contact support should the persist.', 'danger')
        }
      });
    },

    oauthPopout(provider) {
      if (provider.category == 'accounting') {
        if (this.hasExistingAccountingIntegration) {
          this.$notify({
            message: 'You can not have more than one accounting integration at a time. Please disable an existing integration and try again.',
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: 'danger'
          });
        } else {
          this.connect(provider)
        }
      } else {
        this.connect(provider)
      }
    },
    connect(provider) {
      if (provider.integration == 'xero') {
        this.provider = provider
        this.$store.dispatch("oauth/fetchAuthorizeUrl", { provider: provider.integration, companyId: this.currentCompany.id });
      } else if (provider.integration == 'sage') {
        this.$store.commit('sage/toggleSageIntegrationModal')
      } else if (provider.integration == 'tradegecko') {
        this.$store.dispatch("oauth/fetchAuthorizeUrl", { provider: provider.integration, companyId: this.currentCompany.id });
      } else if (provider.integration == 'optimo') {
        this.showOptimo = true
      }
    },
    disconnect(provider) {
      if (provider == 'xero') {
        swal({
          title: "Are you sure you want to disconnect your Xero account?",
          text: "You are able to reconnect your account at any time.",
          type: "warning",
          confirmButtonColor: "#5e62e4",
          confirmButtonText: "Confirm",
          showCancelButton: true,
          cancelButtonColor: "#d33",
          cancelButtonText: "Cancel",
        })
        .then(result => {
          if (result.value) {
            this.$store.dispatch("xero/disconnectXero", this.currentCompany.uuid).then((res) => {
              this.$store.dispatch("integrations/fetchIntegrationProviders")
            })
          }
        })
        } else if (provider == 'optimo') {
          this.disableOptimo({ companyUuid: this.currentCompany.uuid })
        } else if (provider == 'sage') {
        swal({
          title: "Are you sure you want to disconnect your Sage account?",
          text: "You are able to reconnect your account at any time.",
          type: "warning",
          confirmButtonColor: "#5e62e4",
          showCancelButton: true,
          cancelButtonColor: "#d33",
          cancelButtonText: "Cancel",
          confirmButtonText: "Confirm"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('sage/disconnectSage', this.currentCompany.uuid).then((res) => {
              this.$store.dispatch("integrations/fetchIntegrationProviders")
            })
          }
        });
      } else if (provider == 'tradegecko') {
        swal({
          title: "Are you sure you want to disconnect your TradeGecko account?",
          text: "You are able to reconnect your account at any time.",
          type: "warning",
          confirmButtonColor: "#5e72e4",
          showCancelButton: true,
          cancelButtonColor: "#d33",
          cancelButtonText: "Cancel",
          confirmButtonText: "Confirm"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('tradeGecko/disconnect', this.currentCompany.uuid).then((res) => {
              this.$store.dispatch("integrations/fetchIntegrationProviders")
            })
          }
        });
      }
    },
    configure(provider) {
      this.provider = provider
      if (this.provider === 'xero') {
        this.$store.dispatch("xero/fetchConfigurations");
        this.toggleIntegrationModal()
      } else if (this.provider === 'sage') {
        this.$store.dispatch('sage/fetchSageConfigurations', this.currentCompany.uuid )
        this.$store.dispatch('sage/fetchAccounts', this.currentCompany.uuid )
        this.$store.commit('sage/toggleSageConfigurationModal')
      }
    },
    ...mapActions({ 
      toggleIntegrationModal: "integrations/toggleIntegrationModal",
      enableOptimo: 'integrations/enableOptimo',
      disableOptimo: 'integrations/disableOptimo',
    }),
    submitOptimo(apiKey) {
      this.enableOptimo({ apiKey, companyUuid: this.currentCompany.uuid }).then(() => {
        this.showOptimo = false
      })
    }
  },
  computed: {
    hasExistingAccountingIntegration () {
      return this.listProviders.filter(list => list.category == "accounting" && list.status == "Enabled").length > 0
    },
    displaySageModal () {
      return this.getSageIntegrationModal || this.getSageCompanySelectModal || this.getSageConfigurationModal
    },
    ...mapGetters({
      authorize_url: "oauth/authorizeUrl",
      listProviders: "integrations/integrationProviders",
      getIntegrationModal: "integrations/getIntegrationModal",
      permissions: "user/userPermissions",
      getSageIntegrationModal: "sage/getSageIntegrationModal",
      getSageCompanySelectModal: "sage/getSageCompanySelectModal",
      getSageConfigurationModal: "sage/getSageConfigurationModal",
      currentCompany: 'companies/getCurrentCompany'
    }),
  },
  beforeDestroy () {
    this.channel = null
  },
  watch: {
    currentCompany (val) {
      if (this.currentCompany && this.currentCompany.id && !this.initializedPusher) {
        this.pusherAction()
        this.initializedPusher = true
      }
    },
    authorize_url(value) {
      if(value) {
        setTimeout(() => {
          this.newWindow = window.open(value, this.provider, 'height=600,width=450')
          this.newWindow.focus()
          this.$store.commit("oauth/clearAuthorizeUrl")      
        }, 2000)
      }
    }
  },
  mounted () {
    if (this.currentCompany && this.currentCompany.id) {
      this.pusherAction()
      this.initializedPusher = true
    }
  }
};
</script>
<style></style>
