<template>
  <div>
    <base-input class="mt-2 col-md-12 text-center" label="Select Sage Client">
      <el-select
        class="select-danger col-auto"
        placeholder="Select Sage Client"
        v-model="contactId"
      >
        <el-option
          v-for="contact in contacts"
          class="select-danger"
          :value="contact.ID"
          :label="contact.Name"
          :key="contact.ID"
        ></el-option>
      </el-select>
    </base-input>
    <div class="text-center">
      <base-button :loading="isLoading" :disabled="contactId == null" @click="sync()" type="success">Sync</base-button>
      <base-button @click="close()" type="danger">Close</base-button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import { Select, Option } from "element-ui";
  export default {
    props: {
      orderType: {
        type: String,
        required: true
      }
    },
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    data () {
      return {
        type: '',
        contactId: null,
        contacts: [],
        isLoading: false
      }
    },
    computed: {
    ...mapGetters({
      order: "integrations/accountOrder",
      allContacts: "xero/allContacts",
      apiResponse: "xero/apiResponse",
      currentCompany: "companies/getCurrentCompany"
    })
  },
    methods: {
      close () {
        this.$store.dispatch("integrations/toggleAccountingModal")
      },
      handleResponse(message="The order could not be synced with Sage One", type="danger") {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
        this.$store.dispatch("integrations/toggleAccountingModal")
        this.isLoading = false
      },

      fetchSuppliers() {
        this.$store.dispatch('sage/fetchSageSuppliers', this.currentCompany.uuid)
        .then((res) => {
          this.contacts = res.data
        })
        .catch((err) => {
          console.log(err)
        })
      },

      fetchCustomers () {
        this.$store.dispatch('sage/fetchSageCustomers', this.currentCompany.uuid)
        .then((res) => {
          this.contacts = res.data
        })
        .catch((err) => {
          console.log(err)
        })
      },

      syncSale() {
        this.$store.dispatch('sage/createSageSalesOrder', {orderId: this.order.order_uuid, sageOneSupplierId: this.contactId})
        .then((res) => {
          this.isLoading = false
          res.status == 201 || res.status == 200 ?  this.handleResponse('The order has been successfully synced with Sage One', 'success') : this.handleResponse()
        })
        .catch(() => this.handleResponse() )
      },

      syncPurchase () {
        this.$store.dispatch('sage/createSagePurchaseOrder', {orderId: this.order.order_uuid, sageOneSupplierId: this.contactId})
        .then((res) => {
          this.isLoading = false
          res.status == 201 || res.status == 200 ?  this.handleResponse('The order has been successfully synced with Sage One', 'success') : this.handleResponse()
        })
        .catch(() => this.handleResponse() )
      },

      syncPurchaseReturn () {
        this.$store.dispatch('sage/createSagePurchaseReturn', {creditNoteUuid: this.order.uuid, sageOneSupplierId: this.contactId})
        .then((res) => {
          this.isLoading = false
          res.status == 201 || res.status == 200 ?  this.handleResponse('The order has been successfully synced with Sage One', 'success') : this.handleResponse()
        })
        .catch(() => this.handleResponse() )
      },

      syncSalesReturn () {
        this.$store.dispatch('sage/createSageSalesReturn', {creditNoteUuid: this.order.uuid, sageOneCustomerId: this.contactId})
        .then((res) => {
          this.isLoading = false
          res.status == 201 || res.status == 200 ?  this.handleResponse('The order has been successfully synced with Sage One', 'success') : this.handleResponse()
        })
        .catch(() => this.handleResponse() )
      },

      sync () {
        this.isLoading = true
        this.orderType == "creditNote" ? this.syncCreditNote() : this.syncOrder()
      },

      syncCreditNote () {
        this.order.customer.id === this.currentCompany.id ? this.syncPurchaseReturn() : this.syncSalesReturn()
      },

      syncOrder () {
        this.type == 'purchase' ? this.syncPurchase() : this.syncSale()
      }
    },
    mounted () {
      if (this.order.customer.id == this.currentCompany.id) {
        this.type = 'purchase'
        this.fetchSuppliers()
      } else {
        this.type = 'sale'
        this.fetchCustomers()
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>