<template>
  <div>
    <div class="text-center text-muted mb-4">
      
      <h2>{{ capitalize(name) }}  Accounting: {{ capitalize(account) }}</h2>
    </div>
    <div>
      <base-input label="Account Contact" type="primary">
        <el-select class="col-md-12" filterable v-model="contactId">
          <el-option
            class="col-md-12"
            v-for="(option, index) in allContacts"
            :key="index"
            :value="option.ContactID"
            :label="`${option.Name}  ${option.Firstname ||''} ${option.Lastname || ''}`"
          ></el-option>
        </el-select>
      </base-input>
    </div>
    <div class="text-center">
      <base-button class="ml-4" @click="saveContact" type="primary">Assign Contact</base-button>
      <base-button @click="toggleAccountingModal()" type="danger">Close</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Option, Select } from 'element-ui'
export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  props: {
    name: {
      type: String,
      default: "Xero",
      required: true
    },
    account: {
      type: String,
      default: "Sales",
      required: true
    },
    type: {
      type: String,
      default: "Sales",
      required: true
    }
  },
  data() {
    return {
      contactId: null,
      contacts: []
    };
  },
  mounted () {
    if (!this.allContacts.length) {
      this.toggleLoading(true)
      this.$store.dispatch(`xero/fetchContacts`, this.currentCompany.uuid).then((res) => {
        this.toggleLoading(false)
      })
    }
  },
  methods: {
    toggleLoading (status) {
      if (status) {
        this.isLoading = this.$vs.loading({
          background: this.color,
          color: '#dc3545'
        })
      } else {
        this.isLoading.close()
      }
    },
    toggleAccountingModal () {
      this.$store.dispatch("integrations/toggleAccountingModal")
    },
    capitalize(word) {
      return word[0].toUpperCase() + word.slice(1);
    },
    saveContact() {
      this.toggleLoading(true)
      if (this.type !== "creditNote") {
        let customer = {
          contact: {
            order_id: this.accountOrder.id,
            contact_id: this.contactId
          }
        };    
        this.$store.dispatch("xero/saveContact", customer).then(() => {
          this.toggleLoading(false)
          this.$store.dispatch("integrations/toggleAccountingModal")
        })
      } else {
        let customer = {
          contact: {
            credit_note_id: this.accountOrder.id,
            contact_id: this.contactId
          }
        };
        this.$store.dispatch("xero/saveCreditNoteContact", customer).then(() => {
          this.isLoading.close()
          this.$store.dispatch("integrations/toggleAccountingModal")
        })
      }
    }
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      accountOrder: "integrations/accountOrder",
      allContacts: "xero/allContacts",
      apiResponse: "xero/apiResponse"
    })
  },
  watch: {
    allContacts(value) {
      this.contacts = this.allContacts;
    },
    apiResponse(value) {
      if (!value.hasOwnProperty("type")) {
        return;
      }
      let hasError = value.type == "error";
      if (hasError) {
        this.toggleLoading(false)
        this.$notify({
          message: "There was an error assigning Xero contact",
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "danger"
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
