<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark': ''"
          :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
          tbody-classes="list"
          :data="allConfigurations"
        >
          <template slot="columns">
            <th class="col-md-5">Name</th>
            <th class="col-md-5">Count</th>
          </template>

          <template slot-scope="{row}">
            <td>
                <badge class="badge-dot mr-4" :type="row.name">
                  <span>{{row.name}}</span>
                </badge>
            </td>
            <td>
                <badge class="badge-dot mr-4" :type="row.count">
                  <span>{{row.count}}</span>
                </badge>
            </td>            
          </template>
        </base-table>
      </div>
    </div>
    <div>
      <base-input label="Default Purchase Account" type="primary">
        <select class="form-control" v-model="defaultPurchaseAccount">
          <option v-for="option in purchaseAccounts" :key="option" :value="option.AccountID">
            {{ option.Name }} - {{ option.Code }}
          </option>
        </select>
      </base-input>
    </div>
    <div>
      <base-input label="Default Sales Account" type="primary">
        <select class="form-control" v-model="defaultSalesAccount">
          <option v-for="option in salesAccounts" :key="option" :value="option.AccountID">
            {{ option.Name }} - {{ option.Code }}
          </option>
        </select>
      </base-input>
    </div>
    <div>
      <base-button @click="syncConfig" class="ml-4" size="sm" type="danger">Sync with Xero</base-button>
      <base-button @click="refreshXero" class="ml-4" size="sm" type="primary">Refresh</base-button>
      <base-button @click="saveDefaults" class="ml-4" size="sm" type="success">Save Defaults</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      defaultPurchaseAccount: null,
      defaultSalesAccount: null,
      purchaseAccounts: [],
      salesAccounts: []
    };
  },
  methods: {
    ...mapActions({
      fetchConfigurations: "xero/fetchConfigurations",
      syncConfigurations: "xero/syncConfigurations",
    }),
    syncConfig(){
      let ret = confirm('This action with fetch data from Xero and DELETE all current data stored in the database\nAre you sure you want to continue?')
      if(ret === true) {
        this.$store.dispatch("xero/syncConfigurations")
      }
    },
    refreshXero(){
      this.$store.dispatch("xero/fetchConfigurations")
      this.$store.dispatch("xero/fetchAccounts")
      this.refreshAccounts()
    },
    refreshAccounts() {
      this.purchaseAccounts = this.allAccounts.filter(account => {
        return account.Type === 'DIRECTCOSTS'
      })

      this.salesAccounts = this.allAccounts.filter(account => {
        return account.Type === 'SALES' || account.Type === 'REVENUE'
      })
    },
    saveDefaults(){
      let purchaseAccount = this.allAccounts.find(account => {
        return account.AccountID === this.defaultPurchaseAccount
      })

      let salesAccount = this.allAccounts.find(account => {
        return account.AccountID === this.defaultSalesAccount
      })

      let defaults = { account: { 
        defaultPurchaseAccount: purchaseAccount,
        defaultSalesAccount: salesAccount}
      }
      this.$store.dispatch('xero/saveDefaults', defaults)
    }
  },
  computed: {
    ...mapGetters({
      allConfigurations: "xero/allConfigurations",
      allAccounts: "xero/allAccounts",
      apiResponse: "xero/apiResponse"
    }),
  },
  watch: {
    allAccounts() {
      this.refreshAccounts()
    },
    apiResponse(value) {
      if(!value.hasOwnProperty('type')) {
        return
      }
      let hasError = (value.type == 'error')
      this.$notify({
        message: !hasError ? 'Xero default accounts set successfully' : 'There was an error saving Xero default accounts',
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: !hasError ? "success" : "danger"
      });
    }
  },
  mounted() {
    if (this.allConfigurations.length === 0) {
      this.refreshXero()
    }
  },
  unmounted() {
    this.purchaseAccounts = []
    this.salesAccounts = []
    this.defaultSalesAccount = null
    this.defaultPurchaseAccount = null
  }
};
</script>

<style lang="scss" scoped>
</style>
