<template>
  <div>
    <card
      v-if="!isLoading"
      type="secondary"
      header-classes="bg-transparent pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0"
    >
      <base-input class="mt-2 col-md-12 text-center" label="Select Delivery Personnel">
          <el-select
            class="select-danger col-auto"
            placeholder="Select Delivery Personell"
            v-model="userIds"
          >
            <el-option
              v-for="(driver, index) in members"
              class="select-danger"
              :value="driver.user_id"
              :label="driver.user_name"
              :key="index"
            ></el-option>
          </el-select>
        </base-input>
        <div class="text-center">
          <base-button
            type="primary"
            @click="postDeliveryOrderUser()"
            class="btn-col-md-4 mb-2"
          >Allocate Driver</base-button>
          <base-button
            type="danger"
            @click="closeModal()"
            class="col-md-4 mb-2"
          >Close</base-button>
        </div>
    </card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option } from "element-ui";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
export default {
  props: ['order', 'orderDeliveryIds', 'orderId'],
  components: {
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option
  },
  data() {
    return {
      isLoading: true,
      userIds: [],
      members: []
    };
  },
  methods: {
    async postDeliveryOrderUser () {
      this.$store.dispatch('orders/postDeliveryOrderUser', {users: this.userIds, orders: this.orderDeliveryIds, route: this.$route.name })
      .then((res) => {
        this.$notify({
          message: `Orders have successfully been allocated`,
          timeout: 3500,
          icon: "ni ni-like-2",
          type: 'success'
        })
        this.driverId = null
        this.$emit('clear-filter')
        this.closeModal()
        })
        .catch((err) => {
          this.$notify({
            message: `Request could not be completed`,
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
        })
      })
    },
    closeModal () {
      this.$store.commit('modals/setAllocateDriver')
    }
  },
  async mounted()  {
    await this.$store.dispatch("companies/fetchCompanyMemberships").then((res) => {
      this.members = res
      this.isLoading = false
    })
  }
};
</script>
<style lang="scss">
</style>
