
<template>
  <div>
    <loading-table v-if="isLoading" :rowCount="6"></loading-table>
    <div v-if="!isLoading" type="ml-2 mr-2 mb-0">
      <div class="invoice">
        <div xxs="12" xl="8">
          <div class="invoice-contents text-center mb-2 mr-2">
            <h1>Credit Note {{creditNote.credit_note_number}}</h1>
            <div class="d-flex justify-content-between mt-4 mb-6">

            <div class="col-md-6 text-left">
              <h3 class="mt-2">Supplier</h3>
              <div>
                <small><strong>Billed to:</strong> {{creditNote.supplier.title}}</small><br />
                <div><small><strong>Street Adress:</strong> {{creditNote.supplier.address_one}} </small></div>
                <div><small><strong> City:</strong> {{creditNote.supplier.city}} </small></div>
                <div><small><strong>Postal Code:</strong> {{creditNote.supplier.postal_code}} </small></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="justify-content">
                <h3 class="mt-2 text-right">Customer</h3>
                  <div class="text-right"><small><strong>Customer:</strong> {{creditNote.customer.title}}</small></div>
                  <div class="text-right"><small><strong>Street Adress:</strong> {{creditNote.customer.address_one}} </small></div>
                  <div class="text-right"><small><strong> City:</strong> {{creditNote.customer.city}} </small></div>
                  <div class="text-right"><small><strong>Postal Code:</strong> {{creditNote.customer.postal_code}} </small></div>
                <br />
                </div>
              </div>
            </div>
            <vs-table>
            <template #thead>
              <vs-tr>
                <vs-th>
                  Product Name
                </vs-th>
                <vs-th>
                  Net Price
                </vs-th>
                <vs-th>
                  Vat Price
                </vs-th>
                <vs-th>
                  Gross Price
                </vs-th>
                <vs-th>
                  Quantity
                </vs-th>
                <vs-th>
                  Total Price
                </vs-th>
                <vs-th>
                </vs-th>
              </vs-tr>
            </template>
            <template #tbody>
              <vs-tr
                :key="i"
                v-for="(tr, i) in creditNote.credit_note_items"
                :data="tr"
                not-click-selected
                open-expand-only-td
              >
                <vs-td class="text-left">
                  {{ tr.description }}
                </vs-td>
                <vs-td class="text-left">
                {{ tr.net_price | currency }}
                </vs-td>
                <vs-td class="text-left">
                {{ tr.vat_price | currency }}
                </vs-td>
                <vs-td class="text-left">
                {{ tr.gross_price | currency }}
                </vs-td>
                <vs-td class="text-left">
                {{ tr.quantity }}
                </vs-td>
                <vs-td class="text-left">
                {{ tr.total_price | currency }}
                </vs-td>
                <vs-td v-if="typeof tr.notes === 'string'">
                  <i class="far fa-sticky-note"></i>
                </vs-td>

                <template #expand>
                  <div v-if="!editActive" class="row">
                    <label class="col-form-label form-control-label">Item Notes</label>
                    <p class="invoice-item mt-3 col-md-8 text-muted text-left ml--4 mr-4">{{tr.notes}}</p>
                    </div>
                </template>
              </vs-tr>
            </template>
          </vs-table>

          </div>
          <div class="text-right mr-7">
            <p class="mt-6 strong"><strong>Subtotal: {{ creditNoteOverallTotal - creditNoteOverallTaxTotal | currency }}</strong></p>
            <p class="mt--3 strong"><strong>Tax: {{ creditNoteOverallTaxTotal | currency }}</strong></p>
            <p class="mt--3 strong"><strong>Total: {{ creditNoteOverallTotal | currency }}</strong></p>
          </div>

        </div>
      </div>
    </div>
    <base-button class="mt-2" @click="toggleCreditNoteModal()" type="danger">Close</base-button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import { Select, Option,  DropdownMenu, DropdownItem, Dropdown, Table, TableColumn, Input } from "element-ui";
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        isLoading: true
      }
    },
    components: {
      [Select.name]: Select,
      [Option.name]: Option,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Input.name]: Input,
      "loading-table": () => import("../../../../components/Table/LoadingTable"),
    },
    mounted () {
      this.$store.dispatch('orders/fetchCurrentCreditNote', this.id).then((res) => {
        if (res) {
          this.isLoading = false
        } else {
          this.$store.commit("modals/toggleCreditNote")
          this.$notify({
            message: `The credit note could not be retrieved. Please try again later.`,
            timeout: 7000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
          this.isLoading = true
        }
      })
    },
    computed: {
      ...mapGetters({
        creditNote: "orders/getCurrentCreditNote"
      }),
      creditNoteOverallTotal() {
        let total = 0
        this.creditNote.credit_note_items.forEach((cni) => {
          total += cni.quantity * cni.gross_price
        })
        return total
      },
      creditNoteOverallTaxTotal() {
        let total = 0
        this.creditNote.credit_note_items.forEach((cni) => {
          total += cni.quantity * cni.vat_price
        })
        return total
      },
      creditNoteOverallNetTotal() {
        let total = 0
        this.creditNote.credit_note_items.forEach((cni) => {
          total += cni.quantity * cni.net_price
        })
        return total
      },
    },
    methods: {
      creditNoteFooterValues () {
        return [
          "Total",
          "",
          "",
          "",
          "",
          this.$options.filters.currency(this.creditNoteTotal())
        ]
      },
      toggleCreditNoteModal () {
        this.$store.commit("modals/toggleCreditNote")
      },
    creditNoteGrossTotal () {
      let grossTotal = 0
      this.creditNote.credit_note_items.forEach((cni) => {
        grossTotal +=  cni.gross_price
      })
      return grossTotal
    },
    creditNoteTotal () {
      let total = 0
      this.creditNote.credit_note_items.forEach((cni) => {
        total += cni.total_price
      })
      return total
    },
    creditNoteVatTotal () {
      let vatTotal = 0
      this.creditNote.credit_note_items.forEach((cni) => {
        vatTotal += cni.vat_price
      })
      return vatTotal
    },
    creditNoteNetTotal() {
      let netTotal = 0
      this.creditNote.credit_note_items.forEach((cni) => {
        netTotal +=  cni.net_price
      })
      return netTotal
    },
  }
}
</script>

<style lang="scss">
.el-table__footer {
  font-weight: bold;
  margin-left: -1%;
}
.strong {
  font-weight: bold;
}
</style>
