<template>
  <div>
    <el-table
    v-if="order.order_reconciliation && order.is_delivery_signature_required"
    class="text-center"
    :data="order.order_items"
    border
    style="width: 100%">
    <el-table-column
      prop="product_title"
      label="Date"
      align="center"
      header-align="center"
    >
    </el-table-column>
    <el-table-column
      prop="quantity"
      label="Ordered Quantity"
      align="center"
      header-align="center"
    >
    </el-table-column>
    <el-table-column
      prop="received_amount"
      label="Reveied Quantity"
      align="center"
      header-align="right"
    >
    </el-table-column>
  </el-table>


  <br>
    <el-table
      :data="orderDelivery"
      style="width: 100%">
      <el-table-column type="expand">
        <template>
            {{order.received_by}} signature:
            <img :src="order.order_signature" />
        </template>
      </el-table-column>
      <el-table-column
        label="Received by"
        align="center"
        prop="received_by">
      </el-table-column>
      <el-table-column
        label="Delivered by"
        align="center"
        prop="delivery_user">
      </el-table-column>
    </el-table>

    <base-button @click="toggleDeliveryReconciliation" type="danger mt-4">Close</base-button>
  </div>

</template>

<script>
import {
  Table,
  TableColumn
} from "element-ui";
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    order: {
      type: Object,
      default: () => ({})
    },
  },
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  computed: {
    orderSummary () {
      let totalOrdered = 0
      let totalReceived = 0
      this.order.order_items.forEach((oi) => {
        totalOrdered += oi.quantity
        totalReceived += oi.received_amount
      })
      return {
        total: "Total",
        totalOrdered: totalOrdered,
        totalReceived: totalReceived
      }
    },
    orderDelivery () {
      return [{
        delivery_user: this.order.delivery_user,
        order_signature: this.order.order_signature,
        received_by: this.order.received_by
      }]
    }
  },
  methods: {
    toggleDeliveryReconciliation () {
      this.$store.commit('modals/toggleDeliveryReconciliation')
    }
  }
};
</script>
<style lang="scss">
.el-table .el-table__header-wrapper thead th .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
