<template>
  <div>
    
  <base-button type="danger" outline @click="close()">Close</base-button>
  <base-button type="success" outline @click="close">Pay</base-button>
  </div>
</template>

<script>
  export default {
    props: ['balance'],
    methods: {
      close () {
        this.$store.commit('modals/toggleDirectPaymentModal')
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>