<template>
  <div>
      <div class="card-header mt-1">
        <h2>Edit Delivery Fee</h2>
        <p class="text-sm font-weight-bold mb--2">
          Add the <u>VAT inclusive</u> delivery fee and the tax will automatically be calculated in the order
        </p>
      </div>
      <div class="card-body">
      <base-input @keypress="validateNumber" v-model="newDeliveryFee" class="center" label="Delivery Fee (R) incl. VAT"></base-input>
      <base-button @click="updateDelivery" type="success">Update</base-button>
      <base-button @click="toggleDisplayEditDeliveryFee()" type="danger" outline>Close</base-button>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from "vuex";
  import swal from "sweetalert2";
  export default {
    data () {
      return {
        newDeliveryFee: 0
      }
    },
    methods: {
      toggleDisplayEditDeliveryFee () {
        this.$store.commit('modals/toggleDisplayEditDeliveryFee')
      },
      
      updateDelivery() {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) this.postDeliveryFee();
        });
      },

      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      },

      postDeliveryFee() {
        this.$store.dispatch('orders/updateDeliveryFee', {order_uuid: this.$route.params.id, data: { delivery_fee: this.newDeliveryFee} })
        .then((res) => {
          if (res.status == 201 || res.status == 201) {
            this.toggleDisplayEditDeliveryFee()
            this.notify('The delivery fee has been successfuly updated', 'success')
          } else {
            this.notify('The delivery fee could not be updated. Please try again or contact support should the problem persist', 'danger')
          }
        })
      },

      validateNumber (evt) {
        this.$options.filters.isNumber(evt)
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>