<template>
  <div>
    <div class="card-header text-left">
      <h3 class="mb-2">New Credit Note</h3>
      <p class="text-sm mb--1">
        If the credited order is unpaid, it will be deducted from the customers payable balance, 
        <br>
        If the credited order is paid, the credit note will be allocated to any prior unpaid orders before the balance is available to the customer.
      </p>
      <div class="col-md-6 mt-3 mb-2">
        <el-switch
          style="display: block"
          v-model="isQuantity"
          active-color="#ff4949"
          inactive-color="#ff4949"
          active-text="Credit by quantity"
          inactive-text="Credit by value">
        </el-switch>
      </div>
    </div>
    <div v-if="activeOrder !== null " class="card-body">
      <quantity-credit-note v-if="isQuantity" :order="activeOrder"></quantity-credit-note>
      <value-credit-note v-else :order="activeOrder"></value-credit-note>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { Switch } from "element-ui";
import swal from "sweetalert2";
export default {
  props: ['order'],
  data () {
    return {
      isQuantity: true,
      activeOrder: null
    }
  },
  mounted() {
    this.activeOrder = JSON.parse(JSON.stringify(this.order))
  },
  components: {
    [Switch.name]: Switch,
    'quantity-credit-note': () => import('./credit_notes/QuantityCreditNote'),
    'value-credit-note': () => import('./credit_notes/ValueCreditNote')
  }
}
</script>
<style>
.swal2-container .swal2-center .swal2-fade .swal2-shown {
  z-index: 1200000000 !important;
}
</style>