<template>
  <div>
    <div class="card-header">
      <h3>Add Payment</h3>
      <small><strong>Please enter payment details</strong></small>
    </div>
    <div class="card-body">
      <base-input label="Payment Type">
        <vs-select class="payment-type" v-model="value">
          <vs-option v-for="(payment, index) in paymentTypes" :key="payment.id"  :label="payment.label" :value="index">
            {{payment.label}}
          </vs-option>
        </vs-select>
      </base-input>
      <base-input
        :error="validateAmount"
        :error-message="validateAmount ? `Amount cannot be greater than ${$options.filters.currency(order.balance)}` : ''"
        :inputmode="'numeric'"
        :pattern="'[0-9]*'"
        v-model="paymentAmount"
        @keypress="validateNumber"
        class="mt--1" 
        label="Amount"
      >
      </base-input>
      <base-input class="mt--2" label="Paid On" append-icon="fas fa-calendar">
        <flat-picker
          slot-scope="{focus, blur}"
          @on-open="focus"
          @on-close="blur"
          :config="{
            allowInput: true,
            dateFormat: 'd-m-Y',
            maxDate: `${maxDate}`
          }"
          class="form-control datepicker"
          v-model="dates.simple"
        ></flat-picker>
      </base-input>
      <base-input v-model="paymentReference" class="mt--3" label="Reference">
      </base-input>
      <div class="text-center">
        <base-button @click="createPayment()" :disabled="!isSubmittable || isLoading" type="danger">Add Payment</base-button>
      </div>
    </div>
  </div>
</template>

<script>
  import flatPicker from "vue-flatpickr-component";
  export default {
    props: {
      order: {
        type: Object,
        required: true
      }
    },
    components: {
      flatPicker
    },
    data () {
      return {
        value: 0,
        paymentAmount: 0,
        isLoading: false,
        paymentReference: '',
        dates: {
          simple: null
        },
        paymentTypes: [
          { id: 0, value: 0, label: 'Bank Transfer'},
          { id: 1, value: 1, label: 'Credit Card'},
          { id: 2, value: 2, label: 'Cash'}
        ]
      }
    },
    computed: {
      isSubmittable () {
        if (!this.validateAmount && (this.dates.simple !== '' && this.dates.simple !== null) && this.paymentAmount !== '') return true
        return false
      },
      maxDate() {
        let date = new Date(Date.now());
        let datestring = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return datestring;
      },
      validateAmount () {
        return parseFloat(this.paymentAmount) > this.order.balance.toFixed(2) ? true : false
      }
    },
    methods: {
      notify(message, type) {
        this.$notify({
          message, 
          type,
          timeout: 5000
        })
      },
      createPayment () {
        this.isLoading = true
        let payment = {
          payment_type: this.value,
          payment_date: this.dates.simple,
          payment_amount: this.paymentAmount,
          payment_reference: this.paymentReference
        }
        this.$store.dispatch('orders/createPayment', {payment: payment, orderUuid: this.order.order_uuid}).then((res) => {
          if (res.status == 200) {
            this.notify(`Payment for order number #${this.order.order_number} has been successfully created`, 'success' )
            this.$emit('close')
             this.isLoading = false
          } else {
            this.notify(`Payment for order number #${this.order.order_number} could not be created. Please try again or contact support should the problem persist `, 'danger' )
            this.isLoading = false
          }
        })
      },
      validateNumber (evt) {
        this.$options.filters.isNumber(evt)
      }
    },
    mounted () {
      let date = new Date(Date.now());
      let datestring = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      this.dates.simple = datestring;
      this.paymentAmount = this.order.balance.toFixed(2)
    }
  }
</script>

<style lang="scss">
.vs-select-content {
  max-width: 100% !important;
}
</style>