<template>
  <div>
    <vs-table>
    <template #thead>
      <vs-tr class="row">
        <vs-th class="col-md-2">
          Date
        </vs-th>
        <vs-th class="col-md-2">
          Reference
        </vs-th>
        <vs-th class="col-md-2">
          Type
        </vs-th>
        <vs-th class="col-md-2">
          Amount
        </vs-th>
        <vs-th class="col-md-4">
          Created By
        </vs-th>
      </vs-tr>
    </template>
    <template #tbody>
      <vs-tr
        v-for="(data, i) in payment_and_credit_notes"
        :key="i"
        class="row"
      >
        <vs-td class="col-md-2 text-left">
          {{ data.date }}
        </vs-td>
        <vs-td class="col-md-2 text-left">
          {{ data.reference }}
        </vs-td>
        <vs-td class="col-md-2 text-left">
          {{ data.type }}
        </vs-td>
        <vs-td class="col-md-2 text-left">
         {{ data.value | currency}}
        </vs-td>
        <vs-td class="col-md-4 text-left">
         {{ data.paid_by }}
        </vs-td>
      </vs-tr>
    </template>
  </vs-table>

  <base-button @click="togglePaymentReconciliation" type="danger mt-4">Close</base-button>
    <modal size="xl" :show="getDisplayCreditNoteModal">
    <credit-note v-if="getDisplayCreditNoteModal" :id="creditNoteId"></credit-note>
  </modal>
  </div>

</template>


<script>
import {
  Table,
  TableColumn,
  Collapse,
  CollapseItem
} from "element-ui";
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    order: {
      type: Object,
      default: () => ({})
    },
  },
  mounted () {
    let list = []
    this.order.credit_note_claims.map((c) => list.push(c) )
    this.order.payments.map((p) => list.push(p) )
      this.payment_and_credit_notes = list.sort(function(a, b){
        return a.date > b.date;
      });
  },
  components: {
    'credit-note': () => import("../../components/modals/CreditNote"),
    [Collapse.name]: Collapse,
    [CollapseItem.name]: CollapseItem,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data () {
    return {
      activeNames: ['1', '2'],
      payment_and_credit_notes: [],
      creditNoteId: null
    }
  },
  computed: {
    ...mapGetters({
      getDisplayCreditNoteModal: "modals/getDisplayCreditNoteModal"
    }),
    reconciliationItems () {
      return [{
        payments: this.order.payments,
        creditNotes: this.order.credit_notes
      }]
    },
    orderDelivery () {
      return [{
        delivery_user: this.order.delivery_user,
        order_signature: this.order.order_signature,
        received_by: this.order.received_by
      }]
    }
  },
  methods: {
    displayDetail(row) {
      if (row.credit_note_id){
        this.creditNoteId = row.credit_note_id
        this.$store.commit("modals/toggleCreditNote")
      }
    },
    togglePaymentReconciliation () {
      this.$store.commit('modals/togglePaymentReconciliation')
    },
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = 'Total';
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] = 'R ' + values.reduce((prev, curr) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = '';
        }
      });

      return sums;
    }
  }
};
</script>
<style lang="scss">

</style>
