<template>
  <div>
    <div class="card-header text-left mb-4">
      <h1 class="h2 mb-0">Add products to your order</h1>
      <p class="text-sm mb--1">
        Search and select products from the dropdown and add it to your order
      </p>
    </div>
    <base-alert v-if="message != ''" type="warning" dismissible>
       {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </base-alert>
    <base-input class="mt-2 mb-2 text-center" label="Select Product">
      <el-select
        class="select-danger text-center ml-2 col-md-10"
        placeholder="Products"
        filterable
        @change="resetVariant"
        v-model="productId"
      >
        <el-option
          v-for="product in products"
          class="select-danger"
          :value="product.id"
          :label="product.title"
          :key="product.id"
        ></el-option>
      </el-select>
    </base-input>
    <base-input class="mt-2 mb-2 text-center" label="Select Variant">
      <el-select
         class="select-danger text-center ml-2 col-md-10"
        placeholder="Select Variant"
        filterable
        v-model="productVariantId"
      >
        <el-option
          v-for="variant in activeProductsVariants"
          class="select-danger"
          :value="variant.id"
          :label="variantLabel(variant)"
          :key="variant.id"
        ></el-option>
      </el-select>
    </base-input>
    <base-input class="mt-2 mb-2 text-center" :label="label">
           
      <el-input-number id="quantitySelector" :precision="2" :step="1" v-model="quantity" :min="0" :max="availableStock"></el-input-number>
    </base-input>
    <base-button :disabled="isNotSubmittable" @click="submitProduct()" type="danger" class="mt-6 btn-lg">Add Product</base-button>
    <base-button @click="close" type="secondary" class="mt-6" >Close</base-button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { Select, Option, InputNumber } from "element-ui";
  export default {
    props: {
      customerId: {
        type: [String, Number],
        required: true
      },
      supplierTitle: {
        type: String,
        default: '',
        required: true
      },
      message: {
        type: String,
        default: '',
        required: true
      }
    },
    components: {
      [Select.name]: Select,
      [Option.name]: Option,
      [InputNumber.name]: InputNumber,
    },
    data () {
      return {
        productId: null,
        productVariantId: null,
        quantity: 0,
        products: [],
        productVariants: [],
      }
    },
    computed: {
      isNotSubmittable () {
        return (this.quantity === 0) || (this.productVariantId === null)
      },
      productVariant () {
        if (this.productVariantId !== null) {
          return this.productVariants.find((pv) => pv.id == this.productVariantId)
        } else {
          return null
        }
      },
      label () {
        if (this.displayAvailableStock) {
          return `Quanity - ${this.availableStock} available`
        } else {
          return 'Select Quantity'
        }
      },
      displayAvailableStock () {
        if (this.productVariantId == null) return false
        let productVariant = this.productVariants.find((pv) => pv.id == this.productVariantId)
        return productVariant.track_stock ? true : false
      },
      availableStock () {
        if (this.productVariantId !== null) {
          if (!this.productVariant.track_stock) {
            return 100000000
          } else {
            return this.productVariant.available_stock
          }
        } else {
          return 0.0
        }
      },
      activeProductsVariants () {
        return this.productVariants.filter((p) => (p.product_id === this.productId) && (p.available_stock > 0 || !p.track_stock))
      },
      ...mapGetters({
        getOrderProductSelectModal: "modals/getOrderProductSelectModal"
      }),
    },
    methods: {
      variantLabel(v) {
        if (v.sku !== null ) {
          return `${v.description} (${v.sku}) - ${v.gross_amount}` 
        } else {
           return `${v.description} - ${v.gross_amount}` 
        }
      },
      submitProduct () {
        this.$store.dispatch('orders/addItemToOrder', {quantity: this.quantity, product_variant_id: this.productVariantId, order_uuid: this.$route.params.id})
        .then((res) => {
          this.productVariantId = null
          this.quantity = 0,
          this.productId = null 
          if (res) {
            this.$notify({
              message: `A new item has been successfully added to your order`,
              timeout: 10000,
              icon: "ni ni-bell-55",
              type: "success"
            });
          } else {
            this.notifyUnsuccess("Something went wrong. Ensure that there is sufficient credit avaiable for this request, otherwise please contact support should the problem persist")
          }
        }).catch((err) => {
          this.notifyUnsuccess("Something went wrong. Ensure that there is sufficient credit avaiable for this request, otherwise please contact support should the problem persist")
          this.productVariantId = null
          this.quantity = 0,
          this.productId = null 
        })
      },
      resetVariant() {
        this.productVariantId = null
        this.quantity = 0
      },
      currency (val) {
        return this.$options.filters.currency(parseFloat(val))
      },
      close () {
        this.$store.commit("modals/toggleOrderProductSelectModal")
      },
      notifyUnsuccess (message) {
        this.$notify({
          message: message,
          timeout: 12000,
          icon: "ni ni-bell-55",
          type: "danger"
        });
      }
    },
    mounted () {
      this.$store.dispatch("products/fetchSupplierProductsByOrderPage", {title: this.supplierTitle, customerId: this.customerId }).then((res) => {
        if(res.statusText == "OK") {
          res.data.forEach((p) => {
            if (p.has_stock) {
              this.products.push(p.product)
              p.product_variants.forEach((pv) => this.productVariants.push(pv))
            }
          })
        } else {
          this.notifyUnsuccess()
        }
      }).catch(() => {
          this.notifyUnsuccess()
      })
    }
  }
</script>

<style lang="scss" scoped>

</style>