<template>
  <div>
    <card
      type="secondary"
      header-classes="bg-white pb-5"
      body-classes="px-lg-5 py-lg-5"
      class="border-0 mb-0 bg-white"
    >
      <div class="form-group row">
        <label class="col-4 col-form-label form-control-label text-left">Repeat this invoice</label>
        <div class="col-md-8">
          <el-select  label="Frequency" class="select-danger" placeholder="Single Select" v-model="orderFrequency">
            <el-option @click="clearOrderValue()" v-for="option in frequencies" class="select-danger" :value="option.value" :label="option.label" :key="option.label"></el-option>
          </el-select>
        </div>
      </div>

      <div class="form-group row" v-if="displayDropdown">
        <label class="col-4 col-form-label form-control-label text-left">{{getFrequencyText}}</label>
        <div class="col-md-8">
          <el-select label="Frequency" class="select-danger" placeholder="" v-model="orderValue">
            <el-option v-for="option in getFrequency" class="select-danger" :value="option.value" :label="option.label" :key="option.label"></el-option>
          </el-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label form-control-label text-left">Create first invoice on</label>
        <div class="col-md-8">
          <base-input addon-left-icon="ni ni-calendar-grid-58 ml-2 mr-2">
            <flat-picker 
              :placeholder="currentDate"
              slot-scope="{focus, blur}"
              :config="{allowInput: true,
                dateFormat: 'd-m-Y',
                minDate: `${minDate}`,
              }"
              class="form-control datepicker"
              v-model="startDate">
            </flat-picker>
          </base-input>
        </div>
      </div>

      <div class="form-group row mt--4">
        <label class="col-4 col-form-label form-control-label text-left">End Date</label>
        <div class="col-md-8">
          <base-input addon-left-icon="ni ni-calendar-grid-58 ml-2 mr-2">
            <flat-picker 
              :placeholder="currentDate"
              slot-scope="{focus, blur}"
              :config="{allowInput: true,
                dateFormat: 'd-m-Y',
                minDate: `${minDate}`,
              }"
              class="form-control datepicker"
              v-model="endDate">
            </flat-picker>
          </base-input>
        </div>
      </div>

      <base-button type="primary" :disabled="isDisabled" @click="postFrequency()" class="col-md-5 mb-2">Set Frequency</base-button>
      <base-button type="danger" @click="closeModal()" class="col-md-5 mb-2">Close</base-button>
    </card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option } from "element-ui";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
export default {
  props: ['order'],
  components: {
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option
  },
  data() {
    return {
      startDate: null,
      endDate: null,
      orderValue: null,
      orderFrequency: 0,
      frequencies: [
        {label: 'Daily', value: 0},
        {label: 'Weekly', value: 1},
        {label: 'Monthly', value: 2}
      ],
      monthlyFrequencies: [
        {label: '1st', value: 1},
        {label: '2nd', value: 2},
        {label: '3rd', value: 3},
        {label: '4th', value: 4},
        {label: '5th', value: 5},
        {label: '6th', value: 6},
        {label: '7th', value: 7},
        {label: '8th', value: 8},
        {label: '9th', value: 9},
        {label: '10th', value: 10},
        {label: '11th', value: 11},
        {label: '12th', value: 12},
        {label: '13th', value: 13},
        {label: '14th', value: 14},
        {label: '15th', value: 15},
        {label: '16th', value: 16},
        {label: '17th', value: 17},
        {label: '18th', value: 18},
        {label: '19th', value: 19},
        {label: '20th', value: 20},
        {label: '21th', value: 21},
        {label: '22th', value: 22},
        {label: '23th', value: 23},
        {label: '24th', value: 24},
        {label: '25th', value: 25},
        {label: '26th', value: 26},
        {label: '27th', value: 27},
        {label: '28th', value: 28},
        {label: '29th', value: 29},
        {label: '30th', value: 30},
        {label: '31st', value: 31}
      ],
      weeklyFrequency: [
        {label: 'Every Monday', value: 'Monday'},
        {label: 'Every Tuesday', value: 'Tuesday'},
        {label: 'Every Wednesday', value: 'Wednesday'},
        {label: 'Every Thursday', value: 'Thursday'},
        {label: 'Every Friday', value: 'Friday'},
        {label: 'Every Saturday', value: 'Saturday'},
      ]
    };
  },
  computed: {
    isDisabled () {
      return (this.startDate == null || this.endDate == null) ? true : false
    },
    repeatClass() {
      return this.orderFrequency == 0 ? "col-md-12" : "col-md-6"
    },
    getFrequency () {
      if (this.orderFrequency == 1) {
        return this.weeklyFrequency
      } else if (this.orderFrequency == 2) {
        return this.monthlyFrequencies
      }
    },
    getFrequencyText () {
      if (this.orderFrequency == 1) {
        return 'Every'
      } else if (this.orderFrequency == 2) {
        return 'On the'
      } else if (this.orderFrequency == 0) {
        return ''
      }
    },
    displayDropdown () {
      return this.orderFrequency !== 0
    },
    currentDate() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, '0');
      let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      let yyyy = today.getFullYear();
      return dd + '-' + mm + '-' + yyyy;
    },
    minDate() {
      let date = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
      let datestring =
        date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      return datestring;
    },
  },
  methods: {
    ...mapGetters({
      getNewTagModal: "modals/getNewTagModal"
    }),
    ...mapActions({
      toggleNewTagModal: "modals/toggleNewTagModal"
    }),
    closeModal () {
      this.$store.commit('modals/setDisplayRecurringModal')
    },
    async postFrequency() {
      this.$store.dispatch("orders/setFrequency",{ order_uuid: this.$route.params.id, frequency: {
        order_id: this.order.id,
        end_date: this.endDate,
        frequency: this.orderFrequency,
        value: this.orderValue,
        start_date: this.startDate
      }})
      .then((res) => {
        if (res.statusText == "OK") {
          this.closeModal()
          this.$notify({
            message: "Order scheduled has been saved",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'success'
          });
        } else {
            this.closeModal()
            this.$notify({
            message: "Order schedule could not be saved",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
          });
        }
      })
    },
    addTag() {
      this.$emit("new-tag", this.tag);
      this.tag = "";
    }
  }
};
</script>
<style lang="scss">
</style>
