<template>
  <div>
    <base-input v-if="!isSupplier" class="mt-2" label="Select Address">
      <el-select
        v-if="!!getCompanyAddresses.length"
        class="select-danger ml--2 col-md-8 pl-2 pr-4"
        placeholder="Select Address"
        v-model="addressId">
        <el-option
          v-for="address in getCompanyAddresses"
          class="select-danger"
          :value="address.id"
          :label="address.address_one"
          :key="address.id"
        ></el-option>
      </el-select>
      <base-button class="col-auto bt-lg" @click="toggleNewAddressModal" type="primary">New Address</base-button>
    </base-input>
    <base-input class="mt--2" label="Order Due Date" prepend-icon="fas fa-calendar">
      <flat-picker
        slot-scope="{focus, blur}"
        @on-open="focus"
        @on-close="blur"
        :config="{allowInput: true,
          dateFormat: 'd-m-Y',
          minDate: `${minDate}`,
          maxDate: `${maxDate}`}"
        class="form-control datepicker"
        :value="minDate"
        v-model="dates.simple"
      ></flat-picker>
    </base-input>
    <base-button @click="saveDeliveryDate" :disabled="dateValid" type="success">Save</base-button>
    <base-button @click="toggleDeliveryModal" type="danger">Close</base-button>

    <modal :show="getNewAddressModal" size="md">
      <new-company-address v-if="getNewAddressModal"></new-company-address>
    </modal>
  </div>
</template>

<script>
import flatPicker from "vue-flatpickr-component";
import { mapGetters } from 'vuex'
import { Select, Option } from "element-ui";
export default {
  props: ["order", "isSupplier"],
  components: {
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option,
    'new-company-address':() => import('../../../Company/components/modals/NewCompanyAddress')
  },
  data () {
    return {
      addressId: null,
      dates: { simple: null }
    }
  },
  computed: {
    dateValid () {
      return this.dates.simple === null
    },
    ...mapGetters({
      currentCompany: "modals/getCurrentCompany",
      getNewAddressModal: "modals/getNewAddressModal",
      getCompanyAddresses: "companies/getCompanyAddresses"
    }),
    maxDate() {
      let date = new Date(Date.now() + 12096e5);
      let datestring =
        date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      return datestring;
    },
    minDate() {
      let date = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
      let datestring =
        date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      return datestring;
    },
  },
  methods: {
    toggleNewAddressModal () {
      this.$store.commit("modals/toggleNewAddressModal")
    },
    notify(message,type) {
      this.$notify({
        message: message,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: type
      });
    },
    saveDeliveryDate () {
      let order = {
        id: this.order.id, 
        order: { 
          delivery_date: this.dates.simple,
          delivery_address_id: this.addressId
        }
      }
      if (this.addressId == null) delete order.order.delivery_address_id
      
      this.$store.dispatch("orders/updateDeliveryAddress", order).then((res) => {
        if (res) {
          this.toggleDeliveryModal()
          this.notify('The delivery address has been updated','success')
        } else {
          this.toggleDeliveryModal()
          this.notify('The delivery could not be updated','danger')
        }
      }).catch(() => {
        this.toggleDeliveryModal()
        this.notify('The delivery could not be updated','danger')
      })
    },
    toggleDeliveryModal () {
      this.$store.commit("modals/toggleDisplayEditDeliveryDate")
    }
  },
  mounted() {
    let date = new Date(this.order.order_date)
    this.addressId = order.delivery_address_id
    this.dates.simple = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    this.$store.dispatch("companies/getAddresses")
  }
}
</script>

<style lang="scss" scoped>

</style>
