<template>
  <div>
    <div class="card-header mt-1">
      <h2>Create a custom new order</h2>
      <p class="text-sm font-weight-bold mb--2">
        Please create or search for your customer, they may already be on Orderbly
      </p>
    </div>
    <div @click="closeDropdown" class="modal-body mt--2" :class="rowType" v-if="!newClient">
      <base-input label="Search for your customer">
        <div class="mb-2 col-md-10 mb-2">
          <small v-if="customerId === null" class="text-orange">
            <strong>
            </strong>
          </small>
        </div>
        <div class="row">
          <base-input class="col-md-10" @click.native="hideDropdown = !hideDropdown" v-model="searchQuery" v-debounce:300ms="remoteMethod"></base-input>
            <card v-loading="loading" v-if="!hideDropdown && searchQuery.length > 0 && (!!customCustomers.length || !!orderblyCustomers.length)" class="col-md-12 dropdown-card dropdown">
              <div v-if="true">
                <div class="dropdown-item-header">
                  <small><strong>Your Custom Customers</strong></small>
                </div>
                <div class='dropdown-divider'></div>
                  <div v-if="!!customCustomers"> 
                    <div v-for="(customer, index) in customCustomers" :key="index" class="dropdown-item" @click="setCustomer(customer)">
                      <span>{{customer.title}}</span>
                    </div>
                  </div>
                  <div v-else class="text-center mt-3 text-weight-bold">No custom customer found</div>

                  <div class="dropdown-item-header">
                    <small><strong>Existing Orderbly Customers</strong></small>
                  </div>
                  <div class='dropdown-divider'></div>
                  <div v-if="!!orderblyCustomers.length">
                    <div v-for="(customer, index) in orderblyCustomers" :key="index" class="dropdown-item" @click="setCustomer(customer)">
                      <span>{{customer.title}}</span>
                    </div>
                  </div>
                  <div class="text-center mt-3 text-weight-bold" v-else>No Orderbly customer found</div>
                </div>
              <div class="mb-3"></div>
            </card>

            <card v-if="searchQuery.length > 0 && !hideDropdown && (!customCustomers.length && !orderblyCustomers.length)" class="col-md-12 text-center dropdown-card dropdown">
              <div class="text-center mt-3 text-weight-bold"><strong>No customer found</strong></div>
              <base-button v-if="!loading" class="mt-4 text-center" @click="toggleNewClient()" type="secondary">Add New</base-button>
            </card>
          <base-button class="mb-4" size="md" :outline="$mq == 'mobile'" :class="$mq == 'mobile' ? 'col-md-1 w-50 text-center' : 'col-md-2'" @click="toggleNewClient()" type="default">Add New</base-button>
        </div>
        </base-input>
        <div v-if="company !== null">
          <card class="col-md-10 info-card">
            <div class="row align-items-center">
              <a v-if="$mq !== 'mobile'" class="avatar avatar-xl rounded-circle">
                <img alt="Image placeholder" :src="company.image">
              </a>
              <div class="col ml-2">
                  <h4 class="mb-0">
                    <a class="primary">{{company.title}}</a>
                  </h4>
                  <p class="text-sm mb-0"><strong>{{company.contact}}</strong></p>
                  <p class="text-sm mb-0"><strong>{{company.email}}</strong></p>
              </div>
            </div>
          </card>
        </div>
        
        <base-input label="Select Address" v-if="!!addresses.length">
          <el-select
            class="col-md-10"
            v-model="addressValue"
            placeholder="Please select an Address"
            style="z-index:1000000"
          >
            <el-option
              v-for="item in addresses"
              :key="item.id"
              :label="`${item.address_one}, ${item.city}`"
              :value="item.id">
            </el-option>
          </el-select>
      </base-input>

      <base-input class="col-md-10" label="Select Delivery Date" v-if="addressValue">
      <flat-picker
        slot-scope="{focus, blur}"
        @on-open="focus"
        @on-close="blur"
        :config="{
          disable: disabledDates,
          allowInput: true,
          dateFormat: 'Y-m-d',
          minDate: `${minDate}`,
          maxDate: `${maxDate}`}"
        class="form-control datepicker"
        :value="minDate"
        v-model="date"
      ></flat-picker>
      </base-input>
      <div class="text-center">
        <base-button @click="createOrder()" :disabled="!submittable" type="danger">Add New Order</base-button>
      </div>
    </div>
    <vs-dialog prevent-close v-model="newClient">
      <new-custom-client @back="toggleNewClient" v-if="newClient"></new-custom-client>
    </vs-dialog>
  </div>
</template>

<script>
import { Select, Option, OptionGroup, Loading } from 'element-ui'
import { mapGetters } from 'vuex'
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

  export default {
    components: {
      [Select.name]: Select,
      [Option.name]: Option,
      [Loading.name]: Loading,
      [OptionGroup.name]: OptionGroup,
      flatPicker,
      'new-custom-client': () => import('@/fulfilment_views/Deliveries/components/modals/NewCustomClient'),
      'company-details-desktop': () => import('../cards/CompanyDetailsDesktop'),
      'company-details-mobile': () => import('../cards/CompanyDetailsMobile')
    },
    data () {
      return {
        isLoading: false,
        date: null,
        disabledDates: [],
        hideDropdown: true,
        searchQuery: '',
        customerId: null,
        newClient: false,
        loading: false,
        options: [],
        addressValue: null,
        addresses: [],
        company: null
      }
    },
    computed: {
      submittable () {
        return this.customerId !== null && this.addressValue !== null && this.date !== null && !this.isLoading
      },
      customCustomers () {
        return this.options.filter(option => option.type == "Custom Customer")
      },
      orderblyCustomers () {
        return this.options.filter(option => option.type == "Orderbly Customer")
      },
      types () {
         return [
          {
            label: 'Your Custom Customers',
            options: this.options.filter(option => option.type == "Custom Customer")
          },
          {
            label: 'Existing Orderbly Customers',
            options: this.options.filter(option => option.type == "Orderbly Customer")
          }
         ]
      },
      rowType () {
        return this.customerId !== null ? 'col-md-12' : 'col-md-12'
      },
      createNewOrder () {

      },
      maxDate() {
        let date = new Date(Date.now() + 12096e5);
        let datestring = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
        return datestring;
      },
      minDate() {
        let date = new Date(new Date().getTime() + 0 * 60 * 60 * 1000);
        let datestring = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
        return datestring;
      },
      ...mapGetters({
        currentCompany: 'companies/getCurrentCompany'
      })
    },
    watch: {
      addressValue (val) {
        if (val !== null) {
          this.$store.dispatch('deliveries/getSupplierDeliveryDays', {addressId: val, supplierId: this.currentCompany.id})
          .then(res => {
            this.disabledDates = res.data.dates
          })
        }
      },
      customerId (val) {
        this.addressValue = null
        this.addresses = this.options.find(company => company.id === val).addresses
        this.company =  this.options.find(company => company.id === val)
      }
    },
    methods: {
      closeDropdown (ev) {
        if (
            ev.target.classList.contains('modal-body') 
            || ev.target.classList.contains('card-body')
            || ev.target.classList.contains('has-label')
            || ev.target.classList.contains('form-group')
            || ev.target.classList.contains('text-center')
          ) {
          this.hideDropdown = true
        }
      },
      notify (message, type) {
        this.$notify({
            message: message,
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: type
          });
      },
      label(client) {
        if (client.type == "Custom Client") {
          return `${client.title} - Custom Customer`
        } else {
           return `${client.title} - Orderbly Customer`
        }
      },
      toggleNewClient () {
        this.searchQuery = ''
        this.newClient = !this.newClient
      },
      close () {
        this.$emit('close')
      },
      createOrder () {
        this.isLoading = true
        const order = {
          delivery_date: this.date,
          supplier_id: this.currentCompany.id,
          delivery_address_id: this.addressValue,
          customer_id: this.customerId,
          order_items_attributes: []
        }
        this.$store.dispatch('cart/postCustomOrder', order).then((res) => {
          if(res.status == 201) {
            this.$emit('close')
            this.notify('A new order has been created', 'success')
            this.$router.push(`order/${res.data.order_uuid}`)
            this.isLoading = false
          } else {
            this.notify('A new failed to create, please try again or contact support should the issue persit', 'danger')
            this.isLoading = false
          }
        })
        .catch(() => {
          this.notify('A new failed to create, please try again or contact support should the issue persit', 'danger')
        })
      },
      setCustomer(customer) {
        this.hideDropdown = true
        this.customerId = customer.id
        this.searchQuery = customer.title
      },
      remoteMethod() {
        this.hideDropdown = false
        if (this.searchQuery == '') return
        this.$store.dispatch('companies/findCompanyByTitle', {query: this.searchQuery, company_uuid: this.currentCompany.uuid})
        .then((res) => {
          if (res.status == 200) {
            this.options = res.data
          }
        })
        this.hasLoaded = true
      }
    }
  }
</script>

<style lang="scss">
.el-select-dropdown.el-popper {
  z-index: 1000000 !important;
}
.seperator-left {
  border-left: 3px solid rgba(252, 159, 63, 0.5);
}
.info-card {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.40);
}
.dropdown-card {
  position: absolute;
  z-index: 1000;
  width: 50%;
  margin-left: -40%;
  margin-top: 6%;
  @media screen and (min-width: 0px) and (max-width: 959px) {
    width: 70%;
    margin-top: 13%;
    margin-left: -5%
  }
  min-height: 150px;
  max-height: 210px;
  overflow: scroll;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
  .card-body {
    padding: 0rem !important;
  }
}
.dropdown-item-header {
  padding-left: 0.5%;
  padding-top: 3%;
}
.dropdown-item {
  padding-left: 1.1%;
}
</style>