<template>
  <div>
    <vs-table>
      <template #thead>
        <vs-tr>
          <vs-th>
            Item
          </vs-th>
          <vs-th>
            Ordered Quantity
          </vs-th>
          <vs-th>
            Net Price
          </vs-th>
          <vs-th>
            Vat Price
          </vs-th>
          <vs-th>
            Gross Price
          </vs-th>
        </vs-tr>
      </template>
      <template #tbody>
        <vs-tr
          :key="i"
          v-for="(tr, i) in currentOrder.order_items"
          :data="tr"
          open-expand-only-td
        >
          <vs-td style="min-width:120px;" class="text-left">
            <base-input @change="upateVal" :data-item="tr.id" :value="tr.description"></base-input>
          </vs-td>
          <vs-td class="text-left">
            <base-input @change="upateQuantity" :data-item="tr.id" v-model="tr.quantity"></base-input>
          </vs-td>
          <vs-td class="text-left">
            {{ tr.vat_price || 0 | currency }}
          </vs-td>
          <vs-td class="text-left">
            {{ tr.net_price || 0  | currency }}
          </vs-td>
          <vs-td class="text-left">
            <div class="mt-4 col-md-12">
              <base-input @input="unitAmount(tr)" v-model="tr.gross_price"></base-input>
            </div>
          </vs-td>

          <template #expand>
            <div class="row">
              <label class="text-left col-form-label form-control-label">Item Notes</label>
              <input v-model="tr.notes" class="col-md-8 form-control mr-4" />
            </div>
          </template>
        </vs-tr>
      </template>
    </vs-table>
        <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width:100%;border-collapse:separate !important; border-spacing:0;color:#242128;"
        heigth="auto"
        class="m-0 p-4"
      >
        <tr class="order-totals">
          <td colspan="12" style="width: 100%; border-top: 1px solid rgb(241, 240, 240);" class="pt-4 pb-2">
            <p href="#" class="invoice-total-header">
              Subtotal : <span class="invoice-total"> <strong>{{totals.netTotal | currency }}</strong></span>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="12" style="width: 100%;" class="py-2">
            <p class="invoice-total-header">
              <strong>
                Tax : <span class="invoice-total">{{totals.vatTotal | currency }}</span>
              </strong>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="12" style=" width: 100%;" class="py-2 pb-3">
            <p href="#" class="invoice-total-header">
              <strong>
                Total : <span class="invoice-total">{{totals.grossTotal | currency}}</span>
              </strong>
            </p>
          </td>
        </tr>
      </table>
      <vs-dialog width="550px" not-center v-model="activeModal">
        <template #header>
          <h1 class="mt-4 text-center">
             <i class="fas fa-exclamation-circle text-orange m"></i>
             Are you sure?
          </h1>
        </template>


        <div class="con-content text-center">
          <p>
            Please ensure that the credit note values are correct. 
            <br>
            <strong>This credit note cannot be reverted.</strong>
          </p>
        </div>

        <template #footer>
          <div class="con-footer text-center">
            <base-button @click="confirmBtn()" type="secondary mb-3">
              Confirm
            </base-button>
          </div>
        </template>
      </vs-dialog>

      <base-button @click="activeModal=!activeModal" type="danger mb-4">Create Credit Note</base-button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert2";
export default {
  props: ['order'],
  mounted () {
    this.currentOrder = JSON.parse(JSON.stringify(this.order))
    this.currentOrder.order_items.forEach(oi =>  {
      oi.credit_amount = 1
      oi.gross_price = 0
      oi.description = oi.product_title
      oi.net_price = 0
      oi.vat_price = 0
    })
  },
  data() {
    return {
      items: [],
      activeModal: false,
      currentOrder: null,
      loading: true,
      displaySignature: false,
    };
  },
  methods: {
    upateVal (ev) {
      let itemId = ev.target.dataset.item
      this.currentOrder.order_items = this.currentOrder.order_items.map((oi) => {
        if (oi.id == parseInt(itemId)) {
          oi.description = ev.target.value
          return oi
        }
        return oi
      })
    },
    upateQuantity (ev) {
      let itemId = ev.target.dataset.item
      this.currentOrder.order_items = this.currentOrder.order_items.map((oi) => {
        if (oi.id == parseInt(itemId)) {
          oi.quantity = parseInt(ev.target.value)
          return oi
        }
        return oi
      })
    },
    confirmBtn () {
      this.activeModal= !this.activeModal
      this.createCreditNote()
    },
    unitAmount(item) {
      let net_price = item.vat_percentage > 0 ? parseFloat((item.gross_price / (1 + item.vat_percentage))) : item.gross_price
      this.currentOrder.order_items = this.currentOrder.order_items.map((i) => {
        if (i.id == item.id) {
          i.net_price = net_price
          i.vat_price = i.gross_price - net_price
          return i
        } else {
          return i
        }
      })
    },
    closeCreditNote() {
      this.$store.commit("modals/toggleDisplayGeneralCreditNoteModal")
    },

    validateNumber (evt) {
      this.$options.filters.isNumber(evt)
    },

    clearInput (evt) {
      evt.target.value = ""
    },

    validateStockInput(evt, stockExpcted) {
      let currentVal = evt.target.value || 0
      let val = currentVal + parseInt(evt.key)
      if(val > stockExpcted) {
        evt.preventDefault();
      }
    },

    showSwal(tag) {
      swal({
        title: "Are you sure you want to create a credit note?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.createCreditNote();
      });
    },

    createCreditNote() {
      let creditNote = {
        customer_id: this.currentOrder.customer.id,
        supplier_id: this.currentOrder.supplier.id,
        order_id: this.currentOrder.id,
        order_items: this.currentOrder.order_items,
        balance: Math.abs(this.totals.grossTotal)
      };

      this.$store.dispatch("orders/claimGeneralCredit", {credit_note: creditNote})
      .then((res) => {
        if (res.data.type == "success") {
          this.closeCreditNote()
          this.$router.push({ path: '/sales_orders'})
          this.displayError("A new order credit note has been created", "success")
        } else {
          this.displayError( "A new order could not be created. Please try again or contact support should the problem persist", "danger")
        }
      }).catch(() => {
        this.displayError( "A new order could not be created. Please try again or contact support should the problem persist", "danger")
      })
    },

    displayError(message, type) {
      this.$notify({
        message: message,
        timeout: 6500,
        icon: "ni ni-like-2",
        type: type
      });
    },

    difference(received, price) {
      if (received !== null && price !== null) {
        return received  * price;
      }
    },
    
    balance(received, quantity) {
      let receivedInt;
      if (typeof received == "undefined" || received === "") {
        receivedInt = 0;
      } else {
        receivedInt = parseInt(received);
      }
      return receivedInt - quantity;
    },
    toggleDisplayConfirmDelivery () {
      this.$store.commit("modals/setDisplayConfirmDelivery")
    },

  },
  
  computed: {
    totals () {
      if (this.currentOrder !== null) {
        let totals = {netTotal: 0, vatTotal: 0, grossTotal: 0}
        this.currentOrder.order_items.forEach((oi) => {
          totals.netTotal += parseFloat(oi.credit_amount) * oi.net_price || 0
          totals.vatTotal += parseFloat(oi.credit_amount) * oi.vat_price || 0
          totals.grossTotal += parseFloat(oi.credit_amount) * oi.gross_price || 0
        })
        return totals
      }
      else {
        return {netTotal: 0, vatTotal: 0, grossTotal: 0}
      }
    },
    discrepencyTotal() {
      if (!this.loading) {
        let total = 0;
        if (this.order && this.order.order_items) {
          this.currentOrder.order_items.forEach(item => {
            if (item.received) {
              total += (item.received - item.quantity) * item.gross_price;
            }
          });
          return total;
        }
        return total;
      }
      return 0;
    },
    ...mapGetters({
      getDisplayConfirmDelivery: "modals/getDisplayConfirmDelivery"
    })
  },
};
</script>

<style lang="scss" scoped>
canvas {
  background: white;
}

.receive-input {
  width: 50%;
  display: block;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
</style>
