<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <base-button block type="primary" class=" mb-3" @click="reorder">
          Order Outstanding Items
        </base-button>
      </div>

      <div class="col-md-6">
        <base-button block type="warning" class=" mb-3" @click="claimCredit">
          Claim Credit
        </base-button>
      </div>
    </div>

    <base-button
      style=" height: 50px !important; color: #f5365c"
      class="ml-2 mt-2"
      @click="toggleDisplayConfirmDelivery"
      type="danger btn pull-right btn-sm btn-white"
      >Close
    </base-button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  components: {},
  methods: {
    claimCredit() {
      this.$emit("claim-credit");
    },
    reorder() {
      this.$emit("reorder");
    },
    toggleDisplayConfirmDelivery () {
      this.$store.commit("modals/setDisplayConfirmDelivery")
    },
    ...mapActions({
      receiveOrder: "fulfilmentOrders/receiveOrder",
    })
  }
};
</script>

<style lang="scss" scoped></style>
