<template>
  <div>
    <div @click="closeDropdown" v-if="!newClient">
      <base-input class="mt-2 text-left">
        <div class="row">
          <label class="col-md-2 col-form-label form-control-label">Client</label>
            <base-input class="col-md-8" @click.native="hideDropdown = !hideDropdown" v-model="searchQuery" v-debounce:500ms="remoteMethod"></base-input>
              <card v-if="!hideDropdown && searchQuery.length > 0" :class="$mq=='desktop' ? 'ml-1' : 'mt-7'" class="col-md-12 dropdown-card dropdown">
                <div class="dropdown-item-header">
                  <small><strong>Your Custom Customers</strong></small>
                </div>
                <div class='dropdown-divider'></div>
                <div v-for="(customer, index) in customCustomers" :key="index" class="dropdown-item" @click="setCustomer(customer)">
                    <span>{{customer.title}}</span>
                </div>
                <div class="dropdown-item-header">
                  <small><strong>Existing Orderbly Customers</strong></small>
                </div>
                <div class='dropdown-divider'></div>
                <div v-for="(customer, index) in orderblyCustomers" :key="index" class="dropdown-item" @click="setCustomer(customer)">
                    <span>{{customer.title}}</span>
                </div>
              </card>
            <base-button class="mb-4" size="md" :outline="$mq == 'mobile'" :class="$mq == 'mobile' ? 'col-md-1 w-50 text-center' : 'col-md-2'" @click="toggleNewClient()" type="default">Add New</base-button>
          </div>
      </base-input>
      <base-input class="mt-2 text-left">
        <label class="col-md-2 ml--2 col-form-label form-control-label">Address</label>
        <el-select
          class="col-md-10"
          v-model="addressId"
        >
          <el-option
            v-for="item in addresses"
            :key="item.id"
            :label="`${item.address_one}, ${item.city}`"
            :value="item.id">
          </el-option>
        </el-select>
      </base-input>

        <div class="row text-left">
          <label class="col-md-2 mt-2 form-control-label">Order Number</label>
          <base-input
            alternative
            placeholder="Order Number"
            v-model="order_number"
            class="col-md-10"
          >
          </base-input>
        </div>

      <div class="row text-left">
        <base-input class="mt-2 col-md-12">
          <label class="col-md-2 mt-2 ml--2 form-control-label">Select Driver</label>
          <el-select
            class="select-danger col-md-10 ml--1"
            placeholder="Select Delivery Driver"
            v-model="userId"
          >
            <el-option
              v-for="driver in members"
              class="select-danger"
              :value="driver.user_id"
              :label="driver.user_name"
              :key="driver.user_id"
            ></el-option>
          </el-select>
        </base-input>
      </div>

      <div class="row text-left">
        <label class="col-md-2 mt-2 form-control-label">Delivery Date</label>
        <base-input class="mt-2 col-md-10">
          <flat-picker
            slot-scope="{focus, blur}"
            @on-open="focus"
            @on-close="blur"
            :config="{allowInput: true,
            dateFormat: 'd-m-Y',
            minDate: `${minDate}`,
            maxDate: `${maxDate}`}"
            class="form-control datepicker"
            :value="minDate"
            v-model="dates.simple"
          ></flat-picker>
        </base-input>
      </div>

    </div>
    <div class="text-center">
      <base-button v-if="!newClient" :loading="isLoading" @click="postNewCustomDelivieries" type="success">Add</base-button>
      <base-button v-if="!newClient"  @click="toggleDisplayCustomDelivery()" type="danger">Close</base-button>
    </div>
    <new-custom-client @back="toggleNewClient" v-if="newClient"></new-custom-client>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Select, Option, OptionGroup } from "element-ui";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
  export default {
    data: function() {
    return {
        options: [],
        hideDropdown: true,
        searchQuery: '',
        addresses: [],
        loading: false,
        newClient: false,
        addressId: null,
        isLoading: false,
        order_number: '',
        userId: null,
        clientAddress: '',
        clientId: null,
        members: [],
        dates: {
          simple: new Date(new Date().getTime() + 24 * 60 * 60 * 1000)
        }
      };
    },
    components: {
      'new-custom-client': () => import('../modals/NewCustomClient'),
      flatPicker,
      [Select.name]: Select,
      [Option.name]: Option,
      [OptionGroup.name]: OptionGroup
    },
    watch: {
      clientId (val) {
        this.addressValue = null
        this.addresses = this.options.find(company => company.id === val).addresses
        this.company =  this.options.find(company => company.id === val)
      }
    },
    computed: {
      submittable () {
        return this.customerId !== null && this.addressValue !== null && this.date !== null
      },
      customCustomers () {
        return this.options.filter(option => option.type == "Custom Customer")
      },
      orderblyCustomers () {
        return this.options.filter(option => option.type == "Orderbly Customer")
      },
      types () {
        return [
        {
          label: 'Your Custom Customers',
          options: this.options.filter(option => option.type == "Custom Customer")
        },
        {
          label: 'Existing Orderbly Customers',
          options: this.options.filter(option => option.type == "Orderbly Customer")
        }
        ]
      },
      maxDate() {
        let date = new Date(Date.now() + 12096e5);
        let datestring =
          date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return datestring;
      },
      minDate() {
        let date = new Date(new Date().getTime() + 0 * 60 * 60 * 1000);
        let datestring =
          date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return datestring;
      },
      ...mapGetters({
        customClients: "fulfilmentOrders/customClients",
        getDisplayNewCustomClientModal: "modals/getDisplayNewCustomClientModal",
        currentCompany: "companies/getCurrentCompany",
        currentUser: "user/getCurrentUser",
      })
    },
    async mounted () {
      this.$store.dispatch('fulfilmentOrders/getCustomClients', this.currentCompany.id)
        await this.$store.dispatch("companies/fetchCompanyMemberships").then((res) => {
        this.members = res
        this.isLoading = false
      })
    },
    methods: {
      closeDropdown (ev) {
        console.log(ev.target.classList)
        if (
            ev.target.classList.contains('modal-body') 
            || ev.target.classList.contains('card-body')
            || ev.target.classList.contains('has-label')
            || ev.target.classList.contains('form-group')
            || ev.target.classList.contains('text-center')
          ) {
          this.hideDropdown = true
        }
      },
      setCustomer(customer) {
        this.hideDropdown = true
        this.clientId = customer.id
        this.searchQuery = customer.title
      },
      notify(message, type) {
        this.$notify({
          message: `Update successful`,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      },
       remoteMethod(ev) {
        this.options = []
        this.loading = true
        this.$store.dispatch('companies/findCompanyByTitle', {query: ev, company_uuid: this.currentCompany.uuid})
        .then((res) => {
          if (res.status == 200) {
            this.options = res.data
          }
        })
        this.loading = false
      },
      postNewCustomDelivieries () {
        this.isLoading = true
        this.$store.dispatch("fulfilmentOrders/postNewCustomDelivery", {
          custom_delivery: {
            order_number: this.order_number,
            delivery_driver_id: this.userId,
            customer_id: this.clientId,
            due_date: this.dates.simple,
            address_id: this.addressId,
            supplier_id: this.currentCompany.id
          },
          route: this.$route.path
        }).then((res) => {
          if (res) {
            this.isLoading = true
            this.notify('Delivery has been successfully added', 'success')
            this.toggleDisplayCustomDelivery()
          } else {
            this.isLoading = true
            this.notify('Delivery could not be added. Please try again or contact support should the problem persist.', 'danger')
            this.toggleDisplayCustomDelivery()
          }
        })
      },
      toggleDisplayCustomDelivery () {
        this.$store.commit("modals/toggleDisplayCustomDelivery")
      },

      toggleNewClient () {
        this.newClient = !this.newClient
      }

    }
  }
</script>

<style lang="scss" scoped>

</style>