<template>
    <div>
      <div class="card-header mb-3">
        <h2>Create a new Customer</h2>
        <p class="text-sm font-weight-bold mb--2">
          Please create a new customer, this will be added to your custom customers list where you can allocate future sales towards.
        </p>
      </div>
      <div>
      <base-input
          label="Title *"
          placeholder="Title"
          v-model="custom_client.title"
          class="col-md-12"
        />
      <base-input
          label="Contact *"
          placeholder="Contact number"
          v-model="custom_client.contact"
          class="col-md-12"
          :inputmode="'numeric'"
          :pattern="'[0-9]*'"
          :type="'number'"
        />
      <base-input
          label="Email *"
          placeholder="email"
          v-model="custom_client.email"
          class="col-md-12"
        />
      <base-input
          label="Vat Number"
          placeholder="Vat Number"
          v-model="custom_client.vat_number"
          class="col-md-12"
        />
      <base-input
          label="Contact Person"
          placeholder="Contact Person"
          v-model="custom_client.contact_person"
          class="col-md-12"
        />

      <base-input class="col-md-12" v-model="streetAddress" label="Street Address" placeholder="83 Castle Street">
      </base-input>
      <base-input label="Select Province">
        <el-select
          class="col-md-12"
          v-model="province"
          filterable
          placeholder="Select Province"
        >
          <el-option
            v-for="(item,i) in allProvinces"
            :key="i"
            :label="item"
            :value="item"
            style="z-index:9999999">
          </el-option>
        </el-select>
      </base-input>

      <base-input label="Select your Area">
        <el-select
          class="col-md-12"
          v-model="suburb"
          :disabled="!this.suburbList.length"
          filterable
          clearable
          placeholder="Select Area"
        >
          <el-option
            v-for="(item, i) in suburbList"
            :key="i"
            :label="`${item.name}, ${item.street_code}`"
            :value="item.id">
          </el-option>
        </el-select>
      </base-input>

      <delivery-map v-if="this.suburb" :zoom="15" height="300px" :center="{lat: parseFloat(address[0].address.latitude), lng: parseFloat(address[0].address.longitude) }" :markers="address" class="mx-4"/>
      <delivery-map v-else :zoom="15" height="300px" class="mx-4"/>

      <div class="text-center mt-3">
        <base-button :disabled="notSubmittable" @click="registerCustomClient()" type="danger">Add</base-button>
        <base-button @click="back()" type="secondary">Back</base-button>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Select, Option } from 'element-ui'
import { plainAxiosInstance } from '../../../../axios/index';
export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    'delivery-map': () => import("../../components/sections/mapSection"),
  },
  data() {
    return {
      isLoading: null,
      postalCodeSearch: null,
      hasCoordinates: false,
      name: '',
      value: '',
      province: '',
      address: [],
      allProvinces: [],
      suburbs: [],
      suburb: null,
      globalAddress: null,
      cities: [],
      city: null,
      streetAddress: null,
      postalCode: null,
      lat: '',
      lng: '',
      custom_client: {
        contact: "",
        email: "",
        supplier_id: null,
        title: "",
        address_one: "",
        suburb: "",
        province: "",
        country: "",
        contact_person: "",
        city: "",
        postal_code: "",
        vat_number: "",
        latitude: "",
        longitude: "",
        current_company: ""
      }
    };
  },
  computed: {
    suburbList () {
      if (this.postalCodeSearch == null || this.postalCodeSearch == "") return this.suburbs
      let list = []
      this.suburbs.forEach((suburb) => {
        if (suburb.street_code == this.postalCodeSearch) list.push(suburb)
      })
      return list
    },
    postalCodes () {
      if (this.city == null) return
      let list = []
      this.suburbs.forEach((suburb) => {
        if (!list.includes(suburb.street_code)) list.push(suburb.street_code)
      })
      return list
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany"
    }),
    notSubmittable () {
      if (this.custom_client.title == '' || (this.custom_client.email == '' && this.custom_client.contact == '' ) || (this.custom_client.address_one == '')  ||  this.custom_client.latitude == '') return true
      return false
    }
  },
  async mounted() {
    let that = this
    let res = await this.$store.dispatch('companies/fetchAllProvinces')
    .then(res => {
      this.allProvinces = res.data
      return res.data
    })
  },
  methods: {
    openLoading() {
      this.isLoading = this.$vs.loading({
        background: this.color,
        color: '#dc3545'
      })
    },
    toggleLoading (status) {
      if (status) {
        this.isLoading = this.$vs.loading({
          background: this.color,
          color: '#dc3545'
        })
      } else {
        this.isLoading.close()
      }
    },
    back () {
      this.$emit('back')
    },
    async registerCustomClient() {
      this.custom_client.supplier_id = this.currentCompany.id
      await this.$store.dispatch("companies/createCustomClient", {custom_client: this.custom_client, supplier_id: this.currentCompany.id})
      .then((res) =>{
        if (res) {
          this.back()
          this.$emit('complete')
          this.$store.commit("modals/toggleNewAddressModal")
          this.$notify({
            message: `New address has been created.`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "success"
          });
        } else {
          this.back()
          this.$notify({
            message: `New address could not be created. Please try again or contact support should the issue persist`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
        }
      })
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  },
  watch: {
    streetAddress () {
      this.custom_client.address_one = this.streetAddress
      this.suburb = null
      this.province = null
      this.postalCode = null
    }, 
    suburb () {
      let that = this
      let findSuburb = this.suburbList.find(s => s.id == this.suburb)
      let street = this.streetAddress.split(' ').join('+');
      let area = `${findSuburb.name}+${findSuburb.city}+${findSuburb.province}+${findSuburb.street_code}`
      let address = street + area
      this.postalCode = findSuburb.street_code
      that.toggleLoading(true)
      plainAxiosInstance.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyCrV4J1_AL5YtrlFtanlHGMRt1dhbBwWew`)
      .then((response) => {
        that.address = []
        that.custom_client.address_one = this.streetAddress,
        that.custom_client.suburb = this.$options.filters.titleCase(findSuburb.name),
        that.custom_client.province = findSuburb.province,
        that.custom_client.country = 'South Africa',
        that.custom_client.city = response.data.results[0].address_components.find(a => a.types.includes('administrative_area_level_2')).long_name,
        that.custom_client.postal_code = findSuburb.street_code,
        that.custom_client.latitude = response.data.results[0].geometry.location.lat,
        that.custom_client.longitude = response.data.results[0].geometry.location.lng,
        that.address.push({
          address: {
            address_one: this.streetAddress,
            suburb: this.$options.filters.titleCase(findSuburb.name),
            city: response.data.results[0].address_components.find(a => a.types.includes('administrative_area_level_2')).long_name,
            province: findSuburb.province,
            country: 'South Africa',
            postal_code: findSuburb.street_code,
            latitude: response.data.results[0].geometry.location.lat,
            longitude: response.data.results[0].geometry.location.lng,
          }
        })
        that.hasCoordinates = true
        that.toggleLoading(false)
      })
    },
    province (oldVal, newVal) {
      this.toggleLoading(true)
      this.$store.dispatch('companies/fetchAllAreasByProvince', {province: this.province})
      .then((res) => {
        this.suburbs = res.data
         this.toggleLoading(false)
      })
    },
  },
};
</script>

<style lang="scss">
#lblFormattedAddress {
  z-index: 1;
}
.el-select-dropdown {
  z-index: 10000000!important;
}
</style>