<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <base-button
          @click="inPreperation()"
          block
          outline
          type="primary"
          :size="'lg'"
          class="mb-3"
          >In Preparation</base-button
        >
      </div>

      <div class="col-md-6">
        <base-button
          @click="deliveryPending()"
          block
          outline
          type="warning"
          :size="'lg'"
          class="mb-3"
          >Delivery Pending</base-button
        >
      </div>

      <div class="col-md-6">
        <base-button
          @click="deliveryInProgress()"
          block
          outline
          :size="'lg'"
          :type="'info'"
          class="mb-3"
          >Delivery in Progress</base-button
        >
      </div>

      <div v-if="type !== 'orderbly'" class="col-md-6">
          <base-button block :size="'lg'" @click="completeDelivery()" :type="'success'" outline class="mb-3">Complete Delivery</base-button>
      </div>

      <div v-else class="col-md-6">
        <router-link :to="`/receive_order/${id}`">
          <base-button block :size="'lg'" :type="'success'" outline class="mb-3"
            >Complete Delivery</base-button
          >
        </router-link>
      </div>
    </div>

    <base-button
      style=" height: 50px !important;"
      class="ml-2 mt-4"
      @click="toggleOrderDeliveryOptions"
      type="danger"
      >Close</base-button
    >
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert2";
export default {
  props: {
    id: {
      type: [Number, String],
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  methods: {
    inPreperation() {
      swal({
        title: "Is this order being prepared? ",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.toggleOrderDeliveryOptions()
        this.updateStatus(1)
      });
    },
    deliveryPending() {
      swal({
        title: "Is ready for delivery? ",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.toggleOrderDeliveryOptions()
        this.updateStatus(2)
      });
    },
    deliveryInProgress() {
      swal({
        title: "Is this delivery in progress?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.toggleOrderDeliveryOptions()
        this.updateStatus(3)
      });
    },
    completeDelivery() {
      swal({
        title: "Is this delivery complete?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.toggleOrderDeliveryOptions()
        this.updateStatus(4)
      });
    },
    updateStatus(status) {
      if (this.type == 'orderbly') {
        this.$store.dispatch("fulfilmentOrders/updateOrderDeliveryStatus", { order_id: this.id, status: status });
      } else {
        this.$store.dispatch("fulfilmentOrders/updateCustomOrderDeliveryStatus", { id: this.id, delivery_status: status });
      }
    },
    reorder() {
      this.$emit("reorder");
    },
    ...mapActions({
      receiveOrder: "orders/receiveOrder",
    }),
    toggleOrderDeliveryOptions () {
      this.$store.commit("modals/setOrderDeliveryOptions")
    }
  },
  computed: {
    ...mapGetters({
      currentOrder: "orders/getCurrentOrder"
    })
  }
};
</script>

<style lang="scss" scoped></style>
