<template>
  <div class="row mt-2">
    <card class="col-md-8">
      <div v-if="$mq !== 'desktop' && currentReceiveOrder.order_reconciliation">
        <div v-for="item in currentReceiveOrder.order_items" :key="item.id">
          <stats-card>
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h2 font-weight-bold mb-0">{{ item.product_title }}</span>
                </div>
                <div class="col-auto">
                </div>
            </div>
            <div class="mt-4">
               <base-input
                style="color: black!important;"
                :disabled="true"
                v-model="item.received"
              >
                <template slot="prepend"><div class="text-muted">Delivered</div></template>
                <template slot="append"><div class="text-muted ml-1">Expected {{item.quantity}} </div></template>
              </base-input>
            </div>
                <!-- <span class="text-nowrap">{{ `${delivery.address.address_one || ""} ${delivery.address.suburb || ""} ${delivery.address.city || ""} ${delivery.address.postal_code || ""}` }}</span> -->
          </stats-card>
          </div>
      </div>
      <div slot="header" class="bg-white border-0">
        <div class="ml-4">
            <h2 class="mb-0">Finalise Delivery</h2>
            <p class="text-sm mb--2">
              A signature is required to finalise the order. This signature will be viewable in the delivery reconciliation on the order.
            </p>
        </div>
      </div>
      <div class="card-body">
        <div>
          <h1>Received Signature</h1>
          <VueSignaturePad  
            style="border:dotted;border-color:lightslategrey"
            width="100%"
            height="400px"
            ref="signaturePad"
          />
            <base-button
              class="ml-2 btn-sm mt-2"
              @click="undo"
              type="secondary btn pull-right btn-lg"
              >Undo</base-button
            >
          <div>
            <h3 class="mb-0 ml-3 mt-4">Received By</h3>
            <p class="text-sm ml-3">
              The name of the individual who is receiving the order. 
            </p>
            <base-input class="col-md-12 mt-2" v-model="name"></base-input>
            <base-input class="col-md-12 mt-4">
              <h3 class="mb-0">Delivery Notes</h3>
              <p class="text-sm">
                Any delivery notes will be viewable on the order as a delivery comment.
              </p>
              <textarea
                rows="4"
                v-model="deliveryNote"
                style="resize: none;"
                class="form-control "
              ></textarea>
            </base-input>
            <div class="row text-center">
              <base-button
                style="height: 50px !important"
                class="ml-2 btn pull-right btn-lg"
                @click="confirm()"
                :disabled="hasInput"
                :loading="isLoading"
                type="danger"
                >Save</base-button>
              <base-button
                style="height: 50px !important"
                class="ml-2 btn pull-right btn-lg"
                @click="$emit('toggle-page')"
                type="secondary"
                >Back</base-button>
            </div>
        </div>
        </div>
      </div>
    </card>
  </div>
</template>
<script>
import swal from "sweetalert2";
export default {
  name: "MySignaturePad",
  props: ['routeTo', 'currentReceiveOrder', 'canSave'],
  data () {
    return {
      name: "",
      isLoading: false,
      deliveryNote: ""
    }
  },
  computed: {
    hasInput () {
      return this.name == ""
    }
  },
  watch: {
    canSave (val) {
      if (val) this.save()
    }
  },
  methods: {
    confirm () {
      if (this.currentReceiveOrder.order_reconciliation) {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value)  {
            this.$emit('save-values')
          } else {
            return
          }
        });
      } else {
        this.save()
      }
    },
    balance(received, quantity) {
      let receivedInt;
      if (typeof received == "undefined" || received === "") {
        receivedInt = 0;
      } else {
        receivedInt = parseInt(received);
      }
      return receivedInt - quantity;
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    save() {
      this.isLoading = true
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      this.$store
        .dispatch("fulfilmentOrders/orderSignature", {
          data: data,
          order_id: this.$route.params.id,
          received_by: this.name,
          delivery_note: this.deliveryNote
        })
        .then(res => {
          if (res) {
            this.isLoading = false
            this.$emit("toggle-loading");
              this.$router.go(-1)
          } else {
            this.isLoading = false
            alert("could not be saved");
          }
        });
    }
  }
};
</script>
<style lang="css">
canvas {
  background: white;
}
</style>
