<template>
  <div>
    <!-- Change delivery date -->
    <base-input class="mt--2 text-center col-md-11 ml-4" label="Order Due Date" prepend-icon="fas fa-calendar">
      <flat-picker
        slot-scope="{focus, blur}"
        @on-open="focus"
        @on-close="blur"
        :config="{allowInput: true,
          dateFormat: 'd-m-Y',
          minDate: `${minDate}`,
          maxDate: `${maxDate}`}"
        class="form-control datepicker"
        :value="minDate"
        v-model="dates.simple"
      ></flat-picker>
    </base-input>

    <!-- Change delivery personell -->
    <base-input class="mt-2 col-md-12 text-center" label="Select Delivery Driver">
      <el-select
        class="select-danger col-auto"
        placeholder="Select Delivery Driver"
        v-model="userId"
      >
        <el-option
          v-for="driver in members"
          class="select-danger"
          :value="driver.user_id"
          :label="driver.user_name"
          :key="driver.user_id"
        ></el-option>
      </el-select>
    </base-input>

    <div class="text-center">
      <base-button @click="saveUpdates" :disabled="dateValid" type="success">Save</base-button>
      <base-button @click="toggleDisplayUpdateDeliveryDetails()" type="danger">Close</base-button>
    </div>

    <modal :show="getNewAddressModal" size="md">
      <new-company-address v-if="getNewAddressModal"></new-company-address>
    </modal>
  </div>
</template>

<script>
import flatPicker from "vue-flatpickr-component";
import { mapGetters } from 'vuex'
import { Select, Option } from "element-ui";
export default {
  props: ["order", "isSupplier", 'orderDeliveryIds', 'orderId'],
  components: {
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data () {
    return {
      addressId: null,
      members: [],
      userId: null,
      isLoading: false,
      dates: { simple: null }
    }
  },
  computed: {
    dateValid () {
      return this.dates.simple === null
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      getNewAddressModal: "modals/getNewAddressModal",
      getCompanyAddresses: "companies/getCompanyAddresses"
    }),
    maxDate() {
      let date = new Date(Date.now() + 32096e5);
      let datestring =
        date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      return datestring;
    },
    minDate() {
      let date = new Date(new Date().getTime());
      let datestring =
        date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      return datestring;
    },
  },
  methods: {
    toggleDisplayUpdateDeliveryDetails () {
      if (this.$route.path !== 'completed_deliveries') {
        this.$store.commit("modals/toggleDisplayUpdateDeliveryDetails")
      }
    },
    notify(message,type) {
      this.$notify({
        message: message,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: type
      });
    },
    saveUpdates () {
      let order = {
        order_id: this.order.id,
        type: this.order.type, 
        route: this.$route.path,
        date: this.dates.simple,
        driver_id: this.userId,
        supplier_id: this.currentCompany.id
      }
      if (order.date === "") order.date = null
      
      this.$store.dispatch("fulfilmentOrders/updateDeliveryDetails", order).then((res) => {
        if (res) {
          this.toggleDeliveryModal()
          this.notify('The delivery address has been updated','success')
        } else {
          this.toggleDeliveryModal()
          this.notify('The delivery could not be updated','danger')
        }
      }).catch(() => {
        this.toggleDeliveryModal()
        this.notify('The delivery could not be updated','danger')
      })
    },
    toggleDeliveryModal () {
      this.$store.commit("modals/toggleDisplayUpdateDeliveryDetails")
    }
  },
  async mounted()  {
    await this.$store.dispatch("companies/fetchCompanyMemberships").then((res) => {
      this.members = res
    }).then(() => {

      let date = new Date(this.order.order_date)
      this.dates.simple = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      this.isLoading = false
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
