<template>
  <div class="card">
    <div class="card-body">
      <div
        class="timeline timeline-one-side"
        data-timeline-content="axis"
        data-timeline-axis-style="dashed"
      >
        <div v-for="event in events" :key="event.title" class="timeline-block">
          <span class="timeline-step" :class="`badge-${event.type}`">
            <i :class="event.icon"></i>
          </span>
          <div class="timeline-content">
            <div class="d-flex justify-content-between pt-1">
              <div>
                <span class="text-muted text-sm font-weight-bold">{{event.title}}</span>
              </div>
              <div class="text-right">
                <small class="text-muted">
                  <i class="fas fa-clock mr-1"></i>
                  {{event.time}}
                </small>
              </div>
            </div>
            <h6 class="text-sm mt-1 mb-0">{{event.description}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "timeline-card",
  data() {
    return {
      events: [
        {
          title: "Order Sent",
          description: "Your order has been delivered",
          icon: "ni ni-send",
          type: "success",
          time: "2 hrs ago"
        },
        {
          title: "Accepted",
          description: "The supplier has accepted your order",
          icon: "ni ni-check-bold",
          type: "warning",
          time: "4 hrs ago"
        },
        {
          title: "Dispatched",
          description: "Your oder has not yet been dispatched",
          icon: "ni ni-delivery-fast",
          type: "",
          time: ""
        },
        {
          title: "Delivered",
          description: "Delivery pending (Almost there 🥳)",
          icon: "ni ni-trophy",
          type: "",
          time: "o"
        }
      ]
    };
  }
};
</script>
<style>
</style>
