<template>
  <div v-if="permissionsChecked">
    <div class="container-fluid">
      <div class="example">
        <h3 class="mb-0 mt-4">Integrations</h3>
      </div>
      <div class="row">
        <div class="col-md-7 mt-8">
          <card>
            <div class="card-header">
              <h2>Integration Partners</h2>
            </div>
              <ProviderIndexTable title="Light Table" />
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { ProviderIndexTable, InventoryProviderIndexTable } from "../index";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "tables",
  components: {
    ProviderIndexTable,
    InventoryProviderIndexTable
  },
  data () {
    return {
      permissionsChecked: false,
    }
  },
  computed: {
    ...mapGetters({
      permissions: "user/userPermissions",
    }),
  },
  mounted () {
    if (this.permissions.integration_settings.can_view_integrations) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    this.$store.dispatch("integrations/fetchIntegrationProviders");  
  },
};
</script>
<style></style>
