<template>
  <div>
    <div class="ml-4 mr-4 mt-4">
      <customer-index-table></customer-index-table>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "customer-index-table": () => import("../components/tables/CustomerIndexTable"),
    "customer-analysis-header": () => import("../components/headers/CustomerAnalysisHeader")
  }
};
</script>

<style lang="scss" scoped>
</style>