<template>
  <div>
    <div class="ml-4 mr-4 mt-8">
      <customer-index-table></customer-index-table>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "customer-index-table": () =>
      import("../components/tables/CustomerStatementIndex")
  }
};
</script>

<style lang="scss" scoped>
</style>