<template>
  <div v-if="permissionsChecked">
    <div v-if="isSupplier">
      <div class="page-header ml-4">
        <h3 class="mb-0 mt-4">Dashboard</h3>
      </div>
      <tabs tabNavClasses="nav-fill flex-column flex-sm-row mt-4 ml-4 mr-4">
        <tab-pane title="Sales">
          <SalesHeader :dashboardSales="displaySales" />
        </tab-pane>
        <tab-pane title="Purchases">
          <PurchasesHeader :dashboardPurchases="displayPurchases" />
        </tab-pane>
      </tabs>
    </div>
    <div v-else>
      <div class="page-header ml-4">
        <h3 class="mb-0 mt-4">Dashboard</h3>
      </div>
      <PurchasesHeader :dashboardPurchases="displayPurchases" />
    </div>
    <div class="row ml-2 mr-2">
      <div v-if="isSupplier" :class="tableWidth">
        <SalesTable class="mt--6" :sales="displaySales.dashboard_sales" :status="'all'"></SalesTable>
      </div>
      <div :class="tableWidth">
        <PurchaseTable class="mt--6" :purchases="displayPurchases.dashboard_purchases" :status="'all'"></PurchaseTable>
      </div>
    </div>
  </div>
</template>
<script>
// Charts
import * as chartConfigs from "@/components/Charts/config";
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";

// Components
import SalesTable from "../Dashboard/SalesTable";
import PurchaseTable from "../Dashboard/PurchaseTable";
import OrderIndexTable from "../Orders/components/tables/OrderIndexTable";
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
import BaseProgress from "@/components/Shared/BaseProgress";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/Cards/StatsCard";
import PurchasesHeader from "./PurchasesHeader";
import SalesHeader from "./SalesHeader";

// Lists
import ActivityFeed from "./ActivityFeed";
import TaskList from "./TaskList";
import UserList from "./UserList";
import ProgressTrackList from "./ProgressTrackList";

// Tables
import LightTable from "./LightTable";
import SocialTrafficTable from "./SocialTrafficTable";
import PageVisitsTable from "./PageVisitsTable";
import { mapGetters } from "vuex";

export default {
  components: {
    tabs: Tabs,
    "tab-pane": Tab,
    ActivityFeed,
    LineChart,
    BarChart,
    PurchasesHeader,
    OrderIndexTable,
    PurchaseTable,
    SalesTable,
    SalesHeader,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    UserList,
    ProgressTrackList
  },
  data() {
    return {
      permissionsChecked: false,
      basePurchases: {
        order_totals: {
          current_month: 0.0,
          last_month: 0.0,
          order_totals_ratio: 0.0
        },
        average_order_values: {
          current_month: 0.0,
          last_month: 0.0,
          average_order_totals_ratio: 0.0
        },
        number_of_orders: {
          current_month: 0,
          last_month_orders_count: 0,
          average_number_of_orders_ratio: 0
        },
        number_of_suppliers: {
          current_month: 0,
          last_month_orders_count: 0,
          number_of_suppliers_ratio: 0
        },
        dashboard_sales: []
      },
      baseSales: {
        order_totals: {
          current_month: 0.0,
          last_month: 0.0,
          order_totals_ratio: 0.0
        },
        average_order_values: {
          current_month: 0.0,
          last_month: 0.0,
          average_order_totals_ratio: 0.0
        },
        number_of_orders: {
          current_month: 0,
          last_month_orders_count: 0,
          average_number_of_orders_ratio: 0
        },
        number_of_suppliers: {
          current_month: 0,
          last_month_orders_count: 0,
          number_of_suppliers_ratio: 0
        },
        dashboard_sales: []
      }
    };
  },
  computed: {
    displayPurchases() {
      return this.dashboardPurchases
        ? this.dashboardPurchases
        : this.basePurchases;
    },
    displaySales() {
      return this.dashboardSales ? this.dashboardSales : this.baseSales;
    },
    tableWidth() {
      return this.isSupplier ? "col-xl-6" : "col-xl-12";
    },
    ...mapGetters({
      dashboardPurchases: "companies/dashboardPurchases",
      dashboardSales: "companies/dashboardSales",
      permissions: "user/userPermissions",
      isSupplier: "companies/isSupplier"
    })
  },
  methods: {
    arrowType(val) {
      return val > 0 ? "fa fa-arrow-up" : "fa fa-arrow-down";
    }
  },
  mounted() {
    if (this.permissions.company_settings.can_view_dashboard) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    this.$store.dispatch("companies/dashboardSales");
    this.$store.dispatch("companies/dashboardPurchases");
  }
};
</script>
<style scoped>
</style>
