<template>
  <div>
    <base-header class="pb-6">
      <!-- Card stats -->
      <div class="row mt-4">
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Total Purchases"
            type="gradient-red"
            :sub-title="purchasesSummary.order_totals.current_month"
            :currency="true"
            icon="ni ni-active-40"
          >
            <template slot="footer">
              <span
                :class="textColor(purchasesSummary.order_totals.order_totals_ratio)"
                class="mr-2"
              >
                <i :class="arrowType(purchasesSummary.order_totals.order_totals_ratio)"></i>
                {{purchasesSummary.order_totals.order_totals_ratio | currency}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Average Cart Value"
            type="gradient-orange"
            :sub-title="purchasesSummary.average_order_values.current_month"
            :currency="true"
            icon="ni ni-chart-pie-35"
          >
            <template slot="footer">
              <span
                :class="textColor(purchasesSummary.average_order_values.average_order_totals_ratio)"
                class="mr-2"
              >
                <i
                  :class="arrowType(purchasesSummary.average_order_values.average_order_totals_ratio)"
                ></i>
                {{purchasesSummary.average_order_values.average_order_totals_ratio | currency}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Number of Purchases"
            type="gradient-green"
            :sub-title="purchasesSummary.number_of_orders.current_month.toString()"
            icon="ni ni-money-coins"
          >
            <template slot="footer">
              <span
                :class="textColor(purchasesSummary.number_of_orders.average_number_of_orders_ratio)"
                class="mr-2"
              >
                <i
                  :class="arrowType(purchasesSummary.number_of_orders.average_number_of_orders_ratio)"
                ></i>
                {{purchasesSummary.number_of_orders.average_number_of_orders_ratio}}
              </span>
              <span class="text-nowrap">Compared to last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Number of Suppliers"
            type="gradient-info"
            :sub-title="purchasesSummary.number_of_suppliers.current_month.toString()"
            icon="ni ni-chart-bar-32"
          >
            <template slot="footer">
              <span :class="textColor(purchasesSummary.number_of_suppliers.number_of_suppliers_ratio)"
                class="mr-2"
              >
                <i
                  :class="arrowType(purchasesSummary.number_of_suppliers.number_of_suppliers_ratio)"
                ></i>
                {{purchasesSummary.number_of_suppliers.number_of_suppliers_ratio}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
export default {
  props: ["dashboardPurchases"],
  data() {
    return {
      purchases: {
        order_totals: {
          current_month: 0,
          order_totals_ratio: 0
        },
        average_order_values: {
          current_month: 0,
          average_order_totals_ratio: 0
        },
        number_of_orders: {
          current_month: 0,
          average_number_of_orders_ratio: 0
        },
        number_of_suppliers: {
          current_month: 0,
          number_of_suppliers_ratio: 0
        }
      }
    };
  },
  computed: {
    purchasesSummary() {
      return this.dashboardPurchases ? this.dashboardPurchases : this.purchases;
    }
  },
  methods: {
    textColor(val) {
      return val >= 0 ? "text-success" : "text-danger";
    },
    arrowType(val) {
      return val > 0 ? "fa fa-arrow-up" : "fa fa-arrow-down";
    }
  }
};
</script>

<style lang="scss" scoped>
</style>