<template>
  <div class="card">
    <div class="border-0 card-header">
      <h3 class="mb-0">Latest Purchases</h3>
    </div>
    <el-table
      class="table-responsive table-flush"
      header-row-class-name="thead-light"
      :data="purchases"
    >
      <el-table-column label="Client" min-width="210px" prop="name" sortable>
        <template v-slot="{row}">
          <router-link :to="`order/${row.order_uuid}`" class="text-black">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="font-weight-600 name mb-0 text-sm">{{ row.customer }}</span>
              </div>
            </div>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column label="Status" min-width="170px" prop="status" sortable>
        <template v-slot="{row}">
          <badge class="badge-dot mr-4" type>
            <span class="status">{{ row.order_status | capitalize }}</span>
          </badge>
        </template>
      </el-table-column>

      <el-table-column label="Order Number" min-width="170px" prop="status" sortable>
        <template v-slot="{row}">
          <badge class="badge-dot mr-4" type>
            <i :class="`bg-${row}`"></i>
            <span class="status">{{ row.order_number }}</span>
          </badge>
        </template>
      </el-table-column>

      <el-table-column label="Gross Amount" prop="gross_amount" min-width="240px" sortable>
        <template v-slot="{row}">
          <div class="d-flex align-items-center">
            <span class="completion mr-2">{{ row.gross_amount | currency }}</span>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown
} from "element-ui";
export default {
  name: "purchase-dashboard-table",
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu
  },
  props: {
    itemLimit: {
      type: [String, Number, Array],
      default: 9
    },
    purchases: {
      type: [String, Number, Array],
      default: () => {}
    }
  },
  data() {
    return {
      currentPage: 1
    };
  }
};
</script>
