<template>
  <div>
    <base-header class="pb-6">
      <!-- Card stats -->
      <div class="row mt-4">
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Total Sales"
            type="gradient-red"
            :sub-title="salesSummary.order_totals.current_month"
            :currency="true"
            icon="ni ni-active-40"
          >
            <template slot="footer">
              <span :class="textColor(salesSummary.order_totals.order_totals_ratio)" class="mr-2">
                <i :class="arrowType(salesSummary.order_totals.order_totals_ratio)"></i>
                {{salesSummary.order_totals.order_totals_ratio | currency}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Average Cart Value"
            type="gradient-orange"
            :sub-title="salesSummary.average_order_values.current_month"
            :currency="true"
            icon="ni ni-chart-pie-35"
          >
            <template slot="footer">
              <span
                :class="textColor(salesSummary.average_order_values.average_order_totals_ratio)"
                class="mr-2"
              >
                <i :class="arrowType(salesSummary.average_order_values.average_order_totals_ratio)"></i>
                {{salesSummary.average_order_values.average_order_totals_ratio | currency}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Number of Sales"
            type="gradient-green"
            :sub-title="salesSummary.number_of_orders.current_month"
            icon="ni ni-money-coins"
          >
            <template slot="footer">
              <span
                :class="textColor(salesSummary.number_of_orders.average_number_of_orders_ratio)"
                class="mr-2"
              >
                <i :class="arrowType(salesSummary.number_of_orders.average_number_of_orders_ratio)"></i>
                {{salesSummary.number_of_orders.average_number_of_orders_ratio}}
              </span>
              <span class="text-nowrap">Compared to last month</span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Number of Customers"
            type="gradient-info"
            :sub-title="salesSummary.number_of_suppliers.current_month"
            icon="ni ni-chart-bar-32"
          >
            <template slot="footer">
              <span
                :class="textColor(salesSummary.number_of_suppliers.number_of_suppliers_ratio)"
                class="mr-2"
              >
                <i :class="arrowType(salesSummary.number_of_suppliers.number_of_suppliers_ratio)"></i>
                {{salesSummary.number_of_suppliers.number_of_suppliers_ratio}}
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
export default {
  props: ["dashboardSales"],
  data() {
    return {
      sales: {
        order_totals: {
          current_month: 0,
          order_totals_ratio: 0
        },
        average_order_values: {
          current_month: 0,
          average_order_totals_ratio: 0
        },
        number_of_orders: {
          current_month: 0,
          average_number_of_orders_ratio: 0
        },
        number_of_suppliers: {
          current_month: 0,
          number_of_suppliers_ratio: 0
        }
      }
    };
  },
  computed: {
    salesSummary() {
      return this.dashboardSales ? this.dashboardSales : this.sales;
    }
  },
  methods: {
    textColor(val) {
      return val >= 0 ? "text-success" : "text-danger";
    },
    arrowType(val) {
      return val >= 0
        ? "fa fa-arrow-up text-success"
        : "fa fa-arrow-down text-danger";
    }
  }
};
</script>

<style lang="scss" scoped>
</style>