<template>  
  <div>
    <div class="page-header ml-4">
    <h3 class="mb-0 mt-4">My Customers</h3>
    <p class="mb-0 mt-1">Add, manage or edit your customers</p>
    </div>
    <my-customers-table class="ml-4 mr-4 mt-4" ></my-customers-table>
  </div>
</template>
<script>
  

export default {
  name: "MyCustomers",
  components: {
    "my-customers-table": () => import("../../MyCustomers/tables/MyCustomersTable"),
  },
  data() {
    return {
    };
  },
  methods: {
  },
  mounted () {
  }
};


</script>

<style lang="scss" scoped>
</style>