<template>
  <div>
    <div class="page-header ml-4">
      <h1 class="mb-0 mt-4"> {{customer.title }}</h1>
       <badge v-if="customer.is_custom_client" type="secondary">Custom Client</badge>
       <badge v-else type="danger" class="h2">Orderbly Client</badge>
  </div>
    <div class="ml-3 mr-3 mt-4">
      <div class="row">
        <div class="col-md-8">
          <customer-balance v-if="$mq !== 'desktop'" :customerBalance="customerBalance" :currentCompany="currentCompany"></customer-balance>
          <!-- Sales -->
          <card>
            <div class="card-header">
              <h2>Trade History</h2>
              <p>All Sales and Credit Notes between your company and your customer</p>
            </div>
            <div style="overflow: scroll;" class="card-body">
              <my-customer-sales :all-sales-orders="orders"></my-customer-sales>
            </div>
          </card>
          <!-- Addresses -->
        </div>
        <div class="col-md-4">
            <customer-balance v-if="$mq === 'desktop'" :customerBalance="customerBalance" :currentCompany="currentCompany"></customer-balance>
            <!-- General -->
            <card>
              <tabs tabNavClasses="nav-fill flex-column flex-sm-row">
              <tab-pane title="Company Details">
                <div style="overflow: scroll!important">
                  <div class="card-header">
                    <h2>Customer Details</h2>
                  </div>
                  <div class="card-body" style="overflow: scroll!important">
                    <base-input :disabled="!isEditing" label="Company Name" v-model="customer.title"></base-input>
                    <base-input :disabled="!isEditing" label="Trading As" v-model="customer.trading_as"></base-input>
                    <base-input :disabled="!isEditing" label="Contact Person" v-model="customer.contact_person"></base-input>
                    <base-input :disabled="!isEditing" label="Contact Number" v-model="customer.contact"></base-input>
                    <label class="form-control-label">Email List</label>
                    <template v-for="(email, index) in emailList">
                      <div :key="index" class="row">
                        <base-input
                          :disabled="!isEditing || (!isEditing && isEditable)"
                          :class="(index > 0 && isEditing) ? 'col-md-10' : 'col-md-12'"
                          :error="$options.filters.emailValidation(emailList[index]).length > 0"
                          :error-message="$options.filters.emailValidation(emailList[index])"
                          :key="index" v-model="emailList[index]"
                        ></base-input>
                        <div v-if="isEditable && isEditing">
                          <i 
                            :key="index" v-if="index > 0"
                            class="fas fa-trash mt-3"
                            @click="emailList = emailList.filter((e,i) => i !== index)"
                          ></i>
                        </div>
                      </div>
                    </template>
                    <base-button v-if="isEditable" :disabled="!isEditing" @click="emailList.push('')" class="btn-sm mb-2">Add Email</base-button>
                    <base-input :disabled="!isEditing" label="Website"></base-input>
                    <base-input :disabled="!isEditing"  label="Vat Registered">
                      <base-switch :disabled="!isEditing" v-model="customer.is_vat_registered"></base-switch>
                    </base-input>
                    <base-input :disabled="!isEditing || !customer.is_vat_registered" label="Vat Number" v-model="customer.vat_number"></base-input>
                    <base-input :disabled="!isEditing" label="Description" v-model="customer.description"></base-input>
                  </div>
                  <div v-if="isEditable">
                    <base-button :disabled="validEmail > 0" v-if="isEditing" @click="updateCustomer()" class="mb-2 ml-4" type="danger">
                      Save
                    </base-button>
                    <base-button @click="editCompany()" class="mb-2" type="secondary">
                      {{isEditing ? 'Cancel' : 'Edit' }}
                    </base-button>

                  </div>
                </div>
              </tab-pane>

              <tab-pane title="Addresses">
                <address-list :isEditable="isEditable" :key="baseKey" @refresh-company="fetchCustomer()" :address-list="addressList" :company="customer"></address-list>
              </tab-pane>
            </tabs>
          </card>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
  export default {
    components: {
      'my-customer-sales': () => import('../tables/MyCustomersSales'),
      'address-list': () => import('../tables/CustomerAddressList'),
      'customer-balance': () => import('../components/cards/CustomerBalanceCard'),
      "new-company-address": () => import("../../Company/components/modals/NewCompanyAddress"),
      "edit-company-address": () => import("../../Company/components/modals/EditCompanyAddress"),
      tabs: Tabs,
      "tab-pane": Tab,
    },
    data () {
      return {
        customer: null,
        emailList: [],
        active: 'guide',
        isEditing: false,
        activeAddress: null,
        fetchedCustomer: null,
        orders: [],
        addressList: [],
        startOfMonth: null,
        endOfMonth: null,
        customerBalance: null,
        baseKey: 0,
        backupCompany: null
      }
    },
    methods: {
      editCompany () {
        if (this.isEditing) {
          this.customer = this.backupCompany
          this.isEditing = !this.isEditing
        } else {
          this.isEditing = !this.isEditing
        }
      }, 
      updateCustomer () {
        let tempCompany = {}
        if (this.customer.id) tempCompany['id'] = this.customer.id
        if (this.customer.website) tempCompany['website'] = this.customer.website
        if (this.customer.email) tempCompany['email'] = this.emailList[0]
        if (this.customer.email) tempCompany['email_list'] = this.emailList
        if (this.customer.vat_number) tempCompany['vat_number'] = this.customer.vat_number
        if (this.customer.default_account_limit) tempCompany['default_account_limit'] = this.customer.default_account_limit
        if (this.customer.description) tempCompany['description'] = this.customer.description
        if (this.customer.title) tempCompany['title'] = this.customer.title
        if (this.customer.trading_as) tempCompany['trading_as'] = this.customer.trading_as
        if (this.customer.description) tempCompany['description'] = this.customer.description
        if (this.customer.is_vat_registered) tempCompany['is_vat_registered'] = this.customer.is_vat_registered
        if (this.customer.contact_person) tempCompany['contact_person'] = this.customer.contact_person
        if (this.customer.is_vat_registered !== null) tempCompany['is_vat_registered'] = this.customer.is_vat_registered
 
        this.$store.dispatch("companies/updateCompanyDetails", tempCompany)
          .then((res) => {
            if (res.status == "201") {
              this.fetchCustomer()
              this.notify('Company details were successfuly updated', 'success')
            } else {
              this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
            }
          })
          .catch((err) => {
            this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
          })
        },
      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 5000,
          icon: "ni ni-bell-55",
          type: type
        });
      },
      fetchCustomer () {
        this.$store.dispatch('companies/fetchMyCustomer', { customerUuid: this.$route.params.customerUuid, companyUuid: this.currentCompany.uuid })
        .then((res) => {
          this.customer = res.data.company
          this.emailList = res.data.company.email_list
          this.backupCompany = JSON.parse(JSON.stringify(res.data.company))
          this.orders = res.data.orders
          this.addressList = res.data.address_list
          this.fetchedCustomer = true
          this.baseKey += 1
          this.isEditing = false
        })
        this.$store.dispatch('statements/fetchTradeStatement', 
          {
            supplier_uuid: this.currentCompany.uuid,
            customer_uuid: this.$route.params.customerUuid,
            startDate: null,
            endDate: null
            }
        ).then(res => {
          this.customerBalance = res.data
        })
      }
    },
    computed: {
      validEmail () {
        let emailCheck = this.emailList.map(e => this.$options.filters.emailValidation(e).length)
        return emailCheck.reduce(function(a, b){ return a + b }, 0);
      },
      isEditable () {
        return this.customer.is_custom_client && this.customer.supplier_id === this.currentCompany.id
      },
      ...mapGetters({
        currentCompany: 'companies/getCurrentCompany'
      })
    },
    watch: {
      currentCompany() {
         if (this.currentCompany !== null && !this.fetchedCustomer) this.fetchCustomer()
      }
    },
    mounted () {
      if (this.currentCompany !== null) this.fetchCustomer()
      var date = new Date();
      this.startOfMonth = new Date(date.getFullYear(), date.getMonth(), 1);
      this.endOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    }
  }
</script>

<style lang="scss" scoped>

</style>