<template>
  <div v-if="permissionsChecked">
    <div>
      <base-header type="gradient" class="pb-6 pb-8 pt-5 pt-md-6"></base-header>
      <div class="container-fluid mt--8">
        <div class="example">
          <h3 class="mb-0 mt-4 mb-4">Tax Settings</h3>
        </div>
        <base-button v-if="canCreateTax" @click="toggleNewTaxModal()" type="primary" class="mb-3">New Tax</base-button>
        <div class="row">
          <div class="col">
            <tax-index-table></tax-index-table>
          </div>
        </div>
      </div>
    </div>
    <modal v-if="canEditTax" :show="getNewTaxModal" size="sm" body-classes="p-0">
      <new-tax-modal></new-tax-modal>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data () {
    return {
      permissionsChecked: false,
    }
  },
  mounted () {
    if (this.userPermissions.tax_settings.can_view_tax_settings) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
  },
  components: {
    "tax-index-table": () => import("../components/tables/TaxIndexTable"),
    "new-tax-modal": () => import("../components/modals/NewTaxModal")
  },
  computed: {
    canCreateTax () {
      return this.userPermissions.tax_settings.can_add_tax
    },
    canEditTax () {
      return this.userPermissions.tax_settings.can_edit_tax
    },
    ...mapGetters({
      getNewTaxModal: "modals/getNewTaxModal",
      userPermissions: "user/userPermissions"
    })
  },
  methods: {
    ...mapActions({
      toggleNewTaxModal: "modals/toggleNewTaxModal",
      toggleEditTaxModal: "modals/toggleEditTaxModal"
    })
  }
};
</script>

<style lang="scss" scoped>
</style>