<template>
  <div v-if="permissionsChecked">
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Completed Deliveries</h3>
    </div>
    <div class="container ct-example-row">
        <download-excel
          class="btn btn-sm btn-outline mt-5 col-auto text-center"
          style="height:20%"
          type="csv"
          :data="filteredResults"
          :fields="json_fields"
          worksheet="Upcoming Deliveries"
          name="upcoming_deliveries.xls">
          <i class="fa fa-download"></i>
        </download-excel>
        <div class="row">
          <div class="col-lg">
            <base-input class="mt-2  text-center" label="Filter Date">
                <el-date-picker
                  v-model="filteredDate"
                  type="date"
                  placeholder="Pick a day">
                </el-date-picker>

            </base-input>
          </div>
          <div class="col-lg">
              <base-input class="mt-2 text-center" label="Filter Customer">
              <el-select
                placeholder="Filter Customer"
                v-model="filterCustomer"
              >
                <el-option
                  v-for="customer in completedDeliveries.customers"
                  :value="customer"
                  :label="customer"
                  :key="customer"
                ></el-option>
              </el-select>
            </base-input>
          </div>
          <div class="col-lg">
              <base-input class="mt-2 text-center" label="Filter Driver">
              <el-select
                placeholder="Filter Driver"
                v-model="filterDriver"
              >
                <el-option
                  v-for="driver in completedDeliveries.drivers"
                  :value="driver"
                  :label="driver"
                  :key="driver"
                ></el-option>
              </el-select>
            </base-input>
          </div>
          <div class="col-lg">
            <base-input class="mt-2 text-center" label="Filter Status">
              <el-select
                placeholder="Filter Status"
                v-model="filterStatus"
              >
                <el-option
                  v-for="status in completedDeliveries.order_statuses"
                  :value="status"
                  :label="status"
                  :key="status"
                ></el-option>
              </el-select>
            </base-input>
          </div>
        </div>
      </div>

        <upcoming-deliveries v-if="$mq !== 'mobile'" :filteredResults="filteredResults"></upcoming-deliveries>
        <upcoming-deliveries-card v-else class="ml-4 mr-4" :filteredResults="filteredResults"></upcoming-deliveries-card>


  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import "flatpickr/dist/flatpickr.css";
import { Table, TableColumn } from "element-ui";
import { Select, Option, DatePicker } from "element-ui";
export default {
  props: ["status"],
  components: {
    [Select.name]: Select,
    [DatePicker.name]: DatePicker,
    [Option.name]: Option,
    'collapse': () => import("@/components/Collapse/Collapse"),
    "collapse-item": () => import("@/components/Collapse/CollapseItem"),
    "my-deliveries-table": () => import("../components/tables/MyDeliveriesTable"),
    "upcoming-deliveries": () => import("../components/tables/DeliveriesIndexTable"),
    "my-deliveries-card": () => import("../components/cards/MyDeliveriesCard"),
    "upcoming-deliveries-card": () => import("../components/cards/UpcomingDeliveriesCard"),
    "select-order-options": () => import("../components/modals/SelectOrderOptions"),
    'custom-delivery': () => import("../components/modals/CustomDelivery"),
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  data() {
    return {
      hasFetchedDeliveries: false,
      permissionsChecked: false,
      filteredDate: new Date(),
      filterDate: "",
      filterCustomer: "",
      filterStatus: "",
      filterDriver: "",
      clientFilter: "",
      json_fields: {
        'Customer name': 'customer',
        'Contact': 'contact',
        'Order Number': 'order_number',
        'Street Address': 'address.address_one',
        'City': 'address.city',
        'Postal Code': 'address.postal_code',
        'Country': 'address.country',
        'Date': 'order_date',
        'Status': 'order_status'
      },
    };
  },
  methods: {
    fetchCompletedDeliveries () {
      this.$store.dispatch("fulfilmentOrders/fetchAllDeliveredOrders", {supplier_id: this.getCurrentComapny.id, date: this.filteredDate});
    },
    filterOrderStatusDateCustomer (){
      return this.completedDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate && order.customer == this.filterCustomer)
    },
    filterOrderStatusDate () {
      return this.completedDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate)
    },
    filterOrderStatusCustomer () {
      return this.completedDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterOrderDateCustomer () {
      return this.completedDeliveries.orders.filter(order => order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterOrderDate () {
      return this.completedDeliveries.orders.filter(order => order.order_date === this.filterDate)
    },
    filterOrderStatus () {
      return this.completedDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterOrderCustomer () {
      return this.completedDeliveries.orders.filter(order => order.customer == this.filterCustomer)
    },
    filterOrderDriver () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() === this.filterDriver.toLowerCase())
    },
    filterDriverDate () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_date === this.filterDate)
    },
    filterDriverStatus () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterDriverCustomer () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterDriverCustomerDate () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverCustomerStatus () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverStatusDate () {
      return this.completedDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate)
    },
    filterAll () {
      return this.completedDeliveries.orders.filter(
        order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate && order.order_status.toLowerCase() === this.filterStatus.toLowerCase()
      )
    },

  },
  computed: {
    filteredResults () {
      if (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus == "" && this.filterDriver === "") {
        return this.filterOrderDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
        return this.filterOrderCustomer()
      } else if  (this.filterDate === "" &&  this.filterDate === "" && this.filterCustomer === "" && this.filterDriver !== "") {
        return this.filterOrderDriver()
      } else if  (this.filterDate == "" && this.filterCustomer == "" && this.filterStatus != "" && this.filterDriver === "") {
        return this.filterOrderStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
        return this.filterOrderDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus !== "" && this.filterDriver === "") {
        return this.filterOrderStatusDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
        return this.filterOrderStatusCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
        return this.filterOrderStatusDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus === "" && this.filterDriver !== "") {
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        return this.filterDriverCustomer()
      }  else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        return this.filterDriverCustomerDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        return this.filterDriverCustomerStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        return this.filterDriverStatusDate()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        return this.filterAll()
      } else {
        return this.completedDeliveries.orders
      }
    },

    dates () {
      return this.allcompletedDeliveries.map(orders => orders.order_date)
    },
    allcompletedDeliveries () {
      return [].concat.apply([], this.completedDeliveries);
    },
    ...mapGetters({
      getCustomDelivery: "modals/getCustomDelivery",
      getDisplayInvoiceOptions: "modals/getDisplayInvoiceOptions",
      getCurrentComapny: "companies/getCurrentCompany",
      currentUser: "user/getCurrentUser",
      permissions: "user/userPermissions",
      completedDeliveries: "fulfilmentOrders/completedDeliveries",
      myDeliveryOrders: "fulfilmentOrders/myDeliveryOrders"
    })
  },
  watch: {
    filteredDate(newDate, oldDate) {
      if (newDate !== oldDate) {
        this.filterDate = ""
        this.filterCustomer = ""
        this.filterStatus = ""
        this.filterDriver = ""
        this.fetchCompletedDeliveries()
      }
    },
    getCurrentComapny (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchCompletedDeliveries();
      }
    },
    currentUser (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchCompletedDeliveries();
      }
    }
  },
  mounted() {
    if (this.permissions.fulfilment_settings.can_view_all_completed_deliveries) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/my_deliveries')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    if (this.getDisplayInvoiceOptions)  this.toggleOrderDeliveryOptions();
    if (this.currentUser && this.currentUser.id && this.getCurrentComapny && this.getCurrentComapny.id) {
      this.fetchCompletedDeliveries();
    }
  },
};
</script>
<style lang="scss" scoped>
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}
.table-header {
  border-radius: 0px;
}
</style>
