<template>
  <div>
    <!-- <base-button class="ml-4" size="sm" @click="toggleFilter()" type="primary">{{filterName}}</base-button> -->
    <div class="card shadow mt-3 ml-4 mr-4">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          tbody-classes="list"
          :data="myDeliveryOrders"
        >
          <template slot="columns">
            <th>Customer</th>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Delivery Status</th>
          </template>

          <template slot-scope="{ row }">
            <td
              @click="goTodetail(row)"
              class="invoice-table"
              :style="{ 'border-left': rowColour(row.order_status) }"
            >
              <div class="badge-dot mr-4">
                <span>{{ row.customer }}</span>
              </div>
            </td>

            <td @click="goTodetail(row)">
              <div class="badge-dot mr-4">
                <span>{{ row.order_number }}</span>
              </div>
            </td>

            <td @click="goTodetail(row)">
              <div class="badge-dot mr-4">
                <span>
                  {{ row.order_date }}
                </span>
              </div>
            </td>

            <td @click="goTodetail(row)">
              <div
                class="badge-dot mr-4"
                :class="orderStatus(row.order_status)"
              >
                <span>{{ row.order_status | capitalize }}</span>
              </div>
            </td>
            <td @click="goTodetail(row)">
              <div
                class="badge-dot mr-4"
                :class="deliveryStatus(row.delivery_status)"
              >
                <span>{{ row.delivery_status | capitalize }}</span>
              </div>
            </td>
          </template>
        </base-table>
      </div>
      <modal :show="getDisplayInvoiceOptions" :size="'lg'">
        <select-order-options :type="activeOrder.type" :id="activeOrderId"></select-order-options>
      </modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import "flatpickr/dist/flatpickr.css";

export default {
  props: ["status"],
  components: {
    "select-order-options": () => import("../components/modals/SelectOrderOptions")
  },
  data() {
    return {
      clientFilter: null,
      showFilter: false,
      activeOrder: null,
      startDate: "",
      endDate: "",
      searchFilter: "",
      fields: [
        "customer",
        "order_number",
        "order_date",
        "net_amount",
        "vat_amount",
        "gross_amount"
      ],
      items: [
        { id: 1, name: "test 1", value: 100 },
        { id: 2, name: "test 2", value: 200 },
        { id: 3, name: "test 3", value: 300 },
        { id: 4, name: "test 4", value: 400 }
      ]
    };
  },
  computed: {
    activeOrderId() {
      return this.activeOrder !== null ? this.activeOrder.order_number : 0;
    },
    filterName() {
      return this.showFilter ? "Hide Filters" : "Show Filters";
    },
    ...mapGetters({
      permissions: "user/userPermissions",
      getDisplayInvoiceOptions: "modals/getDisplayInvoiceOptions",
      myDeliveryOrders: "fulfilmentOrders/myDeliveryOrders"
    })
  },
  methods: {
    rowTextColour(status) {
      switch (status) {
        case "paid":
          return "#5e62e4";
        case "accepted":
          return "#00c781";
        case "pending":
          return "#5603ad";
        case "declined":
          return "#f5365c";
        case "cancelled":
          return "#8898aa";
        default:
          return "#00c781";
      }
    },
    rowColour(status) {
      switch (status) {
        case "paid":
          return "10px solid #5e62e4";
        case "cancelled":
          return "10px solid #8898aa";
        case "accepted":
          return "10px solid #00c781";
        case "pending":
          return "10px solid #5603ad";
        case "declined":
          return "10px solid #f5365c";
        default:
          return "10px solid #00c781";
      }
    },
    orderStatus(status) {
      switch (status) {
        case "paid":
          return "badge-primary";
        case "accepted":
          return "badge-success";
        case "pending":
          return "badge-indigo";
        case "declined":
          return "badge-danger";
        case "cancelled":
          return "badge-darker";
        default:
          return "badge-warning";
      }
    },
    deliveryStatus(status) {
      switch (status) {
        case "in_preperation":
          return "text-blue";
        case "delivery_pending":
          return "text-orange";
        case "delivery_in_progress":
          return "text-teal";
        case "delivered":
          return "badge-danger";
        default:
          return "badge-warning";
      }
    },
    ...mapActions({
      fetchUserDeliveryOrders: "fulfilmentOrders/fetchUserDeliveryOrders"
    }),

    toggleOrderDeliveryOptions () {
      this.$store.commit("modals/setOrderDeliveryOptions")
    },

    goTodetail(order) {
      this.activeOrder = order;
      this.toggleOrderDeliveryOptions();
    }
  },
  mounted() {
    this.$store.dispatch("fulfilmentOrders/fetchUserDeliveryOrders");
  },
  beforeDestroy() {
    this.toggleOrderDeliveryOptions();
  }
};
</script>
<style lang="scss" scoped>
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}
</style>
