<template>
  <div>
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Driver Deliveries</h3>
    </div>
    <div>
      <base-button  v-if="$mq !== 'mobile'" @click="toggleDisplayCustomDelivery()" type="default ml-4 mt-4 mb-2">Add Delivery</base-button>
      <delivery-map v-if="activePage == 'liveRoute'" @marker-click="goTodetail" :markers="myDeliveryOrders" class="mx-4"/>
      <!-- CLEANUP -- This is the display for desktop-->
      <div class="card delivery-card" v-if="$mq !== 'mobile'" :class="$mq == 'mobile' ? 'col-md-12' : 'col-md-11'">
        <div class="flex">
          <base-input class="mt-2 text-center col-md-3 mt-4 ml-2" label="Filter User">
            <el-select
              placeholder="Filter Customer"
              v-model="user"
            >
              <el-option
                v-for="(user, index) in memberships"
                :value="user.user_id"
                :label="user.user_name"
                :key="index"
              ></el-option>
            </el-select>
          </base-input>
          <download-excel
            v-if="$mq !== 'mobile'"
            class="btn btn-sm btn-outline mt-6 ml-4 col-auto text-center"
            style="height:20%"
            type="csv"
            :data="myDeliveryOrders"
            :fields="json_fields"
            worksheet="My Deliveries"
            :name="`my_deliveries_${currentUser.first_name}_${currentUser.last_name}.xls`">
            <i class="fa fa-download"></i>
          </download-excel>
        </div>
        <div class="mr-4 ml-4" v-if="isLoading">
          <base-loading-table :row-count="8" ></base-loading-table>
        </div>
        <div v-if="!isLoading && $mq !== 'mobile'" class="mt-3 ml-4 mr-4">
          <div class="table-responsive">
            <div>
              <div class="card">
                <my-deliveries-table
                  v-if="$mq === 'desktop'"
                  :myDeliveryOrders="myDeliveryOrders"
                  @go-to-detail="goTodetail"
                  @delivery-status="deliveryStatus"
                  @order-status="orderStatus"
                  @row-colour="rowColour"
                ></my-deliveries-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <my-deliveries-card
        class="mt--9"
        v-if="!isLoading && $mq === 'mobile' && activePage == 'liveRoute'"
        :myDeliveryOrders="myDeliveryOrders.filter(delivery => delivery.delivery_status !== `Delivered`)"
        @go-to-detail="goTodetail"
        @update-delivery="updateDelivery"
        @delivery-status="deliveryStatus"
        @order-status="orderStatus"
        @row-colour="rowColour"
      ></my-deliveries-card>

      <upcoming-deliveries-card 
        :filtered-results="myDeliveryOrders" 
        v-if="!isLoading && $mq === 'mobile' && activePage == 'allRoutes'"
      ></upcoming-deliveries-card>

    </div>


      <modal :show="getDisplayInvoiceOptions" :size="'lg'">
        <select-order-options v-if="getDisplayInvoiceOptions" :type="activeOrder.type" :id="activeOrderId"></select-order-options>
      </modal>

      <modal :show="getCustomDelivery" :size="'lg'">
        <custom-delivery v-if="getCustomDelivery" :id="activeOrderId"></custom-delivery>
      </modal>

      <bottom-delivery-navbar
        @new-address="toggleDisplayCustomDelivery()"
        @change-page="changePage" 
        v-if="!isLoading && $mq === 'mobile'"
      ></bottom-delivery-navbar>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import "flatpickr/dist/flatpickr.css";
import { Select, Option } from "element-ui";
export default {
  props: ["status"],
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    'update-delivery-status': () => import('../components/cards/UpdateDeliveryStatus'),
    "my-deliveries-table": () => import("../components/tables/MyDeliveriesTable"),
    "my-deliveries-card": () => import("../components/cards/MyDeliveriesCard"),
    "upcoming-deliveries-card": () => import("../components/cards/UpcomingDeliveriesCard"),
    "select-order-options": () => import("../components/modals/SelectOrderOptions"),
    'custom-delivery': () => import("../components/modals/CustomDelivery"),
    'delivery-map': () => import("../components/sections/mapSection"),
    'bottom-delivery-navbar': () => import("../components/menu/DeliveryBottomNavbar")
  },
  data() {
    return {
      displayDetails: false,
      activeDelivery: {},
      isLoading: true,
      hasFetchedDailyDeliveries: false,
      clientFilter: null,
      showFilter: false,
      activeOrder: null,
      user: null,
      liveRoute: true,
      allRoutes: false,
      deliveredRoutes: false,
      startDate: "",
      endDate: "",
      searchFilter: "",
      json_fields: {
        'Customer name': 'customer',
        'Contact': 'contact',
        'Order Number': 'order_number',
        'Street Address': 'address.address_one',
        'City': 'address.city',
        'Postal Code': 'address.postal_code',
        'Country': 'address.country',
        'Date': 'order_date',
        'Status': 'order_status'
      },
    };
  },
  computed: {
    activePage () {
      if (this.liveRoute == true) {
        return 'liveRoute'
      } else if (this.allRoutes == true) {
        return 'allRoutes'
      } else {
        return 'deliveredRoutes'
      }
    },
    activeOrderId() {
      if (this.activeOrder !== null) {
        return this.activeOrder.type == "orderbly" ? this.activeOrder.order_uuid : this.activeOrder.id;
      } 
      return 0
    },
    filterName() {
      return this.showFilter ? "Hide Filters" : "Show Filters";
    },
    ...mapGetters({
      getCustomDelivery: "modals/getCustomDelivery",
      getDisplayInvoiceOptions: "modals/getDisplayInvoiceOptions",
      getCurrentComapny: "companies/getCurrentCompany",
      currentUser: "user/getCurrentUser",
      myDeliveryOrders: "fulfilmentOrders/myDeliveryOrders",
      memberships: "companies/getCompanyMemberhsips"
    })
  },
  methods: {
    changePage(page) {
      if (page == 'liveRoute') {
        this.liveRoute = true
        this.allRoutes = false
        this.deliveredRoutes = false
      } else if (page == 'allRoutes') {
         this.liveRoute = false
        this.allRoutes = true
        this.deliveredRoutes = false
      } else if (page == 'allRoutes') {
         this.liveRoute = false
        this.allRoutes = false
        this.deliveredRoutes = true
      }
    },
    closeBottomModal () {
      this.displayDetails = false
    },
    updateDelivery(delivery) {
      this.displayDetails = !this.displayDetails
      this.activeDelivery = delivery
    },
    rowTextColour(status) {
      switch (status) {
        case "paid":
          return "#5e62e4";
        case "accepted":
          return "#00c781";
        case "pending":
          return "#5603ad";
        case "declined":
          return "#f5365c";
        case "cancelled":
          return "#8898aa";
        default:
          return "#00c781";
      }
    },
    rowColour(status) {
      switch (status) {
        case "paid":
          return "10px solid #5e62e4";
        case "cancelled":
          return "10px solid #8898aa";
        case "accepted":
          return "10px solid #00c781";
        case "pending":
          return "10px solid #5603ad";
        case "declined":
          return "10px solid #f5365c";
        default:
          return "10px solid #00c781";
      }
    },
    orderStatus(status) {
      switch (status) {
        case "paid":
          return "badge-primary";
        case "accepted":
          return "badge-success";
        case "pending":
          return "badge-indigo";
        case "declined":
          return "badge-danger";
        case "cancelled":
          return "badge-darker";
        default:
          return "badge-warning";
      }
    },
    deliveryStatus(status) {
      switch (status) {
        case "in_preperation":
          return "text-blue";
        case "delivery_pending":
          return "text-orange";
        case "delivery_in_progress":
          return "text-teal";
        case "delivered":
          return "badge-danger";
        default:
          return "badge-warning";
      }
    },
    ...mapActions({
      fetchUserDeliveryOrders: "fulfilmentOrders/fetchUserDeliveryOrders",
    }),

    toggleDisplayCustomDelivery () {
      this.$store.commit("modals/toggleDisplayCustomDelivery")
    },

    fetchDailyDeliveries () {
      this.$store.dispatch("fulfilmentOrders/fetchUserDailyDeliveryOrders", {userId: this.currentUser.id, companyId: this.getCurrentComapny.id} ).then(() => {
        this.fetchCompanyMemberships()
        this.hasFetchedDailyDeliveries = true
        this.isLoading = false
      })
    },

    fetchCustomDriverDeliveries (user_id) {
      this.$store.dispatch("fulfilmentOrders/fetchUserDailyDeliveryOrders", {userId: user_id, companyId: this.getCurrentComapny.id} ).then((res) => {
        this.hasFetchedDailyDeliveries = true
        this.isLoading = false
      })
    },

    fetchCompanyMemberships () {
      this.$store.dispatch("companies/fetchCompanyMemberships")
    },

    toggleOrderDeliveryOptions () {
      this.$store.commit("modals/setOrderDeliveryOptions")
    },

    goTodetail(order) {
      this.activeOrder = order;
      this.toggleOrderDeliveryOptions();
    }
  },
  watch: {
    user (newVal, oldVal) {
      if (newVal !== null && newVal !== oldVal) {
        this.isLoading = true
        this.fetchCustomDriverDeliveries(newVal)
      }
    },
    getCurrentComapny (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDailyDeliveries) {
        this.fetchDailyDeliveries();
      }
    },
    currentUser (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDailyDeliveries) {
        this.fetchDailyDeliveries();
      }
    }
  },
  mounted() {
    document.body.style.overflow = "visible";
    if (this.getDisplayInvoiceOptions)  this.toggleOrderDeliveryOptions();
    // this.$store.dispatch("fulfilmentOrders/fetchUserDeliveryOrders");

    if (this.currentUser && this.currentUser.id && this.getCurrentComapny && this.getCurrentComapny.id) {
      this.fetchDailyDeliveries();
    }
  },
};
</script>
<style lang="scss" scoped>
.delivery-card {
  margin-top: -200px;
  margin-right: auto;
  margin-left: auto;
}
.flex {
  display: flex;
}
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}

</style>
