<template>
  <div class="container-fluid mt-4">
    <div class="ml-2 mr-2 card shadow">
      <div v-if="!displaySignature" class="table-responsive">

        <!-- RECEICE TABLE -->
        <base-table
          class="table align-items-center table-flush"
          thead-classes="thead-light"
          tbody-classes="list"
          v-if="$mq === 'desktop'"
          :data="currentReceiveOrder.order_items"
        >
          <template slot="columns">
            <th>Item</th>
            <th>Expected</th>
            <th>Received</th>
            <th>Stock Difference</th>
          </template>

          <template slot-scope="{ row }">
            <td>
              <span>{{ row.product_title }}</span>
            </td>
            <td>
              <span>{{ row.quantity }}</span>
            </td>
            <td>
              <input
                type="number"
                v-model="row.received"
                @click="clearInput(row)"
                @focus="clearInput(row)"
                @keypress="validateNumber($event, row.quantity, row.received)"
                class="receive-input"
              />
            </td>
            <td>
              <span>{{ balance(row.received, row.quantity) || 0}}</span>
            </td>
          </template>
        </base-table>

        <!-- RECEIVE CARD - MOBILE -->
      <div v-if="$mq !== 'desktop'">
        <div v-for="item in currentReceiveOrder.order_items" :key="item.id">
          <stats-card>
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h2 font-weight-bold mb-0">{{ item.product_title }}</span>
                </div>
                <div class="col-auto">
                </div>
            </div>
            <div class="mt-4">
              <base-input
                :inputmode="'numeric'"
                :pattern="'[0-9]*'"
                :type="'number'"
                v-model="item.received"
                @click="clearInput(item)"
                @focus="clearInput(item)"
                @keypress="validateNumber($event, item.quantity, item.received)"
              >
                <template slot="prepend"><div class="text-muted">Delivered</div></template>
                <template slot="append"><div class="text-muted ml-1">Expected {{item.quantity}} </div></template>
              </base-input>
            </div>
                <!-- <span class="text-nowrap">{{ `${delivery.address.address_one || ""} ${delivery.address.suburb || ""} ${delivery.address.city || ""} ${delivery.address.postal_code || ""}` }}</span> -->
          </stats-card>
          </div>
      </div>
      </div>
    </div>
    <div class="text-center">
      <base-button
        v-if="!displaySignature"
        :disabled="!orderCompleted || !validInput"
        
        @click="completeRecon"
        type="success btn-lg"
        >Next</base-button
      >

      <base-button
        v-if="!displaySignature"
        @click="receiveAll()"
        type="primary btn-lg"
        >Mark All Received</base-button>
    </div>

    <div v-if="displaySignature">
      <sign-modal
        :can-save="canSave"
        @save-values="completeOrder()"
        :currentReceiveOrder="currentReceiveOrder"
        @toggle-page="toggleSignModal"
      ></sign-modal>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    "confirm-delivery": () => import("../components/modals/ConfirmDelivery"),
    "sign-modal": () => import("../components/modals/SignModal")
  },
  data() {
    return {
      items: [],
      totalDiscrepancy: 0,
      canSave: false,
      loading: true,
      displaySignature: false,
    };
  },
  beforeDestroy () {
    this.displaySignature = false
  },
  methods: {
    validateNumber (evt, stockExpcted) {
      this.$options.filters.isNumber(evt)
      this.validateStockInput(evt, stockExpcted)
    },

      clearInput (row) {
        row.received = null
      },
    
    validateStockInput(evt, stockExpcted) {
      let currentVal = evt.target.value || 0
      let val = currentVal + parseInt(evt.key)
      if(val > stockExpcted) {
        evt.preventDefault();;
      }
    },

    toggleSignModal() {
      this.displaySignature = !this.displaySignature;
    },

    claimCredit() {
      let order_items = []
      this.currentReceiveOrder.order_items.map((o) => order_items.push({ id: o.id, received: o.received }))
      let order = { order_items: order_items, order_uuid: this.$route.params.id }

      this.$store.dispatch("fulfilmentOrders/updateReceivedOrderAndValues", order)
      .then((res) => {
        this.toggleDisplayConfirmDelivery();
        let creditNote = {
          customer_id: this.currentReceiveOrder.customer.id,
          supplier_id: this.currentReceiveOrder.supplier.id,
          order_id: this.currentReceiveOrder.id,
          order_items: this.currentReceiveOrder.order_items,
          balance: Math.abs(this.discrepencyTotal)
        };

        this.$store.dispatch("fulfilmentOrders/claimCredit", creditNote).then(() => {
          this.trackAction('complete_order_with_credit_note') 
        });
      });
    },

    difference(received, quantity, price) {
      if (received && quantity && price) {
        return (received - quantity) * price;
      }
      return 0;
    },

    receiveAll() {
      this.currentReceiveOrder.order_items.forEach(item => {
        item.received = item.quantity
      });
    },

    balance(received, quantity) {
      let receivedInt;
      if (typeof received == "undefined" || received === "") {
        receivedInt = 0;
      } else {
        receivedInt = parseInt(received);
      }
      return receivedInt - quantity;
    },

    toggleDisplayConfirmDelivery () {
      this.$store.commit("modals/setDisplayConfirmDelivery")
    },

    trackAction(action) {
    this.$store.dispatch('mixpanel/mixpanelTrack', {track: 'order_received', obj: {
        distinct_id: this.currentUser.uuid,
        email: this.currentUser.user_email,
        company_id: this.currentCompany.id,
        company_name: this.currentCompany.title,
        supplier_id: this.currentReceiveOrder.supplier.id,
        supplier_title: this.currentReceiveOrder.supplier.title,
        order_id: this.$route.params.id,
        '$referring_domain': window.location.origin
      }})
    },

    completeRecon () {
      this.displaySignature = true
    },

    completeOrder() {
      // update received values
      let order_items = []
      this.currentReceiveOrder.order_items.map((o) => order_items.push({ id: o.id, received: o.received }))
      let order = { order_items: order_items, order_uuid: this.$route.params.id }

      this.$store.dispatch("fulfilmentOrders/updateReceivedOrderAndValues", order)
      .then((res) => {
         this.$store.dispatch("fulfilmentOrders/updateOrderDeliveryStatus", {
          order_id: this.$route.params.id,
          status: "4"
        })
        this.canSave = true
      })
    }
  },
  
  computed: {
    validInput () {
      let valid = []
      this.currentReceiveOrder.order_items.map((item) => {
        valid.push(item.received !== null && item.received !== "")
        })
      return !valid.includes(false)
    },

    orderCompleted() {
      if (!this.loading) {
        let filledOrders = 0;
        this.currentReceiveOrder.order_items.map(item => {
          if (item.received !== undefined && item.received !== "") {
            filledOrders += 1;
          }
        });
        return filledOrders >= this.currentReceiveOrder.order_items.length;
      }
      return false;
    },

    discrepencyTotal() {
      if (!this.loading) {
        let total = 0;
        if (this.currentReceiveOrder && this.currentReceiveOrder.order_items) {
          this.currentReceiveOrder.order_items.forEach(item => {
            if (item.received) {
              total += (item.received - item.quantity) * item.gross_price;
            }
          });
          return total;
        }
        return total;
      }
      return 0;
    },
    ...mapGetters({
      getSignModal: "modals/getSignModal",
      currentReceiveOrder: "fulfilmentOrders/getCurrentReceiveOrder",
      getDisplayConfirmDelivery: "modals/getDisplayConfirmDelivery",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser"
    })
  },

  mounted () {
    document.body.style.overflow = "visible"
    this.$store.dispatch('fulfilmentOrders/receiveOrder', this.$route.params.id)
    .then((res) => {
      if (!res.data.order_reconciliation) {
        this.displaySignature = true
      }
      this.loading = false
    })
    .catch((err) => {
      this.$notify({
        message: "Request could not be complete",
        timeout: 3500,
        icon: "ni ni-like-2",
        type: 'danger'
      });
    })

  }
};
</script>
<style lang="scss" scoped>

body {
  overflow: visible;
}
canvas {
  background: white;
}

.receive-input {
  width: 50%;
  display: block;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 50%;
  height: 80% !important;
  min-width: 100px;
}
</style>
