<template>
  <div v-if="permissionsChecked">
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Today's Deliveries</h3>
    </div>
    <base-button @click="toggleDisplayCustomDelivery()" type="default ml-4 mt-4 mb-2">Add Delivery</base-button>
    <delivery-map :markers="todaysDeliveries.orders" class="mx-4 "/>
    <div class="card delivery-card ml-6 mr-6">
      <div class="container ct-example-row">
        <download-excel
          class="btn btn-sm btn-outline mt-5 col-auto text-center"
          style="height:20%"
          type="csv"
          :data="filteredResults"
          :fields="json_fields"
          worksheet="Orderbly Deliveries"
          :name="`deliveries_${new Date}.xls`">
          <i class="fa fa-download"></i>
        </download-excel>
          <div class="row">
            <div class="col-lg">
                <base-input class="mt-2 text-center" label="Filter Customer">
                <el-select
                  placeholder="Filter Customer"
                  v-model="filterCustomer"
                >
                  <el-option
                    v-for="customer in todaysDeliveries.customers"
                    :value="customer"
                    :label="customer"
                    :key="customer"
                  ></el-option>
                </el-select>
              </base-input>
            </div>
            <div class="col-lg">
                <base-input class="mt-2 text-center" label="Filter Driver">
                <el-select
                  placeholder="Filter Driver"
                  v-model="filterDriver"
                >
                  <el-option
                    v-for="driver in todaysDeliveries.drivers"
                    :value="driver"
                    :label="driver"
                    :key="driver"
                  ></el-option>
                </el-select>
              </base-input>
            </div>
            <div class="col-lg">
              <base-input class="mt-2 text-center" label="Filter Status">
                <el-select
                  placeholder="Filter Status"
                  v-model="filterStatus"
                >
                  <el-option
                    v-for="status in todaysDeliveries.order_statuses"
                    :value="status"
                    :label="status"
                    :key="status"
                  ></el-option>
                </el-select>
              </base-input>
            </div>
          </div>
        </div>

      <upcoming-deliveries v-if="$mq !== 'mobile'" :filteredResults="filteredResults"></upcoming-deliveries>
      <upcoming-deliveries-card v-else class="ml-4 mr-4" :filteredResults="filteredResults"></upcoming-deliveries-card>
    </div>
    
    <modal :show="getCustomDelivery" :size="'lg'">
      <custom-delivery v-if="getCustomDelivery" :id="activeOrderId"></custom-delivery>
    </modal>

  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import "flatpickr/dist/flatpickr.css";
import { Table, TableColumn } from "element-ui";
import { Select, Option } from "element-ui";
export default {
  props: ["status"],
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    "upcoming-deliveries": () => import("../components/tables/DeliveriesIndexTable"),
    "upcoming-deliveries-card": () => import("../components/cards/UpcomingDeliveriesCard"),
    'custom-delivery': () => import("../components/modals/CustomDelivery"),
    'delivery-map': () => import("../components/sections/mapSection")
  },
  data() {
    return {
      hasFetchedDeliveries: false,
      permissionsChecked: false,
      filterDate: "",
      filterCustomer: "",
      filterStatus: "",
      filterDriver: "",
      clientFilter: null,
      json_fields: {
        'Customer name': 'customer',
        'Order Number': 'order_number',
        'Street Address': 'address.address_one',
        'City': 'address.city',
        'Postal Code': 'address.postal_code',
        'Country': 'address.country',
        'Date': 'order_date',
        'Status': 'order_status'
      }
    };
  },
  methods: {
    toggleDisplayCustomDelivery () {
      this.$store.commit("modals/toggleDisplayCustomDelivery")
    },
    fetchAllTodaysOrders () {
      this.$store.dispatch("fulfilmentOrders/fetchAllTodaysOrders", this.getCurrentComapny.id);
    },
    filterOrderStatusDateCustomer (){
      return this.todaysDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate && order.customer == this.filterCustomer)
    },
    filterOrderStatusDate () {
      return this.todaysDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate)
    },
    filterOrderStatusCustomer () {
      return this.todaysDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterOrderDateCustomer () {
      return this.todaysDeliveries.orders.filter(order => order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterOrderDate () {
      return this.todaysDeliveries.orders.filter(order => order.order_date === this.filterDate)
    },
    filterOrderStatus () {
      return this.todaysDeliveries.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterOrderCustomer () {
      return this.todaysDeliveries.orders.filter(order => order.customer == this.filterCustomer)
    },
    filterOrderDriver () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() === this.filterDriver.toLowerCase())
    },
    filterDriverDate () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_date === this.filterDate)
    },
    filterDriverStatus () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterDriverCustomer () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterDriverCustomerDate () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverCustomerStatus () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverStatusDate () {
      return this.todaysDeliveries.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate)
    },
    filterAll () {
      return this.todaysDeliveries.orders.filter(
        order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate && order.order_status.toLowerCase() === this.filterStatus.toLowerCase()
      )
    },

  },
  computed: {
    filteredResults () {
      if (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter date
        return this.filterOrderDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter customer
        return this.filterOrderCustomer()
      } else if  (this.filterDate === "" &&  this.filterDate === "" && this.filterCustomer === "" && this.filterDriver !== "") {
      // filter driver
        return this.filterOrderDriver()
      } else if  (this.filterDate == "" && this.filterCustomer == "" && this.filterStatus != "" && this.filterDriver === "") {
      // filter status
        return this.filterOrderStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter date & customer
        return this.filterOrderDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter date & status
        return this.filterOrderStatusDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter customer & status
        return this.filterOrderStatusCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter customer & status & date
        return this.filterOrderStatusDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver & date
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver & status
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver & customer
        return this.filterDriverCustomer()
      }  else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver customer date
        return this.filterDriverCustomerDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver customer status
        return this.filterDriverCustomerStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver status date
        return this.filterDriverStatusDate()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver status date customer
        return this.filterAll()
      } else {
        return this.todaysDeliveries.orders
      }
    },

    dates () {
      return this.alltodaysDeliveries.map(orders => orders.order_date)
    },
    alltodaysDeliveries () {
      return [].concat.apply([], this.todaysDeliveries);
    },
    ...mapGetters({
      getCustomDelivery: "modals/getCustomDelivery",
      getDisplayInvoiceOptions: "modals/getDisplayInvoiceOptions",
      getCurrentComapny: "companies/getCurrentCompany",
      currentUser: "user/getCurrentUser",
      permissions: "user/userPermissions",
      memberships: "companies/getCompanyMemberhsips",
      todaysDeliveries: "fulfilmentOrders/todaysDeliveries",
      myDeliveryOrders: "fulfilmentOrders/myDeliveryOrders"
    })
  },
  watch: {
    getCurrentComapny (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchAllTodaysOrders();
      }
    },
    currentUser (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchAllTodaysOrders();
      }
    }
  },
  mounted() {
  //    if (this.permissions.fulfilment_settings.can_view_all_daily_deliveries) {
  //     this.permissionsChecked = true
  //   } else {
  //     this.$router.push('/my_deliveries')
  //     this.$notify({
  //       message: 'Oops. You do not have permission to view page',
  //       type: 'danger'
  //     })
  //   }
    if (this.getDisplayInvoiceOptions)  this.toggleOrderDeliveryOptions();
    if (this.currentUser && this.currentUser.id && this.getCurrentComapny && this.getCurrentComapny.id) {
      this.fetchAllTodaysOrders();
    }
  },
};
</script>
<style lang="scss">
td {
  cursor: pointer !important;
}
.delivery-card {
  margin-top: -200px;
  overflow: scroll;
}
</style>
