<template>
  <div v-if="permissionsChecked">
    <div class="example ml-4">
      <h3 class="mb-0 mt-4">Upcoming Orders</h3>
    </div>
    <base-button @click="toggleDisplayCustomDelivery()" type="default ml-4 mt-4">Add Delivery</base-button>
      <download-excel
        class="btn btn-sm btn-outline mt-5 col-auto text-center"
        style="height:20%"
        type="csv"
        :data="filteredResults"
        :fields="json_fields"
        worksheet="Upcoming Deliveries"
        name="upcoming_deliveries.xls">
        <i class="fa fa-download"></i>
    </download-excel>
    <div class="container ct-example-row">
        <div class="row">
          <div class="col-lg">
            <base-input class="mt-2  text-center" label="Filter Date">
              <el-select
                placeholder="Filter Date"
                v-model="filterDate"
              >
                <el-option
                  v-for="date in upcomingOrders.order_dates"
                  :value="date"
                  :label="date"
                  :key="date"
                ></el-option>
              </el-select>
            </base-input>
          </div>
          <div class="col-lg">
              <base-input class="mt-2 text-center" label="Filter Customer">
              <el-select
                placeholder="Filter Customer"
                v-model="filterCustomer"
              >
                <el-option
                  v-for="customer in upcomingOrders.customers"
                  :value="customer"
                  :label="customer"
                  :key="customer"
                ></el-option>
              </el-select>
            </base-input>
          </div>
          <div class="col-lg">
              <base-input class="mt-2 text-center" label="Filter Driver">
              <el-select
                placeholder="Filter Driver"
                v-model="filterDriver"
              >
                <el-option
                  v-for="driver in upcomingOrders.drivers"
                  :value="driver"
                  :label="driver"
                  :key="driver"
                ></el-option>
              </el-select>
            </base-input>
          </div>
          <div class="col-lg">
            <base-input class="mt-2 text-center" label="Filter Status">
              <el-select
                placeholder="Filter Status"
                v-model="filterStatus"
              >
                <el-option
                  v-for="status in upcomingOrders.order_statuses"
                  :value="status"
                  :label="status"
                  :key="status"
                ></el-option>
              </el-select>
            </base-input>
          </div>
        </div>
      </div>
      <upcoming-deliveries :filteredResults="filteredResults"></upcoming-deliveries>
      <!-- <upcoming-deliveries-card v-else class="ml-4 mr-4" :filteredResults="filteredResults"></upcoming-deliveries-card> -->

    <modal :show="getCustomDelivery" :size="'lg'">
      <custom-delivery v-if="getCustomDelivery" :id="activeOrderId"></custom-delivery>
    </modal>

  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import "flatpickr/dist/flatpickr.css";
import { Table, TableColumn } from "element-ui";
import { Select, Option } from "element-ui";
export default {
  props: ["status"],
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    'collapse': () => import("@/components/Collapse/Collapse"),
    "collapse-item": () => import("@/components/Collapse/CollapseItem"),
    "my-deliveries-table": () => import("../components/tables/MyDeliveriesTable"),
    "upcoming-deliveries": () => import("../components/tables/DeliveriesIndexTable"),
    "my-deliveries-card": () => import("../components/cards/MyDeliveriesCard"),
    "upcoming-deliveries-card": () => import("../components/cards/UpcomingDeliveriesCard"),
    "select-order-options": () => import("../components/modals/SelectOrderOptions"),
    'custom-delivery': () => import("../components/modals/CustomDelivery"),
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  data() {
    return {
      hasFetchedDeliveries: false,
      permissionsChecked: false,
      filterDate: "",
      filterCustomer: "",
      filterStatus: "",
      filterDriver: "",
      clientFilter: null,
      activeOrder: null,
      json_fields: {
        'Customer name': 'customer',
        'Order Number': 'order_number',
        'Street Address': 'address.address_one',
        'City': 'address.city',
        'Postal Code': 'address.postal_code',
        'Country': 'address.country',
        'Date': 'order_date',
        'Status': 'order_status'
      },
    };
  },
  methods: {
    toggleDisplayCustomDelivery () {
      this.$store.commit("modals/toggleDisplayCustomDelivery")
    },

    fetchUpcomingDeliveries () {
      this.$store.dispatch("fulfilmentOrders/fetchAllUpcomingOrders", this.getCurrentComapny.id);
    },
    filterOrderStatusDateCustomer (){
      return this.upcomingOrders.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate && order.customer == this.filterCustomer)
    },
    filterOrderStatusDate () {
      return this.upcomingOrders.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.order_date === this.filterDate)
    },
    filterOrderStatusCustomer () {
      return this.upcomingOrders.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterOrderDateCustomer () {
      return this.upcomingOrders.orders.filter(order => order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterOrderDate () {
      return this.upcomingOrders.orders.filter(order => order.order_date === this.filterDate)
    },
    filterOrderStatus () {
      return this.upcomingOrders.orders.filter(order => order.order_status.toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterOrderCustomer () {
      return this.upcomingOrders.orders.filter(order => order.customer == this.filterCustomer)
    },
    filterOrderDriver () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() === this.filterDriver.toLowerCase())
    },
    filterDriverDate () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_date === this.filterDate)
    },
    filterDriverStatus () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase().toLowerCase() === this.filterStatus.toLowerCase())
    },
    filterDriverCustomer () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer)
    },
    filterDriverCustomerDate () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverCustomerStatus () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate)
    },
    filterDriverStatusDate () {
      return this.upcomingOrders.orders.filter(order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.order_status.toLowerCase() === this.filterStatus && order.order_date === this.filterDate)
    },
    filterAll () {
      return this.upcomingOrders.orders.filter(
        order => order.driver.name.toLowerCase() == this.filterDriver.toLowerCase() && order.customer === this.filterCustomer && order.order_date === this.filterDate && order.order_status.toLowerCase() === this.filterStatus.toLowerCase()
      )
    },

  },
  computed: {
    filteredResults () {
      if (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter date
        return this.filterOrderDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter customer
        return this.filterOrderCustomer()
      } else if  (this.filterDate === "" &&  this.filterDate === "" && this.filterCustomer === "" && this.filterDriver !== "") {
      // filter driver
        return this.filterOrderDriver()
      } else if  (this.filterDate == "" && this.filterCustomer == "" && this.filterStatus != "" && this.filterDriver === "") {
      // filter status
        return this.filterOrderStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus == "" && this.filterDriver === "") {
      // filter date & customer
        return this.filterOrderDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer == "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter date & status
        return this.filterOrderStatusDate()
      } else if  (this.filterDate == "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter customer & status
        return this.filterOrderStatusCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver === "") {
      // filter customer & status & date
        return this.filterOrderStatusDateCustomer()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver & date
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver & status
        return this.filterDriverDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver & customer
        return this.filterDriverCustomer()
      }  else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus === "" && this.filterDriver !== "") {
        // filter driver customer date
        return this.filterDriverCustomerDate()
      } else if  (this.filterDate === "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver customer status
        return this.filterDriverCustomerStatus()
      } else if  (this.filterDate !== "" && this.filterCustomer === "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver status date
        return this.filterDriverStatusDate()
      } else if  (this.filterDate !== "" && this.filterCustomer !== "" && this.filterStatus !== "" && this.filterDriver !== "") {
        // filter driver status date customer
        return this.filterAll()
      } else {
        return this.upcomingOrders.orders
      }
    },

    dates () {
      return this.allUpcomingOrders.map(orders => orders.order_date)
    },
    allUpcomingOrders () {
      return [].concat.apply([], this.upcomingOrders);
    },
    ...mapGetters({
      getCustomDelivery: "modals/getCustomDelivery",
      getDisplayInvoiceOptions: "modals/getDisplayInvoiceOptions",
      getCurrentComapny: "companies/getCurrentCompany",
      currentUser: "user/getCurrentUser",
      permissions: "user/userPermissions",
      upcomingOrders: "fulfilmentOrders/upcomingOrders",
      myDeliveryOrders: "fulfilmentOrders/myDeliveryOrders"
    })
  },
  watch: {
    getCurrentComapny (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchUpcomingDeliveries();
      }
    },
    currentUser (val) {
      if (this.currentUser && this.currentUser.id && val && val.id && !this.hasFetchedDeliveries) {
        this.fetchUpcomingDeliveries();
      }
    }
  },
  mounted() {
     if (this.permissions.fulfilment_settings.can_view_all_upcoming_deliveries) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/my_deliveries')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }
    if (this.getDisplayInvoiceOptions)  this.toggleOrderDeliveryOptions();
    if (this.currentUser && this.currentUser.id && this.getCurrentComapny && this.getCurrentComapny.id) {
      this.fetchUpcomingDeliveries();
    }
  },
};
</script>
<style lang="scss" scoped>
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}
.table-header {
  border-radius: 0px;
}
</style>
