<template>
  <div>
    <card>
      <div v-if="displayCard" class="card bg-gradient-primary col-xl-10 ml-4">
        <!-- Card body -->
        <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <img src="img/icons/cards/visa.png" alt="Image placeholder" />
            </div>
          </div>
          <div class="my-4">
            <span class="h6 surtitle text-light">Card number</span>
            <div class="card-serial-number h1 text-white">
              <div v-for="(part, index) in creditCard.number.split(' ')" :key="index">{{part}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="h6 surtitle text-light">Name</span>
              <span class="d-block h3 text-white">{{creditCard.name}}</span>
            </div>
            <div class="col">
              <span class="h6 surtitle text-light">Expiry date</span>
              <span class="d-block h3 text-white">{{creditCard.expire}}</span>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!displayCard">
        <CheckoutEditCard />
      </div>
      <base-button @click="cardConfirmation" type="secondary" class="my-4">Back</base-button>
      <base-button @click="displayCard = !displayCard" type="secondary" class="my-4">Edit</base-button>
    </card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import CheckoutEditCard from "./CheckoutEditCard";
export default {
  name: "visa-card",
  components: { CheckoutEditCard },
  data() {
    return {
      displayCard: true,
      creditCard: {
        number: "4358 7421 9256 6682",
        status: "Active",
        statusType: "success",
        name: "John Snow",
        expire: "11/23"
      }
    };
  },
  methods: {
    ...mapGetters({ 
      currentCompany: "companies/getCurrentCompany",
      activeSupplierBalance: "companies/getActiveSupplierBalance"
      }),
    cardConfirmation() {
      this.$emit("go-to-details");
    }
  },
  mounted () {
    this.$store.dispatch('companies/fetchActiveSupplierBalance' )
  }
};
</script>
