<template>
  <div>
    <card
      body-classes="p-4 p-sm-5"
      class="border-0 mb-0 product-select-card"
      id="product-modal"
    >
      <template>
        <div class="container px-0">
          <div class="row align-items-center">
            <div v-if="activeProduct.product.image" class="col-12 col-lg-6 pb-3 pb-lg-0 pr-3 pr-lg-4">
              <img :alt="activeProduct.product.title" :src="activeProduct.product.image" class="d-block mx-auto"/>
            </div>
            <div class="col pl-3 pl-lg-4">
              <h1 class="mb-0 text-muted">{{activeProduct.product.title}}</h1>
              <hr class="mt-3 mb-4"/>
              <p :class="fullDescription ? '' : 'product-description'" id="product-description" v-html="activeProduct.product.description"></p>
              <!-- <base-button type="default" class="mb-4 btn btn-sm" @click="fullDescription = !fullDescription">Read {{fullDescription ? 'less' : 'more'}}</base-button> -->
              <base-button v-if="displayMore" type="default" class="mb-4 btn btn-sm" @click="toggleDescription()">Read {{fullDescription ? 'less' : 'more'}}</base-button>

              <form role="form">
                <p v-if="activeProduct.product_variants.length > 0" class="font-weight-bold mb-0">Variants</p>
                <div>
                  <base-button 
                    v-for="option in activeProduct.product_variants" :key="option.id"
                    class="text-center mt-2"
                    :class="hasNoStock(option) ? 'btn-dashed' : ''"
                    :disabled="hasNoStock(option)"
                    :outline="isSelected(option)"
                    @click="selectVariant(option)"
                    circle
                    :type="hasNoStock(option) ? 'default' : 'success'">
                      <span v-if="hasNoStock(option)"><s>{{option.description}}</s></span>
                      <span v-else>{{option.description}}</span>
                    </base-button>
                </div>
                <div class="col-md-12 mt-4 px-0">
                  <p class="font-weight-bold mb-0">Quantity</p>
                  <el-input-number id="quantitySelector" :precision="2" :step="1" @change="updateVal" @keydown.prevent v-model="quantity" :min="0" :max="availableQuantity"></el-input-number>
                </div>
                <p class="text-red text-center">{{determineStockErrorMessage}}</p>
                <br />
                <table class="table align-items-center">
                  <tr v-if="trackStock">
                    <td class="py-2 pl-0">Available Stock</td>
                    <td class="py-2">{{ productAvailableStock }}</td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td class="py-2 pl-0">Net Price</td>
                    <td class="py-2">{{productNetPrice | currency}}</td>
                  </tr>
                  <tr>
                    <td class="py-2 pl-0">VAT Price</td>
                    <td class="py-2">{{productTaxPrice | currency}}</td>
                  </tr>
                  <tr>
                    <td class="py-2 pl-0">
                      <strong>Gross Price</strong>
                    </td>
                    <td class="py-2">
                      <strong>{{productTotal | currency}}</strong>
                    </td>
                  </tr>
                </table>
              </form>

              <div class="text-center text-lg-left">
                <base-button
                  type="success"
                  v-if="permissions.marketplace_settings.can_create_orders"
                  :disabled="determineStockError"
                  @click="validateBalance"
                  class="mt-4"
                >Add to Cart</base-button>
                <base-button type="danger" outline @click="closeModal" class="mt-4">Close</base-button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </card>
  </div>
</template>

<script>
import vSelect from "vue-select";
import { Select, Option, InputNumber, Button } from "element-ui";
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
export default {
  props: ["product"],
  components: {
    [Select.name]: Select,
    [Button.name]: Button,
    [Option.name]: Option,
    [InputNumber.name]: InputNumber 
  },
  data() {
    return {
      num: 1,
      displayMore: false,
      baseProduct: {
        product: {
          id: 0,
          company_id: 0,
          tax_id: 0,
          title: "",
          description: "",
          image: "",
          got_variants: true
        },
        product_variants: []
      },
      selectedProductVariant: null,
      selects: {
        value: "",
        variants: []
      },
      quantity: 0,
      fullDescription: false
    };
  },
  methods: {
    toggleDescription() {
      this.fullDescription = !this.fullDescription
    },
    updateVal(newVal, oldVal) {
      this.quantity = newVal
    },
    validateNumber (evt, trackStock, stockLimit) {
      this.$options.filters.isNumber(evt)
      if(trackStock) this.validateStockInput(evt, stockLimit)
    },
    clearInput (evt) {
      evt.target.value = ""
    },
    validateStockInput(evt, stockLimit) {
      let currentVal = evt || 0
      let val = currentVal + evt

      if (val > stockLimit) {
        evt.preventDefault();
      }
    },
    isSelected (option) {
      if (this.selectedProductVariant == null) return true
      return this.selectedProductVariant.id !== option.id
    },
    hasNoStock(option){
      return option.available_stock <= 0 && option.track_stock
    },
    isNumber (evt) {
      this.$options.filters.isNumber(evt)
    },
    returnLabel(option) {
      let amount = parseFloat(option.unit_amount) + parseFloat(option.tax_amount);
      return ` ${option.description} - R${Math.round(amount * 100) / 100}`;
    },
    returnBtnLabel(option) {
      let amount = parseFloat(option.unit_amount) + parseFloat(option.tax_amount);
      return ` ${option.description} - R${Math.round(amount * 100) / 100}`;
    },
    ...mapActions({
      toggleSelectProductModal: "modals/toggleSelectProductModal"
    }),
    closeModal() {
      this.selectedProductVariant = null;
      this.quantity = 0;
      this.toggleSelectProductModal();
    },
    selectVariant(variant) {
      this.selectedProductVariant = variant;
    },
    notifyVue(type = "default") {
      this.$notify({
        message: "The selected item has successfully been added to cart",
        timeout: 3000,
        icon: "ni ni-bell-55",
        type
      });
    },

    trackEvent() {
      this.$store.dispatch('mixpanel/mixpanelTrack', {track: 'add_to_cart', obj: {
        'distinct_id': `${this.currentUser.uuid}`,
        'email': this.currentUser.user_email,
        'company_id': this.currentCompany.id,
        'company_name': this.currentCompany.title,
        'product_title': this.activeProduct.product.title,
        'product_variant': this.selectedProductVariant.description,
        'product_id': this.activeProduct.product.uuid,
        'supplier_title': this.$route.params.title,
        '$referring_domain': window.location.origin
      }})
    },

    validateBalance() {
      this.trackEvent()
      let totalItemCost = this.quantity * parseFloat(this.selectedProductVariant.gross_amount)
      if (totalItemCost + this.cartTotal + this.accountBalance < this.accountLimit) {
        this.addToCart()
      } else {
        swal({
          title: `Insufficient balance, please note your available your balance is ${this.$options.filters.currency(this.availableBalance)}`,
          html: '<h4 style="color:#595959">Please pay your account to increase your availible balance or contact your supplier to increase your credit limit.</h4>',
          type: "warning",
          showConfirmButton: false,
          showCancelButton: true,
          cancelButtonColor: "#aaaaaa",
          cancelButtonText: 'Take me back'
        }).then(result => {
          if (result.value) {
            this.$router.push('/supplier_statement')
          }
        });
      return false
      }
    },

    addToCart() {
      if (!this.determineStockError && this.quantity > 0) {
        let variant = {
          available_stock: this.selectedProductVariant.available_stock,
          track_stock: this.selectedProductVariant.track_stock,
          product_id: this.selectedProductVariant.product_id,
          product_name: this.product.product.title,
          company_id: this.product.product.company_id,
          product_variant: this.selectedProductVariant.description,
          product_variant_id: this.selectedProductVariant.id,
          quantity: this.quantity,
          unit_amount: parseFloat(this.selectedProductVariant.unit_amount),
          tax_amount: parseFloat(this.selectedProductVariant.tax_amount)
        };
        this.$store.dispatch("cart/modifyCart", variant);
        this.notifyVue("success");
        this.selectedProductVariant = null;
        this.quantity = 0;
      }
    }
  },
  computed: {
    ...mapGetters({
      cartTotal: "cart/cartTotal",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      availableBalance: "creditLimits/availableBalance",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      permissions: "user/userPermissions"
    }),
    availableQuantity () {
      if (this.selectedProductVariant ) {
        if (this.selectedProductVariant.track_stock) {
          return this.selectedProductVariant.available_stock
        } else {
          return 10000000000 //  make this infinity
        }
      } else {
        0
      }
    },
    activeProduct() {
      return this.product !== null ? this.product : this.baseProduct;
    },
    selectValue() {
      return this.selectedProductVariant
        ? `
          ${this.selectedProductVariant.description} - ${this.$options.filters.currency(this.selectedProductVariant.gross_amount)}`
        : "";
    },
    trackStock() {
      if (this.selectedProductVariant) {
        return this.selectedProductVariant.track_stock;
      }
      return false;
    },
    determineStockErrorMessage() {
      if (this.selectedProductVariant && this.trackStock) {
        return this.quantity > this.selectedProductVariant.available_stock
          ? "We cannot fullfill the requested stock."
          : null;
      }
      return null;
    },
    determineStockError() {
      if (this.selectedProductVariant && this.trackStock) {
        if (
          this.quantity > 0 &&
          this.quantity > this.selectedProductVariant.available_stock
        ) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    productTotal() {
      return this.selectedProductVariant ? this.quantity * this.selectedProductVariant.gross_amount : 0;
    },
    productAvailableStock() {
      return this.selectedProductVariant
        ? this.selectedProductVariant.available_stock
        : 0;
    },
    productNetPrice() {
      return this.selectedProductVariant
        ? this.quantity * parseFloat(this.selectedProductVariant.unit_amount)
        : 0;
    },
    productTaxPrice() {
      return this.selectedProductVariant
        ? this.quantity * parseFloat(this.selectedProductVariant.tax_amount)
        : 0;
    }
  },
  mounted() {
    if (this.$mq == 'mobile') {
      document.getElementById('product-modal').scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
    }
    let sort = false
    if (document.getElementById('product-description').offsetHeight > 30) {
      this.displayMore = true
    }
    if (this.product)  {
      // this.product.product_variants = this.product.product_variants.sort((a, b) =>  b.id - a.id )
      this.product.product_variants.sort((a, b) =>  a.id - b.id ).forEach((pv) => {
        if (!sort) {
          if (!pv.track_stock) {
            this.selectedProductVariant = pv
            sort = true
          } else if (pv.available_stock > 0) {
            this.selectedProductVariant = pv
            sort = true
          }
        }
      })
    }
    document.getElementById('quantitySelector').onkeydown = function (evt) {
    if (evt.which === 13) {
        evt.preventDefault();
        evt.stopPropagation();
        return false;
    } 
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
      evt.preventDefault();;
    }
  }
}
}
</script>

<style lang="scss" scoped>

.card-header {
  border-bottom: 0;
}
img {
  max-width: 100%;
  max-height: 498px;
}
@media screen and (max-width: 768px) {
  img {
    max-height: 270px;
  }
 }
 .product-description {
  max-height: 100px;
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-dashed { 
  border-style: dashed;
}
</style>


