<template>
  <div>
    <div class="card-header">
      <h2>TradeGecko Product Integration</h2>
      <p class="text-sm font-weight-bold">
        We will import your TradeGecko products into your Orderbly. If any of your products have already been integrated, we will update them with any new new details from TradeGecko.
        <br>
        <u>Please note that products will be imported as vat inclusive.</u>
      </p>
    </div>
    <div class="text-center mt-4">
      <base-button type="success" @click="importProducts()">Sync Products</base-button>
      <base-button type="danger" outline @click="close()">Close</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
  export default {
    computed: {
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany"
      })
    },
    methods: {
      close () {
        this.$store.commit('modals/toggleDisplayTradegeckoProductModal')
      },
      ...mapActions({
        fetchAllTaxes: "tax/fetchAllTaxes"
      }),
      getProductDetails() {
        this.$store.dispatch("products/fetchAllProducts", this.currentCompany.id).then((res) => {
          this.fetchAllTaxes();
           this.$loading(false)
        })
      },
      importProducts() {
        this.$loading(true)
        this.$store.dispatch("tradeGecko/syncProducts", this.currentCompany.uuid)
        .then((res) => {
          if (res.status == 200 || res.status == 201) {
            this.$notify({
              message: 'Products have been successfully imported',
              type: 'success'
            })
            this.getProductDetails()
            this.$loading(false)
            this.close()
          } else {
            this.$notify({
              message: 'Something went wrong, please try again or contact support should the problem persist.',
              type: 'success'
            })
            this.$loading(false)
            this.close()
          }
        })
        .catch(() => {
          this.$notify({
            message: 'Something went wrong, please try again or contact support should the problem persist.',
            type: 'success'
          })
          this.$loading(false)
          this.close()
        })
      }
    }
  }
</script>

<style lang="scss">
.loading-screen {
  z-index: 100000 !important;
}

.loading-circle {
  border-left-color: #eb4034 !important;
}
.loading-text {
  margin-left: -55px !important;
  margin-top: 35px !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-align: center !important;
  border: 4px solid transparent !important;
}
</style>