<template>
  <div>
    <card shadow type="white ml-2 mr-2 mb-0" style="overflow:scroll">
      <div class="invoice" id="printMe">
        <div xxs="12" xl="8">
          <div class="invoice-contents mr-2">
            <div class="row">
              <div v-if="!isPrinting" class="col-3 col-sm-3"></div>
              <h1 v-if="!isPrinting" class="col-4 col-sm-4">Tax Invoice #{{order.order_number}}</h1>
              <!-- Duplication of h1 is for formatting purposes on print vs DOM -->
              <h1 v-if="isPrinting">Tax Invoice #{{order.order_number}}</h1>
              <!-- Display general/printing dropdown options  -->
              <div v-if="!isPrinting" style="text-align: right" class="col-3 col-sm-3 mt-1 mr-1">
                <invoice-dropdown 
                  v-if="dropdownConditions"
                  @edit-order="edit()" 
                  @add-product="addProduct()" 
                  @recurring="recurringModal()" 
                  @toggle-general-credit-note="toggleGeneralCreditNote()"
                  @print="printPDF()"
                  @export-customer="exportCustomerDetail()"
                  @export-supplier="exportSupplierDetail()"
                  @export-line-items="exportLineItemDetail()"
                  @toggle-credit-note="creditNoteDisplay = !creditNoteDisplay"
                  :isEditable="isEditable"
                  :editActive="editActive"
                  :isCustomer="isCustomer"
                  :isSupplier="isSupplier"
                  :isDelivered="isDelivered"
                  :order="order"
                  :lineItems="lineItems"
                ></invoice-dropdown>
                <invoice-dropdown
                  v-else
                  @print="printPDF()"
                  @export-customer="exportCustomerDetail()"
                  @export-supplier="exportSupplierDetail()"
                  @export-line-items="exportLineItemDetail()"
                  @toggle-credit-note="creditNoteDisplay = !creditNoteDisplay"
                  :isEditable="isEditable"
                  :editActive="editActive"
                  :isCustomer="isCustomer"
                  :isSupplier="isSupplier"
                  :isDelivered="isDelivered"
                  :order="order"
                  :lineItems="lineItems"
                ></invoice-dropdown>
              </div>
            </div>
            <!-- Dispay Addresses -->
            <invoice-addresses :is-printing="isPrinting" :order="order"></invoice-addresses>
            <vs-table v-if="$mq !== 'mobile'" :key="baseKey">
              <template #thead>
                <vs-tr>
                  <vs-th v-for="(header, index) in invoiceHeaders" :key="index">
                    {{header.name}}
                  </vs-th>
                </vs-tr>
              </template>
              <template #tbody>
                <vs-tr
                  :key="item.id"
                  v-for="item in sortedItems" 
                  >
                  <vs-td>
                    <p class="invoice-item">
                      <base-button v-if="editActive && permissions.sales_settings.can_delete_order_items" @click="deleteItem(item.id)" type="danger" size="sm" class="my-4">x</base-button>
                    </p>
                  </vs-td>
                  <vs-td>
                    <p class="invoice-item">{{item.product_title}}</p>
                    <br>
                    <p class="invoice-item mt--2 text-muted">{{item.sku}}</p>
                  </vs-td>
                  <vs-td>
                    <div v-if="editActive">
                      <base-input :disabled="!permissions.sales_settings.can_edit_quantity" :style="{'width': quantityWidth}" @keydown="validateType" v-model="item.quantity" class="invoice-input mt-3"></base-input>
                    </div>
                    <div v-else class="text-left">
                      {{ item.quantity }}
                    </div>
                  </vs-td>
                  <vs-td class="text-left">
                    {{ item.vat_price | currency  }}
                  </vs-td>
                  <vs-td class="text-left">
                    {{ item.net_price | currency  }}
                  </vs-td>
                  <vs-td>
                    <div v-if="editActive && isSupplier">
                      <base-input 
                      :disabled="!permissions.sales_settings.can_edit_gross_price"
                      @focus="backupVal(item)"
                      @blur="restoreVal(item)"
                      @keydown="validateType"
                      @keyup="updateValues(item, $event)"
                      v-model="item.custom_price"
                      class="invoice-input mt-3"
                      ></base-input>
                    </div>
                    <div class="text-left" v-else>
                      {{ item.gross_price | currency  }}
                    </div>
                  </vs-td>
                  <vs-td class="text-left">
                    {{ (item.gross_price *  item.quantity) | currency  }}
                  </vs-td>
                  <vs-td v-if="typeof item.item_note === 'string'">
                    <i class="far fa-sticky-note"></i>
                  </vs-td>
                  <template #expand>
                    <div class="row" v-if="editActive">
                      <label class="text-left col-form-label form-control-label">Item Notes</label>
                      <input v-model="item.item_note" class="col-md-8 form-control mr-4" />
                    </div>
                    <div v-if="!editActive" class="row">
                      <label class="col-form-label form-control-label">Item Notes</label>
                      <p class="invoice-item mt-3 col-md-8 text-muted text-left ml--4 mr-4">{{item.item_note}}</p>
                    </div>
                  </template>
                </vs-tr>
              </template>
            </vs-table>

            <div v-else>
              <div v-for="item in sortedItems" :key="item.id">
                <card class="card card-block">
                  <div class="row">
                    <!-- Title, Toggle & Sku -->
                    <h5 class="text-left">{{item.product_title}}</h5>
                    <div v-if="isDisplayingDetail(item.id)" @click="toggleDisplayDetail(item.id)" class="text-right">
                      <i class="fas fa-arrow-down"></i>
                    </div>
                    <div v-else @click="toggleDisplayDetail(item.id)" class="text-right">
                      <i class="fas fa-arrow-up"></i>
                    </div>
                  </div>
                  <p class="invoice-item mt-1">Sku {{item.sku}}</p>
                  <!-- Qty (editable) -->
                  <div class="mt-3 mb--2" v-if="editActive">
                    <p class="invoice-item text-muted mb-2"><span class="form-control-label text-muted mr-2">Avaialable Stock:</span> {{ item.available_stock }}</p>
                    <div class="row">
                      <span class="form-control-label mt-2">Qty:</span>
                      <base-input :disabled="(isSupplier && !permissions.sales_settings.can_edit_quantity)" @keydown="validateType" v-model="item.quantity"></base-input>
                    </div>
                  </div>
                  <div class="mt-2 mb-2" v-else>
                    <p class="invoice-item text-muted"><span class="form-control-label mr-2">Qty:</span> {{ item.quantity }}</p>
                  </div>
                  <!-- Vat / Net -->
                  <div class="row mt-3 mb--2" v-if="editActive && !isDisplayingDetail(item.id)">
                    <span class="form-control-label mt-2 mb--4">Vat:</span>
                    <base-input disabled @keydown="validateType" :value="$options.filters.currency(item.vat_price)"></base-input>
                  </div>
                  <div class="mt-2 mb-2" v-if="!editActive && !isDisplayingDetail(item.id)">
                    <p class="invoice-item text-muted"><span class="form-control-label mr-2">Vat:</span> {{ item.vat_price }}</p>
                  </div>
                  <div class="row mt-3 mb--2" v-if="editActive && !isDisplayingDetail(item.id)">
                    <span class="form-control-label mt-2 mb--4">Net:</span>
                    <base-input disabled @keydown="validateType" :value="$options.filters.currency(item.net_price)"></base-input>
                  </div>
                  <div class="mt-2 mb-2" v-if="!editActive && !isDisplayingDetail(item.id)">
                    <p class="invoice-item text-muted"><span class="form-control-label mr-2">Net:</span> {{ item.net_price | currency }}</p>
                  </div>
                  <!-- Gross (editable) -->
                  <div class="row mt-2" v-if="editActive">
                    <span class="form-control-label mt-2">Gross:</span>
                    <base-input
                      :disabled="!isSupplier || !permissions.sales_settings.can_edit_gross_price"
                      @focus="backupVal(item)"
                      @keydown="validateType"
                      @blur="restoreVal(item)"
                      @keyup="updateValues(item, $event)"
                      v-model="item.custom_price"
                    ></base-input>
                  </div>
                  <div class="mt-2 mb-2" v-else>
                    <p class="invoice-item text-muted"><span class="form-control-label mr-2">Gross:</span> {{  item.gross_price | currency }}</p>
                  </div>
                  <!-- Total -->
                  <p class="invoice-item text-muted mt-2">
                    <span class="form-control-label mr-2">Total:</span>
                    <span class="form-control-label">{{  (item.gross_price *  item.quantity) | currency }}</span>
                  </p>
                  <!-- Notes -->
                  <p v-if="!isDisplayingDetail(item.id)" class="invoice-item text-muted mt-3"><span class="form-control-label mr-2">Item Note:</span>
                  <p v-if="!isDisplayingDetail(item.id) && !editActive && isSupplier" class="invoice-item text-muted mt-2">{{item.item_note}}</p>
                  <base-input v-model="item.item_note" v-else class="invoice-item text-muted mt-2">{{item.item_note}}</base-input>
                </card>
              </div>
            </div>
            <table :class="isPrinting ? 'pr-8' : ''" class="m-0 p-4 invoice-footer">
              <tr class="order-totals">
                <td colspan="12" style="width: 100%; border-top: 1px solid rgb(241, 240, 240);" class="pt-4 pb-2">
                  <p href="#" class="invoice-total-header">
                    Subtotal : <span class="invoice-total"> <strong>{{totals.netTotal | currency }}</strong></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="12" style="width: 100%;" class="py-2">
                  <p class="invoice-total-header">
                    <i @click="toggleDisplayEditDeliveryFee()" v-if="isEditable && isSupplier && !isPrinting" style="font-size: 10px" class="far fa-edit mr-2"></i>
                    <strong>Delivery Fee (ex. VAT) : <span class="invoice-total">{{parseFloat(orderItem.delivery_fee['net_price']) || 0 | currency }}</span></strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="12" style="width: 100%;" class="py-2">
                  <p class="invoice-total-header">
                    <strong>Tax : <span class="invoice-total">{{totals.vatTotal | currency }}</span></strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="12" style=" width: 100%;" class="py-2 pb-3">
                  <p href="#" class="invoice-total-header">
                    <strong> Total : <span class="invoice-total">{{totals.grossTotal | currency}}</span> </strong>
                  </p>
                </td>
              </tr>
            </table>
            <div class="text-left ml-3">
              <div class="col-md-4">
                <div v-if="isPrinting">
                  <div class="mt-2"><small><strong>Ship to:</strong> {{order.customer.title}}</small></div>
                  <div><small><strong>Delivery Date:</strong> {{order.order_date}}</small></div>
                  <div><small><strong>Street Adress:</strong> {{order.delivery_address.address_one}} </small></div>
                  <div><small><strong> City:</strong> {{order.delivery_address.city}} </small></div>
                  <div><small><strong>Postal Code:</strong> {{order.delivery_address.postal_code}} </small></div>
                  <div><small><strong>Email:</strong> {{order.email}} </small></div>
                  <br>
                </div>
                <small><strong>Order Notes:</strong> {{order.notes}} </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="text-center mb-4">
        <base-button v-if="isEditable && editActive" @click="addProduct ()" size="lg" type="btn btn-default">Add Product</base-button>
        <base-button v-if="isEditable && editActive" @click="validateBalance" size="lg" type="success">Save</base-button>
        <base-button v-if="isEditable && editActive" @click="cancel()" size="lg" type="danger">Cancel</base-button>
      </div>
    </card>

    <modal :show="getOrderProductSelectModal" size="lg">
      <product-select :customerId="order.customer.id" :message="addProductMessage" v-if="getOrderProductSelectModal" :supplier-title="orderItem.supplier.title"></product-select>
    </modal>

    <modal :modalName="'Recurring Order'" :show="getDisplayRecurringModal" size="lg" body-classes="p-0">
      <recurring-order-form :order="order" @close-modal="recurringModal"></recurring-order-form>
    </modal>

    <vs-dialog auto-width v-model="creditNoteDisplay">
      <general-credit-note :order="order" v-if="creditNoteDisplay"></general-credit-note>
    </vs-dialog>

    <modal :show="getDisplayEditDeliveryFee" size="md" body-classes="p-0 bg-white" >
      <edit-delivery-fee :order="order" v-if="getDisplayEditDeliveryFee"></edit-delivery-fee>
    </modal>
    
    <base-button v-print="printObj" style="background:#60aebf; display:none" id="print-document"></base-button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import swal from "sweetalert2";
import {setCookie, getCookie} from "../../../constants/cookies"
export default {
  props: ["orderItem"],
  data() {
    return {
      creditNoteDisplay: false,
      printObj: {
        id: "printMe",
        popTitle: '',
      },
      deliveryFee: {
        SKU: '',
        product_title: 'Delivery Fee',
        quantity: '1',
        vat_price: '',
        net_price: '',
        total_price: ''

      },
      isPrinting: false,
      changeTimout: null,
      currentOrder: {
        items: []
      },
      lineItems: [],
      editActive: false,
      baseKey: 0,
      backupItem: {},
      displayingDetailsList: [],
      viewMobileDetails: false,
      fetchedCredit: false,
      mobileCustomerDetails: true,
      backupOrder: null,
      mobileSupplierDetails: true,
      editableHeaders: [
        { name: "", class: "text-left" },
        { name: "Item Name", class: "text-left" },
        { name: "Quantity", class: "text-left" },
        { name: "Vat", class: "text-left" },
        { name: "Net Price", class: "text-left" },
        { name: "Gross Price", class: "text-left" },
        { name: "Total Price", class: "text-left" },
        { name: "", class: "text-left" }
      ],
      nonEditableHeaders: [
        { name: "", class: "text-left" },
        { name: "Item Name", class: "text-left" },
        { name: "Quantity", class: "text-left" },
        { name: "Vat", class: "text-left" },
        { name: "Net Price", class: "text-left" },
        { name: "Gross Price", class: "text-left" },
        { name: "", class: "text-left" }
      ]
    };
  },
  components: {
    "invoice-dropdown": () => import('../components/widgets/InvoiceDropdown'),
    "invoice-addresses": () => import('../components/tables/InvoiceAddresses'),
    "recurring-order-form": () => import('../components/modals/RecurringOrderForm'),
    "general-credit-note": () => import('../components/modals/GeneralCreditNote'),
    "product-select": () => import('../components/modals/ProductSelect'),
    "edit-delivery-fee": () => import('../components/modals/EditDeliveryFee')
  },
  computed: {
    sortedItems() {
      return this.orderItem.order_items.sort((a, b) => a.id > b.id)
    },
    addProductMessage () {
      if (this.orderItem.order_items.length == 0) {
        return "No Items have been added to this order, please add products to finalise the order."
      }
      return ""
    },
    isDelivered () {
      return this.orderItem.delivery_status === "delivered"
    },
    displayRow() {
      return this.$mq == 'mobile' ? "display: inline-block;overflow: auto;" : ""
    },
    customerDetails () {
      return this.$mq != 'mobile' ? 'text-right' : ''
    },
    displayMobileCustomerDetails () {
      if ( this.$mq != 'mobile') return true
      return this.mobileCustomerDetails && this.$mq == 'mobile' ? true : false
    },
    displayMobileSupplierDetails () {
      if ( this.$mq != 'mobile') return true
      return this.mobileSupplierDetails && this.$mq == 'mobile' ? true : false
    },
    quantityWidth () {
      return this.$mq == 'desktop' ? '60%' : '100%'
    },
    order() {
      return this.orderItem ? this.orderItem : defaultInvoice;
    },
    totals() {
      let netTotal = 0;
      let grossTotal = 0;
      let vatTotal = 0;
      this.orderItem.order_items.forEach(item => {
        netTotal += item.quantity * item.net_price;
        grossTotal += item.quantity * item.gross_price;
        vatTotal += item.quantity * item.vat_price
      });
      return { netTotal: netTotal, grossTotal: grossTotal + (parseFloat(this.orderItem.delivery_fee['gross_price'] || 0)), vatTotal: vatTotal + (parseFloat(this.orderItem.delivery_fee['vat_price'] || 0))};
    },

    invoiceHeaders() {
      return this.editableHeaders
    },

    isEditable() {
      return this.order.order_status === "pending" ? true : false;
    },

    isSupplier() {
      return this.orderItem.supplier.id === this.currentCompany.id;
    },

    isCustomer() {
      return this.orderItem.customer.id === this.currentCompany.id;
    },

    dropdownConditions () {
      return (this.isEditable && !this.editActive) || (this.order.order_schedule == null && this.isCustomer)
    },

    toggleDisplayEditDeliveryFee () {
      return this.$store.commit('modals/toggleDisplayEditDeliveryFee')
    },

    ...mapGetters({
      getDisplayEditDeliveryFee: "modals/getDisplayEditDeliveryFee",
      getDisplayRecurringModal: "modals/getDisplayRecurringModal",
      getDisplayGeneralCreditNoteModal: "modals/getDisplayGeneralCreditNoteModal",
      currentCompany: "companies/getCurrentCompany",
      notifyDeleteSuccess: "orders/notifyDeleteSuccess",
      getAllProducts: "products/getAllSupplierProducts",
      getOrderProductSelectModal: "modals/getOrderProductSelectModal",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      currentUser: "user/currentUser",
      permissions: "user/userPermissions",
      availableBalance: "creditLimits/availableBalance",
      isAdmin: "user/isAdmin",
    }),

    declineableOrder() {
      return (
        this.orderItem.order_status == "pending" &&
        (this.isSupplier || this.isCustomer)
      );
    },

    acceptableOrder() {
      return this.orderItem.order_status == "pending" && this.isSupplier;
    },

    isMobile() {
      return this.$mq == "mobile";
    }
  },

  methods: {

    printPDF() {
      this.printObj.popTitle = `Invoice #${this.order.order_number}`
      this.isPrinting = true
      document.getElementById("print-document").click()
      setTimeout(() => {this.isPrinting = false}, 1000)

    },
    exportCustomerDetail() {
    },
    exportSupplierDetail() {
    },
    exportLineItemDetail() {
      this.lineItems = []
      this.lineItems = JSON.parse(JSON.stringify(this.sortedItems))
      this.deliveryFee.total_price = this.orderItem.delivery_fee.gross_price
      this.deliveryFee.net_price = this.orderItem.delivery_fee.net_price
      this.deliveryFee.vat_price = this.orderItem.delivery_fee.vat_price
      this.lineItems.push(this.deliveryFee)
    },

    isDisplayingDetail (id) {
      return !this.displayingDetailsList.includes(id)
    },

    toggleDisplayDetail(id) {
      if (this.displayingDetailsList.includes(id)) {
        console.log('hi')
        this.displayingDetailsList = this.displayingDetailsList.filter(i => i !== id)
      } else {
        this.displayingDetailsList.push(id)
      }
    },

    backupVal(item) {
      this.backupItem = item
    },

    restoreVal (item) {
      let backup = this.backupItem
      if (item.gross_price === "" || item.gross_price == null || item.gross_price === NaN) {
        this.orderItem.order_items = this.orderItem.order_items.map(oi => {
          if (oi.id == item.id) {
            oi.vat_price = 0
            oi.net_price = 0
            return oi
          }
          return oi
        })
      }
    },
    edit() {
      document.querySelectorAll('.isExpand').forEach((el) => el.click())
      this.editActive = !this.editActive
    },
    cancel() {
      this.$emit('re-render')
      this.editActive = false
      this.orderItem = this.backupOrder
    },
    showCustomerDetails () {
      this.mobileCustomerDetails = !this.mobileCustomerDetails
    },
    toggleGeneralCreditNote () {
      this.$store.commit("modals/toggleDisplayGeneralCreditNoteModal")
    },
    addProduct () {
      this.$store.commit("modals/toggleOrderProductSelectModal")
    },
    showSupplierDetails () {
      this.mobileSupplierDetails = !this.mobileSupplierDetails
    },
    recurringModal () {
      this.$store.commit("modals/setDisplayRecurringModal")
    },
    // uuid compatible
    deleteItem(id) {
      swal({
        title: "Are you sure you want to delete this item?",
        text: "You won't be able to revert this",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) {
          this.$store.dispatch("orders/deleteOrderItem", id);
          this.orderItem.order_items = this.orderItem.order_items.filter(
            i => i.id !== id
          );
        }
      });
    },
    // uuid compatible

    validateBalance() {
      this.saveOrder()
    },

    saveOrder() {
      this.edit();
      this.backupOrder = this.orderItem
      let values = this.orderItem.order_items.map(item => { 
        return { 
          id: item.id,
          quantity: item.quantity,
          net_price: item.net_price,
          gross_price: item.gross_price,
          vat_price: item.vat_price,
          item_note: item.item_note
        } 
      });
      this.$store.dispatch("orders/editOrder", { order_id: this.$route.params.id, values: values})
      .then((res) => {
        if(res.data.status) {
          this.getCredit()
          this.notifyUpdate(`Order has been successfully saved`, 'success')
        } else {
          this.notifyUpdate(`Certain items were not able to update due to insufficient stock or available credit, `, 'warning')
        }
      }).catch(() => {
        this.notifyUpdate(`Something went wrong, please try again or contact support should the issue persist`, 'danger')
      })
      this.$emit('reload')
    },

    notifyUpdate(msg, type) {
      this.$notify({
        message: msg,
        timeout: 12000,
        icon: "ni ni-bell-55",
        type: type
      })
    },
    validateType (evt) {
      this.$options.filters.isNumber(evt)
    },

    updateValues(val, evt) {
      if (evt.target.value == "") {
        evt.target.value = 0
        evt.preventDefault()
      }

        // if gross price is empty make all values 0
        if (val.gross_price === "") {
          this.orderItem.order_items = this.orderItem.order_items.map(oi => {
            if (oi.id == val.id) {
              oi.vat_price = 0.0
              oi.net_price = 0.0
              oi.gross_price = 0.0
              return oi
            }
            return oi
          })
          return
        }
        // update quantities and pricing
        let item = this.orderItem.order_items.find(oi => oi.id == val.id)
        if (item.vat_percentage == 0) {
          val.vat_price = 0
          val.net_price = parseFloat(evt.target.value)
        } else {
          val.net_price = parseFloat(evt.target.value) / (1 + val.vat_percentage)
          val.vat_price = parseFloat(evt.target.value) - val.net_price
        }
  
        this.orderItem.order_items = this.orderItem.order_items.map(oi => {
          if (oi.id == item.id) {
            oi.vat_price = val.vat_price
            oi.net_price = val.net_price
            oi.gross_price = parseFloat(evt.target.value)
            return oi
          } 
          return oi
        })

    },

    calcTotal(gross, quantity) {
      return parseFloat(gross) * parseFloat(quantity);
    },

    unitAmount(item, val) {
      if (this.taxPercentage > 0) {
        let vat = parseFloat((gross_amount / (1 + this.taxPercentage)).toFixed(2))
        return vat.toFixed(2)
      } else {
        return gross_amount
      }
    },

    date() {
      let now = new Date();
      return now;
    },

    getCredit() {
      let data = {
        supplier_id: this.orderItem.supplier.id,
        customer_id: this.orderItem.customer.id
      };
      this.$store.dispatch("creditLimits/fetchCreditBalance", data);
      this.fetchedCredit = true;
    },
  },
  watch: {
    company(val) {
      if (val.id && !this.fetchedCredit) {
        this.getCredit();
      }
    },

    notifyDeleteSuccess(val) {
      if (val) {
        this.$notify({
          message: `Order item has been deleted`,
          timeout: 12000,
          icon: "ni ni-bell-55",
          type: "danger"
        });
      }
    }

  },
  mounted () {
    this.backupOrder = this.orderItem
    if (this.orderItem.order_items.length == 0) {
      this.addProduct()
    }
    this.getCredit()
    setTimeout(() =>{
      this.$store.dispatch('mixpanel/mixpanelTrack', { 
      track: 'visit_order', 
      obj: {
        distinct_id: this.currentUser.uuid,
        email: this.currentUser.user_email,
        company_id: this.currentCompany.id,
        company_name: this.currentCompany.title,
        supplier_id: this.orderItem.supplier.id,
        customer_id: this.orderItem.customer.id,
        supplier_title: this.orderItem.supplier.title,
        customer_title: this.orderItem.customer.title,
        order_id: this.orderItem.order_uuid,
        '$referring_domain': window.location.origin
        }
      });
    },1500)
  }
};
</script>

<style lang="scss" scoped>

.invoice-table {
  width:100%;
  border-collapse:separate !important;
  border-spacing:0;
  color:#242128;
}

.invoice-footer {
  width:100%;
  border-collapse:separate !important;
  border-spacing:0;
  color:#242128;
}

.invoice-item {
  width: max-content;
}

.invoice-input {
  width: 110px !important;
}

.invoice-number {
  border-bottom: 1px solid #adb5bd;
}

.btn-status {
  pointer-events: none;
  border-radius: 1px;
}
</style>
