<template>
  <div>
    <div class="page-header ml-4">
      <h3 class="mb-0 mt-4">Purchases</h3>
    </div>
    <OrderIndexTable class="ml-4 mr-4 mt-4" v-if="allPurchases" />
  </div>
</template>
<script>
import {
  OrderIndexTable,
  PurchaseOrderHeader,
  SalesIndexTable
} from "../index";
import Tabs from "@/components/Tabs/OrderTabs";
import Tab from "@/components/Tabs/OrderTab";

export default {
  name: "light-table",
  components: {
    SalesIndexTable,
    tabs: Tabs,
    "tab-pane": Tab,
    OrderIndexTable,
    PurchaseOrderHeader
  },
  data() {
    return {
      currentPage: 1,
      allPurchases: true,
      pendingPurchases: false,
      acceptedPurchases: false,
      declinedPurchases: false,
      cancelledPurchases: false
    };
  },
  methods: {
    displayOrderType(type) {
      if (type === "allPurchases") {
        this.allPurchases = true;
        this.pendingPurchases = false;
        this.acceptedPurchases = false;
        this.declinedPurchases = false;
        this.cancelledPurchases = false;
      } else if (type === "pendingPurchases") {
        this.allPurchases = false;
        this.pendingPurchases = true;
        this.acceptedPurchases = false;
        this.declinedPurchases = false;
        this.cancelledPurchases = false;
      } else if (type === "acceptedPurchases") {
        this.allPurchases = false;
        this.pendingPurchases = false;
        this.acceptedPurchases = true;
        this.declinedPurchases = false;
        this.cancelledPurchases = false;
      } else if (type === "declinedPurchases") {
        this.allPurchases = false;
        this.pendingPurchases = false;
        this.acceptedPurchases = false;
        this.declinedPurchases = true;
        this.cancelledPurchases = false;
      } else if (type === "cancelledPurchases") {
        this.allPurchases = false;
        this.pendingPurchases = false;
        this.acceptedPurchases = false;
        this.declinedPurchases = false;
        this.cancelledPurchases = true;
      }
    }
  },
  mounted () {
    document.body.style.overflow = "visible";
  }
};
</script>
<style lang="scss" scoped>
.row-example {
  border-style: none;
  border-color: color;
}
</style>