<template>
  <div>
    <div v-if="!isLoading" class="container-fluid">
      <div class="row" style="overflow: auto!important;">
        <div style="margin-right: auto; margin-left: auto;" class="col-md-8 mt-4 text-center">
          <order-details
            :order="currentOrder"
            :deliveryStatus="currentOrder.delivery_status"
            :orderStatus="currentOrder.order_status"
          ></order-details>
          <Invoice @re-render="reload()" @reload="reloadOnly()" :key="baseKey" :orderItem="currentOrder" />
          <card v-if="this.$mq == 'mobile'" class="invoice-breaker ml-4 mb-0"></card>
          <activity-feed v-if="this.$mq == 'mobile'" class="text-left" :comments="currentOrder.order_comments"></activity-feed>
          <div v-if="accountingDetails">
            <card class="invoice-breaker ml-4 mb-0"></card>
            <accounting-invoice-detail :accountingDetails="accountingDetails.invoice"></accounting-invoice-detail>
          </div>
        </div>
        <div v-if="this.$mq !== 'mobile'" class="col-md-4 mt-4">
          <activity-feed class="text-left" :order-id="currentOrder.id" :comments="currentOrder.order_comments"></activity-feed>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Timeline from "../../../components/Widgets/TimelineCard";
import TimelineItem from "../../../components/Widgets/TimelineCard"
import { mapActions, mapGetters } from "vuex";
import Invoice from "./Invoice";

export default {
  props: ["order", "id", "uuid"],
  components: {
    "activity-feed": () => import("@/components/Comments/ActivityFeed"),
    'timeline': Timeline,
    'timeline-item': TimelineItem,
    Invoice,
    'order-details': () => import('../components/cards/OrderDetails'),
    "accounting-invoice-detail": () => import("@/views/Integrations/components/AccountingInvoiceDetail")
  },

  data() {
    return {
      orderItem: null,
      baseKey: 0,
      isLoading: true,
      defaultInvoice: {
        customer: "0",
        customer_id: 0,
        order_number: 0,
        order_status: "",
        delivery_status: "",
        order_date: "",
        order_comments: [],
        supplier: {
          id: 1,
          title: "",
          address_one: "",
          suburb: "",
          city: "",
          country: "",
          postal_code: "",
          contact: ""
        },
        net_amount: 0,
        vat_amount: 0,
        gross_amount: 0,
        order_items: []
      },
      isMobile: false
    };
  },

  mounted() {
    this.fetchOrder()
    document.body.style.overflow = "visible";
  },

  methods: {
    fetchOrder () {
      this.$store.dispatch("orders/fetchOrder", this.$route.params.id)
      .then((res) => {
        if(res) {
          this.isLoading = false
        } else {
          this.$notify({
            message: 'Request could note be completed',
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
          this.$router.go(-1)
        }
      })
    },
    reload() {
      this.fetchOrder()
      this.baseKey += 1
    },
    reloadOnly() {
      this.baseKey += 1
    }
  },
  watch: {
    currentOrder () {
      this.baseKey += 1
    },
  },
  computed: {
    accountingDetails() {
      if (this.isSupplier && this.currentOrder && this.currentOrder.accounting.sales !== undefined) {
        return this.currentOrder.accounting.sales
      } else if (!this.isSupplier && this.currentOrder.accounting.purchases !== undefined) {
        return this.currentOrder.accounting.purchases
      }
    },
    isSupplier() {
      if (this.currentOrder) return this.currentOrder.supplier.id === this.currentCompany.id;
    },
    invoice() {
      return this.currentOrder ? this.currentOrder : this.defaultInvoice;
    },
    ...mapGetters({ 
      currentCompany: "companies/getCurrentCompany",
      currentOrder: "orders/getCurrentOrder"
    })
  }
};
</script>

<style lang="scss">
// @import '../src/assets/scss/custom/_tables.scss';
.invoice-breaker {
  width:1%;
  background-color:#32325d;
  border-radius:0px;
}

img {
  max-height: 150px;
}
.progress-bar {
  height: 10px;
}

.timeline {
  margin-top: 15%;
}

.invoice-item {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 0;
  color: #303030;
  font-weight: 500;
}

.invoice-quantity {
  font-size: 13px;
  text-decoration: none;
  line-height: 1;
  color: #909090;
  margin-top: 0px;
  margin-bottom: 0;
}

.invoice-price {
  font-size: 13px;
  line-height: 1.6;
  color: #303030;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: top;
  white-space: nowrap;
}

.invoice-total {
  font-size: 16px;
  text-decoration: none;
  line-height: 1;
  color: #525f7f;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: right;
}

.invoice-total-header {
  font-size: 16px;
  text-decoration: none;
  line-height: 1;
  color: #525f7f;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: right;
}

.invoice-header {
  font-size: 80%;
  color: #525f7f;
  font-weight: bolder;
  padding-bottom: 15px;
  padding-top: 10px;
}

.flex-content {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  padding: 5px;
  width: 100%;
  height: auto;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .mobile_table tr {
    max-width: 100%;
    position: relative;
    display: block;
  }

  .mobile_table tr td {
    display: flex;
    width: 100%;
    height: auto;
  }

  .mobile_table tr td ul li:before {
    content: attr(data-label);
    font-size: 10px;
    color: #8f8f8f;
    padding-top: 10px;
    text-align: left;
    display: block;
  }

  .supplier-mobile li {
    padding: 16px;
  }

  .order-mobile {
    border-bottom: 1px solid rgb(241, 240, 240);
  }

  .order-totals td:first-child {
    border-top: 0 !important;
    padding-top: 0 !important;
  }
}
</style>
