<template>
  <div>
    <div class="container-fluid col-md-12" style="padding-right:0px;padding-left:0px">
      <div class="card-body" style="padding:0px">
        <div v-if="paymentError">
          <div class="alert alert-danger" role="alert">Payment Failed!</div>
        </div>
        <div class="text-center">
          <iframe class="ozow_frame" frameborder="0" name="ozow_frame" id="ozow_frame"></iframe>
        </div>
        <form
          name="ozow_form"
          id="ozow_form"
          role="form"
          action="https://pay.ozow.com/"
          method="POST"
          target="ozow_frame"
        >
          <input type="hidden" name="SiteCode" :value="siteCode" />
          <input type="hidden" name="CountryCode" :value="countryCode" />
          <input type="hidden" name="CurrencyCode" :value="currencyCode" />
          <input type="hidden" name="Amount" :value="amount" />
          <input type="hidden" name="TransactionReference" :value="transactionReference" />
          <input type="hidden" name="BankReference" :value="bankReference" />
          <input type="hidden" name="Optional1" :value="optional_one" />
          <input type="hidden" id="Optional2" name="Optional2" :value="optional_two" />
          <input type="hidden" id="Optional3" name="Optional3" :value="optional_three" />
          <input type="hidden" id="Optional4" name="Optional4" :value="optional_four" />
          <input type="hidden" name="NotifyUrl" :value="notify_url" />
          <input type="hidden" id="IsTest" name="IsTest" :value="false" />
          <input type="hidden" id="HashCheck" name="HashCheck" :value="signature" />
          <div class="text-center">
            <base-button @click="togglePayGateModal()" type="secondary" class="my-4">Close</base-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import md5 from "md5";
import sha512 from "js-sha512";

import { mapGetters, mapActions } from "vuex";
export default {
  props: ["order", "accountSale"],
  data() {
    return {
      paymentError: false,
      paymentChannel: null,
      formSubmitted: false,
    };
  },
  methods: {
    ...mapActions({
      togglePayGateModal: "payGate/togglePayGateModal",
      togglePaymentOptionModal: "modals/togglePaymentOptionModal"
    }),
    pfix(val) {
      val = val + "";
      return encodeURIComponent(val.trim())
        .replace(/!/g, "%21")
        .replace(/'/g, "%27")
        .replace(/\(/g, "%28")
        .replace(/\)/g, "%29")
        .replace(/\*/g, "%2A")
        .replace(/~/g, "%7E")
        .replace(/%20/g, "+");
    },
    genSignature() {
      let variablesRaw = this.siteCode
      variablesRaw += this.countryCode
      variablesRaw += this.currencyCode
      variablesRaw += this.amount
      variablesRaw += this.transactionReference
      variablesRaw += this.bankReference
      variablesRaw += this.optional_one
      variablesRaw += this.optional_two
      variablesRaw += this.optional_three
      variablesRaw += this.optional_four
      variablesRaw += this.notify_url
      variablesRaw += false
      variablesRaw += this.privateKey
      return sha512(variablesRaw.toLowerCase());
    },

    notifyFeedback(orderDetails) {
      if (orderDetails.type == "success") {
        this.$notify({
          message: orderDetails.status,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "success"
        });
        this.trackAction('payment_success')
        this.togglePayGateModal();
        this.fetchSupplierStatement(this.$route.params.supplier_id);
        this.togglePaymentOptionModal();
      } else {
        this.$notify({
          message: orderDetails.status,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "danger"
        });
        this.togglePayGateModal();
        this.paymentError = true;
        this.trackAction('payment_fail')
      }
    },
    ...mapActions({
      fetchSupplierStatement: "accountSales/fetchSupplierStatement",
      fetchSupplierAnalysis: "accountSales/fetchSupplierAnalysis"
    }),
    trackAction(action) {
      this.$store.dispatch('mixpanel/mixpanelTrack', { 
      track: action, 
      obj: {
        distinct_id: this.currentUser.uuid,
        email: this.currentUser.user_email,
        company_id: this.currentCompany.id,
        company_name: this.currentCompany.title,
        supplier_id: this.$route.params.supplier_id,
        '$referring_domain': window.location.origin
        }
      });
    },
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      getPayGateModal: "payGate/getPayGateModal",
      apiKey: "payGate/apiKey",
      privateKey: "payGate/private_key",
      notify_url: "payGate/notify_url",
      customer_name: "payGate/customer_name",
      amount: "payGate/amount",
      supplier_name: "payGate/supplier_name",
      order_id: "payGate/order_id",
      supplier_id: "payGate/supplier_id",
      customer_id: "payGate/customer_id",
      testingEnv: "payGate/testingEnv"
    }),

    bankReference () {
      return this.supplier_name ? this.supplier_name.replace(/ /g,"") : ""
    },

    transactionReference () {
      let d = new Date();
      let timestamp = d.getTime();

      return this.customer_name ? this.customer_name.replace(/ /g,"") + timestamp : ""
    },

    siteCode () {
      return 'ORD-ORD-002'
    },

    countryCode () {
      return "ZA"
    },

    currencyCode () {
      return "ZAR"
    },

    paymentAmount () {
      return this.amount
    },

    optional_one () {
      return this.order_id
    },

    optional_two () {
      return this.supplier_id
    },

    optional_three() {
      return this.order ? "order" : "account_sale";
    },

    optional_four() {
      return this.customer_id
    },

    orderTypeId() {
      return this.order.order_number;
    },

    signature() {
      return this.genSignature();
    }
  },
  mounted() {
    this.paymentChannel = this.$pusher.subscribe("payment_update");
    this.paymentChannel.bind(`${this.currentCompany.id}_order_${this.transactionReference}`,
      this.notifyFeedback
    );

    document.getElementById("ozow_form").submit();

  },
  unmounted() {
    this.paymentChannel = null;
    this.$store.commit("payGate/clearActiveOrder");
  }
};
</script>

<style lang="scss">
.ozow_frame {
  height: 600px;
  overflow: scroll;
  width: 700px;
  border: 0;
  @media (max-width: 575px) {
    zoom: 60%;
  }
}

.modal-content {
  // width: fit-content;
  margin: auto;
  overflow: scroll;
}


.validation-summary-errors{
  font-size: 40px;
  color: blue;
}
</style>