<template>
  <div>
    <div class="page-header ml-4">
      <h3 class="mb-0 mt-4">Sales</h3>
    </div>
    <SalesIndexTable class="mt-5" v-if="allSales" :status="'all'" />
  </div>
</template>
<script>
import { OrderIndexTable, OrderHeader, SalesIndexTable } from "../index";
import Tabs from "@/components/Tabs/OrderTabs";
import Tab from "@/components/Tabs/OrderTab";

export default {
  name: "light-table",
  components: {
    SalesIndexTable,
    tabs: Tabs,
    "tab-pane": Tab,
    OrderIndexTable,
    OrderHeader
  },
  data() {
    return {
      currentPage: 1,
      allSales: true,
      pendingSales: false,
      acceptedSales: false,
      declinedSales: false,
      cancelledOrders: false
    };
  },
  methods: {
    displayOrderType(type) {
      if (type === "allSales") {
        this.allSales = true;
        this.pendingSales = false;
        this.acceptedSales = false;
        this.declinedSales = false;
        this.cancelledOrders = false;
      } else if (type === "pendingSales") {
        this.allSales = false;
        this.pendingSales = true;
        this.acceptedSales = false;
        this.declinedSales = false;
        this.cancelledOrders = false;
      } else if (type === "acceptedSales") {
        this.allSales = false;
        this.pendingSales = false;
        this.acceptedSales = true;
        this.declinedSales = false;
        this.cancelledOrders = false;
      } else if (type === "declinedSales") {
        this.allSales = false;
        this.pendingSales = false;
        this.acceptedSales = false;
        this.declinedSales = true;
        this.cancelledOrders = false;
      } else if (type === "cancelledOrders") {
        this.allSales = false;
        this.pendingSales = false;
        this.acceptedSales = false;
        this.declinedSales = false;
        this.cancelledOrders = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.row-example {
  border-style: none;
  border-color: color;
}
</style>