<template>
  <div class="ml-8 mr-8 card shadow">
    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        :class="''"
        :thead-classes="'thead-light'"
        tbody-classes="list"
        :data="taxes"
      >
        <template slot="columns">
          <th>Description</th>
          <th>Percentage</th>
        </template>

        <template slot-scope="{row}">
          <td type="default" block class="mb-3 product__item" @click="openEditModal(row)">
            <badge class="badge-dot mr-4" :type="row.description">
              <span>{{row.description}}</span>
            </badge>
          </td>
          <td block class="mb-3 product__item" @click="openEditModal(row)">
            <badge class="badge-dot mr-4" :type="row.percentage.toString()">
              <span>{{row.percentage.toString()}}%</span>
            </badge>
          </td>
        </template>
      </base-table>
    </div>
    <modal :show="getEditTaxModal" size="sm" body-classes="p-0">
      <edit-tax-modal :tax="activeTax"></edit-tax-modal>
    </modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "products-index-table",
  components: {
    "new-tax-modal": () => import("../modals/NewTaxModal"),
    "edit-tax-modal": () => import("../modals/EditTaxModal")
  },
  data() {
    return {
      type: "light",
      activeTax: null,
      modals: {
        form: true
      }
    };
  },
  computed: {
    ...mapGetters({
      taxes: "tax/getTaxes",
      getEditTaxModal: "modals/getEditTaxModal"
    })
  },
  methods: {
    openEditModal(tax) {
      this.toggleEditTaxModal();
      this.activeTax = tax;
    },
    ...mapActions({
      fetchAllTax: "modals/fetchAllTaxes",
      toggleEditTaxModal: "modals/toggleEditTaxModal"
    })
  },
  created() {
    this.$store.dispatch("tax/fetchAllTaxes");
    // this.fetchAllTax();
  }
};
</script>
<style>
</style>
