<template>
  <div>
    <h3 class="ml-4">Orders</h3>
    <div class="card shadow mt-3 ml-4 mr-4">
      <div class="table-responsive">
        <table class="table tablesorter table align-items-center table-flush">
          <thead>
            <th>Order Number</th>
            <th>Orders</th>
            <th>Quantity</th>
          </thead>
          <tbody v-for="(item, index) in items" :key="index">
            <td>
              <span>{{ item.order_number }}</span>
            </td>
            <td>
              <span>{{ item.title }}</span>
            </td>
            <td>
              <span>{{ item.quantity }}</span>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["items"]
};
</script>

<style lang="scss" scoped></style>
