<template>
  <div>
    <div class="page-header ml-4">
      <h3 class="mb-0 mt-4 ml-4">{{statementType}} <span class="text-muted ml-2"> {{customerName}}</span></h3>
    </div>
    <div class="row mt-4 ml-2 mr-2">
      <div class="card col-auto">
        <base-input class="mt-2" label="Filter By Date">
          <flat-picker slot-scope="{focus, blur}"
            @on-open="focus"
            @on-close="blur"
            v-model="date"
            :config="{allowInput: true, mode: 'range'}"
            class="form-control datepicker">
          </flat-picker>
        </base-input>
      </div>
      <div class="card col-md-2 mr-1">
        <div class="example red mt-2 h3">
          Opening Balance <br> <br>
          <strong> {{tradeStatement.opening_balance}} </strong> 
        </div>
      </div>
      <div class="card col-md-2 mr-1">
        <div class="example blue mt-2 h3">
          Transaction Value <br> <br>
          <strong> {{tradeStatement.transaction_value}} </strong> 
        </div>
      </div>
      <div class="card col-md-2 mr-1">
        <div class="example green mt-2 h3">
          Closing Balance <br> <br>
          <strong> {{tradeStatement.closing_balance}} </strong> 
        </div>
      </div>
    </div>
    <loading-table class="ml-4 mr-12" v-if="loading" :rowCount="6"></loading-table>
    <div v-else class=" ml-4 mr-4 mt-4 card shadow bg-white">
      <div class="table-responsive">
        <ul class="list-group list-group-flush" data-toggle="checklist">
          <li class="list-group-item px-0" v-for="(item, index) in allTransactions" :key="index">
            <div @click="goToOrder(item)" class="row align-items-center">
                <div class="col-auto">
                </div>
                <div class="page-header col" :class="rowTextColour(item.type)">
                  <div v-if="item.type.includes('Order')" class="checklist-title mb-0">
                    <h5>{{isCustomer ? item.supplier.title : item.customer.title}}</h5>
                    <h5 class="mb-0 text-muted">{{item.date}}</h5>
                  </div>
                  <div v-else class="checklist-title mb-0">
                    <h5>{{isCustomer ? item.supplier.title : item.customer}}</h5>
                    <h5 class="mb-0 text-muted">{{item.date}}</h5>
                  </div>
                </div>
                <div class="col">
                  <h5 class="mb-0 h5 text-blue">{{item.type}}</h5>
                </div>
                <div class="col">
                  <h5 class="mt-2">{{item.gross_amount | currency}}</h5>
                  <h6 class="text-muted mt-1">Balance: {{item.balance | currency}}</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <base-pagination align="left" class="ml-4 mt-3" :page-count="10" v-model="pagination.default" :pageCount="pageCount"></base-pagination>
    </div>
      <modal size="xl" :show="getDisplayCreditNoteModal">
        <credit-note v-if="getDisplayCreditNoteModal" :id="creditNoteId"></credit-note>
      </modal>
      <modal :show="getPayGateModal" :size="'lg'">
        <ozow-modal v-if="getPayGateModal" :order="activeOrder"></ozow-modal>
      </modal>
      <modal :show="getPayAccountModal" :size="'sm'">
        <pay-account-modal :payment-details="tradeStatement" :max-value="payableBalance"></pay-account-modal>
      </modal>
      <vs-dialog prevent-close v-model="displayPaymentModal">
        <payment-detail @close="displayPaymentModal = !displayPaymentModal" :payment="payment"></payment-detail>
      </vs-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import "flatpickr/dist/flatpickr.css";
import flatPicker from "vue-flatpickr-component";
import {
  Table,
  TableColumn,
  DatePicker
} from "element-ui";
  export default {
    components: {
       "credit-note": () => import('../../Orders/components/modals/CreditNote'),
      "ozow-modal": () => import("../components/modals/OzowModal"),
      "pay-account-modal": () => import("../components/modals/PayAccount"),
      "payment-detail": () => import("../../Payments/components/modals/PaymentDetail.vue"),
      "loading-table": () => import("../../../components/Table/LoadingTable"),
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [DatePicker.name]: DatePicker,
      flatPicker,
    },
    data () {
      return {
        loading: true,
        displayPaymentModal: false,
        payment: null,
        fetchedStatement: false,
        creditNoteId: null,
        date: [],
        startDate: '',
        endDate: '',
        activeOrder: null,
        pagination: {
          default: 1
        },
        filterVolume: 20
      }
    },
    methods: {
      displayCreditNote (credit_note) {
        this.creditNoteId = credit_note.id
        this.$store.commit("modals/toggleCreditNote")
      },
      isOrder(order) {
        return order.type.toLowerCase().includes("order")
      }, 
      isOrderPayable (row) {
        if (row.type.split(" ")[0] == "Order") {
          return row.balance > 0 ? true : false
        } 
        return false
      },
      togglePaygate(order) {
        this.activeOrder = order;
        this.$store.commit("payGate/updateActiveOrder", order);
        this.togglePayGateModal();
      },
      goToOrder(row) {
        if (row.type.split(" ")[0] == "Order") {
          this.$router.push(`/order/${row.uuid}`)
        } else if (row.type.split(" ")[0] == "Credit") {
          this.displayCreditNote(row)
        } else {
          this.payment = row
          this.displayPaymentModal = !this.displayPaymentModal
        }
      },
      rowTextColour(status) {
        switch (status.split(" ")[0]) {
          case "Payment":
            return "blue";
          case "Credit":
            return "red";
          case "Order":
            return "green";
        }
      },
      fetchStatements () {
        if (this.currentCompany.uuid == this.$route.params.supplier_uuid || this.currentCompany.uuid == this.$route.params.customer_uuid ) {
          this.$store.dispatch('statements/fetchTradeStatement', 
            {
              supplier_uuid: this.$route.params.supplier_uuid,
              customer_uuid: this.$route.params.customer_uuid,
              startDate: this.startDate,
              endDate: this.endDate
              }
          )
          this.loading = false
        } else {
          this.$router.push('/supplier_statement')
        }
      },
      getSummaries(param) {
        if (this.tradeStatement && this.tradeStatement.closing_balance) {
          return ["Closing Balance", "","",this.tradeStatement.closing_balance];
        } else {
          return ["Closing Balance", "","",""]
        }
      },
      ...mapActions({
        togglePayAccountModal: "modals/togglePayAccountModal",
        togglePayGateModal: "payGate/togglePayGateModal",
        fetchSupplierStatement: "accountSales/fetchSupplierStatement",
        
      })
    },
    computed: {
      allTransactions () {
        if (this.tradeStatement && this.tradeStatement.statement) {
          return this.tradeStatement.statement.slice(this.minValue, this.maxValue)
        } else {
          return []
        }
      },
      minValue () {
        return (this.pagination.default * this.filterVolume) - this.filterVolume
      },
      maxValue () {
        return this.pagination.default * this.filterVolume
      },
      pageCount () {
        return Math.ceil(this.tradeStatement.statement.length / this.filterVolume)
      },
      payableBalance() {
        if (this.tradeStatement.closing_balance) {
          return this.tradeStatement.closing_balance
        } else {
          return 0
        }
      },
      title () {
        return this.isCustomer && this.tradeStatement.supplier ? this.tradeStatement.supplier.title : this.tradeStatement.customer.title
      },
      isCustomer () {
        if (this.tradeStatement.customer) {
          return this.tradeStatement.customer.uuid == this.currentCompany.uuid ? true : false
        }
        return false
      },
      statementType () {
        return this.isCustomer ? 'Supplier Statement' : "Customer Statement"
      },
      customerName () {
        if (this.tradeStatement.customer && this.tradeStatement.customer.title !== undefined) {
          return this.tradeStatement.customer.title
        } else {
          return ""
        }
      },
      ...mapGetters({
        getPayAccountModal: "modals/getPayAccountModal",
        getPayGateModal: "payGate/getPayGateModal",
        tradeStatement: 'statements/tradeStatement',
        currentCompany: 'companies/getCurrentCompany',
        getDisplayCreditNoteModal: "modals/getDisplayCreditNoteModal"
      })
    },
    watch: {
      filterVolume (oldVal, newVal) {
        this.pagination.default = 1
      },
      date (newVal, oldVal) {
        if (oldVal !== newVal) {
          this.loading = true
          if (newVal.length === 24) {
            this.startDate = newVal.split(' to ')[0]
            this.endDate = newVal.split(' to ')[1]
            this.fetchStatements()
          }
        }
      },
      currentCompany (val) {
        if (val && !this.fetchedStatement) {
          this.fetchStatements ()
        }
      }
    },
    mounted () {
      let date = new Date();
      this.startDate = new Date(date.getFullYear(), date.getMonth(), 1);
      this.endDate= new Date(date.getFullYear(), date.getMonth() + 1, 0);

      this.date.push(this.startDate, this.endDate)
      if (this.currentCompany) {
        this.fetchStatements () 
        this.fetchedStatement = true
        this.loading = false
      }
    }
  }
</script>

<style lang="scss" scoped>
.el-date-editor .el-range-separator {
    padding: 0 5px;
    line-height: 32px;
    width: 10%;
    color: #303133;
}

.list-group-item {
  cursor: pointer;
}

.page-header {
    &.blue {
      border-left: 5px solid #5E62E4;
    }
    &.green {
      border-left: 5px solid #00c781;
    }
    &.red {
      border-left: 5px solid #f5365c;
    }
}

</style>