<template>
  <div>
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <stats-card
          title="0-30 Days"
          type="gradient-red"
          :sub-title="customerAgeAnalysisBalance[0]"
          :currency="true"
          icon="ni ni-active-40"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-4 col-lg-6">
        <stats-card
          title="0-60 Days"
          type="gradient-orange"
          :sub-title="customerAgeAnalysisBalance[1]"
          :currency="true"
          icon="ni ni-chart-pie-35"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
      <div class="col-xl-4 col-lg-6">
        <stats-card
          title="0-90 Days"
          type="gradient-green"
          :sub-title="customerAgeAnalysisBalance[2]"
          icon="ni ni-money-coins"
          class="mb-4 mb-xl-0"
        ></stats-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      customerAgeAnalysisBalance: "accountSales/customerAgeAnalysisBalance"
    })
  }
};
</script>

<style lang="scss" scoped>
</style>