<template>
  <div :key="baseKey">
      <stats-card class="text-left mb-0">
        <div class="row mt--3 mb--3">
            <div class="col mt-3">
              <div class="col ml--4">
                <div class="h3 mb-0 mb-2 mt-2 col">
                  Delivery Status: {{order.delivery_status | capitalize}}
                </div>
                  <div v-if="isSupplier" git class=" avatar-group">
                    <a v-for="user in order.delivery_assignees" :key="user.id" class="avatar rounded-circle">
                      <div @click="showSwal(user.id, order.id, `${user.first_name} ${user.last_name}`)">
                        <el-tooltip :content="user.name" placement="top">
                          <div v-if="user.avatar">
                            <img class="avatar avatar-lg rounded-circle text-center" :src="user.avatar" />
                          </div>
                            <div v-else>
                            <div :style="{'background-color': user.default_colour}" class="avatar avatar-lg rounded-circle text-center ">
                              <p class="user-initials text--white mb-0">{{ user.first_name | getInitials(user.last_name) }}</p>
                            </div>
                          </div>
                        </el-tooltip>
                      </div>
                    </a>
                  </div>
              </div>
              <div v-if="isDeliveryBuyerActionable">
                <div class="dropdown-divider col-md-12"></div>
                  <div class="ml-1">
                    <p class="text-sm">
                      <strong>
                        At delivery time some of the items you ordered were not delivered. The value of the outstanding items is {{order.reorder_balance | currency}}.
                        Please choose an option below to rectify this.
                      </strong>
                    </p>
                    <base-button type="info" @click="claimCredit()" class="btn btn-sm mt-1">Claim Credit</base-button>
                    <base-button type="success" @click="orderOutstandingItems()" class="btn btn-sm mt-1">Order Outstanding Items</base-button>
                  </div>
              </div>
            </div>
            <div class="col-auto mt-3">
                <span>
                  <base-dropdown
                    v-if="canChangeDelivery"
                    class="text-right"
                    title-classes="btn btn-sm btn-info mr-2"
                    :has-toggle="true"
                  >
                    <base-button
                      slot="title-container"
                      :type="orderBtnStatus"
                      class="mt-1"
                      outline size="sm"
                      :has-toggle="true"
                    > Update Status <i class="fas fa-arrow-down ml-2"></i>
                    </base-button>
                    <a 
                      v-if="canChangeDelivery" 
                      @click="changeDelivery('In Preparation', 1, 'in_preparation')"
                      class="dropdown-item"
                    >In Preparation</a>
                    <a 
                      v-if="canChangeDelivery" 
                      @click="changeDelivery('Delivery Pending', 2, 'delivery_pending')"
                      class="dropdown-item"
                    >Delivery Pending</a>
                    <a 
                      v-if="canChangeDelivery" 
                      @click="changeDelivery('Delivery in Progress', 3, 'delivery_in_progress')"
                      class="dropdown-item"
                    >Delivery in Progress</a>
                    <a @click="completeDelivery()" class="dropdown-item text-gray">Complete Delivery</a>
                  </base-dropdown>
                  <base-button 
                    v-if="canChangeDelivery"
                    outline @click="displayDriverModal"
                    type="primary"
                    class="btn btn-sm btn-primary mt-1 mr-2"
                  >Allocate delivery</base-button>
                  <base-button
                    v-if="isDeliveredViewable"
                    @click="toggleDeliveryReconciliation()"
                    class="mr-1 mt-1"
                    size="sm"
                    type="primary"
                  > See Delivery Details <i class="fas fa-ellipsis-v ml-2"></i>
                  </base-button>
              </span>
            </div>
         <base-dropdown v-if="permissions.delivery_settings.can_toggle_delivery_reconciliation && !isDeliveredViewable && isSupplier" class="text-right" title-classes="btn btn-sm btn-neutral mr-2 mt-3" menu-on-right :has-toggle="false">
          <template slot="title"> <i class="fas fa-ellipsis-h"></i></template>
          <a @click="updateDeliveryRecon(order)" v-if="!order.order_reconciliation" class="dropdown-item">Enable Delivery Reconciliation</a>
          <a @click="updateDeliveryRecon(order)" v-else class="dropdown-item">Disable Delivery Reconciliation</a>
          <a @click="updateDeliverySignature(order)" v-if="!order.is_delivery_signature_required" class="dropdown-item">Enable Delivery Signature</a>
          <a @click="updateDeliverySignature(order)" v-else class="dropdown-item">Disable Delivery Signature</a>
        </base-dropdown>
        </div>
      </stats-card>
  </div>
</template>


<script>
  import { mapGetters } from "vuex";
  import Avatar from 'vue-avatar'
  import swal from "sweetalert2";
  export default {
    props: ['order', 'orderStatus', 'deliveryStatus'],
    data () {
      return {
        isLoading: false,
        baseKey: 0
      }
    },
    components: {
      'avatar': Avatar,
    },
    computed: {
      isDeliveredViewable () {
        return this.order.delivery_status == 'delivered'
      },

      isDeliveryBuyerActionable () {
        return this.order.is_delivery_buyer_actionable && this.isCustomer
      },

      canChangeDelivery () {
        return this.order.delivery_status !== 'delivered' && this.isSupplier && this.permissions.sales_settings.can_update_delivery_status
      },

      isCustomer() {
        return this.order.customer.id === this.currentCompany.id;
      },

      isSupplier() {
        return this.order.supplier.id === this.currentCompany.id;
      },

      deliveryMessage () {
        if (this.order.reorder_balance <= this.order.balance && this.order.balance > 0) {
          return `A credit note with the value of ${this.$options.filters.currency(this.order.reorder_balance)} will be created and will be applied against this order.`
        } else if (this.order.reorder_balance > this.order.balance && this.order.balance > 0) {
          return `A credit note with the value of ${this.$options.filters.currency(this.order.reorder_balance)} will be created and ${this.$options.filters.currency(this.order.balance)} will be applied to this order.`
        } else if (this.order.balance == 0) {
           return `A credit note with the value of ${this.$options.filters.currency(this.order.reorder_balance)} will be created and can be applied against your next order`
        }
      },

      ...mapGetters({
        currentCompany: "companies/getCurrentCompany",
        currentUser: "user/currentUser",
        permissions: "user/userPermissions",
        isAdmin: 'user/isAdmin'
      }),

      orderBtnStatus() {
        switch (this.order.delivery_status) {
          case "in_preperation":
            return "danger";
          case "delivery_pending":
            return "default";
          case "pending":
            return "secondary";
          case "delivered":
            return "success";
          case "order_pending":
            return "info";
          default:
            return "success";
        }
      },
    },
    methods: {
      toggleLoading (status) {
        if (status) {
          this.isLoading = this.$vs.loading({
            background: this.color,
            color: '#dc3545'
          })
        } else {
          this.isLoading.close()
        }
      },
      completeDelivery () {
        if (this.order.is_delivery_signature_required) {
          this.$router.push(`/receive_order/${this.order.order_uuid}`)
        } else {
        this.toggleLoading(true)
          this.$store.dispatch("orders/updateOrderDeliveryStatus", {
            id: this.$route.params.id,
            status: "4"
          })
          .then(() => {
            this.$store.dispatch("fulfilmentOrders/orderSignature", {
              data: null,
              order_id: this.$route.params.id,
              received_by: `${this.currentUser.name} ${this.currentUser.last_name}`
            })
            .then(() => {
              this.$store.dispatch("orders/fetchOrder", this.$route.params.id)
            })
          })
        }
        this.toggleLoading(false)
      },
      claimCredit() {
        swal({
          title: `Are you sure you want to claim credit?`,
          html: `<p style="font-weight:300;font-size:18px">${this.deliveryMessage}</p>`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('orders/claimCredit', this.order.order_uuid)
            .then((res) => {
                this.trackAction('claim_credit_on_outstanding_items') 
                if (res.data.status) {
                  this.notify(res.data.message, 'success')
                } else {
                  this.notify(res.data.message, 'danger')
                }
            })
            .catch((err) => {
              this.notify(err.message, 'danger')
            })
          }
        }) 
      },
      notify(message, type) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      },
      orderOutstandingItems () {
         swal({
          title: `Are you sure you want to reorder the outsanding items`,
          html: `<p style="font-weight:300;font-size:18px">A new pending order will be created with the outsanding delivery items. While it is still in pending, you may add or adjust order items and their quantites.</p>`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('orders/orderOutstandingItems', this.order.order_uuid)
            .then((res) => {
              this.trackAction('claim_credit_on_outstanding_items') 
              if (res.data && res.data.status) {
                this.notify(res.data.message, 'success')
              } else {
                this.notify(res.data.message, 'danger')
              }
            })
            .catch((err) => {
              this.notify(err, 'danger')
            })
          }
        }) 
      },
      updateDeliveryRecon () {
        this.$store.dispatch('orders/updateDeliveryRecon', this.order.order_uuid)
      },
      updateDeliverySignature () {
        this.$store.dispatch('orders/updateDeliverySignature', this.order.order_uuid).then((res) => {
          this.baseKey += 1
        })
      },

      toggleDeliveryReconciliation () {
        this.$store.commit('modals/toggleDeliveryReconciliation')
      },

      displayDriverModal () {
        this.$store.commit("modals/setAllocateDriver")
      },
      showSwal(user_id, order_id, user_name) {
        swal({
          title: `Remove ${user_name} from this order?`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('orders/deleteDeliveryAssignee', {user_id, order_id})
          }
        });
      },

      trackAction (action) {
        this.$store.dispatch('mixpanel/mixpanelTrack', { 
        track: action, 
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          supplier_id: this.order.supplier.id,
          customer_id: this.order.customer.id,
          customer_title: this.order.customer.title,
          supplier_title: this.order.supplier.title,
          order_id: this.order.order_uuid,
          '$referring_domain': window.location.origin
          }
        });
      },

      changeDelivery (status, enumVal, status_track) {
        swal({
          title: `Are you sure you want to mark this as ${status}?`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => { 
          if (result.value) {
            this.$store.dispatch("orders/updateOrderDeliveryStatus", { id: this.order.order_uuid, status: enumVal.toString()});
            this.trackAction(status_track)
          }
        })
      },
    }
  }
</script>

<style lang="scss" scoped>

.fa-truck {
  font-size: 70%;
  padding: 10px;
  border-radius: 100px;
}

.break {
  border-top: 3px solid lightgray;
}

.fa-info {
  font-size: 10px;
}

.delivery-icon {
  background: white;
  padding: 2%;
  border-radius: 100%;
  border-color: #2DCE98;
  border-width: 2px;
  border-style: solid;
  color: #2DCE98;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #17c400; }
  40% { box-shadow: 0 0 20px #17c400; }
  60% { box-shadow: 0 0 20px #17c400; }
  100% { box-shadow: 0 0 -10px #17c400; }
}

.avatar-group {
  display: flex;
}
.avatar-group .avatar {
  border: none !important;
}

.vue-avatar--wrapper {
  height: 30px !important;
  width: 30px !important;
  font-size: 10px !important;
}

.avatar {
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}

.user-profile .btn.rounded-circle {
  padding: 0.625rem;
}
.user-profile label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 600;
}
.user-profile .avatar p {
  font-size: 1.7em;
  font-weight: 500;
}
.user-profile .col-auto .row .col-12.col-md-6.col-lg-auto .row .col {
  max-width:53px;
}

.user-profile .dz-message {
  padding: 3.5rem 1rem;
}

.user-initials {
  font-weight: 500;
  font-size: 15px;
}

</style>