<template>
  <div>
    <card v-if="(this.order.gross_amount < this.minimumOrderValue.minimum_order_value) && (this.minimumOrderValue.minimum_order_value > 0)">
      <div 
        v-if="!isCustomer && (this.order.gross_amount < this.minimumOrderValue.minimum_order_value) && (this.minimumOrderValue.minimum_order_value > 0)"
        class="text-red payment-alert">
        <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
        The total order value is below your minimum order value
      </div>

      <div v-if="isCustomer && this.order.gross_amount < this.minimumOrderValue.minimum_order_value" class="text-red payment-alert">
        <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
        The total order value is below {{order.supplier.title}} minimum order value
      </div>
    </card>

    <base-alert v-if="declineableOrder && isCustomer" type="warning" class="mb-4 payment-alert">
      <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
      This order will be payable once it is accepted by {{order.supplier.title}}
    </base-alert>

    <base-alert v-if="false" type="success" class="mt-3 mb-4 payment-alert">
      <div class="row">
        <div class="col-md-8 text-left mt-2">
          <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
          This order is now payable
        </div>
        <div class="col-md-4">
          <base-button class="text-right ml-6 btn-md" type="white">Pay</base-button>
        </div>
      </div>
    </base-alert>
    
    <order-status-card class=" mb--4 text-left" :order="order"></order-status-card>
    <card class="ml-4 mb-0" style="width:1%;background-color:#32325d;height:80%;border-radius:0px"></card>

    <div v-if="order.order_schedule">
      <recurring-details :isCustomer="isCustomer" :order="order"></recurring-details>
      <card class="ml-4 mb-0" style="width:1%;background-color:#32325d;height:80%;border-radius:0px"></card>
    </div>

    <delivery-status-card v-if="!declineableOrder " class="text-left" :order="order"></delivery-status-card>
    <card v-if="!declineableOrder" class="ml-4 mb-0" style="width:1%;background-color:#32325d;height:80%;border-radius:0px"></card>

    <payment-details-card  v-if="!cancelledOrDeclined" class="text-left" :order="order"></payment-details-card>
    <card  v-if="!cancelledOrDeclined" class="ml-4 mb-0" style="width:1%;background-color:#32325d;height:80%;border-radius:0px"></card>

    <modal :show="getDisplayPaymentReconciliation" :size="'lg'">
      <payment-reconciliation :order="order"></payment-reconciliation>
    </modal>
    <modal :show="getDisplayDeliveryReconciliation" :size="'lg'">
      <delivery-reconciliation :order="order"></delivery-reconciliation>
    </modal>
    <modal :show="getAllocateDriverModal" :size="'md'">
      <allocate-driver-modal @clear-filter="() => {}" :order-delivery-ids="[order.id]"></allocate-driver-modal>
    </modal>
    <!-- <card class="ml-4 mb-0" style="width:1%;background-color:#32325d;height:80%;border-radius:0px"></card> -->
  </div>
</template>

<script>
  import { mapGetters } from "vuex";
  import swal from "sweetalert2";
  export default {
    props: ['order', 'orderStatus', 'deliveryStatus'],
    components: {
      'recurring-details': () => import('../cards/RecurringDetails'),
      'payment-details-card': () => import('./PaymentDetailsCard'),
      'delivery-status-card': () => import('./DeliveryStatusCard'),
      'order-status-card': () => import('./OrderStatusCard'),
      'delivery-reconciliation': () => import('../modals/DeliveryReconciliation'),
      'payment-reconciliation': () => import('../modals/PaymentReconciliation'),
      'allocate-driver-modal': () => import('../modals/AllocateDriver')
    },
    data () {
      return {
        displayDelivery: false
      }
    },
    computed: {

      declineableOrder() {
        return (
          this.order.order_status == "pending" &&
          (this.isSupplier || this.isCustomer)
        );
      },

      isCustomer() {
        return this.order.customer.id === this.currentCompany.id;
      },

      cancelledOrDeclined() {
        return this.order.order_status === 'cancelled' || this.order.order_status === 'declined'
      },

      isSupplier() {
        return this.order.supplier.id === this.currentCompany.id;
      },


      ...mapGetters({
        getDisplayDeliveryReconciliation: "modals/getDisplayDeliveryReconciliation",
        getDisplayPaymentReconciliation: "modals/getDisplayPaymentReconciliation",
        currentCompany: "companies/getCurrentCompany",
        getAllocateDriverModal: "modals/getAllocateDriverModal",
        minimumOrderValue: "cart/getMinimumOrderValue",
      }),

    },
    mounted() {
      this.$store.dispatch('cart/fetchMinimumOrderValue', this.order.supplier.id)
    }
  }
</script>

<style lang="scss" scoped>

.payment-alert {
  font-size: 16px;
  font-weight: 700;
}

</style>