<template>
  <div>
      <stats-card class="text-left mb-4">
        <div class="row mb--3 mt--3">
            <div class="col mt-3">
              <div class="col">
                <div class="h2 mb-0 mb-2 mt-3 col">
                  <div class="h3 mt-2 ml--4">Order Status: {{order.order_status | capitalize}}</div>
                </div>
              </div>
            </div>
            <div class="col-auto mt-4">
                <span>
                  <div v-if="!isActioned" >
                    <base-button
                      @click="acceptOrder()"
                      v-if="acceptableOrder && permissions.sales_settings.can_accept_sale"
                      size="lg"
                      :disabled="!isAcceptable"
                      type="success"
                    >Accept Order</base-button>
                    <base-button
                      @click="declineOrder()"
                      v-if="declineableOrder && isSupplier && permissions.sales_settings.can_decline_sale"
                      outline
                      size="lg"
                      type="danger"
                    >{{ isSupplier ? "Decline Order" : "Cancel Order"}}
                  </base-button>
                    <base-button
                      @click="cancelOrder()"
                      v-if="declineableOrder && isCustomer && permissions.purchases_settings.can_cancel_purchases"
                      outline
                      :disabled="!isAcceptable"
                      size="lg"
                      type="danger"
                    > Cancel Order
                  </base-button>
                </div>
                <div v-else>
                  <base-button v-if="order.order_status == 'accepted'" type="success" class="btn-icon-only accept-btn rounded-circle mr-2">
                      <span class="btn-inner--icon"><i class="fas fa-check"></i></span>
                  </base-button>
                    <div v-if="order.order_status == 'cancelled'">
                      <i :class="iconColor" class="fa fa-ban mr-3"></i>
                    </div>
                    <div v-if="order.order_status == 'declined'">
                      <i :class="iconColor" class="fa fa-ban mr-3"></i>
                    </div>
                  </div>
              </span>
            </div>
        </div>
      </stats-card>
  </div>
</template>


<script>
  import { mapGetters } from "vuex";
  import swal from "sweetalert2";
  export default {
    props: ['order', 'orderStatus', 'deliveryStatus'],
    components: {
      'recurring-details': () => import('../cards/RecurringDetails'),
      'payment-status-card': () => import('./PaymentDetailsCard'),
      'delivery-reconciliation': () => import('../modals/DeliveryReconciliation'),
      'payment-reconciliation': () => import('../modals/PaymentReconciliation'),
      'allocate-driver-modal': () => import('../modals/AllocateDriver')
    },
    data () {
      return {
        displayDelivery: false
      }
    },
    computed: {
      isAcceptable () {
        return !!this.order.order_items.length
      },
      iconColor () {
        if (this.order.order_status === "accepted") {
          return 'text-green';
        } else if (this.order.order_status === "declined") {
          return 'text-red';
        } else {
          return 'text-muted';
        }
      },
      
      isActioned () {
        return this.order.order_status !== "pending"
      },

      declineableOrder() {
        return (
          this.order.order_status == "pending" &&
          (this.isSupplier || this.isCustomer)
        );
      },

      isCustomer() {
        return this.order.customer.id === this.currentCompany.id;
      },

      isSupplier() {
        return this.order.supplier.id === this.currentCompany.id;
      },

      acceptableOrder() {
        return this.order.order_status == "pending" && this.isSupplier;
      },

      ...mapGetters({
        currentCompany: "companies/getCurrentCompany",
        permissions: "user/userPermissions",
        currentUser: "user/currentUser"
      }),

    },
    methods: {
      trackAction (action) {
        this.$store.dispatch('mixpanel/mixpanelTrack', { 
        track: action, 
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          supplier_id: this.order.supplier.id,
          customer_id: this.order.customer.id,
          supplier_title: this.order.supplier.title,
          customer_title: this.order.customer.title,
          order_id: this.order.order_uuid,
          '$referring_domain': window.location.origin
          }
        });
      },
      declineOrder() {
        swal({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value && this.isSupplier) {
            this.$store.dispatch( "orders/declineOrder", this.order.order_uuid)
            this.trackAction('decline_order') 
          } else {
            this.$store.dispatch(
              "orders/cancelOrder",
              this.order.order_uuid
            );
          }
        });
    },
    cancelOrder() {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) {
          this.$store.dispatch(
            "orders/cancelOrder",
            this.order.order_uuid
          );
          this.trackAction('cancel_order') 
        }
      });
    },
    acceptOrder() {
      swal({
        title: "Are you sure you want to accept this order?",
        text: "You won't be able to revert this!",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) {
          this.$store.dispatch( "orders/acceptOrder", this.order.order_uuid)
          this.trackAction('accept_order') 
        }
      });
    },
    }
  }
</script>

<style lang="scss" scoped>

.fa-check-circle {
  font-size: 40px;
}

.fa-ban {
  font-size: 35px;
}

.header-breaker {
  width: 1%;
  background: lightgray;
  height: 35%;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #00c781; }
  40% { box-shadow: 0 0 20px #00c781; }
  60% { box-shadow: 0 0 20px #00c781; }
  100% { box-shadow: 0 0 -10px #00c781; }
}
.accept-btn {
  animation: glowing 5000ms infinite;
}
</style>