<template>
  <div>
    <stats-card class="text-left mb-0">
      <div class="row mt--4 mb--4">
        <div class="col mt-3">
          <span>
            <div class="h3 ml--2 mb-0 mb-2 mt-2 col">
              Paid Status: {{paymentStatus(order.is_paid)}}
            </div>
          </span>
        </div>
        <div class="col-auto mt-4">
          <base-button 
            @click="togglePaymentReconciliation()"
            size="sm"
            slot="title-container"
            :type="paymentBtn"
          >
            See Payment Details <i class="fas fa-ellipsis-v ml-2"></i>
          </base-button>
          <base-button 
            @click="displayPaymentModal = !displayPaymentModal"
            outline
            v-if="isDirectlyPayable && permissions.sales_settings.can_create_payment"
            size="sm"
            slot="title-container"
            type="success"
          > Mark as paid</base-button>
        </div>
      </div>
      <div class="mt-3 ml-2">
        <small><strong>Balance: {{order.balance | currency}}</strong></small>
        <br />
      </div>
    </stats-card>

    <vs-dialog prevent-close v-model="displayPaymentModal">
      <payment-details @close="displayPaymentModal = !displayPaymentModal" :order="order"></payment-details>
    </vs-dialog>

  </div>
</template>


<script>
  import { mapGetters } from "vuex";
  import swal from "sweetalert2";
  export default {
    props: ['order', 'orderStatus', 'deliveryStatus'],
    data () {
      return {
        displayPaymentModal: false
      }
    },
    components: {
      'payment-details': () => import('../modals/PaymentDetails')
    },
    computed: {
      isDirectlyPayable () {
        return !this.isPaid && this.isSupplier  && this.order.order_status == "accepted"
      },
      isSupplier () {
        return this.order.supplier.id === this.currentCompany.id;
      },
      isPaid () {
        return this.order.is_paid == "true"
      },
      paymentBtn () {
        if (this.order.is_paid == "true") {
          return "success"
        } else if (this.order.is_paid == "false") {
          return "primary"
        } else {
          return "info"
        }
      },
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany",
        getDirectPaymentModal: "modals/getDirectPaymentModal",
        permissions: "user/userPermissions"
      }),
    },
    methods: {
      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        })
      },
      showSwal() {
        swal({
          title: `Are you sure this order has been paid?`,
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('orders/payOrderDirectly', this.order.order_uuid).then((res) => {
              if (res) {
                this.notify('Your payment was successfully recorded', 'success')
              } else {
                this.notify('Whoops! Your payment could not be recorded. Please try again or contact support should the issue persist', 'danger')
              }
            })
          }
        });
      },
      paymentStatus (status) {
        if (status == "true") {
          return "Paid"
        } else if (status == "false") {
          return "Unpaid"
        } else {
          return "Partially Paid"
        }
      },
      toggleDirectPaymentModal () {
        this.$store.commit('modals/toggleDirectPaymentModal')
      },
      togglePaymentReconciliation () {
        this.$store.commit('modals/togglePaymentReconciliation')
      },
    }
  }
</script>
<style scoped>
.vs-dialog {
  min-width: 600px;
}
</style>