<template>
  <div>
      <stats-card class="text-left mb-0">
        <div class="row mt--3 mb--3">
            <div class="col mt-3">
              <span class="h3 mb-0 mt-4">
                Order Schedule:
                <span v-if="order.order_schedule.frequency === 'monthly' && isActive">
                  Every month on the {{order.order_schedule.value | dateSuffix}}
                </span> 
              </span>
                <span v-if="order.order_schedule.frequency === 'daily' && isActive">
                  Everyday
                </span>
                <span v-if="order.order_schedule.frequency === 'weekly' && isActive">
                  Every {{order.order_schedule.value}}
                </span>
                <span v-if="!isActive">
                  Cancelled
                </span>
              <br />
              <div  v-if="order.order_schedule.next_date != null">
                <small><strong>Next Order: {{order.order_schedule.next_date.substring(0,10)}}</strong></small>
                <br />
              </div>
              <small><strong>End Date: {{order.order_schedule.end_date.substring(0,10)}}</strong></small>
            </div>
            <div class="col-auto mt-4">
              <base-button
                v-if="order.order_schedule.active && isCustomer"
                class="text-right"
                title-classes="btn mb--4 btn-sm btn-neutral mr-3"
                menu-on-right
                size='sm'
                outline
                type="danger"
                @click="deleteScheduledOrder()"
                :has-toggle="false"
              >
                Stop Recurring Orders
              </base-button>
            </div>
        </div>
      </stats-card>
  </div>
</template>

<script>
  export default {
    props: ['order', 'isCustomer'],
    computed: {
      isActive () {
        return this.order.order_schedule.active
      }
    },
    methods: {
      async deleteScheduledOrder (){
        await this.$store.dispatch('orders/deleteScheduledOrder', this.order.order_schedule.id)
        .then((res) => {
          if (res) {
            this.$notify({
              message: "Order scheduled has been deleted",
              timeout: 3500,
              icon: "ni ni-like-2",
              type: 'success'
            });
          } else {
            this.$notify({
              message: "Order scheduled could not be deleted",
              timeout: 3500,
              icon: "ni ni-like-2",
              type: 'warning'
            });
          }

        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>