<template>
    <card 
      :class="this.$mq === 'desktop' ? 'shadow-none' : ''" 
      class="my-3 my-md-0 py-4 px-4 px-lg-4 px-xl-6"
      body-classes="p-0"
    >
      <div class="text-center text-muted mb-4 lead-text">
        <h2>{{ registerType }}</h2>
      </div>

      <div class="register-container mx-auto">
        <form role="form">
          <div v-if="stepOne" class="step-one">
            <input
              id="searchTextField"
              placeholder="Enter Location"
              type="text"
              class="form-control mb-4"
              size="50"
            />
            <base-input
              class="input-group-alternative mb-3"
              disabled
              placeholder="Street Address"
              addon-left-icon="ni ni-hat-3"
              v-model="company.address.address_one"
            ></base-input>
            <base-input
              class="input-group-alternative mb-3"
              disabled
              placeholder="Suburb"
              addon-left-icon="ni ni-hat-3"
              v-model="company.address.suburb"
            ></base-input>
            <base-input
              class="input-group-alternative mb-3"
              disabled
              placeholder="City"
              addon-left-icon="ni ni-hat-3"
              v-model="company.address.city"
            ></base-input>
            <base-input
              class="input-group-alternative mb-3"
              disabled
              placeholder="Country"
              addon-left-icon="ni ni-hat-3"
              v-model="company.address.country"
            ></base-input>
            <base-input
              class="input-group-alternative mb-3"
              disabled
              placeholder="Postal Code"
              addon-left-icon="ni ni-hat-3"
              v-model="company.address.postal_code"
            ></base-input>
          </div>

          <div v-else-if="stepTwo" class="step-two">
            <base-input
              class="input-group-alternative mb-3 invalid"
              placeholder="Company Name"
              addon-left-icon="ni ni-hat-3"
              v-model="company.title"
            ></base-input>

            <base-input
              class="input-group-alternative mb-3"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              v-model="company.email"
            ></base-input>

            <base-input
              class="input-group-alternative mb-3"
              placeholder="Contact Number"
              addon-left-icon="ni ni-email-83"
              v-model="company.contact_number"
            ></base-input>

            <base-input
              class="input-group-alternative"
              placeholder="Vat Number"
              type="text"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="company.vat_number"
            ></base-input>

            <base-input
              class="input-group-alternative"
              placeholder="Website"
              type="text"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="company.website"
            ></base-input>

            <base-input
              class="input-group-alternative"
              placeholder="Description"
              type="text"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="company.description"
            ></base-input>

            <div class="text-left">
              <label>Add company image</label>
            </div>
            <dropzone-file-upload @base64-image="getBase64Image" ref="myFiles" @change="processFile"></dropzone-file-upload>

            <base-checkbox class="custom-control-alternative text-left">
              <label class="text-muted">
                I agree with the
                <a href="#!">Privacy Policy</a>
              </label>
            </base-checkbox>
          </div>

          <hr class="mt-2 mb-3"/>
          <div class="row justify-content-center align-items-center">
            <div class="col mx-3 step bg-success"></div>
            <div :class="stepColor()" class="col mx-3 step"></div>
          </div>

          <div class="row justify-content-between align-items-center">
            <div class="col-xl mr-xl-2 ml-xl-3 px-xl-0 text-left">
              <base-button @click.native="stepBack()" :disabled="backBtnDisabled" type="primary" class="mt-3 my-xl-4 w-100">Back</base-button>
            </div>
            <div class="col-xl mr-xl-3 ml-xl-2 px-xl-0 text-right">
              <base-button v-if="stepOne" @click.native="stepForward()" :disabled="nextBtnDisabled" type="primary" class="my-4 w-100">Next</base-button>
              <base-button v-if="stepTwo" @click="registerCompany()" type="success" class="mt-3 mb-xl-3 w-100">Create company</base-button>
            </div>
          </div>
        </form>

        <router-link to="/select_company">
          <base-button type="secondary" class="w-100 mt-4">Back to Company List</base-button>
        </router-link>
      </div>
    </card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ["registerType", "isSupplier"],
  data() {
    return {
      pageHeight: 500,
      stepOne: true,
      stepTwo: false,
      backBtnDisabled: true,
      backBtnType: "secondary",
      nextBtnDisabled: false,
      nextBtnType: "primary",
      lat: null,
      long: null,
      company: {
        address: {
          address_one: "",
          suburb: "",
          province: "",
          country: "",
          city: "",
          postal_code: "",
          latitude: "",
          longitude: ""
        },
        title: "",
        vat_number: "",
        email: "",
        supplier: false,
        contact_number: "",
        website: "",
        contact: "",
        description: "",
        base64Image: null
      }
    };
  },
  components: {
    "dropzone-file-upload": () =>
      import("../../../components/Inputs/DropzoneFileUpload")
  },
  computed: {
    ...mapGetters({
      isCurrentUser: "user/isCurrentUser",
      currentCompany: "companies/getCurrentCompany"
    })

  },
  mounted() {
    let googleApi = document.createElement('script')
    googleApi.setAttribute('src', "https://maps.googleapis.com/maps/api/js?key=AIzaSyCrV4J1_AL5YtrlFtanlHGMRt1dhbBwWew&libraries=places,visualization")
    document.head.appendChild(googleApi)
    this.pageHeight = window.innerHeight;

    setTimeout(() => {
      var input = document.getElementById("searchTextField");
      let autocomplete = new google.maps.places.Autocomplete(input, {
        types: ["address"],
        componentRestrictions: { country: "ZA" }
      });

      google.maps.event.addListener(autocomplete, "place_changed", () => {
        let searchBar = document.getElementById("lblFormattedAddress");
        var place = autocomplete.getPlace();
        this.company.address.latitude = place.geometry.location.lat();
        this.company.address.longitude = place.geometry.location.lng();
        this.company.address.address_one = `${place.address_components[0].long_name} ${place.address_components[1].long_name}`;
        this.company.address.suburb = place.address_components[2].long_name;
        this.company.address.city = place.address_components[3].long_name;
        this.company.address.province = place.address_components[5].long_name;
        this.company.address.country = place.address_components[6].long_name;
        this.company.address.postal_code =
          place.address_components[7].long_name;
      });
    }, 5000);
  },
  methods: {
    getBase64Image(file) {
      this.base64Image = file
    },
    processFile(event) {
      this.company.image = this.$refs.myFiles.files[0];
    },
    async registerCompany() {

      let address_attributes = {
        address_one:  this.company.address.address_one,
        city: this.company.address.city,
        province: this.company.address.province, 
        country: this.company.address.country, 
        postal_code: this.company.address.postal_code,
        longitude: this.company.address.longitude,
      }

      let form = {
        company: {
          addresses_attributes: address_attributes,
          title: this.company.title,
          contact: this.company.contact_number,
          vat_number: this.company.vat_number,
          email: this.company.email,
          website: this.company.website,
          description: this.company.description,
          supplier: this.isSupplier,
          image: this.base64Image
        }
      };

      await this.$store.dispatch("companies/registerCompany", form)
      .then((res) =>{
        if (res) {
          this.$notify({
            message: "Company Created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'success'
          });
          this.$router.push('/select_company')
          this.trackEvent()
        } else {
          this.$notify({
            message: "Company could not be created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
          });
        }
      })
    },
    trackEvent() {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'company_register',
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          '$referring_domain': window.location.origin
        }
      })
    },
    stepForward() {
      this.stepOne = false;
      this.stepTwo = true;
      this.nextBtnDisabled = true;
      this.backBtnDisabled = false;
      this.nextBtnType = "secondary";
      this.backBtnType = "primary";
    },
    stepBack() {
      this.stepOne = true;
      this.stepTwo = false;
      this.nextBtnDisabled = false;
      this.backBtnDisabled = true;
      this.nextBtnType = "primary";
      this.backBtnType = "secondary";
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/container-images/company-register-background.jpg");
  background-repeat: no-repeat;
}

.register-container {
  max-width: 360px;
}

@media screen and (min-width: 1200px) and (max-width: 1517px) {
  .card.px-4.px-lg-4.px-xl-6 {
    padding-left: 5.1%!important;
    padding-right: 5.1%!important;
  }
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
}

.step {
  max-width:50px;
  height: 5px;
  background-color: #dee2e6;
}
.bg-success {
  background-color: #00c781;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>