<template>
    <card 
      :class="this.$mq === 'desktop' ? 'shadow-none' : ''" 
      class="my-3 my-md-0 py-4 px-4 px-lg-4 px-xl-6"
      body-classes="p-0"
    >
      <div class="text-center text-muted mb-4 lead-text">
        <h1>{{ registerType }}</h1>
      </div>

      <div class="register-container mx-auto">
        <form role="form">
          <div class="step-two">
            <label for="customFileLang">Company Name <span class="text-sm">*</span></label>
            <base-input
              class="input-group-alternative mb-3"
              addon-left-icon="ni ni-hat-3"
              v-model="company.title"
            ></base-input>
            <label for="customFileLang">Company Email <span class="text-sm">*</span></label>
            <base-input
              class="input-group-alternative mb-3"
              addon-left-icon="ni ni-email-83"
              v-model="company.email"
            ></base-input>
            <label for="customFileLang">Contact Number <span class="text-sm">*</span></label>
            <base-input
              class="input-group-alternative mb-3"
              addon-left-icon="ni ni-email-83"
              v-model="company.contact_number"
            ></base-input>
            <label for="customFileLang">Vat Number<span class="text-sm"></span></label>
            <base-input
              class="input-group-alternative"
              type="text"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="company.vat_number"
            ></base-input>
            <base-checkbox class="custom-control-alternative text-left">
              <label class="text-muted">
                I agree with the
                <a href="#!">Privacy Policy</a>
              </label>
            </base-checkbox>
          </div>

          <div class="row justify-content-between align-items-center">
              <base-button @click="registerCompany()" type="success" class="mt-6 mb-xl-3 w-100">Create company</base-button>
          </div>
        </form>

        <router-link to="/select_company">
          <base-button type="secondary" class="w-100 mt-4">Back to Company List</base-button>
        </router-link>
      </div>
    </card>
</template>

<script>
import { getCookie } from '../../../constants/cookies'
export default {
  props: ["registerType", "isSupplier"],
  data() {
    return {
      lat: null,
      long: null,
      company: {
        title: "",
        vat_number: "",
        email: "",
        supplier: false,
        contact_number: "",
        website: "",
        contact: "",
        description: "",
        base64Image: null
      }
    };
  },
  components: {
    "dropzone-file-upload": () =>
      import("../../../components/Inputs/DropzoneFileUpload")
  },
  computed: {

  },
  mounted() {
    this.pageHeight = window.innerHeight;
    if (getCookie('user') !== null) {
      let user = JSON.parse(getCookie('user'))

      this.company.email = user.user_email
      this.company.contact_number = user.contact_number
    }
  },
  methods: {
    getBase64Image(file) {
      this.base64Image = file
    },
    processFile(event) {
      this.company.image = this.$refs.myFiles.files[0];
    },
    async registerCompany() {
      let form = {
        company: {
          title: this.company.title,
          contact: this.company.contact_number,
          vat_number: this.company.vat_number,
          email: this.company.email,
          website: this.company.website,
          description: this.company.description,
          supplier: this.isSupplier,
          image: this.base64Image
        }
      };

      await this.$store.dispatch("companies/registerCompany", form)
      .then((res) =>{
        if (res) {
          this.$notify({
            message: "Company Created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'success'
          });
          this.$router.push('/select_company') 
        } else {
          this.$notify({
            message: "Company could not be created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
          });
        }
      })
    },
  }
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/container-images/company-register-background.jpg");
  background-repeat: no-repeat;
}

.register-container {
  max-width: 360px;
}

@media screen and (min-width: 1200px) and (max-width: 1517px) {
  .card.px-4.px-lg-4.px-xl-6 {
    padding-left: 5.1%!important;
    padding-right: 5.1%!important;
  }
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
}

.step {
  max-width:50px;
  height: 5px;
  background-color: #dee2e6;
}
.bg-success {
  background-color: #00c781;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>