<template>
  <nav :class="classes" class="navbar">
    <div :class="containerClasses">
      <slot name="brand"></slot>
      <div
        v-if="windowWidth < 1200"
        @click="toggleSidebar()"
        class="ml-4 mt-2 ni ni-align-left-2 pull-right"
      ></div>
        <base-button 
          @click="newSale=!newSale"
          v-if="isSupplier && $mq=='mobile' && includesRoute($route.name) && permissions.sales_settings.can_create_custom_sales"
          outline 
          ype="danger"
          class="ml-4 mb-2 mt-2 btn-sm"
        >Custom Sale</base-button>
      <div
        class="navbar-collapse navbar-custom-collapse collapse show"
        :class="menuClasses"
        v-show="show"
        v-click-outside="closeMenu"
      > 
        <slot :close-menu="closeMenu"></slot>
      </div>
    </div>
     <vs-dialog prevent-close v-model="newSale">
      <custom-client-select @close="newSale=!newSale" v-if="newSale"></custom-client-select>
    </vs-dialog>
  </nav>
</template>
<script>
import onResize from "@/directives/onResize.js";
import { mapGetters } from 'vuex';
export default {
  name: "base-nav",
  components: { 'custom-client-select': () => import('../../views/CustomOrder/components/modals/ClientSelect')},
  props: {
    show: {
      type: Boolean,
      default: false,
      description:
        "Whether navbar menu is shown (valid for viewports < specified by `expand` prop)"
    },
    transparent: {
      type: Boolean,
      default: false,
      description: "Whether navbar is transparent"
    },
    expand: {
      type: String,
      default: "lg",
      description: "Breakpoint where nav should expand"
    },
    menuClasses: {
      type: [String, Object, Array],
      default: "",
      description:
        "Navbar menu (items) classes. Can be used to align menu items to the right/left"
    },
    containerClasses: {
      type: [String, Object, Array],
      default: "container",
      description:
        "Container classes. Can be used to control container classes (contains both navbar brand and menu items)"
    },
    type: {
      type: String,
      default: "white",
      validator(value) {
        return [
          "",
          "dark",
          "success",
          "danger",
          "warning",
          "white",
          "primary",
          "light",
          "info",
          "vue"
        ].includes(value);
      },
      description: "Navbar color type"
    }
  },
  data() {
    return {
      windowWidth: 0,
      newSale: false
    };
  },
  model: {
    prop: "show",
    event: "change"
  },
  computed: {
    ...mapGetters({
       isSupplier: "companies/isSupplier",
       permissions: "user/userPermissions",
       getDisplayCustomClientSelect: "modals/getDisplayCustomClientSelect"
    }),
    classes() {
      let color = `bg-${this.type}`;
      let classes = [
        { "navbar-transparent": this.transparent },
        { [`navbar-expand-${this.expand}`]: this.expand }
      ];
      if (this.position) {
        classes.push(`navbar-${this.position}`);
      }
      if (!this.transparent) {
        classes.push(color);
      }
      return classes;
    },
    hasMenu() {
      return this.$slots.default;
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);
      //Init
      this.getWindowWidth();
    });
  },
  methods: {
    includesRoute (route) {
      return route == 'suppliers' || route == 'salesOrders' || route == 'orderIndex' || route == 'dashboard'
    },
    openCustomClientModal () {
      this.$store.commit('modals/toggleDisplayCustomClientSelect')
    },
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },
    toggleSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
    closeMenu() {
      this.$emit("change", false);
    }
  }
};
</script>
<style></style>
