<template>
  <div>
    <base-input
      placeholder="Search Product"
      v-model="searchVal"
      class="input-group"
      style="min-width:3000px!important"
    />
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
      <div class="row ml-2 mr-2 mt-4 mb-4">
        <div v-for="product in productList" :key="product.id" class="col-md-4">
          <card class="product-card" @click="openProductModal(product)">
            <img
              slot="image"
              @click="openProductModal(product)"
              class="card-img-top img mt-4 ml-6"
              :src="product.image"
            />
            <h3 class="card-title" @click="openProductModal(product)">{{product.title}}</h3>
            <p class="card-text" @click="openProductModal(product)">{{product.description}}</p>
            <p class="card-text" @click="openProductModal(product)">
              <small class="text-muted"></small>
            </p>
          </card>
        </div>
      </div>

      <modal :show="displaySelectProductModal" size="lg" body-classes="p-0">
        <SelectProductModal :product="activeProduct" />
      </modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { SelectProductModal } from "../../../Products/index";
export default {
  name: "projects-table",
  props: ["products", "companyId"],
  components: { SelectProductModal },
  data() {
    return {
      displayModal: true,
      activeProduct: null,
      searchVal: null,
      searchProducts: null,
      selectModal: false,
      modals: {
        classic: false,
        notice: false,
        form: false
      },
      form: {
        quantity: ""
      },
      type: "light"
    };
  },
  methods: {
    ...mapActions({
      toggleSelectProductModal: "modals/toggleSelectProductModal"
    }),
    notifyVue(type = "default") {
      this.$notify({
        message: `${this.activeProduct.title} - added to cart`,
        timeout: 2000,
        icon: "ni ni-bell-55",
        type
      });
    },
    openProductModal(product) {
      this.activeProduct = product;
      this.$store.dispatch("products/fetchVariantsByProduct", product.id);
      this.toggleSelectProductModal();
    },
    addToCart() {
      let product = {};

      product["quantity"] = parseInt(this.form.quantity);
      product["net_price"] = this.activeProduct.net_price;
      product["vat_price"] = this.activeProduct.vat_price;
      product["gross_price"] = this.activeProduct.gross_price;
      product["supplier_id"] = this.activeProduct.company_id;
      product["product_id"] = this.activeProduct.id;
      product["title"] = this.activeProduct.title;

      this.notifyVue("info");

      this.$store.dispatch("cart/modifyCart", product);
    }
  },
  computed: {
    filterProducts() {
      return this.products.filter(
        p =>
          p.title.includes(this.searchVal) ||
          p.description.includes(this.searchVal)
      );
    },
    searching() {
      return this.searchVal === null || this.searchVal.length === ""
        ? false
        : true;
    },
    productList() {
      return !this.searching ? this.products : this.filterProducts;
    },
    ...mapGetters({
      getActiveProduct: "products/getActiveProduct",
      displaySelectProductModal: "modals/displaySelectProductModal"
    })
  },
  created() {
    this.$store.dispatch("products/fetchSupplierProducts", this.companyId);
  }
};
</script>
<style lang="scss">
.product__item:hover {
  cursor: pointer;
}
</style>

<style lang="css">
.product-card {
  max-height: 340px !important;
  min-height: 340px !important;
}

.img {
  position: relative;
  width: 130px;
  height: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>