<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col"></div>
      </div>
    </div>
    <div class="col-md-12">
      <base-input v-model="searchTitle" placeholder="Search Products . . ." />
    </div>
    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        :class="type === 'dark' ? 'table-dark': ''"
        :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
        tbody-classes="list"
        :data="listProducts"
      >
        <template slot="columns">
          <th></th>
          <th>Title</th>
          <th>Description</th>
        </template>

        <template slot-scope="{row}">
          <td type="default" block class="mb-3 product__item" @click="openProductModal(row)">
            <div class="avatar avatar-xl" v-if="row.product.image">
              <img alt="Image placeholder" :src="row.product.image" />
            </div>
          </td>

          <td type="default" block class="mb-3 product__item" @click="openProductModal(row)">
            <badge class="badge-dot mr-4" :type="row.product.title">
              <span>{{row.product.title}}</span>
            </badge>
          </td>
          <td type="default" block class="mb-3 product__item" @click="openProductModal(row)">
            <badge class="badge-dot mr-4" :type="row.product.description">
              <span v-html="row.product.description"></span>
            </badge>
          </td>
        </template>
      </base-table>
      <modal :show="displaySelectProductModal" size="lg" body-classes="p-0">
        <SelectProductModal v-if="displaySelectProductModal" :product="activeProduct" />
      </modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { SelectProductModal } from "../../../Products/index";
export default {
  name: "projects-table",
  props: ["product", "companyId"],
  components: { SelectProductModal },
  data() {
    return {
      searchTitle: "",
      displayModal: true,
      activeProduct: null,
      selectModal: false,
      modals: {
        classic: false,
        notice: false,
        form: false
      },
      form: {
        quantity: ""
      },
      type: "light"
    };
  },
  methods: {
    ...mapActions({
      toggleSelectProductModal: "modals/toggleSelectProductModal",
      fetchAllTaxes: "tax/fetchAllTaxes"
    }),
    notifyVue(type = "default") {
      this.$notify({
        message: `${this.activeProduct.title} - added to cart`,
        timeout: 2000,
        icon: "ni ni-bell-55",
        type
      });
    },
    openProductModal(product) {
      this.activeProduct = product
      this.$store.dispatch("products/fetchVariantsByProduct", product.product.id);
      this.toggleSelectProductModal();
    },
    addToCart() {
      let product = {};

      product["quantity"] = parseInt(this.form.quantity);
      product["net_price"] = this.activeProduct.net_price;
      product["vat_price"] = this.activeProduct.vat_price;
      product["gross_price"] = this.activeProduct.gross_price;
      product["supplier_id"] = this.activeProduct.company_id;
      product["product_id"] = this.activeProduct.id;
      product["title"] = this.activeProduct.title;

      this.notifyVue("info");

      this.$store.dispatch("cart/modifyCart", product);
    }
  },
  computed: {
    isSearching() {
      return this.searchTitle !== "" ? true : false;
    },
    listProducts() {
      if (this.isSearching) {
        return this.product.filter(p =>
          p.title.toLowerCase().includes(this.searchTitle.toLowerCase())
        );
      } else {
        return this.product;
      }
    },
    ...mapGetters({
      getActiveProduct: "products/getActiveProduct",
      displaySelectProductModal: "modals/displaySelectProductModal"
    })
  },
  created() {
    this.fetchAllTaxes();
    this.$store.dispatch("products/fetchSupplierProducts", this.$route.params.title);
  }
};
</script>
<style lang="scss">
.product__item:hover {
  cursor: pointer;
}
</style>