<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
    <!-- Form groups used in grid -->
    <div class="row ml-2 mr-2">
      <div class="col-md-12">
        <base-input v-model="searchTitle" class="mt-4" placeholder="Search for Suppliers" />
      </div>
    </div>

    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        :class="type === 'dark' ? 'table-dark': ''"
        :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
        tbody-classes="list"
        :data="listSuppliers"
      >
        <template slot="columns">
          <th></th>
          <th class="col-md-5">Title</th>
          <th class="cold-md-5">Description</th>
          <th class="col-md-2">Options</th>
        </template>

        <template slot-scope="{row}">
          <router-link
            class="text-default"
            :to="{ name: 'suppliersDetail', params: { title: row.title.split(' ').join('_'), company: row}}"
          >
            <td>
              <div class="avatar avatar-xl">
                <img alt="Image placeholder" :src="row.image" />
              </div>
            </td>
          </router-link>

          <td>
            <router-link
              class="text-default"
              :to="{ name: 'suppliersDetail', params: { title: row.title.split(' ').join('_'), company: row}}"
            >
              <badge class="badge-dot mr-4" :type="row.title">
                <span>{{row.title}}</span>
              </badge>
            </router-link>
          </td>
          <td>
            <badge class="badge-dot mr-4" :type="row.description">
              <span>{{row.description}}</span>
            </badge>
          </td>

          <td class="text-right">
            <base-dropdown class="dropdown" position="right">
              <a
                slot="title"
                class="btn btn-sm btn-icon-only text-light"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-ellipsis-v"></i>
              </a>

              <template>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </template>
            </base-dropdown>
          </td>
        </template>
      </base-table>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "projects-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      searchTitle: ""
    };
  },
  computed: {
    isSearching() {
      return this.searchTitle !== "" ? true : false;
    },
    listSuppliers() {
      if (this.isSearching) {
        return this.allSuppliers.filter(s =>
          s.title.toLowerCase().includes(this.searchTitle.toLowerCase())
        );
      } else {
        return this.allSuppliers;
      }
    },
    ...mapGetters({
      allSuppliers: "companies/getAllSuppliers"
    })
  },
  async created() {
    this.$store.dispatch("companies/fetchAllSuppliers")
    .then((res) => {

    })
    .catch((err) => {
      this.$notify({
        message: `This could not be completed `,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type: 'warning'
      });
    })
  },
  mounted() {}
};
</script>
<style>
</style>
