<template>
  <div>
    <div class="d-flex justify-content-between mt-4 mb-6">
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-left">
        <h3  v-if="!isPrinting" class="mt-3">Supplier:</h3>
        <div>
          <small><strong>Billed from:</strong> {{order.supplier.title}}</small><br />
          <div><small><strong>Street Adress:</strong> {{order.supplier.address_one}} </small></div>
          <div><small><strong> City:</strong> {{order.supplier.city}} </small></div>
          <div><small><strong>Postal Code:</strong> {{order.supplier.postal_code}} </small></div>
          <div><small><strong>VAT Number:</strong> {{order.supplier.vat_number}} </small></div>
        </div>
      </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-4"></div>
      <div v-if="!isPrinting" class="col-6 col-sm-6 col-md-6 col-lg-4">
        <div :class="customerHeaderClass">
          <h3 v-if="!isPrinting" class="mt-3 mr-4">Customer:</h3>
          <base-button @click="billingActive()" :type="billingBtn" class="btn-sm">Billing</base-button>
          <base-button @click="deliveryActive()" :type="deliveryBtn" class="btn-sm">Delivery</base-button>
        </div>
          <div class="customer-address text-left">
            <div v-if="isDeliveryActive" class="text-left">
              <div class="mt-2"><small><strong>Delivery Date:</strong> {{order.delivery_date}}</small></div>
              <div><small><strong>Street Adress:</strong> {{order.delivery_address.address_one}} </small></div>
              <div><small><strong> City:</strong> {{order.delivery_address.city}} </small></div>
              <div><small><strong>Postal Code:</strong> {{order.delivery_address.postal_code}} </small></div>
              <base-button v-if="isAddressEditable &&! isPrinting" @click="toggleUpdateAddressModal()" type="secondary" class="btn-sm mt-2">Edit</base-button>
              <a :href="`https://maps.google.com/?q=${order.delivery_address.latitude},${order.delivery_address.longitude}`" target="_blank" class="btn btn-sm mt-2"><i class="fas fa-map-marker-alt"></i></a>
            </div>
            <div v-if="isBillingActive">
              <div class="mt-2"><small><strong>Billed to:</strong> {{order.customer.title}}</small></div>
              <div><small><strong>Street Adress:</strong> {{order.customer.customer_address.address_one}} </small></div>
              <div><small><strong> City:</strong> {{order.customer.customer_address.city}} </small></div>
              <div><small><strong>Postal Code:</strong> {{order.customer.customer_address.postal_code}} </small></div>
              <div class="mb-3"><small><strong>VAT Number:</strong> {{order.customer.vat_number}} </small></div>
            </div>
          </div>
      </div>
      <div v-if="isPrinting" class="col-2 col-sm-2 mr-4 text-left"></div>
      <div v-if="isPrinting" class="col-4 col-sm-4 mr-4 text-left">
        <div class="mt-2"><small><strong>Billed to:</strong> {{order.customer.title}}</small></div>
        <div><small><strong>Street Adress:</strong> {{order.customer.customer_address.address_one}} </small></div>
        <div><small><strong> City:</strong> {{order.customer.customer_address.city}} </small></div>
        <div><small><strong>Postal Code:</strong> {{order.customer.customer_address.postal_code}} </small></div>
        <div class="mb-3"><small><strong>VAT Number:</strong> {{order.customer.vat_number}} </small></div>
      </div>
    </div>
    <div>
  </div>
  <modal size="md" :show="getDisplayEditDeliveryDate">
    <update-delivery-address :is-supplier="isSupplier" :order="order" v-if="getDisplayEditDeliveryDate"></update-delivery-address>
  </modal>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Tabs from "@/components/Tabs/Tabs";
  import Tab from "@/components/Tabs/Tab";
  export default {
    props: ["order", "isPrinting"],
    components: {
      tabs: Tabs,
      "tab-pane": Tab,
      'collapse': () => import('../../../../components/Collapse/Collapse'),
      'collapse-item': () => import('../../../../components/Collapse/CollapseItem'),
      'update-delivery-address': () => import('../modals/UpdateDeliveryAddress')
    },
    data () {
      return {
        deliveryBtn: 'white',
        isDeliveryActive: false,
        isBillingActive: true,
        billingBtn: 'primary'
      }
    },
    computed: {
      customerHeaderClass () {
        return this.$mq !== 'mobile' ? 'text-left' : 'mt-3'
      },
      ...mapGetters({
        getCompanyAddresses: "companies/getCompanyAddresses",
        currentCompany: "companies/getCurrentCompany",
        getDisplayEditDeliveryDate: "modals/getDisplayEditDeliveryDate"
      }),
      isEditable() {
        return this.order.order_status === "pending"
      },
      supplierCanEdit () {
        return this.order.order_status === "pending" || this.order.order_status === "accepted" || this.order.order_status === "paid"
      },
      isDeclined () {
        return this.order.order_status === "declined" 
      },
      isCancelled () {
        return this.order.order_status === "cancelled" 
      },
      isSupplier () {
        return this.order.supplier.id == this.currentCompany.id
      },
      isAddressEditable () {
        if (this.isSupplier && this.supplierCanEdit && (!this.isDeclined && !this.isCancelled && !this.isDelivered)) {
          return true
        } else if (!this.isSupplier && this.isEditable && !this.isDeclined && !this.isCancelled && !this.isDelivered) {
          return true
        }
        else {
          false
        }
      },
      isDelivered() {
        return this.order.delivery_status === "delivered"
      }
    },
    methods: {
      deliveryActive () {
        this.deliveryBtn = 'primary'
        this.isDeliveryActive = true
        this.isBillingActive = false
        this.billingBtn = 'white'
      },
      billingActive () {
        this.deliveryBtn = 'white'
        this.billingBtn = 'primary'
        this.isDeliveryActive = false
        this.isBillingActive = true
      },
      toggleUpdateAddressModal () {
        this.$store.commit("modals/toggleDisplayEditDeliveryDate")
      }
    },
    mounted() {
      this.$store.dispatch("companies/getAddresses")
    }
  }
</script>

<style lang="scss" scoped>
.inline-flex {
  display: inline-flex;
}
.customer-address {
  max-width: 300px;
}
</style>