<template>
  <div v-if="permissionsChecked">
    <purchase-order-header :purchases="purchaseList" class="ml-4 mr-4 mt-4"></purchase-order-header>
    <!-- <base-button class="ml-4" size="sm" @click="toggleFilter()" type="primary">{{filterName}}</base-button> -->
    <div class="card shadow mt-3 ml-2 mr-2">
      <div class="table-responsive">
        <div class="justify-content-center align-items-center col-12 d-flex flex-wrap">
          <base-input class="mt-2 col-auto text-center" label="Order Status">
          <el-select
            class="select-danger ml-2 col-auto"
            placeholder="Select Client"
            v-model="orderStatus"
          >
            <el-option
              v-for="status in orderStatuses"
              class="select-danger"
              :value="status"
              :label="status"
              :key="status"
            ></el-option>
          </el-select>
          </base-input>

          <base-input class="mt-2 col-md-4 text-center" prepend-icon="fas fa-calendar" label="Date Range">
            <flat-picker slot-scope="{focus, blur}"
              @on-open="focus"
              :config="{allowInput: true, mode: 'range'}"
              class="form-control datepicker"
              v-model="dateRange">
              </flat-picker>
          </base-input>

          <div>
          <base-input class="mt-2 col-auto text-center" label="Suppliers">
            <el-select
              class="select-danger ml-2"
              placeholder="Select Client"
              v-model="supplierName"
            >
              <el-option
                v-for="supplier in orderSuppliers"
                class="select-danger"
                :value="supplier"
                :label="supplier"
                :key="supplier"
              ></el-option>
            </el-select>
          </base-input>
          </div>
            <download-excel
              class="btn btn-sm ml-4 btn-outline mt-3 col-auto text-center"
              style="height:20%"
              type="csv"
              :data="allPurchases"
              :fields="json_fields"
              worksheet="Purchases"
              :escapeCsv="false"
              name="Purchases History.xls">
              <i class="fa fa-download"></i>
          </download-excel>
        </div>

        <purchases-index-table v-if="!loading" :allPurchases="allPurchases"></purchases-index-table>

        <loading-table v-if="loading" :rowCount="6"></loading-table>
        <div class="card-footer py-4 d-flex justify-content-end">
          <base-pagination align="center" :page-count="10" v-model="pagination.default" :pageCount="pageCount"></base-pagination>
        </div>
      </div>
    </div>

    <modal :show="getPayGateModal" :size="'lg'">
      <paygate-modal v-if="getPayGateModal" :order="activeOrder"></paygate-modal>
    </modal>

  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option,  DropdownMenu, DropdownItem, Dropdown, TableColumn, Table, Input } from "element-ui";
import moment from "moment";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import swal from "sweetalert2";

export default {
  props: ["status"],
  components: {
    "purchases-index-table": () => import('./PurchasesTable'),
    "purchase-order-header": () => import('../headers/PurchaseOrderHeader'),
    "loading-table": () => import("../../../../components/Table/LoadingTable"),
    "paygate-modal": () => import("@/views/Orders/views/PayGateModal"),
    "accounting-modal": () =>
      import("@/views/Integrations/components/modals/AccountingModal"),
    flatPicker,
    [Select.name]: Select,
    [Option.name]: Option,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Input.name]: Input,
  },
  data() {
    return {
      permissionsChecked: false,
      dateRange: null,
      search: '',
      initialChange: 0,
      loading: true,
      creditNoteId: null,
      orderStatus: "All",
      pagination: {
        default: 1
      },
      supplierName: "All Suppliers",
      activeOrder: {},
      showFilter: false,
      searchFilter: "",
      json_fields: {
        'Supplier name': 'supplier.title',
        'Order Number': 'order_number',
        'Date': 'order_date',
        'Net Amount': 'net_amount',
        'Vat Amount': 'vat_amount',
        'Gross Amount': 'gross_amount',
      },
      fields: [
        "supplier",
        "order_number",
        "order_date",
        "net_amount",
        "vat_amount",
        "gross_amount"
      ],
      orderStatuses: [
        "All",
        "Accepted",
        "Pending",
        "Declined",
        "Cancelled",
        "Credit Note",
      ],
      items: [
        { id: 1, name: "test 1", value: 100 },
        { id: 2, name: "test 2", value: 200 },
        { id: 3, name: "test 3", value: 300 },
        { id: 4, name: "test 4", value: 400 }
      ],
      accountingXtion: {
        provider: null,
        account: "purchases"
      }
    };
  },
  computed: {
    displayCreditNote () { 
      return this.orderStatus == "Credit Notes"
    },
    pageCount () {
      return Math.ceil(this.purchaseList.length / 10)
    },

    filterName() {
      return this.showFilter ? "Hide Filters" : "Show Filters";
    },

    minValue () {
      return (this.pagination.default * 10) - 10
    },

    maxValue () {
      return this.pagination.default * 10
    },

    purchaseList () {
      let purchases = this.getAllOrders
      if (this.orderStatus !== "All") {
        purchases = purchases.filter((purchase) => purchase.order_status === this.orderStatus.toLowerCase())
      } if (this.supplierName !== "All Suppliers") {
        purchases = purchases.filter((purchase) => purchase.supplier.title === this.supplierName)
      }
      return purchases
    },

    displayCreditNotes () {
      return this.allCreditNotes.slice(this.minValue, this.maxValue)
    },

    allPurchases () {
      return this.purchaseList.slice(this.minValue, this.maxValue)
    },

    ...mapGetters({
      filterDates: "orders/filterDates",
      getPayGateModal: "payGate/getPayGateModal",
      isPurchaseFiltering: "orders/isPurchaseFiltering",
      filterClient: "orders/filterClient",
      getAllOrders: "orders/allOrders",
      orderSuppliers: "orders/orderSuppliers",
      allAcceptedPurchaseOrders: "orders/allAcceptedPurchaseOrders",
      allPendingPurchaseOrders: "orders/allPendingPurchaseOrders",
      allDeclinedPurchaseOrders: "orders/allDeclinedPurchaseOrders",
      allCancelledPurchaseOrders: "orders/allCancelledPurchaseOrders",
      allCreditNotes: "orders/creditNotesReceived",
      permissions: "user/userPermissions"
    })
  },
  methods: {
    searchOrders(start, end) {
      let params = {
        start_date: start,
        end_date: end,
      };
      this.$store.dispatch("orders/filterPurchaseOrders", params);
    },

    ...mapActions({
      fetchOrders: "orders/fetchAllOrders",
      togglePayGateModal: "payGate/togglePayGateModal",
      toggleAccountingModal: "integrations/toggleAccountingModal"
    }),

  },
  watch: {
    dateRange (val) {
      this.initialChange += 1
      let date = val.split(" to ")
      if (date.length > 1 && this.initialChange > 2) {
          this.pagination.default = 1
          this.searchOrders(date[0], date[1])
          this.start_date = date[0]
          this.end_date = date[1]
      }
    },
    supplierName (oldVal, newVal) {
      this.pagination.default = 1
    },
    orderStatus (val) {
      this.pagination.default = 1
    }
  },
  async mounted() {

    if (this.permissions.purchases_settings.can_view_all_purchases) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }

    await this.$store.dispatch("orders/creditNotesReceived")
    await this.$store.dispatch("orders/fetchAllOrders")
    .then((res) => {
      if (!res) {
        this.$notify({
          message: `Something went wrong. Please try again or contact support`,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "danger"
        })
      } else {
        this.loading = false
      }
    })


    this.startDate = this.$options.filters.datePickerFormat(this.filterDates.startDate);
    this.endDate = this.$options.filters.datePickerFormat(this.filterDates.endDate);
    this.dateRange = `${this.startDate} to ${this.endDate}`

    this.showFilter = this.isFilterSales;
    this.clientFilter = this.filterClient;
    this.showFilter = this.isPurchaseFiltering;

    this.$store.dispatch("integrations/fetchIntegrationProviders");
  }
};
</script>
<style lang="scss">


.table-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.table-header-wrap {
  padding-left: 0px !important;
}

.xero-logos {
  max-height: 40px;
}
.dropdown-item {
  cursor: pointer;
}
.cell{
  cursor: pointer;
}
.dropdown-menu{
  cursor: pointer;
}
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}
</style>
