
<template>
  <div>
    <el-table :data="allPurchases">
      <el-table-column
        label="Date"
        width="180">
        <div @click="goTodetail(scope.row)" slot-scope="scope" class="cell">
          <span>{{ scope.row.order_date }}</span>
        </div>
      </el-table-column>
      <el-table-column
        :class-name="'table-header-wrap'"
        @click="goTodetail(scope.row)"
        label="Supplier">
        <div @click="goTodetail(scope.row)" slot-scope="scope" class="cell">
          <span>{{ scope.row.supplier.title }}</span>
        </div>
      </el-table-column>
      <el-table-column
        :class-name="'table-header'"
        @click="goTodetail(scope.row)"
        label="Number">
        <div @click="goTodetail(scope.row)" slot-scope="scope" class="cell">
          <span>{{ scope.row.order_number }}</span>
        </div>
      </el-table-column>
      <el-table-column
        :class-name="'table-header'"
        @click="goTodetail(scope.row)"
        label="Status">
        <div slot-scope="scope" class="cell" @click="goTodetail(scope.row)">
          <span :style="{'color': rowTextColour(scope.row.order_status) }">{{scope.row.order_status | capitalize}}</span>
        </div>
      </el-table-column>
      <el-table-column
        :class-name="'table-header-wrap'"
        label="Delivery">
        <div slot-scope="scope" class="cell"  @click="goTodetail(scope.row)">
          <el-tooltip content="Settle delivery discrepancy" placement="top" v-if="scope.row.is_delivery_buyer_actionable">
            <i class="fas fa-exclamation-circle text-orange mr-2"></i>
          </el-tooltip>
          <span>{{scope.row.delivery_status | capitalize}}</span>
        </div>
      </el-table-column>
      <el-table-column
        :class-name="'table-header'"
        @click="goTodetail(scope.row)"
        label="Amount">
        <div class="cell" @click="goTodetail(scope.row)" slot-scope="scope">
          <span :style="{'color': rowTextColour(scope.row.order_status) }">{{scope.row.value | currency}}</span> <br />
          <small v-if="scope.row.balance > 0 && scope.row.type == 'order'">Balance: {{scope.row.balance | currency}}</small>
          <small v-if="scope.row.balance <= 0 && scope.row.type == 'order'">Balance: Paid</small>
        </div>
      </el-table-column>
      <el-table-column
        label="More">
        <template slot-scope="scope">
          <el-dropdown trigger="click" class="dropdown">
            <span class="btn btn-sm btn-icon-only text-muted">
              <i class="fas fa-ellipsis-v mt-2"></i>
              </span>
              <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                <a class="dropdown-item" v-if="!haveAccountingIntegration(scope.row) && isIntergratable(scope.row) && permissions.purchases_settings.can_integrate_purchases" @click="toggleAccountingSync(scope.row)">{{accountingIntegration.title}} Sync</a>
                <a class="dropdown-item" style="cursor:normal" v-if="isIntergratable(scope.row) && haveAccountingIntegration(scope.row)">Integrated</a>
                <a class="dropdown-item" v-if="orderPayable(scope.row)" @click="togglePaygate(scope.row)">Pay</a>
                <a @click="confirmDuplicateOrder(scope.row)" class="dropdown-item">Duplicate Order</a>
                <a @click="goTodetail(scope.row)" class="dropdown-item">Go To Order</a> 
              </el-dropdown-menu>
            </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <modal :show="getAccountingModal" :size="'lg'">
      <accounting-modal v-if="getAccountingModal"  :type="rowType" :provider="accountingXtion"></accounting-modal>
    </modal>
      <modal size="xl" :show="getDisplayCreditNoteModal">
      <credit-note v-if="getDisplayCreditNoteModal" :id="creditNoteId"></credit-note>
    </modal>
</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { DropdownMenu, DropdownItem, Dropdown, Table, TableColumn } from "element-ui";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import swal from "sweetalert2";

export default {
  props: ["isLoading", "allPurchases"],
  components: {
    "loading-table": () => import("../../../../components/Table/LoadingTable"),
    "credit-note": () => import('../modals/CreditNote'),
    "accounting-modal": () => import("@/views/Integrations/components/modals/AccountingModal"),
    flatPicker,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      activeOrder: {},
      rowType: null,
      creditNoteId: null,
      items: [
        { id: 1, name: "test 1", value: 100 },
        { id: 2, name: "test 2", value: 200 },
        { id: 3, name: "test 3", value: 300 },
        { id: 4, name: "test 4", value: 400 }
      ],
      accountingXtion: {
        provider: null,
        account: "purchases"
      }
    };
  },
  computed: {
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
      getAccountingModal: "integrations/getAccountingModal",
      listProviders: "integrations/integrationProviders",
      getDisplayCreditNoteModal: "modals/getDisplayCreditNoteModal"
    }),
    accountingIntegration () {
      let accountingIntegration = this.listProviders.find(o => o.status === "Enabled")
      return accountingIntegration !== undefined ? accountingIntegration : {title: 'Accounting', status: 'Disabled'}
    },
  },
  methods: {
    isIntergratable (order) {
      return order.order_status !== "declined" && order.order_status !== "cancelled" 
    },
    rowTextColour(status) {
      return this.$options.filters.rowTextColour(status)
    },
    orderPayable(order) {
      return (
        order.order_status == "accepted" ||
        order.order_status == "partially_paid"
      );
    },
    togglePaygate(order) {
      this.activeOrder = order;
      this.$store.commit("payGate/updateActiveOrder", order);
      this.togglePayGateModal();
    },
    
    toggleAccountingSync(order) {
      let integrationType = this.listProviders.find(o => o.status === "Enabled")
      if (integrationType !== undefined) {
        order.type == "order" ? this.rowType = "order" :  this.rowType = "creditNote"
        if (integrationType.integration == 'xero') {
          this.toggleXeroSync(order)
        } else if (integrationType.integration == 'sage') {
          this.toggleSageSync(order)
        }
      } else {
        this.$router.push('integrations')
      } 
    },

    toggleXeroSync (order) {
      this.accountingXtion.provider = "xero";
      this.$store.commit("integrations/updateAccountingOrder", order);
      this.toggleAccountingModal();
    },

    toggleSageSync (order) {
      this.$store.commit("integrations/updateAccountingOrder", order);
      this.toggleAccountingModal();
      console.log('sage')
    },

    ...mapActions({
      fetchOrders: "orders/fetchAllOrders",
      togglePayGateModal: "payGate/togglePayGateModal",
      toggleAccountingModal: "integrations/toggleAccountingModal"
    }),
    goTodetail(order) {
      if (order.type == "order") {
        this.goToOrder(order)
      } else {
        this.displayCreditNote(order)
      }
    },

    goToOrder(order) {
      this.$store.commit("integrations/updateAccountingOrder", order);
      this.$router.push({
        name: "orderDetail",
        params: { id: order.order_uuid }
      });
    },

    displayCreditNote (credit_note) {
      this.creditNoteId = credit_note.id
      this.$store.commit("modals/toggleCreditNote")
    },

    haveAccountingIntegration(order) {
      if (order.order_status == "cancelled" || order.order_status == "declined") return true
      return order.integration_purchases
    },

    confirmDuplicateOrder (order) {
      swal({
        title: "Are you sure?",
        text: "Ensure that you want to duplicate this order",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.duplicateOrder(order)
      });
    },

    duplicateOrder(order) {
      this.$store.dispatch("orders/duplicateOrder", order.id).then((res) => {
        if(res.data.status) {
          this.$notify({
            message: `Order ${order.order_number} has successfully been duplicated`,
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: "success"
          })
          this.$router.push({
            name: "orderDetail",
            params: { id: res.data.obj.uuid }
          });
        } else {
          this.$notify({
            message: res.data.error,
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: "danger"
          })
        }
      })
      .catch(() => {
        this.$notify({
          message: "An error has occured. Please try again or contact support should the error persist.",
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: "danger"
        })
      })
    }

  },
};
</script>
<style lang="scss">

</style>
