<template>
  <div v-if="permissionsChecked">
    <!-- <base-button class="ml-4" size="sm" @click="toggleFilter()" type="primary">{{filterName}}</base-button> -->
    <order-header :sales="salesList" class="ml-4 mr-4"></order-header>
    <div class="card shadow mt-3 ml-4 mr-4">
      <div class="table-responsive">
        <div class="justify-content-center col-12 d-flex flex-wrap">
          <div class="col-md-1">
            <base-dropdown v-if="isSelected" title-classes="btn btn-sm mt-5 btn-neutral" :has-toggle="false">
              <template slot="title"> <i class="fas fa-ellipsis-h"></i></template>
              <a @click="displayDriverModal()" style="top:0!important" class="dropdown-item">Allocate To Driver</a>
                <download-excel
                  class="dropdown-item"
                  style="height:20%"
                  type="csv"
                  :data="allSales"
                  :fields="json_fields"
                  worksheet="Sales"
                  name="Sales History.xls"
                  :escapeCsv="false">
                  <a 
                  >Export Selected Sales Overview to CSV
                  </a>
                </download-excel>
                <download-excel
                  class="dropdown-item"
                  style="height:20%"
                  :fetch="fetchData"
                  type="csv"
                  :fields="json_fields_fetch"
                  :before-finish="toggleLoading(false)"
                  worksheet="Sales Histroy Detail"
                  name="Sales History Detail.xls"
                  :escapeCsv="false"
                >
                  <a 
                  >Xero Export Selected Sales Detail to CSV 
                  </a>
                </download-excel>
            </base-dropdown>
          </div>
          <base-button v-if="permissions.sales_settings.can_create_custom_sales" class=" order-btn h-50 col-md-1" @click="activeModal = !activeModal" type="danger">Custom Sale</base-button>
          <base-input class="mt-2 col-md-2 text-center" label="Per Page">
          <el-select
            class="select-danger ml-2 col-auto"
            placeholder="Per Page"
            v-model="filterVolume"
          >
            <el-option
              v-for="filters in filterVolumeOptions"
              class="select-danger"
              :value="filters.value"
              :label="filters.label"
              :key="filters.value"
            ></el-option>
          </el-select>
          </base-input>
          <base-input class="mt-2 col-md-2 text-center" label="Status">
          <el-select
            class="select-danger ml-2 col-auto"
            placeholder="Select Client"
            v-model="orderStatus"
          >
            <el-option
              v-for="status in orderStatuses"
              class="select-danger"
              :value="status"
              :label="status"
              :key="status"
            ></el-option>
          </el-select>
          </base-input>

          <base-input class="mt-2 col-md-3 text-center" prepend-icon="fas fa-calendar" label="Date Range">
          <flat-picker slot-scope="{focus}"
            @on-open="focus"
            :config="{allowInput: true, mode: 'range'}"
            class="form-control datepicker"
            v-model="dateRange">
            </flat-picker>
          </base-input>
          <base-input class="text-center mt-2 col-md-2" label="Customer">
            <el-select
              label="hello"
              class="select-danger col-md-12"
              placeholder="Select Client"
              v-model="customerName"
            >
              <el-option
                v-for="(customer, index) in orderCustomers"
                class="select-danger"
                :value="customer"
                :label="customer"
                :key="index"
              ></el-option>
            </el-select>
          </base-input>
        </div>
        <base-table
          class="table align-items-center table-flush"
          tbody-classes="list"
          :data="allSales"
        >
          <template v-if="!loading" slot="columns">
            <th><base-checkbox v-model="multiSelect" @input="selectAll" class="mb-3"></base-checkbox></th>
            <th>Customer</th>
            <th style="ml--4 max-width:80px">Order Number</th>
            <th style="max-width:80px">Order Date</th>
            <th style="max-width:20px">Status</th>
            <th style="max-width:20px">Delivery</th>
            <th style="max-width:20px">Paid</th>
            <th v-if="hasInventoryIntegration">TradeGecko</th>
            <th v-if="hasDeliveryIntegration">Optimo Route</th>
            <th v-if="hasAccountingIntegration">{{accountingIntegration(row).title}}</th>
            <th>Gross Amount</th>
            <th></th>
          </template>

          <template v-if="!loading" class="loading-animation" slot-scope="{row}">
            <td :class="highlight(row.order_number)" :style="{'border-left': rowColour(row.order_status) }">
              <base-checkbox v-model="row.set_order_delivery" class=""></base-checkbox>
            </td>

            <td @click="goTodetail(row)">
              <div class="badge-dot mr-4">{{row.customer.title}}</div>
            </td>

            <td @click="goTodetail(row)">
              <div class="badge-dot mr-4 col-md-6">{{row.order_number}}</div>
            </td>

            <td @click="goTodetail(row)">
              <div class="badge-dot mr-4"> {{row.order_date ? row.order_date.substring(0,10) : ""}}</div>
            </td>

            <td @click="goTodetail(row)">
              <badge size="lg" v-if="row.order_status === 'pending'" type="primary">Pending</badge>
              <badge size="lg" v-if="row.order_status === 'accepted'" type="success">Accepted</badge>
              <badge size="lg" v-if="row.order_status === 'declined'" type="danger">Declined</badge>
              <badge size="lg" v-if="row.order_status === 'credit note'" type="secondary">Credit Note</badge>
            </td>

            <td @click="goTodetail(row)">
              <badge size="lg" v-if="row.delivery_status === 'order_pending'" type="secondary">Order Pending</badge>
              <badge size="lg" v-if="row.delivery_status === 'delivered'" type="success">Delivered</badge>
              <badge size="lg" v-if="row.delivery_status === 'in_progress'" type="warning">In Progress</badge>
              <badge size="lg" v-if="row.delivery_status === 'in_preparation'" type="info">In Preparation</badge>
            </td>

            <td @click="goTodetail(row)">
               <badge v-if="row.payment_status === 'false'" type="danger">Unpaid</badge>
              <badge v-if="row.payment_status === 'true'" type="success">Paid</badge>
              <badge v-if="row.payment_status === 'partial'" type="warning">Partial</badge>
            </td>

            <td v-if="hasInventoryIntegration" @click="goTodetail(row)">
              <i v-if="!isTradeGecko(row)" class="ml-4 far fa-circle"></i>
              <i v-else style="color: #2dce89" class=" ml-4 fas fa-circle"></i>
            </td>

            <td v-if="hasDeliveryIntegration" @click="goTodetail(row)">
              <i v-if="!isDeliveryIntegrated(row)" class="ml-4 far fa-circle"></i>
              <i v-else style="color: #f5365c" class=" ml-4 fas fa-circle"></i>
            </td>

            <td v-if="hasAccountingIntegration" @click="goTodetail(row)">
               <i v-if="haveAccountingIntegration(row)" class="ml-2 far fa-circle"></i>
                <i v-else style="color: #11cdef" class=" ml-2 fas fa-circle"></i>
            </td>

            <td @click="goTodetail(row)" :status="row.order_status">
              <div class="badge-dot mr-4">
                  <strong class="text-gray">
                    {{row.value | currency}}
                  </strong>
                  <br />
                  <small class="text-gray" v-if="row.balance > 0">Balance: {{row.balance | currency}}</small>
              </div>
            </td>

            <td>
            <el-dropdown trigger="click" class="dropdown">
            <span class="btn btn-sm btn-icon-only text-muted">
              <i class="fas fa-ellipsis-v mt-2"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <a class="dropdown-item" v-if="hasAccountingIntegration" @click="toggleAccountingSync(row)">{{accountingIntegration(row).title}} Integration</a>
                <a class="dropdown-item" v-if="row.type == 'order' && hasInventoryIntegration" @click="toggleInventorySync(row)">{{inventoryIntegration(row).title}} Integration</a>
                <a class="dropdown-item" v-if="row.type == 'order' && hasDeliveryIntegration" @click="toggleDeliverySync(row, currentCompany.uuid)">{{deliveryIntegration(row).title}} Integration</a>
              </el-dropdown-menu>
            </el-dropdown>
            </td>
          </template>
          <template>
          </template>
        </base-table>
          <loading-table v-if="loading" :rowCount="6"></loading-table>
          <div class="card-footer py-4 d-flex justify-content-end">
            <base-pagination align="center" :page-count="10" v-model="pagination.default" :pageCount="pageCount"></base-pagination>
        </div>
      </div>
    </div>
    <modal size="xl" :show="getDisplayCreditNoteModal">
      <credit-note v-if="getDisplayCreditNoteModal" :id="creditNoteId"></credit-note>
    </modal>
    <modal :show="getAccountingModal" :size="'md'">
      <accounting-modal v-if="getAccountingModal"  :type="rowType" :provider="accountingXtion"></accounting-modal>
    </modal>
    <modal :show="getAllocateDriverModal" :size="'md'">
      <allocate-driver-modal @clear-filter="clearFilter" :order-delivery-ids="setDeliveriesOrdersIds" ></allocate-driver-modal>
    </modal>
    <modal :show="getTradegeckoCustomerAllocation" :size="'lg'">
      <customer-allocation :order="activeOrder" v-if="getTradegeckoCustomerAllocation"></customer-allocation>
    </modal>
    <!-- <modal size="lg" :show="getDisplayCustomClientSelect" @close="openCustomClientModal()">
    </modal> -->
    
    <vs-dialog prevent-close v-model="activeModal">
      <custom-client-select @close="activeModal = !activeModal" v-if="activeModal"></custom-client-select>
    </vs-dialog>

    


  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import flatPicker from "vue-flatpickr-component";
import swal from "sweetalert2";
import { Select, Option,  DropdownMenu, DropdownItem, Dropdown, Table, TableColumn, Input, Popover } from "element-ui";
import "flatpickr/dist/flatpickr.css";
export default {
  props: ["status"],
  data() {
    return {
      isLoading: null,
      json_fields_fetch: {
        'ContactName': "OrderblyContactName",
        'OrderblyContactName': 'OrderblyContactName',
        'EmailAddress': 'EmailAddress',
        'POAddressLine1': 'POAddressLine1',
        'POCity': 'POCity',
        'PORegion': 'PORegion',
        'POPostalCode': 'POPostalCode',
        'POCountry': 'POCountry',
        'InvoiceNumber': 'InvoiceNumber',
        'Reference': 'Reference',
        'InvoiceDate': 'InvoiceDate',
        'DueDate': 'DueDate',
        'Total': 'Total',
        'InventoryItemCode': 'InventoryItemCode',
        'Description': 'Description',
        'Quantity': 'Quantity',
        'UnitAmount': 'UnitAmount',
        'AccountCode': 'AccountCode',
        'TaxType': 'TaxType',
        'TaxAmount': 'TaxAmount',
        'Currency': 'Currency',
      },
      permissionsChecked: false,
      activeOrder: null,
      activeModal: false,
      filterVolume: 30,
      rowType: null,
      multiSelect: false,
      selectedRows: [],
      creditNoteId: null,
      orderStatus: "All",
      loading: true,
      customerName: "All Customers",
      pagination: {
        default: 1
      },
      dateRange: null,
      pageNumber: 1,
      clientFilter: "",
      showFilter: false,
      startDate: null,
      endDate: null,
      searchFilter: "",
      filterVolumeOptions: [
        {value: 30, label: " 30"},
        {value: 60, label: " 60"},
        {value: 90, label: " 90"},
        {value: 120, label: "120"},
        {value: 150, label: "150"},
        {value: 180, label: "180"},
        {value: 1200, label: "All"}
      ],
      json_fields: {
        'Customer name': 'customer.title',
        'Order Number': 'order_number',
        'Date': 'order_date',
        'Order Status': 'order_status',
        'delivery_status': 'delivery_status',
        'Gross Amount': 'value',
      },
      fields: [
        "supplier",
        "order_number",
        "order_date",
        "order_status",
        "vat_amount",
        "gross_amount"
      ],
      orderStatuses: [
        "All",
        "Accepted",
        "Pending",
        "Declined",
        "Cancelled",
        "Credit Note",
      ],
      items: [
        { id: 1, name: "test 1", value: 100 },
        { id: 2, name: "test 2", value: 200 },
        { id: 3, name: "test 3", value: 300 },
        { id: 4, name: "test 4", value: 400 }
      ],
      accountingXtion: {
        provider: null,
        account: "sales"
      }
    };
  },
  components: {
    "allocate-driver-modal": () => import("../modals/AllocateDriver"),
    "customer-allocation": () => import("../modals/Tradegecko/CustomerAllocation"),
    "accounting-modal": () => import("@/views/Integrations/components/modals/AccountingModal"),
    "loading-table": () => import("../../../../components/Table/LoadingTable"),
    "credit-note": () => import('../modals/CreditNote'),
    "custom-client-select": () => import("../../../CustomOrder/components/modals/ClientSelect"),
    flatPicker,
    'order-header': () => import('../headers/OrderHeader'),
    [Select.name]: Select,
    [Option.name]: Option,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Input.name]: Input,
    [Popover.name]: Popover,
  },
  computed: {
    hasAccountingIntegration () {
      return this.listProviders.find(o => o.status === "Enabled" && o.category == 'accounting') !== undefined
    },
    customers () {
      let customer
      return this.orderCustomers.filter( this.onlyUnique );
    },
    isSelected () {
      return this.allSales.filter(sale => sale.set_order_delivery == true).length > 0
    },
    setDeliveriesOrders () {
      return this.allSales.filter((s) => (s.set_order_delivery !== null) &&  (s.set_order_delivery == true))
    },
    setDeliveriesOrdersIds () {
      return this.setDeliveriesOrders.map(o => o.id)
    },
    pageCount () {
      return Math.ceil(this.salesList.length / this.filterVolume)
    },
    numberOfSales () {
      return this.allSalesOrders.length
    },
    filterName() {
      return this.showFilter ? "Hide Filters" : "Show Filters";
    },
    minValue () {
      return (this.pagination.default * this.filterVolume) - this.filterVolume
    },
    maxValue () {
      return this.pagination.default * this.filterVolume
    },
    hasInventoryIntegration () {
      return this.listProviders.filter((lp) => lp.category == 'inventory' && lp.status == "Enabled").length > 0
    },
    hasDeliveryIntegration () {
      return this.listProviders.filter((lp) => lp.category == 'delivery' && lp.status == "Enabled").length > 0
    },
    salesList () {
      let sales = this.allSalesOrders
      if (this.orderStatus !== "All") {
        sales = sales.filter((sale) => sale.order_status === this.orderStatus.toLowerCase())
      }  if (this.customerName !== "All Customers") {
        sales = sales.filter((sale) => sale.customer.title === this.customerName)
      }
      return sales
    },
    allSales () {
      return this.salesList.slice(this.minValue, this.maxValue)
    },
    tableType() {
      if (this.status == "all") {
        return this.salesList;
      } else if (this.status === "pending") {
        return this.allPendingSalesOrders;
      } else if (this.status === "accepted") {
        return this.allAcceptedSalesOrders;
      } else if (this.status === "declined") {
        return this.allDeclinedSalesOrders;
      } else if (this.status === "cancelled") {
        return this.allCancelledSalesOrders;
      } else if (this.status === "credit_note") {
        return this.allCancelledSalesOrders;
      }
    },
    ...mapGetters({
      permissions: "user/userPermissions",
      getDisplayCustomClientSelect: "modals/getDisplayCustomClientSelect",
      orderCustomers: "orders/orderCustomers",
      currentCompany: "companies/getCurrentCompany",
      getAllocateDriverModal: "modals/getAllocateDriverModal",
      saleFilterClient: "orders/saleFilterClient",
      isFilterSales: "orders/isFilterSales",
      saleFilterDates: "orders/saleFilterDates",
      allSalesOrders: "orders/allSalesOrders",
      allPendingSalesOrders: "orders/allPendingSalesOrders",
      allAcceptedSalesOrders: "orders/allAcceptedSalesOrders",
      allDeclinedSalesOrders: "orders/allDeclinedSalesOrders",
      allCancelledSalesOrders: "orders/allCancelledSalesOrders",
      listProviders: "integrations/integrationProviders",
      getAccountingModal: "integrations/getAccountingModal",
      permissions: "user/userPermissions",
      getDisplayCreditNoteModal: "modals/getDisplayCreditNoteModal",
      getTradegeckoCustomerAllocation: "modals/getTradegeckoCustomerAllocation"
    })
  },
  methods: {
    toggleLoading (status) {
      if (status) {
        this.isLoading = this.$vs.loading({
          background: this.color,
          color: '#dc3545'
        })
      } else {
        if (this.isLoading !== null) this.isLoading.close()
      }
    },
    async fetchData() {
      this.toggleLoading(true)
      if (this.allSales.filter(sale => sale.set_order_delivery == true).length > 0) {
        let selectedSales = this.allSales.filter(sale => sale.set_order_delivery == true)
        var selectedSalesIds = []
        selectedSales.forEach((sale) => selectedSalesIds.push(sale.order_uuid))
        let response = await this.$store.dispatch('orders/fetchOrderDetail', {current_company: this.currentCompany, order_uuids: selectedSalesIds})
        return response
      }
      swal({
        html: `<h2>Please Select The Orders you would like to Export</h2>`,
        showCancelButton: false,
        confirmButtonColor: "#5e72e4",
        confirmButtonText: "Got It"
      })
    },
    openCustomClientModal () {
      this.$store.commit('modals/toggleDisplayCustomClientSelect')
    },
    isTradeGecko (row) {
      return row.integration_inventory
    },
    isDeliveryIntegrated (row) {
      return row.integration_delivery
    },
    onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
    },

    isIntergratable (order) {
      return order.order_status !== "declined" && order.order_status !== "cancelled" 
    },

    accountingIntegration () {
      let provider = this.listProviders.find(o => o.status === "Enabled" && o.category == 'accounting')
      return provider !== null && provider !== undefined ? provider : {title: "Accounting"}
    },

    inventoryIntegration () {
      let provider = this.listProviders.find(o => o.status === "Enabled" && o.category == 'inventory')
      return provider !== null && provider !== undefined ? provider : {title: "Accounting"}
    },

    deliveryIntegration () {
      let provider = this.listProviders.find(o => o.status === "Enabled" && o.category == 'delivery')
      return provider !== null && provider !== undefined ? provider : ""
    },

    displayDriverModal () {
      this.$store.commit("modals/setAllocateDriver")
    },

    selectAll () {
      if (this.multiSelect) {
        let ids = this.allSales.forEach((sale) => sale.set_order_delivery = true)
      } else {
        this.multiSelect = false
        let ids = this.allSales.forEach((sale) => sale.set_order_delivery = false)
      }
      this.pagination.default = 2
      setTimeout(() => this.pagination.default = 1, 0.01)
    },

    selectMultiple () {
      this.multiSelect = !this.multiSelect
    },

    getMoreOrders () {
      this.fetchSalesOrders()
    },

    toggleAccountingSync(order) {
      let integrationType = this.listProviders.find(o => o.status === "Enabled" && o.category == 'accounting')
      if (integrationType !== undefined) {
        order.type == "order" ? this.rowType = "order" :  this.rowType = "creditNote"
        if (integrationType.integration == 'xero') {
          this.toggleXeroSync(order)
        } else if (integrationType.integration == 'sage') {
          this.toggleSageSync(order)
        }
      } else {
        this.$router.push('integrations')
      }
    },

    toggleInventorySync(order) {
      this.activeOrder = order
      this.$store.commit("modals/toggleDisplayTradegeckoCustomerAllocation")
        // this.$router.push('integrations')
    },

    deliveryFail (order) {
      this.$notify({ message: `Order ${order.order_number} failed to integrate. Please try again or contact support should the problem persist`, type: 'danger'})
    },

    toggleDeliverySync(order, companyUuid) {
      swal({
        html: `<h2>Are you sure you want to integrate Order ${order.order_number} from ${order.customer.title} into Optimo Route?</h2>`,
        showCancelButton: true,
        confirmButtonColor: "#5e72e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(() => {
        this.$store.dispatch('optimo/createDelivery', {company_uuid: this.currentCompany.uuid, order_uuid: order.order_uuid})
        .then((res) => {
          if (res.data.type === 'success') {
            this.$notify({ message: `Order ${order.order_number} has been integrated into Optimo Route`, type: 'success'})
          } else {
            this.deliveryFail(order)
          }
        })
        .catch((err) => {
          this.deliveryFail(order)
        })
      });
    },

    toggleXeroSync (order) {
      this.accountingXtion.provider = "xero";
      this.$store.dispatch(`xero/fetchContacts`, this.currentCompany.uuid).then(() => {
        this.$store.commit("integrations/updateAccountingOrder", order);
        this.toggleAccountingModal();
      })
    },

    toggleSageSync (order) {
      this.$store.commit("integrations/updateAccountingOrder", order);
      this.toggleAccountingModal();
    },

    resetSales() {
      this.$store.dispatch("orders/resetSaleOrders");
      this.clientFilter = "All Customers";
      // this.resetDates();
    },

    resetDates() {
      let date = new Date();
      let y = date.getFullYear();
      let m = date.getMonth();
      this.startDate = new Date(y, m - 1, 1);
      this.endDate = new Date(y, m + 1, 0);
    },

    searchOrders(start, end) {
      this.loading = true
      let params = {
        start_date: start,
        end_date: end,
      };
      this.$store.dispatch("orders/filterSaleOrders", params)
      .then((res) => {
        if(res) {
          this.loading = false
        }
      })
    },

    clearFilter () {
      this.allSales.forEach((sale) => sale.set_order_delivery = false)
    },

    toggleFilter() {
      this.showFilter = !this.showFilter;
    },

    rowTextColour(status) {
      return this.$options.filters.rowTextColour(status)
    },

    rowColour(status) {
      return this.$options.filters.rowColour(status)
    },

    orderStatusBadge(status) {
      return this.$options.filters.orderStatusBadge(status)
    },

    ...mapActions({
      fetchSalesOrders: "orders/fetchSalesOrders",
      toggleAccountingModal: "integrations/toggleAccountingModal"
    }),

    addRowToMultiSelect(order) {
      if (!this.selectedRows.includes(order.order_number))  {
        this.selectedRows.push(order.order_number)
      } else {
        this.selectedRows = this.selectedRows.filter((id) => id !== order.order_number)
      }
    }, 

    goTodetail(order) {
      if (order.type == "order") {
        this.goToOrder(order)
      } else {
        this.displayCreditNote(order)
      }
    },

    goToOrder(order) {
      this.$store.commit("integrations/updateAccountingOrder", order);
      this.$router.push({
        name: "orderDetail",
        params: { id: order.order_uuid }
      });
    },

    displayCreditNote (credit_note) {
      this.creditNoteId = credit_note.id
      this.$store.commit("modals/toggleCreditNote")
    },

    haveAccountingIntegration(order) {
      return !order.integration_sales 
    },
    highlight(id) {
      return this.selectedRows.includes(id) ? 'highlight' : ""
    }
  },
  watch: {
    dateRange (val) {
      let date = val.split(" to ")
      if (date.length > 1) {
          this.pagination.default = 1
          this.searchOrders(date[0], date[1])
          this.start_date = date[0]
          this.end_date = date[1]
      }
    },
    isSelected (oldVal, newVal) {
      let temp = this.pagination.default
      this.pagination.default = 1;
      this.pagination.default = temp
    },
    filterVolume (oldVal, newVal) {
      this.pagination.default = 1
    },
    customerName (oldVal, newVal) {
      this.pagination.default = 1
    },
    orderStatus (val) {
      this.pagination.default = 1
    }
  },
  mounted() {
     if (this.permissions.sales_settings.can_view_all_sales || this.permissions.sales_settings.can_view_own_custom_sales) {
      this.permissionsChecked = true
    } else {
      this.$router.push('/')
      this.$notify({
        message: 'Oops. You do not have permission to view page',
        type: 'danger'
      })
    }

    if (this.allSalesOrders.length === 0) {
      this.$store.dispatch("orders/fetchSalesOrders").then((res) => {
        if (res) {
          this.loading = false
        }
      })
    }
    this.startDate = this.$options.filters.datePickerFormat(this.saleFilterDates.startDate);
    this.endDate = this.$options.filters.datePickerFormat(this.saleFilterDates.endDate);
    this.dateRange = `${this.startDate} to ${this.endDate}`
    this.clientFilter = this.saleFilterClient;
    this.showFilter = this.isFilterSales;

    this.$store.dispatch("integrations/fetchIntegrationProviders");
    document.body.style.overflow = "visible";
  }
};
</script>
<style lang="scss" scoped>

.order-btn {
  margin-top: 2.2%;
  margin-left: -2.5%;
  @media (max-width: 770px) {
    margin-left: 0%;
    margin-bottom: 1%;
  }
}
.dropdown-menu.show {
  top: 0 !important;
}

.highlight {
  background: #e9ecef !important;
}

.load-btn {
    right: 50%;
    margin: auto;
    left: 50%;
  &:hover {
    transform: none;
  }
}
.xero-logos {
  max-height: 20px;
}
td {
  cursor: pointer;
}
.search-btn {
  height: 50%;
}

@keyframes placeHolderShimmer {
  0% {
    background: #ececec;
  }
  
  30% {
    background: #F7F7F7;
  }
  50% {
    background: #ececec;
  }
  80% {
    background: #F7F7F7;
  }
  100% {
    background: #ececec;
  }
}
</style>
