<template>
  <div>
    <div class="row">
      <div class="col text-left strong">
        <small>
          <strong>
            Opening Balance
            </strong>
          </small>
        </div>
      <div class="col text-left">
        <small>
          <strong>
            {{openingBalance}}
          </strong>
        </small>
      </div>
      <div class="w-100"></div>
      <div class="col text-left strong">
        <small>
          <strong>
            Transaction Value
            </strong>
          </small>
        </div>
      <div class="col text-left">
        <small>
          <strong>
            {{transactionValue}}
          </strong>
        </small>
      </div>
      <div class="w-100"></div>
      <div class="col text-left strong">
        <small>
          <strong>
            Closing Balance
            </strong>
          </small>
        </div>
      <div class="col text-left">
        <small>
          <strong>
            {{closingBalance}}
          </strong>
        </small>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['openingBalance', 'transactionValue', 'closingBalance']
    
  }
</script>

<style lang="scss" scoped>

</style>