<template>
  <div>
    <div class="card-header mt--3 mb--3">
      <h2>TradeGecko Integration</h2>
      <p class="font-weight-bold text-sm mb-1">Order Number: {{order.order_number}}</p>
      <p class="font-weight-bold text-sm mb--2">Customer: {{order.customer.title}}</p>
    </div>
      <base-input class="mt-5 col-md-12 text-center" :label="`Select ${order.customer.title} from your TradeGecko account`">
        <div class="row">
        <el-select :disabled="isLoading" class="col-md-10" v-model="company_id" placeholder="Select">
          <el-option
            v-for="client in clients"
            :key="client.id"
            :label="`${client.name}`"
            :value="client.id">
          </el-option>
        </el-select>
        <base-button :loading="isLoading" @click="submitNewContact()" class="col-auto">Add</base-button>
      </div>
      </base-input>
      <base-input v-if="company_id" class="mt-2 col-md-12 text-center" :label="`Select ${order.customer.title} address in your TradeGecko account`">
        <el-select v-model="address_id" placeholder="Select">
          <el-option
            v-for="(address, index) in addresses.filter(address => address.company_id === company_id)"
            :key="index"
            :label="`${address.address1}, ${address.city} | ${address.label}`"
            :value="address.id">
          </el-option>
        </el-select>
      </base-input>
    <div class="text-center">
      <base-button :loading="isLoading" :disabled="submittable" @click="submitContact()" type="success">Add</base-button>
      <base-button :loading="isLoading" @click="close()" type="danger" outline>Close</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Select, Option } from 'element-ui'
import swal from 'sweetalert2'
  export default {
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    props: {
      order: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        clients: [],
        loading: false,
        addresses: [],
        company_id: null,
        address_id: null,
        isLoading: false
      }
    },
    methods: {
      submitNewContact () {
        swal({
          title: "Create a new contact?",
          html: `<h3>We will automatically create a contact with <span style="color:#5e72e4"> ${this.order.customer.title} </span> details</h3>`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e72e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Create"
        }).then((result) => {
          if (result.value) {
            this.isLoading = true
            this.$store.dispatch('tradeGecko/createNewCompany', {order_uuid: this.order.order_uuid, company_uuid: this.currentCompany.uuid})
            .then((res) => {
              this.isLoading = false
              if (res.status == 200 || res.status == 201) {
                this.notify(`A new company and address was create for ${this.order.customer.title}`, 'success')
                this.clients = []
                res.data.forEach(element => {
                  this.clients.push(element)
                  element.addresses.forEach(address => this.addresses.push(address))
                });
              } else {
                this.notify(`A new company could not be created. Please try again or contact support should the issue persist`, 'danger')
              }
            })
          }
        });
      },
      notify (message, type) {
        this.$notify({
          type: type,
          message: message,
          timeout: 5000
        })
      },
      submitContact () {
        this.isLoading = true
        this.$store.dispatch('tradeGecko/postSalesOrder', {
          company_id: this.company_id,
          address_id: this.address_id,
          company_uuid: this.currentCompany.uuid,
          order_uuid: this.order.order_uuid
        })
        .then((res) => {
          if (res.data.status) {
            this.notify('The Order was successfully integrated', 'success')
            this.isLoading = false
            this.close()
          } else {
             this.notify('Something went wrong, please try again or contact support should the problem persist', 'danger')
             this.isLoading = false
             this.close()
          }
        }).catch(() => {
          this.notify('Something went wrong, please try again or contact support should the problem persist', 'danger')
          this.isLoading = false
          this.close()
        })
      },
      close() {
        this.$store.commit("modals/toggleDisplayTradegeckoCustomerAllocation")
      }
    },
    computed: {
      submittable () {
        return this.company_id === null || this.address_id === null 
      },
      ...mapGetters({
        currentCompany: 'companies/getCurrentCompany'
      })
    },
    mounted () {
      this.$store.dispatch('tradeGecko/getContacts', this.currentCompany.uuid).then((res) => {
        if (res.status == 200) {
          res.data.forEach(element => {
            this.clients.push(element)
            element.addresses.forEach(address => this.addresses.push(address))
          });
        }
      })
    }
  }
</script>

<style lang="scss" scoped>

</style>