<template>
  <div class="card">
    <div class="card-header">
      <h5 class="h3 mb-0">Company Banner</h5>
      <small>JPG/PNG files with a recommended size 800 x 1500</small>
    </div>
    <div class="card-body row">
      <div class="col-md-4">
        <img slot="image" class="card-img-top" :src="company.image" alt="Company Card">
      </div>
      <div v-if="permissions.company_settings.can_update_company_images" class="col-md-8 text-left pull-left">
        <base-upload :key="key" :displayImage="displayImage" @base64-file="getFile"></base-upload>
      </div>
    </div>
    <base-button :disabled="image == null" :loading="isLoading" @click="saveCompany()" class="mb-4 ml-4 btn-sm col-md-1" type="primary">Save</base-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
  export default {
    props: ['company'],
    data () {
      return {
        image: null,
        preUpload: true,
        key: 1,
        displayImage: false,
        isLoading: false
      }
    },
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions",
        currentCompany: "companies/getCurrentCompany"
      })
    },
    methods: {
      getFile(file) {
        this.image = file;
      },
      saveCompany () {
        this.isLoading = true
        this.$store.dispatch("companies/updateCompanyBanner", {image: this.image, companyUuid: this.currentCompany.uuid})
        .then((res) => {
          this.isLoading = false
          if (res.statusText == "OK") {
            this.notify('Company details were successfuly updated', 'success')
          } else {
            this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
          }
        })
        .catch((err) => {
          this.isLoading = false
          this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
        })
      },
      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 5000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
.card-img-top {
    height: 150px;
    width: auto;
}
</style>