<template>
  <div>
    <card>
      <div slot="header" class="bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">General Information</h3>
          </div>
          <div class="col-4 text-right"></div>
        </div>
      </div>

      <h6 class="heading-small text-muted mb-4">Company information</h6>
        <div class="px-lg-4">
          <div class="row">
            <div class="col-lg-6">
            <base-input
              :disabled="!permissions.company_settings.can_change_company_details"
              label="Default Account Limit"
              input-classes="form-control"
              v-model="company.default_account_limit"
              :placeholder="company.default_account_limit"
            />
          </div>
          <div class="col-lg-6">
          <base-input
            :disabled="!permissions.company_settings.can_change_company_details"
            label="Vat Number"
            input-classes="form-control"
            v-model="company.vat_number"
          />
          </div>
        </div>
          <div class="row">
            <div class="col-lg-6">
            <base-input
              :disabled="!permissions.company_settings.can_change_company_details"
              label="website"
              input-classes="form-control"
              v-model="company.website"
              :placeholder="company.website"
            />
          </div>
          <div class="col-lg-6">
            <div>
              <label class="form-control-label">
                Minimum Order Value
                <el-tooltip class="item" effect="dark" content="Customers will be notified of this but still be able to place order requests" placement="right">
                  <i class="fas fa-info-circle"></i>
                </el-tooltip>
              </label> 
            </div>
          <base-input
            :disabled="!permissions.company_settings.can_change_company_details"
            input-classes="form-control"
            v-model="company.minimum_order_value"
          />
          </div>
        </div>
      </div>

      <div class="pl-lg-4">
        <div class="form-group">
          <base-input :disabled="!permissions.company_settings.can_change_company_details" label="Company Description">
          <textarea
            :disabled="!permissions.company_settings.can_change_company_details"
            rows="4"
            v-model="company.description"
            class="form-control form-control"
            placeholder="A few words about you ..."
          ></textarea>
        </base-input>
      </div>
      <button @click="save()" class="btn btn-lg btn-success text-white">Save</button>
    </div>
  </card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    props: {
      company: {
        type: Object,
        required: true,
        default: () => {}
      }
    },
    computed: {
      ...mapGetters({
        permissions: 'user/userPermissions'
      })
    },
    methods: {
      save() {
        let tempCompany = {}
        tempCompany['id'] = this.company.id,
        tempCompany['website'] = this.company.wesbite,
        tempCompany['email'] = this.company.email,
        tempCompany['vat_number'] = this.company.vat_number,
        tempCompany['default_account_limit'] = this.company.default_account_limit,
        tempCompany['description'] = this.company.description,
        tempCompany['title'] = this.company.title,
        tempCompany['minimum_order_value'] = this.company.minimum_order_value

        this.$store.dispatch("companies/updateCompanyDetails", tempCompany)
        .then((res) => {
          if (res.status == 201 || res.status == 200 ) {
            this.notify('Company details were successfuly updated', 'success')
          } else {
            this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
          }
        })
        .catch((err) => {
          this.notify('Company details failed to update. Please try again or contact support should the issue persist', 'danger')
        })
      },
      notify (message, type) {
        this.$notify({
          message: message,
          timeout: 5000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>