<template>
  <div>
  <card class="list-group list-group-flush list ml-4 mr-4" style="box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.55)">
    <li style="padding:0px" class="list-group-item px-0">
      <div class="row align-items-center">
        <div class="col-auto">
          <a class="avatar rounded-circle">
            <img alt="Image placeholder" :src="company.image">
          </a>
          </div>
          <div class="col ml--2 card-text">
            <h3 class="mb-0">
              {{company.title}}
            </h3>
            <small>
              {{company.description}}
            </small>
          </div>
          <div class="col-auto">
          <base-button @click="fetchCompany(company.id)" icon type="primary">
            <span class="btn-inner--icon">
              <i class="ni ni-shop"></i>
            </span>
            <span class="btn-inner--text">Select</span>
          </base-button>
          </div>
        </div>
      </li>
    </card>
  </div>
</template>

<script>
import { getCookie } from '../../../../constants/cookies'
export default {
  props: {
    company: {
      type: Object
    }
  },
  methods: {
    fetchCompany(id) {
      this.$store.dispatch("companies/postCurrentCompany", id);
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.35)
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inline {
  display: inline-flex;
}
.card-body {
  height: 100px;
  overflow: auto;
}
</style>



    