<template>
  <div>
    <card class="list-group list-group-flush list ml-4 mr-4" style="box-shadow: 0 0 1rem 0 rgba(136, 152, 170, 0.35)">
    <li style="padding:0px" class="list-group-item px-0">
      <div class="row align-items-center">
        <div class="col-auto">
          <a class="avatar rounded-circle">
            <i class="ni ni-shop text-white"></i>
          </a>
          </div>
          <div class="col ml--2">
            <h3 class="mb-0">
              {{ cardTitle }}
            </h3>
            <small class="card-texts">
              {{ cardSubtitle }}
            </small>
          </div>
          <div class="col-auto">
          <router-link :to="registerPage">
            <base-button icon type="success">
              <span class="btn-inner--icon">
                <i class="ni ni-shop"></i>
              </span>
              <span class="btn-inner--text">Create</span>
            </base-button>
          </router-link>
          </div>
        </div>
      </li>
    </card>
    <!-- <div class="container-fluid mt--6">
      <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
          <div class="card card">
            <div class="card-header inline">
              <div class="col-md-3">
                <img class="card-img" />
              </div>
              <div class="col-md-6">
                <h3 class="mb-3">New Company</h3>
                <div class="ml--4 card-body">Create a new company</div>
              </div>
              <div class="col-md-3">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <modal :show="getNewCompanyModal" size="lg" body-classes="p-0">
      <new-company-modal></new-company-modal>
    </modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    "new-company-modal": () =>
      import("../../../Register/components/NewCompanyModal")
  },
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    company: {
      type: Object
    }
  },
  methods: {
    ...mapActions({
      toggleNewCompanyModal: "modals/toggleNewCompanyModal"
    }),
    newCompany() {
      // this.$router.push("/company_register");
    },
    fetchCompany(id) {
      this.$store.dispatch("companies/postCurrentCompany", id);
    }
  },
  computed: {
    registerPage() {
      return this.filterSupplier ?  "/supplier_register" : "restaurant_register"
    },
    ...mapGetters({
      getNewCompanyModal: "modals/getNewCompanyModal",
      filterSupplier: "user/filterSupplier"
    }),
    cardTitle () {
      return this.filterSupplier ?  "New Supplier" : "New Restaurant"
    },
    cardSubtitle () {
      return this.filterSupplier ?  "Create a new supplier" : "Create a new restaurant"
    }
  }
};
</script>

<style lang="scss" scoped>

.rounded-circle {
  background-color: #00c781;
}

.inline {
  display: inline-flex;
}
.navbar {
  padding: 0px, 0px, 0px, 0px !important;
}
.list-group-item {
  border: none;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>