<template>
  <div>
    <card shadow>
      <div slot="header" class="bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">My account</h3>
          </div>
          <div class="col-4 text-right"></div>
        </div>
      </div>

      <h6 class="heading-small text-muted mb-4">User information</h6>
      <div class="px-lg-4">
        <div class="">
          <div class="col-12 col-md-12 col-lg">
            <base-input
              alternative
              label="Username"
              input-classes="form-control-alternative"
              v-model="user.username"
            />
            <base-input
              alternative
              label="Email address"
              :disabled="true"
              input-classes="form-control-alternative"
              v-model="user.email"
            />
            <base-input
              alternative
              label="Contact Number"
              input-classes="form-control-alternative"
              v-model="user.contact_number"
            />
          </div>
          <div class="col-12 col-md-6 col-lg">
            <base-input
              alternative
              label="First name"
              input-classes="form-control-alternative"
              v-model="user.first_name"
            />
            <base-input
              alternative
              label="Last name"
              input-classes="form-control-alternative"
              v-model="user.last_name"
            />
          </div>

          <div class="col-12 col-md-6 col-lg-auto px-4">
            <label class="w-100 mb-4">Avatar</label>
            <div class="justify-content-center align-items-center">
              <div class="col-12 row align-items-center">
                <div v-if="!user.avatar" :style="{'background-color': user.default_colour}" class="avatar avatar-lg rounded-circle text-center">
                  <p class="text--white mb-0">{{ user.first_name | getInitials(user.last_name)}}</p>
                </div>
                <img v-else class="avatar avatar-xl" :src="user.avatar">
                <div class="row text-center">
                  <div class="col">
                    <base-button @click="confirmAvatarChange('#172b4d')" type="default" class="d-block rounded-circle mt-3"></base-button>
                    <base-button @click="confirmAvatarChange('#5e62e4')" type="primary" class="d-block rounded-circle mt-3"></base-button>
                  </div>

                  <div class="col">
                    <base-button @click="confirmAvatarChange('#11cdef')" type="info" class="d-block rounded-circle mt-3"></base-button>
                    <base-button @click="confirmAvatarChange('#00c781')" type="success" class="d-block rounded-circle mt-3"></base-button>
                  </div>

                  <div class="col">
                    <base-button @click="confirmAvatarChange('#f5365c')" type="danger" class="d-block rounded-circle mt-3"></base-button>
                    <base-button @click="confirmAvatarChange('#fb6340')" type="warning" class="d-block rounded-circle mt-3"></base-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <label class="w-100 pt-sm-4">OR upload a profile image</label>
            <base-upload :key="baseKey" @base64-file="getImage"></base-upload>
          </div>
        </div>
      </div>
      <base-button @click="saveUser()" :loading="isSaveLoading" type="success" class="btn btn-lg btn-success mt-5 ml-lg-4 text-white">Save</base-button>
      <hr class="my-4" />
    </card>
  </div>
</template>

<script>
  import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
  import { Button, Upload } from 'element-ui'
  import swal from "sweetalert2";
  export default {
    props: {
      user: {
        type: Object,
        required: true,
        default: () => {}
      }
    },
    components:{
      DropzoneFileUpload,
      [Button.name]: Button,
      [Upload.name]: Upload
    },
    data () {
      return {
        baseKey: 1,
        isSaveLoading: false
      }
    },
    methods: {
      async saveUser () {
        this.isSaveLoading = true
        await this.$store.dispatch("user/updateUser", this.user).then((res) => {
          if (res) {
            this.isSaveLoading = false
            this.userEditing = true
            this.$notify({
              message: `Update successful`,
              timeout: 5000,
              icon: "ni ni-bell-55",
              type: "success"
            });
          } else {
            this.isSaveLoading = false
            this.$notify({
              message: `Something went wrong, please try again`,
              timeout: 5000,
              icon: "ni ni-bell-55",
              type: "danger"
            });
          }
        })
      },
      getImage (file) {
        this.user.avatar = file
        this.baseKey += 1
      },
      confirmAvatarChange (val) {
        if (this.user.avatar) {
          swal({
            title: "Are you sure?",
            text: "This will replace your current image",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#5e62e4",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
          }).then(result => {
            if (result.value) {
              this.user.avatar = null
              this.$store.dispatch('user/removeUserAvatar', this.user)
              this.changeAvatarColour (val)
            }
          })
        } else {
          this.changeAvatarColour(val)
        }
      },
      changeAvatarColour (color) {
        this.user.default_colour = color
      }
    }
  }
</script>

<style lang="scss">
.upload-demo {
  width: 200px;
}

.el-upload-dragger {
  width: 200px;
}

</style>