<template>
  <div>
    <base-header class="pb-6 content__title content__title--calendar">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <div class="page-header d-inline-block">
            <h3 class="mb-0 text-capitalize">{{$route.name}}</h3>
          </div>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0 text-lg-right">
          <a href="#" @click.prevent="prev" class="fullcalendar-btn-prev btn btn-sm btn-default">
            <i class="fas fa-angle-left"></i>
          </a>
          <a href="#" @click.prevent="next" class="fullcalendar-btn-next btn btn-sm btn-default">
            <i class="fas fa-angle-right"></i>
          </a>
          <base-button
            class="btn btn-sm btn-default"
            :class="{'active': defaultView === 'dayGridMonth'}"
            @click="changeView('dayGridMonth')"
          >Month</base-button>
          <base-button
            class="btn btn-sm btn-default"
            :class="{'active': defaultView === 'dayGridWeek'}"
            @click="changeView('dayGridWeek')"
          >Week</base-button>
          <base-button
            class="btn btn-sm btn-default"
            :class="{'active': defaultView === 'timeGridDay'}"
            @click="changeView('timeGridDay')"
          >Day</base-button>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <!-- Fullcalendar -->
          <div class="card card-calendar">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">Calendar</h5>
            </div>
            <!-- Card body -->
            <div class="card-body p-0 card-calendar-body">
              <full-calendar
                :events="calendarOrders"
                :plugins="calendarPlugins"
                :editable="true"
                contentHeight="auto"
                :theme="false"
                :selectable="true"
                :selectHelper="true"
                ref="fullCalendar"
                class="calendar"
                :defaultView="defaultView"
                @eventClick="onEventClick"
              ></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal :show.sync="showEditModal" modal-classes="modal-secondary">
      <h2>{{model.title}}</h2>
      <div class="row mt-4">
        <router-link :to="{ path: `/order/${model.order_number}`}"> <base-button type="success">Go to order</base-button></router-link>
        <base-button @click="showEditModal = !showEditModal" type="danger ml--8">Close</base-button>
      </div>
    </modal>
    
  </div>
</template>
<script>
import Modal from "@/components/Shared/Modal";
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import timeGridPlugin from "@fullcalendar/timegrid";
import interactionPlugin from "@fullcalendar/interaction";
import { mapActions, mapGetters } from "vuex"

const today = new Date();
const y = today.getFullYear();
const m = today.getMonth();
const d = today.getDate();
export default {
  name: "calendar",
  components: {
    Modal,
    FullCalendar
  },
  data() {
    let yearAndMonth = `${y}-${m + 1}`;
    return {
      calendarPlugins: [dayGridPlugin, timeGridPlugin, interactionPlugin],
      defaultView: "dayGridMonth",
      showAddModal: false,
      showEditModal: false,
      model: {
        title: "",
        uuid: "",
        className: "bg-default",
        order_number: "",
        description: "",
        start: "",
        end: ""
      },
      eventColors: [
        "bg-info",
        "bg-orange",
        "bg-red",
        "bg-green",
        "bg-default",
        "bg-blue",
        "bg-purple",
        "bg-yellow"
      ]
    };
  },
  mounted () {
    this.fetchCalendarOrders()
  },
  computed: {
    ...mapGetters({
      calendarOrders: "orders/calendarOrders"
    })
  },
  methods: {
    ...mapActions({
      fetchCalendarOrders: "orders/fetchCalendarOrders"
    }),
    calendarApi() {
      return this.$refs.fullCalendar.getApi();
    },
    changeView(viewType) {
      this.defaultView = viewType;
      this.calendarApi().changeView(viewType);
    },
    next() {
      this.calendarApi().next();
    },
    prev() {
      this.calendarApi().prev();
    },
    onDateClick({ date }) {
      this.showAddModal = true;
      this.model.start = date;
      this.model.end = date;
    },
    onEventClick({ el, event }) {
      this.model = {
        title: event.title,
        order_number: event.id,
        uuid: event.uuid,
        className: event.classNames ? event.classNames.join(" ") : "",
        start: event.start,
        end: event.end,
        description: event.uuid
      };
      this.showEditModal = true;
    },
    saveEvent() {
      if (this.model.title) {
        let event = {
          ...this.model,
          allDay: true
        };
        this.events.push(JSON.parse(JSON.stringify(event)));

        this.model = {
          title: "",
          eventColor: "bg-danger",
          start: "",
          end: ""
        };
      }
      this.showAddModal = false;
    },
    editEvent() {
      let index = this.events.findIndex(e => e.title === this.model.title);
      if (index !== -1) {
        this.events.splice(index, 1, this.model);
      }
      this.showEditModal = false;
    },
    deleteEvent() {
      let index = this.events.findIndex(e => e.title === this.model.title);
      if (index !== -1) {
        this.events.splice(index, 1);
      }
      this.showEditModal = false;
    }
  }
};
</script>
<style lang="scss">
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@/assets/sass/core/vendors/fullcalendar";
</style>
