<template>
  <div class="col-md-3 text-center">
    <img class="avatar avatar-xl mt--2" :src="company.image">
    <h3 class="mb-0">{{company.title}}</h3>
    {{company.email}}
    <br>
    {{company.contact}}
    <div class="dropdown-divider"></div>
  </div>
</template>

<script>
  export default {
    props: {
      company: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>