<template>
  <div class="col-md-3 seperator-left">
    <h3 class="mb-0">Company Info</h3>
    <h6 class="text-muted mb-4">User information</h6>
      <img class="avatar avatar-xl" :src="company.image">
      <base-input
        alternative
        label="Company Name"
        input-classes="form-control-alternative"
        :value="company.title"
      />
      <base-input
        alternative
        label="Email address"
        :disabled="true"
        input-classes="form-control-alternative"
        :value="company.email"
      />
      <base-input
        alternative
        label="Contact Number"
        input-classes="form-control-alternative"
        :value="company.contact"
      />
  </div>
</template>

<script>
  export default {
    props: {
      company: {
        type: Object,
        required: true
      }
    }
    
  }
</script>

<style lang="scss" scoped>

</style>