<template>
  <div>
    <div class="row mt-4">
      <div class="col-md-6">
        <base-button
          @click="onAccount()"
          block
          type="primary"
          :size="'lg'"
          class="payment-btn"
          :loading="onAccountLoading"
        >On Account</base-button>
      </div>

      <div class="col-md-6">
        <base-button
          @click="payNow()"
          block
          type="success"
          :loading="payNowLoading"
          :size="'lg'"
          class="mb-3 payment-btn"
        >Pay Now</base-button>
      </div>

    </div>

    <!-- <div class="account-balance mt-4">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mt-2 ml--8">
            Account Balance
            <br />R500
          </h2>
        </div>
        <div class="col-md-6">
          <h2 class="mt-2 ml-8">
            Credit Balance
            <br />R500
          </h2>
        </div>
      </div>
    </div>-->

    <base-button
      style="height: 50px;"
      class=" mt-6 center-btn"
      outline
      @click="togglePaymentOptionModal"
      type="danger"
    >Close</base-button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert2";
export default {
  props: {
    payNowLoading: {
      type: Boolean,
      default: false
    },
    onAccountLoading: {
      type: Boolean,
      default: false
    },
    order: {
      type: [Object, String],
      required: true
    }
  },
  methods: {
    payNow() {
      if (!this.onAccountLoading) {
        this.$emit("pay-now");
      }
    },
    onAccount() {
      if (!this.payNowLoading) {
        this.$emit("on-account");
      }
    },
    ...mapActions({
      togglePaymentOptionModal: "modals/togglePaymentOptionModal"
    })
  },
  computed: {
    ...mapGetters({})
  }
};
</script>

<style lang="scss" scoped>
.payment-btn {
  height: 100px;
}

.payment-btn-sm {
  height: 70px;
}

h2 {
  color: #8898aa;
}

.account-balance {
  // border: 2px solid gray;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid lightgray;
}
</style>
