<template>
  <div>
      <div class="col-md-12 mt-2">
        <base-table
          class="table align-items-center table-flush center ml-4 mr-4"
          tbody-classes="list bg-white"
          :data="filteredResults">
          <template slot="columns">
            <th>Customer</th>
            <th>Address</th>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Driver</th>
            <th>Delivery Status</th>
            <th>View</th>
          </template>

          <template slot-scope="{ row }">
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.customer }}</td>
              <td @mouseover="updateActiveDelivery(row)" style="max-width:250px;overflow:overlay;" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ `${row.address.address_one || ""}, ${row.address.suburb || ""}, ${row.address.city || ""}, ${row.address.postal_code || ""}` }}</td>
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.order_number }}</td>
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.order_date }}</td>
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.order_status | capitalize }}</td>
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.driver.name }}</td>
              <td @mouseover="updateActiveDelivery(row)" :class="deliveryClassStatus(row.delivery_status)" @click="activateOrder(row)">{{ row.delivery_status | capitalize }}</td>
              <td><a :href="`https://maps.google.com/?q=${row.address.latitude}, ${row.address.longitude}`" target="_blank"><i class="fas fa-map-marker-alt"></i></a></td>
          </template>
        </base-table>
      </div>

      <modal size="lg" :show="getDisplayUpdateDeliveryDetails">
        <update-delivery-details :is-supplier="isSupplier" :order="order" v-if="getDisplayUpdateDeliveryDetails"></update-delivery-details>
      </modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    props: {
      filteredResults: {
        type: [Array, Object],
        required: true
      }
    },
    components: {
      'update-delivery-details': () => import("../modals/UpdateDeliveryDetails"),
      'allocate-driver-modal': () => import("../../../../views/Orders/components/modals/AllocateDriver.vue")
    },
    data () {
      return {
        order: null
      }
    },
    methods: {
      updateActiveDelivery (row) {
        this.$store.commit('fulfilmentOrders/updateActiveDelivery', {page: this.$route.name, id: row.id})
      },
      deliveryClassStatus (status) {
        return status === "Delivered" && this.$route.path !== '/completed_deliveries' ? "text-gray" : ""
      },
      toggleDisplayUpdateDeliveryDetails () {
        this.$store.commit("modals/toggleDisplayUpdateDeliveryDetails")
      },
      activateOrder(row){
        if (this.$route.path !== '/completed_deliveries') {
          this.order = row
          this.toggleDisplayUpdateDeliveryDetails()
        }
      },
    },
    computed: {
      ...mapGetters({
        getDisplayUpdateDeliveryDetails: "modals/getDisplayUpdateDeliveryDetails",
      }),
    }
    
  }
</script>

<style lang="scss" scoped>

</style>