<template>
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush list">
        <draggable @end="updateOrder()">
          <li v-for="(delivery, index) in deliveries" :key="delivery.id" class="list-group-item">
            <div class="delivery-item row align-items-center" :data-order-uuid="delivery.order_uuid" :data-delivery-number="index">
              <div class="col ml--2">
                <h4>
                  <a href="#!">{{delivery.customer}}</a>
                </h4>
                <span :class="`text-${getText(delivery.delivery_status)}`">● </span>
                <small>{{`${delivery.address.address_one}, ${delivery.address.city}, ${delivery.address.postal_code}` }}</small>
              </div>
              <div class="col ml--2">
                <h4 class="mb-0">
                  <a href="#!">{{`Order #${delivery.order_number}`}}</a>
                </h4>
                <small>{{`${delivery.order_date}`}}</small>
              </div>
              <div class="col-auto">
                <button @click="goToDetail(delivery)" type="button" class="btn btn-sm btn-primary">Update</button>
              </div>
            </div>
          </li>
        </draggable>
      </ul>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
import { mapGetters } from 'vuex'
  export default {
    props: {
      myDeliveryOrders: {
        type: [Array, Object],
        default: () => {},
        required: true
      }
    },
    data () {
      return {
        myArray: [],
        list2: [],
        deliveries: [],
      }
    },
    components: {
        draggable,
    },
    computed: {
      driverId () {
        if (!this.deliveries.length) return null
        return this.deliveries[0].driver.id
      },
      ...mapGetters({
        currentCompany: 'companies/getCurrentCompany',
        currentUser: 'user/currentUser'
      }),
      dragOptions() {
        return {
          animation: 0,
          group: "description",
          disabled: !this.editable,
          ghostClass: "ghost"
        };
      },
    },
    mounted() {
      this.deliveries = this.myDeliveryOrders.sort((a, b) => a.delivery_number - b.delivery_number)
    },
    methods: {
      updateOrder () {
        let deliveryList = []
        document.querySelectorAll('.delivery-item').forEach((o,i) => {
          deliveryList.push({
            delivery_number: i,
            order_uuid: o.dataset.orderUuid
          })
        })
        this.$store.dispatch('deliveries/updateDeliveryOrder', {userId: this.driverId, companyUuid: this.currentCompany.uuid, list: deliveryList})
      },
      getText (status) {
        if (status == 'Delivered') return 'blue'
        return 'red'
      },
      orderList() {
        this.list = this.list.sort((one, two) => {
          return one.order - two.order;
        });
      },
      onMove({ relatedContext, draggedContext }) {
        const relatedElement = relatedContext.element;
        const draggedElement = draggedContext.element;
        return (
          (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
        )
      },
      deliveryClassStatus (status) {
        return status === "Delivered" ? "text-gray" : ""
      },
      goToDetail (delivery) {
        if (delivery.delivery_status === "Delivered") return
        this.$emit('go-to-detail', delivery)
      },
      deliveryStatus (delivery) {
        this.$emit('delivery-status', delivery)
      },
      rowColour (colour) {
        this.$emit('row-color', colour)
      },
      orderStatus (delivery) {
        this.$emit('order-status', delivery)
      }
    }
    
  }
</script>

<style lang="scss">
.list-group-item { 
  border: none !important;
  border-bottom: 1px solid #efefef !important;
}
tr {
  cursor: pointer !important;
}

</style>