<template>
  <div>
    <div class="card card-profile">
      <div class="card-img-top" :style="{'background-image': `url(${company.image})`}">
      </div> 
      <div class="row">
        <div class="col-md-2">
            <div :class="this.$mq === 'mobile' ? '' : 'ml-6'" class="col-md-3 mb-7">
                <div class="card-profile-image mr-4">
                    <img :src="company.logo" class="rounded-circle company-logo">
                </div>
            </div>
        </div>
        <div class="col-md-10">
          <div class="col-md-12 mt-2 ml-2">
            <h1 :class="this.$mq !== 'mobile' ? '' : 'ml-7'">{{company.title}}</h1>
            <el-collapse class="mt-2 col-md-6" accordion>
              <el-collapse-item :title="`Available Balance: ${supplierBalances.availableBalance}`" name="1">
                <p class="dropdown-text">{{balance}}: {{accountBalance | currency}}</p>
                <p class="dropdown-text mt--2">Account Limit: {{accountLimit | currency}}</p>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
      </div>
    </div>

  <modal :show="displaySupplierDetailsModal" size="lg" body-classes="p-0">
    <supplier-detail-modal :company="company"></supplier-detail-modal>
  </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { SupplierDetailsModal } from "../../../Suppliers/index";
import { Collapse, CollapseItem } from 'element-ui'
export default {
  props: ["company"],
  components: { 
    "supplier-detail-modal": () => import("../modals/SupplierDetailsModal"),
    [Collapse.name]: Collapse,
    [CollapseItem.name]: CollapseItem
    },
  data() {
    return {
      fetchedCredit: false,
      displayModal: true,
      selectModal: false,
      modals: {
        classic: false,
        notice: false,
        form: false
      },
    };
  },
  computed: {
    balance () {
      return this.accountBalance > 0 ? "Outstanding Balance" : "Balance"
    },
    supplierBalances () {
      return {
        accountBalance: this.$options.filters.currency(this.accountBalance),
        accountLimit: this.$options.filters.currency(this.accountLimit),
        availableBalance: this.$options.filters.currency(this.availableBalance),
      }
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      currentCredit: "companies/getCurrentCredit",
      currentAccontBalane: "companies/getCurrentAccontBalane",
      displaySupplierDetailsModal: "modals/displaySupplierDetailsModal",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      availableBalance: "creditLimits/availableBalance"
    })
  },
  methods: {
    mobileLogo () {
      return this.$mq === 'mobile' ? '' : 'ml-6'
    },
    ...mapActions({
      toggleSupplierDetailsModal: "modals/toggleSupplierDetailsModal",
    }),
    getCredit() {
      let data = {
        supplier_id: this.company.id,
        customer_id: this.currentCompany.id,
        company_uuid: this.company.uuid
      };
      this.$store.dispatch("creditLimits/fetchCreditBalance", data);
      this.$store.dispatch("companies/fetchCreditBalance", data);
      this.$store.dispatch("companies/fetchAccountBalance", data);
      this.fetchedCredit = true;
    },
    openSupplierDetailsModal() {
      this.toggleSupplierDetailsModal();
    },
  },
  watch: {
    company(val) {
      if (val.id && !this.fetchedCredit) {
        this.getCredit();
      }
    }
  },
  computer: {
    ...mapGetters({
      displaySupplierDetailsModal: "modals/displaySupplierDetailsModal"
    })
  },
  mounted() {
    if (
      this.company &&
      this.company.id &&
      this.currentCompany &&
      this.currentCompany.id &&
      !this.fetchedCredit
    ) {
      this.getCredit();
    }
  }
};
</script>

<style lang="scss" scoped>
.company-logo {
  border: 3px solid #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
  height: 150px !important;
  width: 150px !important;
  object-fit: cover !important;
}
.card-img-top {
  height: 400px;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.supplier-header {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
.card-stats .col-md p.company-description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

p.label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 600;
}

p.dropdown-text {
  color: #303133;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}
</style>