<template>
  <div>
    <base-dropdown  class="text-right" title-classes="btn btn-sm btn-default mr-0" menu-on-right :has-toggle="false">
      <template 
      slot="title"
      style="min-width:120px"
      >More Actions<i class="fas fa-chevron-down ml-2"></i></template>
      <a 
        class="dropdown-item" 
        v-if="isEditable && !editActive && ((isCustomer && permissions.purchases_settings.can_edit_purchases) || (isSupplier && permissions.sales_settings.can_edit_sale))" 
        @click="edit"
      >Edit Order
      </a>
      <a 
        class="dropdown-item" 
        v-if="isEditable && !editActive && ((isCustomer && permissions.purchases_settings.can_edit_purchases) || (isSupplier && permissions.sales_settings.can_edit_sale))"
        @click="addProduct()"
      >Add More Products
      </a>
      <a
        class="dropdown-item" 
        v-if="order.order_schedule == null && isCustomer && permissions.purchases_settings.can_edit_purchases" 
        @click="recurringModal()"
      >Make Recurring Order
      </a>
      <a 
        class="dropdown-item" 
        @click="$emit('toggle-credit-note')"
        v-if="isSupplier"
      >Create Credit Note
      </a>
      <a 
        class="dropdown-item" 
        @click="confirmDelivery()"
        v-if="isDelivered && isSupplier"
      >
        Send Delivery Confirmation
      </a>
      <a 
        class="dropdown-item" 
        @click="confirmOrderSend()"
        v-if="!isEditable"
      >
        Send Order Confirmation
      </a>
      <a 
        v-if="$mq !== 'mobile'"
        class="dropdown-item" 
        @click="printPDF"
      >Print to PDF
      </a>
      <download-excel
        class="dropdown-item"
        type="csv"
        :fields="json_fields_2"
        :data="lineItems"
        worksheet="Order Line Items"
        :name="`Order #${order.order_number}_${order.customer.title}_Line Items.csv`"
        :escapeCsv="false"> 
        <a 
          @click="exportLineItemDetail"
        >Export Order Line Items (CSV)
        </a>
      </download-excel>
      <download-excel
        v-if="isSupplier"
        class="dropdown-item"
        type="csv"
        :fields="json_fields"
        :data="[order]"
        worksheet="Customer Details"
        :name="`Order #${order.order_number}_${order.customer.title}_Customer Detail.csv`"
        :escapeCsv="false">
        <a 
          @click="exportCustomerDetail"
        >Export Customer Detail (CSV)
        </a>
      </download-excel>
       <download-excel
        v-if="isCustomer"
        class="dropdown-item"
        type="csv"
        :fields="json_fields_3"
        :data="[order]"
        worksheet="Supplier Details"
        :name="`Order #${order.order_number}_${order.supplier.title}_Supplier Detail.csv`"
        :escapeCsv="false">
        <a 
          @click="exportSupplierDetail"
        >Export Supplier Detail (CSV)
        </a>
      </download-excel>
    </base-dropdown>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import swal from "sweetalert2";
  export default {
    props: ["isEditable","editActive","isCustomer","isSupplier", "isDelivered", "order", "lineItems"],
    data () {
      return {
         json_fields_3: {
          'Order Number': 'order_number',
          'Supplier': 'supplier.title',
          'Order Date': 'order_date_short',
          'Address': 'supplier.address_one',
          'Suburb': 'supplier.suburb',
          'City': 'supplier.city',
          'Postal Code': 'supplier.postal_code',
          'VAT Number': 'supplier.vat_number',
        },
        json_fields_2: {
          'SKU': 'sku',
          'Product Title': 'product_title',
          'Quantity': 'quantity',
          'Vat Price': 'vat_price',
          'Net Price': 'net_price',
          'Total Price': 'total_price'
        },
        json_fields: {
          'Order Number': 'order_number',
          'Customer': 'customer.title',
          'Order Date': 'order_date_short',
          'Address': 'customer.customer_address.address_one',
          'Suburb': 'customer.customer_address.suburb',
          'City': 'customer.customer_address.city',
          'Postal Code': 'customer.customer_address.postal_code',
          'VAT Number': 'customer.vat_number',
        },
      }
    },
    mounted () {
      this.order.order_items.forEach((oi) => oi.total_price = oi.gross_price * oi.quantity)
    },
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions",
      })
    },
    methods: {
      confirmDelivery () {
        swal({
          title: "Are you sure?",
          text: "The delivery confirmation will be sent to the customer",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('emails/sendDeliveryOrder', this.order.order_uuid)
            .then((res) => {
              this.$notify({
                message: 'The order has been successfully sent',
                type: 'success',
                timeout: 2000
              })
            })
          }
        });
      },
      confirmOrderSend () {
        swal({
          title: "Are you sure?",
          text: "The delivery confirmation will be sent to the customer",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(result => {
          if (result.value) {
            this.$store.dispatch('emails/sendOrderConfirmation', this.order.order_uuid)
            .then((res) => {
              this.$notify({
                message: 'The order has been successfully sent',
                type: 'success',
                timeout: 2000
              })
            })
          }
        });
      },
      toggleGeneralCreditNote() {
        this.$store.commit("modals/toggleDisplayGeneralCreditNoteModal")
      },
      edit () {
        this.$emit('edit-order')
      },
      addProduct() {
        this.$emit('add-product')
      },
      recurringModal() {
        this.$emit('recurring')
      },
      printPDF () {
        this.$emit('print')
      },
      exportCustomerDetail () {
        this.$emit('export-customer')
      },
      exportSupplierDetail () {
        this.$emit('export-supplier')
      },
      exportLineItemDetail () {
        this.$emit('export-line-items')
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>