<template>
  <div id="cart-table" class="cart-table">
    <base-dropdown :click-outside="false" @click.native="toggleCart()" menuClasses="cart-btn" :cartBtn="true">
      <base-button slot="title-container" type="success" class="btn-icon-only rounded-circle dropdown-toggle">
        <span class="btn-inner--icon"><i class="ni ni-cart"></i></span>
        <span class="badge badge-md badge-circle text-grey badge-floating badge-success border-white">{{cartLength}}</span>
      </base-button>
      <div class="dropdown-item-1">
        <CartTable v-if="$mq !== 'mobile'" @click.prevent  type="light" title="Dark Table"/>
      </div>
    </base-dropdown>
    <modal :show="getDisplayMobileCart" class="mobile-cart" >
      <MobileCartTable v-if="getDisplayMobileCart" :style="{'min-height': cartHeight}" class="mobile-class-modal" @click.prevent  type="light" title="Dark Table"/> 
    </modal>
  </div>
</template>
<script>
import { CartTable } from "../../../Cart/index";
import { MobileCartTable } from "../../../Cart/index";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "cart-balloon",
  data() {
    return {
      
    };
  },
  components: {
    CartTable,
    MobileCartTable
  },

  mounted() {

    document.getElementById("cart-table").onclick = (ev) => { ev.stopPropagation }
  },

  methods: {
    openMobileCart () {
      this.$store.commit("modals/toggleDisplayMobileCart")
    },
    toggleCart () {
      if(this.$mq === 'mobile') {
        this.openMobileCart()
      }
    },

    },
  computed: {
    cartHeight () {
      return `${window.innerHeight*0.85}px`
    },
    ...mapGetters({
      cartLength: "cart/getCartLength",
      getDisplayMobileCart: "modals/getDisplayMobileCart"
    })
  }
};
</script>

<style lang="scss">
.cart-table .dropdown {
  background-color: transparent;
}
.cart-table .dropdown-toggle {
  background: #00c781!important;
}
.cart-table .btn-icon-only {
  width: 3rem;
  height: 3rem;
}
.cart-table .show.dropdown .dropdown-menu.show {
  bottom: 120%;
  right: 10px;
  top: auto;
  left: auto;
  width: 670px;
  @media only screen and (max-width: 600px) {
    width: 370px;
    max-height: 300px !important;
    display: none;
  }
}

.dropdown-menu.show.cart-btn {
@media only screen and (max-width: 600px) {
    max-height: 300px !important;
  }
}

.cart-table table.tablesorter {
  margin-bottom: 0;
}
.cart-table .table.tablesorter thead th {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.cart-table .table.tablesorter:nth-child(even) thead tr th{
  background-color: #fff;
}
.cart-table .table.tablesorter .form-group {
  margin-bottom: 0;
}

.dropdown-item:hover {
  background-color: white;
  cursor: default;
}
.mobile-cart.modal-body{
  padding: 4px 2px 4px 2px !important;
}
</style>