<template>
  <div>
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col">
          <h2>Addresses</h2>
          <p>Manage and add your customers' addresses.</p>
        </div>
        <base-button 
          type="danger"
          v-if="isEditable"
          @click="toggleNewAddressModal()"
          class="m-0 p-1"
        ><small>New Address</small></base-button>
      </div>
    </div>
    <div style="overflow: scroll;" class="card-body">
        <div style="overflow: scroll!important">
          <div style="overflow: scroll!important">
            <ul class="list-group mb-4">
              <div v-for="address in sortedAddress" :key="address.id">
                <li class="list-group-item d-flex justify-content-between text-left">
                  <div class="col-md-12">
                    <h4 class="mb-0">
                      Name:{{address.name}} <br>
                      Address One: {{address.address_one}} <br>
                      Suburb: {{address.suburb}} <br>
                      City: {{address.city}} <br>
                      Country: {{address.country}}<br>
                      Postal Code:{{address.postal_code}}
                    </h4>
                    <div v-if="isEditable">
                      <button 
                        @click="setActiveAddress(address)"
                        type="button"
                        class="btn btn-sm btn-white mt-4 mb-4"
                      >Edit</button>
                      <base-button
                        @click="setDefaultAddress(address)"
                        :type="buttonType(address)"
                        class="btn btn-sm"
                      >{{setDefaultText(address)}}</base-button>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
    </div>
    <modal :show="getNewAddressModal" size="md">
      <new-company-address @complete="completeEdit()" :company-id="company.id"></new-company-address>
    </modal>
    <modal :show="getEditAddressModal" size="md">
      <edit-company-address v-if="getEditAddressModal" @complete="completeEdit()" :companyId="activeAddress.company_id" :activeAddress="activeAddress"></edit-company-address>
    </modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    props: ["addressList", "company", "isEditable"],
    data () {
      return {
        baseKey: 0
      }
    },
    components: {
      "new-company-address": () => import("../../Company/components/modals/NewCompanyAddress"),
      "edit-company-address": () => import("../../Company/components/modals/EditCompanyAddress"),
    },
    methods: {
      completeEdit() {
        this.$emit('refresh-company')
      },
      toggleNewAddressModal () {
        this.selectedCompanyId = this.company.id
        this.$store.commit("modals/toggleNewAddressModal")
      },
      buttonType (address) {
        return address.id == this.company.default_address_id ? "default" : "primary"
      },
      setDefaultText (address) {
        return address.id == this.company.default_address_id ? "Billing Address" : "Set As Billing"
      },
      setDefaultAddress(address) {
        if (address.id === this.company.default_address_id) return
        this.$store.dispatch("companies/updateDefaultAddress", {company_id: address.company_id, address_id: address.id })
        .then((res) => {
          this.$emit('refresh-company')
        })
      },
      setActiveAddress(address){
        this.activeAddress = address
        this.$store.commit("modals/toggleEditAddressModal")
      }
    },
    computed: {
      sortedAddress () {
        return this.addressList.sort((a, b) => a.id > b.id)
      },
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany",
        getNewAddressModal: "modals/getNewAddressModal",
        getEditAddressModal: "modals/getEditAddressModal",
      })
    }
  }
</script>

<style lang="scss" scoped>

</style>