<template>
  <div>
    <card>
      <div class="center">
        <base-button class="mt-4 text-center" @click="toggleNewClient()" type="danger">Add New Customer</base-button>
        <vs-input class="mt-3" v-model="search" border placeholder="Search" />
        <vs-table :key="baseKey">
          <template #header>
          </template>
          <template #thead>
            <vs-tr>
              <vs-th sort @click="companyList = $vs.sortData($event ,companyList, 'title')">
                Company Name
              </vs-th>
              <vs-th>
                Email
              </vs-th>
              <vs-th>
                Contact Number
              </vs-th>
              <vs-th>
                Contact Name
              </vs-th>
              <vs-th>
                Customer Type
              </vs-th>
            </vs-tr>
          </template>
          <template #tbody>
            <vs-tr
              :key="i"
              v-for="(customCompany, i) in $vs.getPage($vs.getSearch(companyList, search), page, max)"
              :data="customCompany"
            >
              <vs-td >
                <router-link :to="`my_customer/${customCompany.uuid}`">
                  {{ customCompany.title }}
                </router-link>
              </vs-td>
              <vs-td>
                {{ customCompany.email }}
              </vs-td>
              <vs-td>
                {{ customCompany.contact}}
              </vs-td>
              <vs-td>
                {{ customCompany.contact_person}}
              </vs-td>
              <vs-td style="border-radius: 0px 0px 0px 0px !important;">
                <badge v-if="customCompany.is_custom_client" type="secondary">Custom Customer</badge>
                <badge type="danger" v-else>Orderbly Customer</badge>
              </vs-td>

            </vs-tr>
          </template>
          <template #footer>
            <vs-pagination only-arrows v-model="page" :length="$vs.getLength($vs.getSearch(companyList, search), max)" />
          </template>
        </vs-table>
      </div>
    </card>
    <vs-dialog prevent-close v-model="newClient">
      <new-custom-client @complete="fetchAllCustomCompanies()" @back="toggleNewClient" v-if="newClient"></new-custom-client>
    </vs-dialog>
    <vs-dialog prevent-close v-model="editClient">
      <edit-custom-client @back="toggleEditClient" :active-details="activeDetails" v-if="editClient"></edit-custom-client>
    </vs-dialog>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";  
  export default {
      name: "my-customers",
      components: {
        "new-company-address": () => import("../../Company/components/modals/NewCompanyAddress"),
        "edit-company-address": () => import("../../Company/components/modals/EditCompanyAddress"),
        'new-custom-client': () => import('@/fulfilment_views/Deliveries/components/modals/NewCustomClient'),
        'edit-custom-client': () => import('../components/cards/EditCustomClient')
      },
      data:() => ({
        baseKey: 0,
        hasFetchedCustomCompanies: false,
        companyList: [],
        activeAddress: null,
        activeDetails: null,
        selectedCompanyId: null,
        address: {
          address_one: "",
          suburb: "",
          province: "",
          country: "",
          city: "",
          postal_code: "",
          latitude: "",
          longitude: ""
        },
        newClient: false,
        editClient: false,
        editActive: false,
        edit: null,
        editProp: {},
        search: '',
        allCheck: false,
        page: 1,
        max: 15,
        active: 0,
        selected: [],
      }),

    computed: {
      ...mapGetters({
        currentUser: "user/getCurrentUser",
        getCompanyAddresses: "companies/getCompanyAddresses",
        getCurrentCompany: "companies/getCurrentCompany",
        customCompaniesList: 'companies/getCustomCompanyList'
      }),
    },
    methods: {
      toggleNewClient () {
        this.newClient = !this.newClient
      },
      toggleEditClient (details) {
        this.activeDetails = details
        this.editClient = !this.editClient
      },
      fetchAllCustomCompanies() {
        this.$store.dispatch('companies/allCustomers', this.getCurrentCompany.uuid)
        .then((res) => {
          this.hasFetchedCustomCompanies = true
          this.companyList = this.customCompaniesList
          this.baseKey+= 1
          this.baseKey+= 1
        })
      },
      setDefaultAddress(address, companyId) {
        this.$store.dispatch("companies/updateDefaultCustomAddress", {company_id: companyId, address_id: address.id })
        .then((res) => {
          this.fetchAllCustomCompanies()
        })
      },
    },
    mounted () {
      if (this.getCurrentCompany && this.getCurrentCompany.uuid) {
        this.fetchAllCustomCompanies()
      }
    },
    watch: {
      search () {
        this.baseKey+= 1
      },
      getCurrentCompany(val) {
        if (val && val.uuid && !this.hasFetchedCustomCompanies) {
          this.fetchAllCustomCompanies()
        }
      }
    }

       
  } 
</script>

<style lang="scss" scoped>
</style>