<template>
  <div v-if="!!allSalesOrders.length">
  <base-table
    class="table align-items-center"
    tbody-classes="list"
    :data="allSales"
  >
    <template slot="columns">
      <th>Customer</th>
      <th style="">Order Number</th>
      <th>Order Date</th>
      <th>Status</th>
      <th>Delivery</th>
      <th>Paid</th>
      <th>Gross Amount</th>
    </template>

    <template class="loading-animation" slot-scope="{row}">

      <td @click="goTodetail(row)">
        <div class="badge-dot mr-4">{{row.customer.title}}</div>
      </td>

      <td @click="goTodetail(row)">
        <div class="badge-dot mr-4 col-md-6">{{row.order_number}}</div>
      </td>

      <td @click="goTodetail(row)">
        <div class="badge-dot mr-4"> {{row.order_date ? row.order_date.substring(0,10) : ""}}</div>
      </td>

      <td @click="goTodetail(row)">
        <badge size="lg" v-if="row.order_status === 'pending'" type="primary">Pending</badge>
        <badge size="lg" v-if="row.order_status === 'accepted'" type="success">Accepted</badge>
        <badge size="lg" v-if="row.order_status === 'declined'" type="success">Declined</badge>
        <badge size="lg" v-if="row.order_status === 'credit note'" type="secondary">Credit Note</badge>
      </td>

      <td @click="goTodetail(row)">
        <badge size="lg" v-if="row.delivery_status === 'order_pending'" type="secondary">Order Pending</badge>
        <badge size="lg" v-if="row.delivery_status === 'delivered'" type="success">Delivered</badge>
        <badge size="lg" v-if="row.delivery_status === 'in_progress'" type="warning">In Progress</badge>
        <badge size="lg" v-if="row.delivery_status === 'in_preparation'" type="info">In Preparation</badge>
      </td>

      <td @click="goTodetail(row)">
          <badge v-if="row.payment_status === 'false'" type="danger">Unpaid</badge>
        <badge v-if="row.payment_status === 'true'" type="success">Paid</badge>
        <badge v-if="row.payment_status === 'partial'" type="warning">Partial</badge>
      </td>

      <td @click="goTodetail(row)" :status="row.order_status">
        <div class="badge-dot mr-4">
            <strong class="text-gray">
              {{row.value | currency}}
            </strong>
            <br />
            <small class="text-gray" v-if="row.balance > 0">Balance: {{row.balance | currency}}</small>
        </div>
      </td>
    </template>
    <template>
    </template>
  </base-table>
    <div class="card-footer py-4 d-flex justify-content-end">
      <base-pagination align="center" :page-count="10" v-model="pagination.default" :pageCount="pageCount"></base-pagination>
  </div>
  </div>
</template>

<script>
  export default {
    props: {
      allSalesOrders: {
        type: Array,
        required: true,
        default: []
      }
    },
    data () {
      return {
        selectedRows: [],
        loading: true,
        filterVolume: 8,
        pageNumber: 1,
        pagination: {
          default: 1
        },
      }
    },
    computed : {
       pageCount () {
        return Math.ceil(this.salesList.length / this.filterVolume)
      },
      numberOfSales () {
        return this.allSalesOrders.length
      },
      minValue () {
      return (this.pagination.default * this.filterVolume) - this.filterVolume
      },
      maxValue () {
        return this.pagination.default * this.filterVolume
      },
      salesList () {
        return this.allSalesOrders
      },
      allSales () {
        return this.salesList.slice(this.minValue, this.maxValue)
      },
    },
    watch: {
    isSelected (oldVal, newVal) {
      let temp = this.pagination.default
      this.pagination.default = 1;
      this.pagination.default = temp
      },
      filterVolume (oldVal, newVal) {
        this.pagination.default = 1
      },
      customerName (oldVal, newVal) {
        this.pagination.default = 1
      },
      orderStatus (val) {
        this.pagination.default = 1
      }
    },
    methods: {
      goTodetail(order) {
        if (order.type == "order") {
          this.goToOrder(order)
        } else {
          this.displayCreditNote(order)
        }
      },
        goToOrder(order) {
        this.$router.push({
          name: "orderDetail",
          params: { id: order.order_uuid }
        });
      },
      highlight(id) {
        return this.selectedRows.includes(id) ? 'highlight' : ""
      },
      rowColour(status) {
        return this.$options.filters.rowColour(status)
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>