<template>
  <div>
    <div>
      <div class="card-header text-center text-muted mb-4 lead-text">
        <h2>Edit Address</h2>
      </div>

      <base-input 
        v-model="name"
        label="Give your address a name"
        placeholder="Main Location"
      ></base-input>

      <base-input v-model="streetAddress" label="Street Address" placeholder="83 Castle Street">
      </base-input>
      <base-input label="Select Province">
        <el-select
          class="col-md-12"
          v-model="province"
          filterable
          placeholder="Select Province"
        >
          <el-option
            v-for="(item,i) in allProvinces"
            :key="i"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </base-input>
      <base-input label="Select your Area">
        <el-select
          class="col-md-12"
          v-model="suburb"
          :disabled="!this.suburbList.length"
          filterable
          clearable
          placeholder="Select Area"
        >
          <el-option
            v-for="(item, i) in suburbList"
            :key="i"
            :label="`${item.name}, ${item.street_code}`"
            :value="item.id">
          </el-option>
        </el-select>
      </base-input>

      <delivery-map v-if="this.suburb" :zoom="15" height="300px" :center="{lat: parseFloat(address[0].address.latitude), lng: parseFloat(address[0].address.longitude) }" :markers="address" class="mx-4"/>
      <delivery-map v-else :zoom="15" height="300px" class="mx-4"/>

      <div class="text-center">
        <base-button :disabled="disableUpdate"  @click="editAddress()" type="success" class="mt-3 col-md-4">Update</base-button>
        <base-button @click="closeModal" type="danger" class="mt-3 col-md-4 ">Close</base-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Select, Option } from 'element-ui'
import { plainAxiosInstance } from '../../../../axios/index';
export default {
  props: ["activeAddress", "companyId"],
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    'delivery-map': () => import("../../../../fulfilment_views/Deliveries/components/sections/mapSection"),
  },
  data() {
    return {
      addressTimeout: null,
      isLoading: true,
      postalCodeSearch: null,
      hasCoordinates: false,
      name: '',
      value: '',
      allProvinces: [],
      color: '#7a76cb',
      suburbs: [],
      suburb: null,
      globalAddress: null,
      cities: [],
      city: null,
      streetAddress: null,
      postalCode: null,
      lat: '',
      lng: '',
      address: [],
      province: '',
      company: {
        address: {
          address_one: "",
          suburb: "",
          province: "",
          country: "",
          city: "",
          postal_code: "",
          latitude: "",
          longitude: "",
          current_company: "",
          alias: "",
          additional_info: ""
        }
      }
    }
  },
  computed: {
    disableUpdate () {
      if (!this.address.length) return true
      return this.address[0].address.latitude == null || this.address[0].address.suburb == null || this.address[0].address.latitude == null || this.address[0].address.province == null ||this.address[0].address.address_one == null
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany"
    }),
    suburbList () {
      if (this.postalCodeSearch == null || this.postalCodeSearch == "") return this.suburbs
      let list = []
      this.suburbs.forEach((suburb) => {
        if (suburb.street_code == this.postalCodeSearch) list.push(suburb)
      })
      return list
    },
    postalCodes () {
      if (this.city == null) return
      let list = []
      this.suburbs.forEach((suburb) => {
        if (!list.includes(suburb.street_code)) list.push(suburb.street_code)
      })
      return list
    }
  },
  async mounted() {
    this.toggleLoading(true)
    let $that = this
    try {
      this.getPostalAddress()
    }
    catch {
      let res = await this.$store.dispatch('companies/fetchAllProvinces')
      $that.allProvinces = res.data
      let newAddress = {
        address: {
          address_one: null,
          suburb: null,
          city: null,
          province: null,
          country: null,
          postal_code: null,
          latitude: null,
          longitude: null,
          id: null,
          company_id: null
        }
      }
      $that.address.push(newAddress)
      $that.toggleLoading(false)
    }
  },
  methods: {
     async getPostalAddress () {
      let that = this
      let res = await this.$store.dispatch('companies/fetchAllProvinces')
      that.allProvinces = res.data
      that.streetAddress = that.activeAddress.address_one
      that.province = res.data.find(p => p.toLowerCase() == that.activeAddress.province.toLowerCase())
      that.getAreas()
      .then((res) => {
        that.name = that.activeAddress.name
        that.streetAddress = that.activeAddress.address_one
        let newAddress = {
          address: {
            address_one: that.activeAddress.address_one,
            suburb: that.activeAddress.name,
            city: that.activeAddress.address_one,
            province: that.activeAddress.province,
            country: 'South Africa',
            postal_code: that.activeAddress.postal_code,
            latitude: that.activeAddress.latitude,
            longitude: that.activeAddress.longitude,
            id: that.activeAddress.id,
            company_id: that.currentCompany.id
          }
        }
        that.address.push(newAddress)
        that.hasCoordinates = true
        that.toggleLoading(false)
      })
    },
    toggleLoading (status) {
      if (status) {
        this.isLoading = this.$vs.loading({
          background: this.color,
          color: '#dc3545'
        })
      } else {
        this.isLoading.close()
      }
    },
    getAddressMap () {
      let that = this
      let findSuburb = this.suburbList.find(s => s.id == this.suburb)
      let street = this.streetAddress.split(' ').join('+');
      let area = `${findSuburb.name}+${findSuburb.city}+${findSuburb.province}+${findSuburb.street_code}`
      let addressUri = street + area
      this.postalCode = findSuburb.street_code
      plainAxiosInstance.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${addressUri}&key=AIzaSyCrV4J1_AL5YtrlFtanlHGMRt1dhbBwWew`)
      .then((response) => {
        that.address = []
        let newAddress = {
          address: {
            address_one: this.streetAddress,
            suburb: this.$options.filters.titleCase(findSuburb.name),
            city: findSuburb.city,
            province: findSuburb.province,
            country: 'South Africa',
            postal_code: findSuburb.street_code,
            latitude: response.data.results[0].geometry.location.lat,
            longitude: response.data.results[0].geometry.location.lng,
            id: that.activeAddress.id,
            company_id: that.currentCompany.id
          }
        }
        that.address.push(newAddress)
        
      })
    },
    async getAreas () {
      let that = this
       this.$store.dispatch('companies/fetchAllAreasByProvince', {province: this.province})
      .then((res) => {
        that.suburbs = res.data
        if (that.activeAddress.suburb !== null) that.suburb = res.data.find(a => a.name.toLowerCase() == that.activeAddress.suburb.toLowerCase()).id || null
        return true
      })
    },
    closeModal () {
      this.$store.commit("modals/toggleEditAddressModal")
    },
    async editAddress() {
      let selectedAddress = this.address[0].address
      let address = {
        address_one:  selectedAddress.address_one,
        city: selectedAddress.city,
        province: selectedAddress.province, 
        country: selectedAddress.country, 
        suburb: selectedAddress.suburb, 
        postal_code: selectedAddress.postal_code,
        longitude: selectedAddress.longitude,
        latitude: selectedAddress.latitude,
        company_id: this.companyId !== null ? this.companyId : this.currentCompany.id,
        id: selectedAddress.id,
        name: this.name
      }
      await this.$store.dispatch("companies/editAddress", address).then((res) =>{
        if (res) {
          this.$emit('complete')
          this.$store.commit("modals/toggleEditAddressModal")
          this.$notify({
            message: `Address has been updated.`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "success"
          });
        } else {
          this.$store.commit("modals/toggleEditAddressModal")
          this.$notify({
            message: `Address could not be updated. Please try again or contact support should the problem persist.`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
        }
      })
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  },
  watch: {
    streetAddress () {
      this.suburb = null
      this.province = null
      this.postalCode = null
    }, 
    suburb () {
      let that = this
      let findSuburb = this.suburbList.find(s => s.id == this.suburb)
      let street = this.streetAddress.split(' ').join('+');
      let area = `${findSuburb.name}+${findSuburb.city}+${findSuburb.province}+${findSuburb.street_code}`
      let address = street + area
      this.postalCode = findSuburb.street_code
      plainAxiosInstance.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyCrV4J1_AL5YtrlFtanlHGMRt1dhbBwWew`)
      .then((response) => {
        that.address = []
        that.address.push({
          address: {
            address_one: this.streetAddress,
            suburb: this.$options.filters.titleCase(findSuburb.name),
            city: findSuburb.city,
            province: findSuburb.province,
            country: 'South Africa',
            postal_code: findSuburb.street_code,
            latitude: response.data.results[0].geometry.location.lat,
            longitude: response.data.results[0].geometry.location.lng,
          }
        })
        that.hasCoordinates = true
      })
    },
    province (oldVal, newVal) {

      this.$store.dispatch('companies/fetchAllAreasByProvince', {province: this.province})
      .then((res) => {
        this.suburbs = res.data

      })
    },
    streetAddress () {
      this.address = []
      this.suburb = null
    }, 
    suburb () {
      if (this.addressTimeout !== null) clearTimeout(this.addressTimeout)
      this.addressTimeout = setTimeout(() => {
        this.getAddressMap()
      }, 1000)
    },
    province (oldVal, newVal) {
      this.getAreas()
    }
  }
};
</script>

<style lang="scss">
#lblFormattedAddress {
  z-index: 1;
}
.pac-container {
  z-index: 100000;
}

</style>