<template>
    <div>
      <div class="card-header text-center text-muted mb-4 lead-text">
        <h2>Add New Address</h2>
      </div>

      <base-input 
        v-model="name"
        label="Give your address a name"
        placeholder="Main Location"
      ></base-input>

      <base-input v-model="streetAddress" label="Street Address" placeholder="83 Castle Street">
      </base-input>

      <base-input label="Select Province">
        <el-select
          class="col-md-12"
          v-model="province"
          filterable
          placeholder="Select Province"
        >
          <el-option
            v-for="(item,i) in allProvinces"
            :key="i"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </base-input>

      <base-input label="Select your Area">
        <el-select
          class="col-md-12"
          v-model="suburb"
          :disabled="!this.suburbList.length"
          filterable
          clearable
          placeholder="Select Area"
        >
          <el-option
            v-for="(item, i) in suburbList"
            :key="i"
            :label="`${item.name}, ${item.street_code}`"
            :value="item.id">
          </el-option>
        </el-select>
      </base-input>

      <delivery-map v-if="hasCoordinates" :zoom="15" height="300px" :center="{lat: address[0].address.latitude, lng: address[0].address.longitude }" :markers="address" class="mx-4"/>
      <div class="text-center">
        <base-button :disabled="disableUpdate"  @click="registerCompany()" type="success" class="mt-3 col-md-4">Add</base-button>
        <base-button @click="closeModal" type="danger" class="mt-3 col-md-4 ">Close</base-button>
      </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Select, Option } from 'element-ui'
import { plainAxiosInstance } from '../../../../axios/index';
export default {
  props: ["registerType", "isSupplier", "companyId"],
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    'delivery-map': () => import("../../../../fulfilment_views/Deliveries/components/sections/mapSection"),
  },
  data() {
    return {
      postalCodeSearch: null,
      hasCoordinates: false,
      name: '',
      value: '',
      allProvinces: [],
      suburbs: [],
      suburb: null,
      globalAddress: null,
      cities: [],
      city: null,
      streetAddress: null,
      postalCode: null,
      lat: '',
      lng: '',
      address: [],
      province: '',
      company: {
        address: {
          address_one: "",
          suburb: "",
          province: "",
          country: "",
          city: "",
          postal_code: "",
          latitude: "",
          longitude: "",
          current_company: "",
          alias: "",
          additional_info: ""
        }
      }
    };
  },
  computed: {
    disableUpdate () {
      if(!this.address.length) return true

      return this.address[0].address.address_one == ""
      || (this.address[0].address.suburb == "" || this.address[0].address.suburb == null )
      || (this.address[0].address.city == "" || this.address[0].address.city == null )
      || (this.address[0].address.province == "" || this.address[0].address.province == null )
      || (this.address[0].address.country == "" || this.address[0].address.country == null )
      || (this.address[0].address.postal_code == "" || this.address[0].address.postal_code == null )
      || (this.address[0].address.latitude == "" || this.address[0].address.latitude == null )
      || (this.address[0].address.longitude == "" || this.address[0].address.longitude == null )
    },
    isDisabled () {
      return this.company.address.latitude == ""
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany"
    }),
    suburbList () {
      if (this.postalCodeSearch == null || this.postalCodeSearch == "") return this.suburbs
      let list = []
      this.suburbs.forEach((suburb) => {
        if (suburb.street_code == this.postalCodeSearch) list.push(suburb)
      })
      return list
    },
    postalCodes () {
      if (this.city == null) return
      let list = []
      this.suburbs.forEach((suburb) => {
        if (!list.includes(suburb.street_code)) list.push(suburb.street_code)
      })
      return list
    },
  },
  mounted() {
    this.$store.dispatch('companies/fetchAllProvinces')
    .then(res => {
      this.allProvinces = res.data
      return res.data
    })
  },
  watch: {
    streetAddress () {
      this.suburb = null
      this.province = null
      this.postalCode = null
    }, 
    suburb () {
      let that = this
      if (this.streetAddress == "") return
      this.toggleLoading(true)
      let findSuburb = this.suburbList.find(s => s.id == this.suburb)
      let street = this.streetAddress.split(' ').join('+');
      let area = `${findSuburb.name}+${findSuburb.city}+${findSuburb.province}+${findSuburb.street_code}`
      let address = street + area
      this.postalCode = findSuburb.street_code
      plainAxiosInstance.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyCrV4J1_AL5YtrlFtanlHGMRt1dhbBwWew`)
      .then((response) => {
        that.toggleLoading(false)
        that.address = []
        that.address.push({
          address: {
            address_one: this.streetAddress,
            suburb: this.$options.filters.titleCase(findSuburb.name),
            city: findSuburb.city,
            province: findSuburb.province,
            country: 'South Africa',
            postal_code: findSuburb.street_code,
            latitude: response.data.results[0].geometry.location.lat,
            longitude: response.data.results[0].geometry.location.lng,
          }
        })
        that.hasCoordinates = true
      })
    },
    province (oldVal, newVal) {
      this.toggleLoading(true)
      let that = this
      this.$store.dispatch('companies/fetchAllAreasByProvince', {province: this.province})
      .then((res) => {
        this.suburbs = res.data
        that.toggleLoading(false)
      })
    },
  },
  methods: {
    addressCompanyId () {
      try {
        return this.companyId
      }
      catch {
        return this.currentCompany.id
      }
    },
    toggleLoading (status) {
      if (status) {
        this.isLoading = this.$vs.loading({
          background: this.color,
          color: '#dc3545'
        })
      } else {
        this.isLoading.close()
      }
    },
    closeModal () {
      this.company.address = {
        address_one: "",
        suburb: "",
        province: "",
        country: "",
        city: "",
        postal_code: "",
        latitude: "",
        longitude: "",
        name: "",
        additional_info: "",
        longitude: "",
        current_company: ""
      }
      this.$store.commit("modals/toggleNewAddressModal")
    },
    registerCompany() {
      let selectedAddress = this.address[0].address
      let address = {
        address_one:  selectedAddress.address_one,
        city: selectedAddress.city,
        province: selectedAddress.province, 
        country: selectedAddress.country, 
        suburb: selectedAddress.suburb, 
        postal_code: selectedAddress.postal_code,
        longitude: selectedAddress.longitude,
        latitude: selectedAddress.latitude,
        company_id: (this.companyId !== null && this.companyId !== undefined) ? this.companyId : this.currentCompany.id,
        name: this.name
      }

      this.$store.dispatch("companies/registerAddress", address)
      .then((res) =>{
        if (res) {
          this.$store.commit("modals/toggleNewAddressModal")
          this.$notify({
            message: `New address has been created.`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "success"
          });
          this.$emit('complete')
        } else {
          this.$notify({
            message: `New address could not be created. Please try again or contact support should the issue persist`,
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "danger"
          });
        }
      })
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  }
};
</script>

<style lang="scss">
#lblFormattedAddress {
  z-index: 1;
}
.pac-container {
  z-index: 100000;
}

</style>