<template>
  <div>
    <base-input label="Min distance (km)" v-model="min_distance"></base-input>
    <base-input v-model="max_distance" label="Max distance (km)"></base-input>
    <base-input v-model="delivery_fee" label="Delivery Fee (Rand)"></base-input>
    <div class="text-center">
      <base-button @click="addDeliveryFee()" type="success">Add</base-button>
      <base-button @click="toggleNewDeliveryFee()" type="danger" outline>Close</base-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    props: {
      prevDistance: {
        type: Object, 
        require: true
      },
      minAllowed: {
        type: Number,
        required: false   
      },
      maxAllowed: {
        type: Number,
        required: false   
      }
    },
    data () {
      return {
        max_distance: 0,
        min_distance: 0,
        delivery_fee: 0,
      }
    },
    computed: {
      ...mapGetters({
        currentCompany: "companies/getCurrentCompany"
      })
    },
    mounted () {
      this.min_distance = Math.trunc(this.prevDistance.max_distance) + 1
    },
    methods: {
      notifyVue(message, type, timeout=1000) {
        this.$notify({
        message: message,
        timeout: timeout,
        icon: "ni ni-bell-55",
        type: type
      });
    },
      toggleNewDeliveryFee () {
        this.$store.commit("modals/toggleNewDeliveryFee")
      },
      addDeliveryFee () {
        let delivery_fee_brakcet = {
          max_distance: this.max_distance,
          min_distance: this.min_distance,
          price: this.delivery_fee,
          company_id: this.currentCompany.id
        }
        this.$store.dispatch('companies/newDeliveryBracket', delivery_fee_brakcet)
        .then((res) => {
          if (res.status !== 201) throw 'err' 
          this.notifyVue('A new delivery brakcet has been successful created', 'success')
          this.toggleNewDeliveryFee()
        })
        .catch(() => {
          this.notifyVue('A new delivery brakcet could not be created. please ensure that there is no overlap between delivery brackets', 'danger', 15000)
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>