<template>
  <div>
    <div class="text-center text-muted mb-4 lead-text">
        <h2>New Email</h2>
    </div>
    <div class="register-container mx-auto">
    <base-input
        alternative
        placeholder="Search Address"
        v-model="email"
        id="searchTextFieldEditCompany"
        input-classes="form-control-alternative"
      />
    </div>
    <div class="text-center">
      <base-button type="success" @click="addEmail">Add</base-button>
      <base-button type="danger" @click="$store.commit('modals/toggleDisplayNewEmailModal')">Close</base-button>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      company: {
        type: Object,
        required: true,
        default: () => {}
      }
    },
    data () {
      return {
        email: null
      }
    },
    methods: {
      addEmail () {
        this.$store.dispatch('companies/postNewCompanyEmail', {email: this.email, company_id: this.company.id}).then((res) => {
          if (res.data.status) {
            this.notify('success', 'The email was successfully added to the companies list')
          } else {
            this.notify('danger', res.data.message)
          }
        }).catch((err) => {
          this.notify('danger', 'Something went wrong, please try again or contact support should the problem persist.')
        })
        this.$store.commit('modals/toggleDisplayNewEmailModal')
        
      },
      notify (type, message) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    }
    
  }
</script>

<style lang="scss" scoped>

</style>