<template>
  <div class="card mb-0">
    <tabs tabNavClasses="nav-fill flex-column flex-sm-row ml-4 mr-4 mt-2">
      <tab-pane title="Comments">
        <div class="card-body comment-card text-left">
          <div class="mb-1 comment-body">
            <div class="activity-messages" v-for="(comment, index) in comments" :key="index">
              <comment
                v-if="comment.comment_type == 'comment' || comment.comment_type == 'delivery'"
                :delivery-comment="comment.comment_type == 'delivery'"
                :comment=comment
                :commented-at="comment.commented_at"
                :text="comment.message"
                class="mb-4"
              ></comment>
            </div>
            <div class="media align-items-center">
              <div class="media-body">
                <form>
                  <textarea
                    v-model="comment"
                    class="form-control"
                    placeholder="Write your comment"
                    rows="3"
                  ></textarea>
                  <br />
                  <base-button :disabled="isFieldEmpty" class="mb-2" @click="postComment">Submit</base-button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </tab-pane>
      <tab-pane title="Activity">
        <div class="ml-4 mt-5 mr-4 mb-3">
          <div class="activity-messages" v-for="(comment, index) in comments" :key="index">
            <comment
            v-if="comment.comment_type == 'activity'"
              :comment=comment
              :commented-at="comment.commented_at"
              :text="comment.message"
            ></comment>
          </div>
        </div>
      </tab-pane>
    </tabs>
  </div>
</template>
<script>
import Comment from "@/components/Feed/Comment";
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
export default {
  props: ["comments", "orderId"],
  name: "activiyt-feed",
  data() {
    return {
      comment: "",
      channel: null
    };
  },
  components: {
    Comment,
    tabs: Tabs,
    "tab-pane": Tab,
  },
  methods: {
    postComment() {
      let comments = {
        message: this.comment,
        order_id: this.orderId
      };
      this.$store.dispatch("orders/addOrderComments", comments);
      this.comment = "";
    }
  },
  computed: {
    isFieldEmpty () {
      return this.comment.trim() == ""
    }
  },
  beforeDestroy () {
    this.channel.unsubscribe('comments')
  },
  mounted() {
    let invoice_id = this.$route.params.id;
    this.channel = this.$pusher.subscribe("comments");

    this.channel.bind(`invoice_${this.orderId}`, comment => {
      this.$store.dispatch("orders/addLiveOrderComment", comment);
    });
  }
};
</script>
<style>
</style>
