<template>
  <div>
    <form
      enctype="multipart/form-data"
      novalidate
      id="form"
    >
      <div class="box">
        <div class="box-inner">
          <div
            class="dropzone"
            v-if="!isLoading"
          >
            <input
              type="file"
              multiple
              accept="image/*"
              class="input-file"
              @change="handleChanges($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            >
            <ul class="box-notes">
              <li class="first">Drag an image here</li>
              <li class="second">or</li>
              <li class="third link">Browse files</li>
            </ul>
          </div>
          <div
            class="status"
            v-if="isLoading"
          >
            <span class="loader">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                xmlns="http://www.w3.org/2000/svg"
                data-svg="spinner"
              >
                <circle
                  fill="none"
                  stroke="#fd3e60"
                  cx="15"
                  cy="15"
                  r="14"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </form>
    <div
      class="output"
      v-if="isSuccess"
    >
      <div class="background-img-css">
        <span>CSS background</span>
        <pre>
          <code v-for="(item, index) in this.output"
          :key="index">
          .{{item.name}} {background-image: url("{{item.content}}");}
          </code>
        </pre>
        <a
          class="to-clipboard"
          data-selector="background-img-css"
          @click="copy"
        >
        </a>
      </div>
      <div class="src-usage">
        <span>src usage</span>
        <pre>
        <code v-for="(item, index) in this.output"
          :key="index">
          {{item.content}}
          </code>
        </pre>
        <a
          class="to-clipboard"
          data-selector="src-usage"
          @click="copy"
        >
        </a>
      </div>
    </div>
    <div class="toast"></div>
  </div>
</template>

<script>
const INITIAL = 0,
  LOADING = 1,
  SUCCESS = 2,
  FAILED = 3,
  NOTIFICATIONS = [
    {
      title: "Success",
      color: "#50c0b4"
    },
    {
      title: "Warning",
      color: "#f59938"
    },
    { title: "Danger", color: "#e2342f" }
  ],
  MAX_FILE_SIZE = 500000;
export default {
  name: "FileUploader",
  data() {
    return {
      errors: [],
      status: null, // INITIAL, LOADING, SUCCESS, FAILED
      output: []
    };
  },
  computed: {
    isInitial() {
      return this.status === INITIAL;
    },
    isLoading() {
      return this.status === LOADING;
    },
    isSuccess() {
      return this.status === SUCCESS;
    },
    isFailed() {
      return this.status === FAILED;
    }
  },
  methods: {
    // Handles form changes
    handleChanges(fieldName, fileList) {
      this.reset();
      if (!fileList.length) return;
      this.status = LOADING;
      [...fileList].map(file => {
        this.fileToBase64(file)
          .then(this.resolveAfterTime(1500))
          .then(res => {
            this.output.push({
              name: this.sanitizeFileName(file.name),
              content: res
            });
            this.status = SUCCESS;
          });
      });
    },
    // Converts file to base64 string
    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader(),
          readerBase64 = new FileReader(),
          blob = file.slice(0, 4);
        reader.readAsArrayBuffer(blob);
        reader.onloadend = e => {
          let isValidMimeType = this.checkMimetype(
            this.getMimeTypeSignature(e.target.result)
          );
          if (
            this.bytesToMegabytes(file.size) >
            this.bytesToMegabytes(MAX_FILE_SIZE)
          ) {
            this.errors.push({
              message: "File size is too large!",
              type: NOTIFICATIONS[1]
            });
          }
          if (isValidMimeType === false) {
            this.errors.push({
              message: "File type is not supported!",
              type: NOTIFICATIONS[2]
            });
          }
          if (this.errors.length > 0) {
            this.flashErrors(this.errors);
            this.reset();
            return;
          } else {
            readerBase64.readAsDataURL(file);
          }
        };
        readerBase64.onloadend = () => {
          let res = readerBase64.result;
          resolve(res);
        };
        reader.onerror = error => reject(error);
        readerBase64.onerror = error => reject(error);
      });
    },
    // Converts from bytes to megabytes
    bytesToMegabytes(bytes) {
      const value = bytes * Math.pow(10, -6);
      return value;
    },
    // Checks mime type
    checkMimetype(signature) {
      const signatures = [
        "89504E47", // image/png
        "47494638", // image/gif
        "FFD8FFDB", // image/jpeg
        "FFD8FFE0",
        "FFD8FFE1",
        "FFD8FFE2",
        "FFD8FFE3",
        "FFD8FFE8",
        "3C3F786D", // svg/xml
        "3C737667"
      ];
      return signatures.includes(signature);
    },
    // Gets mime type signature
    getMimeTypeSignature(data) {
      const uint = new Uint8Array(data);
      let bytes = [];
      uint.forEach(byte => {
        bytes.push(byte.toString(16));
      });
      return bytes.join("").toUpperCase();
    },
    // Sanitizes file's name
    sanitizeFileName(name) {
      return name
        .replace(/\.[^/.]+$/, "")
        .replace(/[^a-z0-9]/gi, "_")
        .toLowerCase();
    },
    // Add duration to upload
    resolveAfterTime(time) {
      return x => {
        return new Promise(resolve => setTimeout(() => resolve(x), time));
      };
    },
    // Resets upload
    reset() {
      this.status = INITIAL;
      this.errors = [];
      this.output = [];
    },
    // Copies to clipboard
    copy(e) {
      const selector = e.target.getAttribute("data-selector"),
        element = document.querySelector(`.${selector} pre code`),
        text = element.innerText || element.textContent,
        tmp = document.createElement("textarea");
      document.body.appendChild(tmp);
      tmp.value = text;
      tmp.select();
      try {
        document.execCommand("copy");
      } catch (err) {
        throw err;
      }
      document.body.removeChild(tmp);
      this.triggerToast("Copied successfully!", NOTIFICATIONS[0]);
    },
    // Triggers notification
    triggerToast(message, status) {
      const toast = document.querySelector(".toast"),
        toastText = document.createElement("span"),
        toastBadge = document.createElement("span");
      toast.innerHTML = "";
      toastBadge.classList.add("toast-badge", status.title.toLowerCase());
      toastText.classList.add("toast-text");
      toastText.innerHTML = message;
      toastBadge.innerHTML = status.title;
      toast.appendChild(toastBadge);
      toast.appendChild(toastText);
      toast.classList.add("visible");
      if (toast.classList.contains("visible")) {
        setTimeout(() => {
          toast.classList.remove("visible");
          toast.innerHTML = "";
        }, 3000);
      }
    },
    // Shows errors
    flashErrors(errors) {
      if (errors.length === 2) {
        this.triggerToast(
          "File upload failed due to size and type!",
          NOTIFICATIONS[2]
        );
      } else {
        this.triggerToast(errors[0].message, errors[0].type);
      }
    }
  }
};
</script>

<style lang="scss">
.box {
  padding: 10px;
  position: relative;
  .box-inner {
    color: #2c3e50;
    min-height: 200px;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 2px dashed #86bdf9;
    border-radius: 10px;
    z-index: 100;
    .box-notes {
      list-style: none;
      height: 200px;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      li {
        &.first {
          font-weight: 600;
          font-size: 24px;
        }
        &.link {
          color: #fff;
          padding: 10px 20px;
          border-radius: 5px;
          background: #176eff;
          box-shadow: 0 0 35px rgba(140, 150, 160, 0.2);
          transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    > * {
      animation: rotate 1.4s linear infinite;
    }
    > * > * {
      stroke-dasharray: 88px;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: spinner 1.4s ease-in-out infinite;
      animation-name: spinner;
      animation-duration: 1.4s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      stroke-width: 2;
      stroke-linecap: round;
      position: relative;
    }
  }
  &::after {
    content: "";
    background: #f6f9fe;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  &:hover {
    &::after {
      opacity: 0.6;
    }
  }
}
.output {
  span {
    padding-top: 10px;
    display: block;
    text-align: initial;
  }
  .background-img-css,
  .src-usage {
    position: relative;
  }
  pre {
    background: #e5e5e5;
    color: #2c3e50;
    padding: 14px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    &,
    code {
      font-family: "Source Code Pro", monospace;
      max-width: 500px;
      text-align: left;
      white-space: nowrap;
      word-spacing: normal;
      word-break: break-word;
      word-wrap: break-word;
      line-height: 1.5;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      position: relative;
    }
  }
  .to-clipboard {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    &:hover {
      background-color: #e5e5e5;
    }
  }
}
.input-file {
  display: block;
  opacity: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}
.toast {
  position: absolute;
  max-width: 350px;
  width: fit-content;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  background: #fff;
  border-radius: 9999px;
  box-shadow: 0px 0 20px 2px rgba(145, 147, 152, 0.1);
  visibility: hidden;
  opacity: 0;
  z-index: 1040;
  .toast-badge {
    margin-right: 10px;
    border-radius: 9999px;
    color: #fff;
    font-size: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
    &.success {
      background-color: #50c0b4;
    }
    &.warning {
      background-color: #f59938;
    }
    &.danger {
      background-color: #e2342f;
    }
  }
  &.visible {
    visibility: visible;
    animation: fadeInOut 3s;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes spinner {
  0% {
    stroke-dashoffset: 88px;
  }
  50% {
    stroke-dashoffset: 22px;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 88px;
    transform: rotate(450deg);
  }
}
@keyframes fadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }
  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}
</style>