<template>
  <div>
    <label
      for="example-password-input"
      class="col-md-2 col-form-label form-control-label"
    >Sync Sage Item</label>
    <el-select
      filterable
      class="select-danger col-md-8"
      placeholder="Select Xero Item"
      v-model="itemId"
    >
      <el-option
        v-for="option in items"
        class="select-danger"
        :value="option.ID"
        :label="`${option.Description}`"
        :key="option.ID"
      ></el-option>
    </el-select>
  </div>
</template>

<script>
  import {Select, Option} from 'element-ui'
  export default {
    props: ['items'],
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    data () {
      return {
        itemId: null
      }
    },
    watch: {
      itemId (val) {
        this.returnItem()
      }
    },
    methods: {
      returnItem () {
        this.$emit('store-event', itemId)
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>