<template>
  <div>
    <div class="page-header">
      <h3 class="mb-0 mt-4 mb-4">Customers Statement</h3>
    </div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark': ''"
          :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
          tbody-classes="list"
          :data="customersIndexStatement"
        >
          <template slot="columns">
            <th>Company</th>
            <th>Balance</th>
          </template>

          <template slot-scope="{row}">
            <td>
              <router-link :to="`trade_statements/${currentCompany.uuid}/${row['uuid']}`">
                <span>{{row.title}}</span>
              </router-link>
            </td>
            <td>
              <router-link :to="`trade_statements/${currentCompany.uuid}/${row['uuid']}`">
                <strong>{{ row.balance }}</strong>
              </router-link>
            </td>
          </template>
        </base-table>
      </div>
      <modal :show="getPayGateModal" :size="'xl'">
        <paygate-modal v-if="getPayGateModal" :accountSale="accountSale"></paygate-modal>
      </modal>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "products-index-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      accountSale: null,
      fetchedStatements: false,
    };
  },
  components: {
    "paygate-modal": () => import("@/views/Orders/views/PayGateModal"),
    "customer-analysis-header": () => import("../headers/CustomerAnalysisHeader")
  },
  computed: {
    ...mapGetters({
      getPayGateModal: "payGate/getPayGateModal",
      customerAnalysis: "accountSales/customerAnalysis",
      customersIndexStatement: "statements/customersIndexStatement",
      currentCompany: "companies/getCurrentCompany"
    })
  },
  methods: {
    ...mapActions({
      fetchCustomerAgeAnalysis: "accountSales/fetchCustomerAnalysis",
      fetchCustomersIndexStatement: "statements/fetchCustomersIndexStatement"
    })
  },
  watch: {
    currentCompany(val) {
      if (val && !this.fetchedStatements) {
        this.fetchCustomersIndexStatement(this.currentCompany.uuid);
      }
    } 
  },
  mounted() {
    if (this.currentCompany && this.currentCompany.uuid) {
      this.fetchCustomersIndexStatement(this.currentCompany.uuid);
      this.fetchedStatements = true
    }
    this.fetchCustomerAgeAnalysis();
  }
};
</script>
<style>
.example {
  padding-left: 1.25rem;
  border-left: 2px solid #5e62e4;
  border-bottom: 0;
}
</style>
