<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        :class="type === 'dark' ? 'table-dark': ''"
        :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
        tbody-classes="list"
        :data="customerStatement"
      >
        <template slot="columns">
          <th>Date</th>
          <th>Customer</th>
          <th>Type</th>
          <th>Amount</th>
        </template>

        <template slot-scope="{row}">
          <td :style="{'border-left': rowColour(row.type) }">
            <router-link :to="`/order/${row['order_number']}`">
              <span :style="{'color': rowTextColour(row.type) }">{{row.date.substr(0,10)}}</span>
            </router-link>
          </td>
          <td>
            <router-link :to="`/order/${row['order_number']}`">
              <span :style="{'color': rowTextColour(row.type) }">{{row.customer}}</span>
            </router-link>
          </td>
          <td>
            <router-link :to="`/order/${row['order_number']}`">
              <span :style="{'color': rowTextColour(row.type)}">{{row.type | capitalize}}</span>
            </router-link>
          </td>
          <td>
            <router-link :to="`/order/${row['order_number']}`">
              <span :style="{'color': rowTextColour(row.type)}">
                <strong>{{row.gross_amount | currency}}</strong>
              </span>
            </router-link>
          </td>
        </template>
      </base-table>
    </div>
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <td>
          <h4>Balance</h4>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <h4>{{overallBalance | currency }}</h4>
        </td>
      </thead>
    </table>
    <modal :show="getPayGateModal" :size="'xl'">
      <paygate-modal v-if="getPayGateModal" :order="activeOrder"></paygate-modal>
    </modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "products-index-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      activeOrder: null,
      activeProduct: null,
      modals: {
        form: true
      }
    };
  },
  components: {
    "paygate-modal": () => import("@/views/Orders/views/PayGateModal")
  },
  computed: {
    overallBalance() {
      let total = 0;
      this.customerStatement.forEach(cs => (total += cs.gross_amount));
      return total;
    },
    ...mapGetters({
      getPayGateModal: "payGate/getPayGateModal",
      customerStatement: "accountSales/customerStatement"
    })
  },
  methods: {
    togglePaygate(order) {
      this.activeOrder = order;
      this.$store.commit("payGate/updateActiveOrder", order);
      this.togglePayGateModal();
    },
    goTodetail(order) {
      this.$router.push({
        name: "orderDetail",
        params: { id: order.order_number }
      });
    },
    rowColour(status) {
      switch (status.split(" ")[0]) {
        case "Payment":
          return "10px solid #5e62e4";
        case "Credit":
          return "10px solid #f5365c";
        case "Order":
          return "10px solid #00c781";
      }
    },
    rowTextColour(status) {
      switch (status.split(" ")[0]) {
        case "Payment":
          return "#5e62e4";
        case "Credit":
          return "#f5365c";
        case "Order":
          return "#00c781";
      }
    },
    openEditModal(item) {
      this.$router.push(`/edit_product/${item.uuid}`)
    },
    ...mapActions({
      togglePayGateModal: "modals/togglePayGateModal",
      fetchCustomerStatement: "accountSales/fetchCustomerStatement",
      togglePayGateModal: "modals/togglePayGateModal"
    })
  },
  created() {
    this.fetchCustomerStatement(this.$route.params.customer_id);
  }
};
</script>
<style lang="scss" scoped>
td {
  // cursor: pointer;
}
</style>
