<template>
  <div>
    <div class="card-header">
      <h2>New Category</h2>
    </div>
    <div class="text-center">
      <base-input v-model="tag" class="text-center" placeholder="Add New Tag"></base-input>
      <div class="row text-center" style="flex-direction: row;">
        <base-button type="danger" :disabled="tag == ''" @click="postNewTag" class="col-md-5">Create</base-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      tag: ""
    };
  },
  methods: {
    ...mapGetters({
      getNewTagModal: "modals/getNewTagModal"
    }),
    ...mapActions({
      toggleNewTagModal: "modals/toggleNewTagModal"
    }),
    postNewTag() {
      this.$store.dispatch("tags/postNewTag", this.tag).then((res) => {
        this.$emit('close')
      })
    },
    addTag() {
      this.$emit("new-tag", this.tag);
      this.tag = "";
    }
  }
};
</script>
<style lang="scss">
</style>
