<template>
  <div v-if="permissionsChecked">
    <div class="page-header ml-4">
      <h3 class="mb-0 mt-4 mb-4">Credit Limits</h3>
    </div>
    <credit-limit-table></credit-limit-table>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
        permissionsChecked: false,
        limitsReceived: false
      }
    },
    computed: {
      ...mapGetters({
        permissions: "user/userPermissions",
      })
    },
    mounted () {
      if (this.permissions.credit_limit_settings.can_view_credit_limits) {
        this.permissionsChecked = true
      } else {
        this.$router.push('/')
        this.$notify({
          message: 'Oops. You do not have permission to view page',
          type: 'danger'
        })
      }
    },
    components: {
      'credit-limit-table': () => import('../components/tables/CreditLimitIndexTable')
    }
  }
</script>

<style lang="scss" scoped>
</style>