<template>
        <base-table
          class="table align-items-center table-flush"
          tbody-classes="list"
          :data="rowData"
        >
          <template class="mt-8" slot-scope="{row}">
            <td v-for="(row, i) in rowData" :key="i" class="loading-animation mt-2">
              <div class="loading-animation badge-dot mr-4">
              </div>
            </td>
          </template>
          <template>
          </template>
        </base-table>
</template>

<script>
  export default {
    props: ['rowCount','columnCount'],
    data () {
      return {
        tableData: [1,2,3,4,5,6]
      }
    },
    computed: {
      rowData () {
        return new Array(this.rowCount)
      }
    }
  }
</script>

<style lang="scss" scoped>
$link: #3b97ff;
$border: #efefef;
$table-cell-height: 30px;
@keyframes placeHolderShimmer {

  0% {
    background: #ececec;
  }
  
  30% {
    background: #F7F7F7;
  }
 
  50% {
    background: #ececec;
  }
  
  80% {
    background: #F7F7F7;
  }
  
  100% {
    background: #ececec;
  }
}

.loading-animation {
  animation: placeHolderShimmer 3s infinite;
  padding: 5px 0 25px;
}

td {
  margin-top: 5%;
  height: 50%;
  border: 10px solid white !important;
}


.mask {
  background: #fff;
  position: absolute;
  height: 10px;
}

.u-pd-y--md {
  
}

.u-pd--xs {
  padding: 5px;
}

.u-pd--sm {
  padding: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  padding: 0;
}

.u-mg--xs {
  margin: 5px;
}

.u-mg--sm {
  margin: 5px;
}

.u-mg--md {
  margin: 15px;
}

.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.u-flex__cell {
  flex: 1;
}

.icon-container {
  border-left: 1px solid $border;
}

.u-hide-small--flex {
  display: none;
}

@media only screen and (min-width : 768px) {
  .u-hide-small--flex {
    display: inline-block;
  }
}

.u-show-large-only--flex {
  display: none;
}

@media only screen and (min-width : 960px) {
  .u-show-large-only--flex {
    display: inline-block;
  }
}
</style>