<template>
  <div>
      <div v-if="display">
        <div class="col-md-12">
          <base-input v-model="updatedCreditLimit.credit_limit" @keydown="validate" class="text-center" placeholder="Credit Balance"></base-input>
        </div>
      </div>

    <base-button type="success" @click="submitUpdatedCreditLimit">Save</base-button>
    <base-button type="danger" @click="toggleEditCredlitLimit">Close</base-button>
  </div>
</template>

<script>

import { Select, Option } from "element-ui";
import { mapGetters } from 'vuex'
  export default {
    props: {
      creditLimit: {
        type: Object,
        default: () => {},
        required: true
      }
    },
    data() {
      return {
        company: null,
        display: false,
        updatedCreditLimit: {}
      }
    },
    components: {
      "el-select": Select,
      "el-option": Option
    },
    methods: {
      validate (evt) {
        this.$options.filters.isNumber(evt)
        this.$options.filters.isBetween(0, 1000000000, evt)
      },
      toggleEditCredlitLimit () {
        this.$store.commit("modals/toggleEditCreditLimit")
      },
      submitUpdatedCreditLimit () {
        this.$store.dispatch("creditLimits/updateCreditLimit",  this.updatedCreditLimit).then((res) => {
          if(res) {
            this.toggleEditCredlitLimit()
            this.notify(`Credit limit successfully updated.`, 'success')
          } else {
            this.notify(`Something went wrong. Please try again or contact support if the problem persists.`, 'danger')
          }
        })
      },
      notify (msg, type) {
        this.$notify({
          message: msg,
          timeout: 8000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    },
    computed: {
      ...mapGetters({
        availableCompanies: "creditLimits/avaialbleCompanies"
      })
    },
    mounted () {
      this.updatedCreditLimit = this.creditLimit
      this.$store.dispatch("creditLimits/fetchCreditLimitAvailableCompanies", this.creditLimit.supplier_id)
      .then((res) => {
        if (res) {
          this.display = true
        } else {
          this.toggleNewCredlitLimit
          this.notify(`Something went wrong. Please try again or contact support if the problem persists.`, 'danger')
        }
      })
    }
    
  }
</script>

<style lang="scss" scoped>

</style>