<template>
  <div>
      <div v-if="display">
          <base-input class="mt-2 col-md-12 text-center" label="Select Companies">
          <el-select
            class="select-danger col-md-12"
            placeholder="Select Company"
            v-model="creditLimit.customer_id"
          >
            <el-option
              v-for="option in availableCompanies"
              class="select-primary"
              :value="option.id"
              :label="option.title"
              :key="option.title"
            ></el-option>
          </el-select>
        </base-input>
        <div class="col-md-12">
          <base-input v-model="creditLimit.credit_limit" @keydown="validate" class="text-center" placeholder="Description"></base-input>
        </div>
      </div>

    <base-button type="success" @click="submitNewCreditLimit">Add</base-button>
    <base-button type="danger" @click="toggleNewCredlitLimit">Close</base-button>
  </div>
</template>

<script>

import { Select, Option } from "element-ui";
import { mapGetters } from 'vuex'
  export default {
    props: {
      currentCompany: {
        type: Object,
        default: () => {},
        required: true
      }
    },
    data() {
      return {
        company: null,
        display: false,
        creditLimit: {
          supplier_id: null,
          customer_id: null,
          credit_limit: 10000,
        }
      }
    },
    components: {
      "el-select": Select,
      "el-option": Option
    },
    methods: {
      validate (evt) {
        this.$options.filters.isNumber(evt)
        this.$options.filters.isBetween(0, 1000000000, evt)
      },
      toggleNewCredlitLimit () {
        this.$store.commit("modals/toggleDisplayNewCreditLimit")
      },
      submitNewCreditLimit () {
        this.creditLimit.supplier_id = this.currentCompany.id
        this.$store.dispatch("creditLimits/newCreditLimit",  this.creditLimit).then((res) => {
          if(res) {
            this.toggleNewCredlitLimit()
            this.notify(`Credit limit successfully added.`, 'success')
          } else {
            this.notify(`Something went wrong. Please try again or contact support if the problem persists.`, 'danger')
          }
        })
      },
      notify (msg, type) {
        this.$notify({
          message: msg,
          timeout: 8000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
    },
    computed: {
      ...mapGetters({
        availableCompanies: "creditLimits/avaialbleCompanies"
      })
    },
    mounted () {
      this.$store.dispatch("creditLimits/fetchCreditLimitAvailableCompanies", this.currentCompany.id)
      .then((res) => {
        if (res) {
          this.display = true
        } else {
          this.toggleNewCredlitLimit
          this.notify(`Something went wrong. Please try again or contact support if the problem persists.`, 'danger')
        }
      })
    }
    
  }
</script>

<style lang="scss" scoped>

</style>