<template>
  <div class="supplier-details-modal">
    <card
      type="secondary"
      header-classes="bg-transparent pb-5"
      class="border-0 mb-0"
    >
      <h5 class="card-title">{{company.title}}</h5>
      <div class="row">
        <div class="col-auto">
          <div class="avatar avatar-xl rounded-circle">
            <img alt="Company image" :src="company.image">
          </div>
        </div>

        <div class="col">
          <p class="bio font-weight-bold mb-2">Bio</p>
          <p class="card-text">{{company.description}}</p>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <label class="mb-0">Street Address</label>
          <p class="card-text">{{company.first_address.address_one ? company.first_address.address_one : 'Not supplied'}}</p>

          <label class="mb-0">City</label>
          <p class="card-text">{{company.first_address.city ? company.first_address.city : 'Not supplied'}}</p>
        </div>

        <div class="col">
          <label class="mb-0">Suburb</label>
          <p class="card-text">{{company.first_address.suburb ? company.first_address.suburb : 'Not supplied'}}</p>

          <label class="mb-0">Postal Code</label>
          <p class="card-text">{{company.first_address.postal_code ? company.first_address.postal_code : 'Not supplied'}}</p>
        </div>

        <div class="col">
          <label class="mb-0">Contact number</label>
          <p class="card-text">{{company.contact ? company.contact : 'Not supplied'}}</p>

          <label>Website</label>
          <p><a :href="company.website" class="card-text">{{company.website ? company.website.replace(/^https?\:\/\//i, '') : 'Not supplied'}}</a></p>
        </div>
      </div>

      <div class="row justify-content-end">
        <base-button type="primary" @click="closeModal" class="mt-4 mr-3">Close</base-button>
      </div>
    </card>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  export default {
    props: ["company"],

    methods: {
      ...mapActions({
        toggleSupplierDetailsModal: "modals/toggleSupplierDetailsModal"
      }),
      closeModal() {
        this.toggleSupplierDetailsModal();
      }
    }
  }
</script>

<style lang="scss">
  .supplier-details-modal .card-body {
    padding: 2rem;
  }
  .supplier-details-modal .card-title {
    font-size: 1rem;
  }
  .supplier-details-modal .bio {
    color: #32325d;
    font-size: 0.875rem;
  }
  .supplier-details-modal label {
    color: #525f7f;
    font-size: 0.875rem;
    font-weight: 600;
  }
</style>