<template>
  <div class="ml-3 mr-3">
    <ul class="list-group list-group-flush list mt-1">
      <li class="list-group-item px-0">
        <div class="row align-items-center">
            <div class="col-md-2">
                <h4 class="mb-0"></h4>
            </div>
            <div class="col-md-4 mb--3 mt--3">
              <h4 class="mb-0">Quantity</h4>
            </div>
            <div class="col-md-4 mb--3 mt--3">
                <h4 class="mb-0">Product</h4>
            </div>
            <div class="col-md-2 mb--3 mt--3">
                <h4 class="mb-0">Total</h4>
            </div>
        </div>
      </li>
    </ul>
    <div class="dropdown-divider"></div>
    <ul :class="$route.name !== 'checkout' ? 'mini-cart' : ''" class="list-group list-group-flush list list-group mt-4">
      <li v-for="(item, index) in cartProducts" :key="index" class="list-group-item mt-2">
        <div class="row align-items-center">
            <div class="col-md-2 mt--4">
              <i class="fa fa-trash mt-3 text-gray" @click="deleteProduct(item)"></i>
            </div>
            <div class="col-md-4">
                <el-input-number 
                  class="col-6 col-sm-6 p-0 mb-2" 
                  style="min-width: 80%"
                  :id="`input-number-${item.id}`"
                  :key="base + item.id"
                  :value="item.quantity"
                  @focus="backup(item)"
                  :precision="2"
                  :step="1"
                  @change="updateVal(item, $event)"
                  :max="item.avaiableStock"
                  :min="0"
              ></el-input-number>
            </div>
            <div class="col-md-4">
              <h5>
                {{item.title}}
                <div class="disbaled">Unit Price: {{item.price | currency}}</div>
              </h5>
            </div>
            <div class="col-md-2">
              <h5>{{ parseFloat(item.price) * parseFloat(item.quantity) | currency }}</h5>
            </div>
        </div>
      </li>
    </ul>
    <div class="dropdown-divider"></div>
    <ul class="list-group mt-4">
      <li class="d-flex h5 mt--2 ml-2 mr-2 justify-content-between align-items-center">
        Vat Total
        <h5><strong>{{ vatTotal | currency}}</strong></h5>
      </li>
      <li class="d-flex h5 mt--2 mt--3 ml-2 mr-2 justify-content-between align-items-center">
        Sub Total
        <h5><strong>{{ (cartTotal || 0) | currency}}</strong></h5>
      </li>
      <li v-if="displayActiveSupplierBalance >= 0" class="d-flex mt--2 h5 ml-2 mr-2 justify-content-between align-items-center">
        Available Credit
       <h5><strong> {{ displayActiveSupplierBalance * -1 | currency}}</strong></h5>
      </li>
      <li  v-if="route.name === 'checkout'" class="d-flex mt--2 h5 ml-2 mr-2 justify-content-between align-items-center">
        Estimated Delivery Fee
        <h5><strong>{{ parseFloat(getDeliveryFee) | currency}}</strong></h5>
      </li>
      <li v-if="route.name != 'checkout'" class="d-flex mt--2 h5 ml-2 mr-2 justify-content-between align-items-center">
        Total
        <h5><strong>{{ displayCartTotal | currency}}</strong></h5>
      </li>
    </ul>
    <div class="row align-items-center mt-2">
      <div class="col-md-12">
        <div v-if="route.name !== 'checkout'">
          <base-alert
            type="secondary"
            class="text-red text-center"
            v-if="displayCartTotal < this.minimumOrderValue.minimum_order_value"
          >
            <strong>
              <i class="fas fa-exclamation-circle"></i>
              {{this.minimumOrderValue.title}}'s minimum order value is R{{parseInt(this.minimumOrderValue.minimum_order_value)}}. 
              <br> The order can still be placed but may not be accepted by the supplier.
            </strong>
          </base-alert>
          <router-link class="text-default" :to="{ name: 'checkout'}">
            <base-button
              style="width: 100%; height: 50px !important"
              type="primary btn pull-right btn-sm"
            >Checkout</base-button>
          </router-link>
        </div>
        <div v-else>
          <base-alert 
            type="secondary"
            v-if="displayCartTotal < this.minimumOrderValue.minimum_order_value"
            style="width: 100%; padding: 4px"
            >
            <h4 class="text-red text-center">
              <strong>
                <i class="fas fa-exclamation-circle"></i>
                {{this.minimumOrderValue.title}}'s minimum order value is R{{parseInt(this.minimumOrderValue.minimum_order_value)}}.
                <br> The order can still be placed but may not be accepted by the supplier.
              </strong>
            </h4>
          </base-alert>
          <base-button
            :disabled="!cartProducts.length || getDeliveryDate.length !== 10"
            :loading="onAccountLoading"
            style="width: 100%; height: 50px !important"
            @click="checkout()"
            type="primary btn pull-right btn-sm"
            class="mb-4"
          >Checkout</base-button>
        </div>
      </div>
    </div>
    <notifications message="Unavailable Stock" v-if="unavailableStock"></notifications>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
import {InputNumber} from 'element-ui'
export default {
  name: "cart-table",
  data() {
    return {
      payNowLoading: false,
      onAccountLoading: false,
      product_variant_id: null,
      product_id: null,
      availableStock: null,
      track_stock: null,
      base: 0,
      unavailableStock: false,
      product_variant_price: 0,
      oldValue: 0,
      backupVal: 0
    };
  },
  components: {
    notifications: () =>
      import("../../../../components/NotificationPlugin/Notification"),
    "payment-options": () => import("../modals/PaymentOptions"),
    "paygate-modal": () => import("../../../Orders/views/PayGateModal"),
    [InputNumber.name]: InputNumber
  },
  methods: {
    backup (v) {
      this.backupVal = v
    },
    showSwal(tag) {
      swal({
        title: "Please confirm your order",
        text: "You will be notified once your order has been accepted",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#5e62e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.onAccount();
      });
    },
    checkout() {
      if (this.getCompanyAddresses.length <= 0) {
        swal({
          title: "You need to create an address in order to complete this order.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e62e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Add New Address"
        }).then(result => {
          this.$store.commit("modals/toggleNewAddressModal")
        });
      } else {
        this.showSwal()
      }
    },

    quantitySuccessfulUpdate(type = "default") {
      this.$notify({
        message: "Item quantity has been successfully updated",
        timeout: 2500,
        icon: "ni ni-like-2",
        type
      });
    },
    quantityFailureUpdate(type = "default", quantity) {
      this.$notify({
        message: `The quantity selected could not be fullfilled. The available stock is ${quantity} `,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type
      });
    },
    zeroQuantitypdate(type = "default") {
      this.$notify({
        message: `Whoops, quantity cannot be zero.`,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type
      });
    },
    deleteProduct(item) {
      this.$store.dispatch("cart/deleteProductFromCart", item.id);
      this.$store.dispatch("products/resetQuantity", {
        product_variant_id: item.id,
        product_id: item.product_id
      });
    },
    onAccount() {
      this.onAccountLoading = true
      this.$store.dispatch("cart/checkoutCart")
      .then((res) => {
        if (res.status == 201) {
          this.$router.push({ path: '/purchase_orders'})
          this.onAccountLoading = false
          this.$store.dispatch('mixpanel/mixpanelTrack', {track: 'new_order', obj: {
            distinct_id: this.currentUser.uuid,
            'email': this.currentUser.user_email,
            'company_id': this.currentCompany.id,
            'company_name': this.currentCompany.title,
            'supplier_id': this.activeSupplier,
            'supplier_title': res.data.supplier.title,
            'order_id': res.data.order_uuid,
            'gross_amount': res.data.gross_amount,
            '$referring_domain': window.location.origin
          }})
        }
        else {
          this.onAccountLoading = false
          this.$notify({
            message: "Order could not be complete",
            timeout: 2000,
            icon: "ni ni-like-2",
            type: "danger"
          });
        }
      })
    },

    setId(product) {
      this.available_stock = product.available_stock;
      this.product_id = product.product_id;
      this.track_stock = product.track_stock;
      this.product_variant_id = product.id;
      this.product_variant_price = product.price;
    },

    updateVal(item, value) {
      if (value === item.quantity || value > item.quantity) {
        let element = document.getElementById(`input-number-${item.id}`).children[2].children[0]
        element.value = item.available_stock
        element.setAttribute("aria-valuenow", `${item.available_stock}`);
        this.base += 1
      }
      if (value === '' || value === undefined || value === 0) {
        setTimeout(() => {
          let element = document.getElementById(`input-number-${this.backupVal.id}`).children[2].children[0]
          element.value = this.backupVal.quantity
          element.setAttribute("aria-valuenow", `${this.backupVal.quantity}`);
          this.base += 1
          this.zeroQuantitypdate('danger')
        }, 10)
        return
      }

      let totalItemCost = (parseFloat(value) * item.price)
      let cartBalance = this.cartBalance - (item.quantity * item.price)

      if ((totalItemCost + cartBalance + this.accountBalance > this.accountLimit)) {
        swal({
          title: `Insufficient balance, please note your available your balance is ${this.$options.filters.currency(this.availableBalance)}`,
          html: '<h4 style="color:#595959">Please pay your account to increase your availible balance or contact your supplier to increase your credit limit.</h4>',
          type: "warning",
          showConfirmButton: false,
          showCancelButton: true,
          cancelButtonColor: "#aaaaaa",
          cancelButtonText: 'Take me back'
        }).then(result => {
          let element = document.getElementById(`input-number-${this.backupVal.id}`).children[2].children[0]
          element.value = this.backupVal.quantity
          element.setAttribute("aria-valuenow", `${this.backupVal.quantity}`);
          this.base += 1
        });
      } else {
        let props = {
          avaiableStock: item.available_stock,
          track_stock: item.track_stock,
          quantity: parseFloat(value),
          product_variant_id: item.id,
          product_id: item.product_id
        };
        clearTimeout(this.timeoutFunction);
        if (parseFloat(value) !== undefined || parseFloat(value) !== null) {
          this.runUpdateVal(props);
        }
      }
    },

    runUpdateVal(props) {
      let store = this.$store;
      let failureUpdate = this.quantityFailureUpdate;
      let successfulUpdate = this.quantitySuccessfulUpdate;
      this.timeoutFunction = setTimeout(function() {
        if (
          (props.avaiableStock >= props.quantity && props.quantity > 0) ||
          !props.track_stock
        ) {
          store.dispatch("products/updateQuantityFromCart", props);
          store.dispatch("cart/changeCartProductQuantity", props);
        } else {
          this.base += 1
          failureUpdate("danger", props.avaiableStock);
        }
      }, 400);
    },
    ...mapActions({
      checkoutCart: "cart/checkoutCart",
      // togglePaymentOptionModal: "modals/togglePaymentOptionModal"
    }),
  },
  computed: {
    supplierBalace () {
      return  this.activeSupplierBalance || 0
    },
    cartBalance () {
      return this.$route.name == 'checkout' ? this.cartTotal + this.getDeliveryFee : this.cartTotal
    },
    displayCartTotal () {
      return this.cartBalance - this.activeSupplierBalance < 0 ? 0 : this.cartBalance - this.activeSupplierBalance
    },
    displayActiveSupplierBalance () {
      if (this.cartTotal < this.activeSupplierBalance ) {
        return this.cartTotal || 0
      } else {
        return this.activeSupplierBalance || 0
      }
    },
    ...mapGetters({
      getDeliveryDate: "cart/getDeliveryDate",
      getDeliveryFee: "cart/getDeliveryFee",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      availableBalance: "creditLimits/availableBalance",
      cartProducts: "cart/cartProducts",
      activeOrder: "orders/activeOrder",
      cartTotal: "cart/cartTotal",
      vatTotal: "cart/vatTotal",
      activeSupplierBalance: "companies/getActiveSupplierBalance",
      getCompanyAddresses: "companies/getCompanyAddresses",
      currentSupplier: "companies/currentSupplier",
      minimumOrderValue: "cart/getMinimumOrderValue",
    }),
    route() {
      return this.$route;
    }
  },
  watch: {
    cartProducts(newValue, oldValue) {
      this.$store.dispatch('companies/fetchActiveSupplierBalance')
    }

    
  },
  mounted () {
    this.$store.dispatch('companies/fetchActiveSupplierBalance' )
  },
};
</script>
<style>
.mini-cart {
  max-height: 350px;
  overflow: scroll;
}

.dropdown-menu:hover {
  cursor: pointer;
}
.fa.fa-trash:hover {
  color: #f5365c;
}
.cart-content-table {
  max-height:500px;
  overflow: auto;
}
.cart-total {
  font-size: 13px;
  color: #32325d;
  font-weight: bold;
}
/* .el-input__inner {
  border: none;
  font-weight: 600;
}
.el-input-number__decrease.is-disabled{
  color: black;
  font-weight: 1500;
  background:#f5f7fa;
  border: none;
}
.el-input-number__decrease{
  color: black;
  font-weight: 1500;
  background:#ffffff;
  border: none;
}
.el-input-number__increase.is-disabled{
  color: black;
  font-weight: 900;
  background:#f5f7fa ;
  border: none;
}
.el-input-number__increase{
  color: black;
  font-weight: 900;
  background:#ffffff;
  border: none;
}
.el-icon-minus{
  font-weight: 900;
  color: black;
}
.el-icon-plus{
  font-weight: 900;
  color: black;
} */
</style>

