<template>
  <div>
    <div v-if="$route.name != 'checkout'" class="modal-headers row">
      <h2 class="col-10 col-sm-10 mt-2 mb-0"> Your Cart</h2>
      <base-button @click="openMobileCart()" type="danger" class="btn-sm col-1 col-sm-1 mt-2 mb-1 mr-2" borderless>X</base-button>
    </div>
    <div class="dropdown-divider"></div>
    <ul :class="$route.name !== 'checkout'" class="list-group list-group-flush list list-group mt-0 cart-items-list" :style="{'min-height': cartItemsListHeight,'max-height': cartItemsListHeight}">
      <li v-for="(item, index) in cartProducts" :key="index" class="list-group-item mt-2 mr-0 ml-0">
        <div class="row">
            <div class="col-12 col-sm-12">
              <h5 class="mb-0">
                {{item.title}}
              </h5>
                <small class="disbaled">Unit Price: {{item.price | currency}} </small>
            </div>
            <div class="row col-12 col-sm-12 mt-2">
              <i class="fa fa-trash mb-0 ml-0 col-1 col-sm-1" style="max-height: 16px; padding-top: 10px; padding-left: 0px" @click="deleteProduct(item)"></i>
              <!-- TO DO fix -->
              <el-input-number 
                  class="col-6 col-sm-6 p-0"
                  :id="`input-number-${item.id}`"
                  :key="base + item.id"
                  style="" :value="item.quantity"
                   @focus="backup(item)"
                  @change="updateVal(item, $event)"
                  :max="item.avaiableStock"
                  :precision="2"
                  :step="1"
                  :min="0"
              ></el-input-number>
              <h4 class="col-4 col-sm-4 mt-2">{{ parseFloat(item.price) * parseFloat(item.quantity) | currency }} </h4>
                <!-- <base-input
                  :value="item.quantity"
                  type="text"
                  @change="updateVal"
                  @click="setId(item)"
                  @focus="setId(item)"
                  id="example-state-input"
                  style="width:70%; text-align:center"
                ></base-input> -->
            </div>
        </div>
      </li>
    </ul>
    <div class="dropdown-divider"></div>
    <ul class="list-group mt-0
    ">
      <li class="d-flex h3 ml-2 mr-2 mt-0 mb-0 justify-content-between align-items-center">
        <small><strong>Vat Total</strong></small>
        <small><strong>{{ vatTotal | currency}}</strong></small>
      </li>
      <li class="d-flex h3 ml-2 mr-2 mt-0 mb-0 justify-content-between align-items-center">
        <small><strong>Sub Total</strong></small>
        <small><strong>{{ (cartTotal || 0) | currency}}</strong></small>
      </li>
      <li v-if="displayActiveSupplierBalance >= 0" class="d-flex h3 ml-2 mr-2 mt-0 mb-0 justify-content-between align-items-center">
        <small><strong>Available Credit</strong></small>
       <small><strong>{{ displayActiveSupplierBalance * -1 | currency}}</strong></small>
      </li>
      <li  v-if="route.name === 'checkout'" class="d-flex h3 ml-2 mr-2 mt-0 mb-0 justify-content-between align-items-center">
        <small><strong>Estimated Delivery Fee</strong></small>
        <small><strong>{{ parseFloat(getDeliveryFee) || 0.0 | currency}}</strong></small>
      </li>
      <li class="d-flex h3 ml-2 mr-2 mt-0 mb-0 justify-content-between align-items-center">
        <small><strong>Total</strong></small>
        <small><strong>{{ displayCartTotal | currency}}</strong></small>
      </li>
      <li  class="d-flex h3 ml-2 mr-2 justify-content-between align-items-center">
      </li>
    </ul>

    <div class="row align-items-center mt-2">
      <div class="col-md-12">
        <div v-if="route.name != 'checkout'">
            <base-alert
              type="secondary"
              class="text-red text-center"
              v-if="displayCartTotal < this.minimumOrderValue.minimum_order_value"
            >
              <strong>
                <i class="fas fa-exclamation-circle"></i>
                {{this.minimumOrderValue.title}}'s minimum order value is R{{parseInt(this.minimumOrderValue.minimum_order_value)}}. 
                <br> The order can still be placed but may not be accepted by the supplier.
              </strong>
            </base-alert>
            <base-button
              style="width: 100%; height: 50px !important"
              type="primary btn pull-right btn-sm"
              @click="goToCheckout()"
            >Checkout
            </base-button>
        </div>
        <div v-else>
          <base-alert
            type="secondary"
            class="text-red text-center"
            v-if="displayCartTotal < this.minimumOrderValue.minimum_order_value"
          >
            <strong>
              <i class="fas fa-exclamation-circle"></i>
              {{this.minimumOrderValue.title}}'s minimum order value is R{{parseInt(this.minimumOrderValue.minimum_order_value)}}. 
              <br> The order can still be placed but may not be accepted by the supplier.
            </strong>
          </base-alert>
          <base-button
            :disabled="!cartProducts.length"
            :loading="onAccountLoading"
            style="width: 95%; height: 50px !important"
            @click="checkout()"
            type="primary btn pull-right btn-sm"
            class="mb-2 mr-2 ml-2"
          >Checkout</base-button>
        </div>
      </div>
    </div>
    <notifications message="Unavailable Stock" v-if="unavailableStock"></notifications>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert2";
import {InputNumber} from 'element-ui'
export default {
  name: "cart-table",
  data() {
    return {
      payNowLoading: false,
      onAccountLoading: false,
      product_variant_id: null,
      product_id: null,
      availableStock: null,
      track_stock: null,
      unavailableStock: false,
      product_variant_price: 0,
      backupVal: 0,
      base: 0
    };
  },
  components: {
    'quick-select-input': () => import('../../../Suppliers/components/widget/QuickSelectInput'),
    notifications: () =>
      import("../../../../components/NotificationPlugin/Notification"),
    "payment-options": () => import("../modals/PaymentOptions"),
    "paygate-modal": () => import("../../../Orders/views/PayGateModal"),
    [InputNumber.name]: InputNumber
  },
  methods: {
    showSwal(tag) {
      swal({
        title: "Please confirm your order",
        text: "You will be notified once your order has been accepted",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#5e72e4",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) this.onAccount();
      });
    },
    openMobileCart () {
      this.$store.commit("modals/toggleDisplayMobileCart")
    },

    checkout() {
      if (this.getCompanyAddresses.length <= 0) {
        swal({
          title: "You need to create an address in order to complete this order.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#5e72e4",
          cancelButtonColor: "#d33",
          confirmButtonText: "Add New Address"
        }).then(result => {
          this.$store.commit("modals/toggleNewAddressModal")
        });
      } else {
        this.showSwal()
      }
    },
    goToCheckout () {
      this.openMobileCart()
      this.$router.push({path:"/checkout"})
    },

    zeroQuantitypdate(type = "default") {
      this.$notify({
        message: `Whoops, quantity cannot be zero.`,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type
      });
    },

    quantitySuccessfulUpdate(type = "default") {
      this.$notify({
        message: "Item quantity has been successfully updated",
        timeout: 2500,
        icon: "ni ni-like-2",
        type
      });
    },
    quantityFailureUpdate(type = "default", quantity) {
      this.$notify({
        message: `The quantity selected could not be fullfilled. The available stock is ${quantity} `,
        timeout: 3000,
        icon: "ni ni-fat-remove",
        type
      });
    },
    deleteProduct(item) {
      this.$store.dispatch("cart/deleteProductFromCart", item.id);
      this.$store.dispatch("products/resetQuantity", {
        product_variant_id: item.id,
        product_id: item.product_id
      });
    },
    onAccount() {
      this.onAccountLoading = true
      this.$store.dispatch("cart/checkoutCart")
      .then((res) => {
        if (res.status == 201) {
          this.$router.push({ path: '/purchase_orders'})
          this.onAccountLoading = false
          this.$store.dispatch('mixpanel/mixpanelTrack', {track: 'new_order', obj: {
            distinct_id: this.currentUser.uuid,
            'email': this.currentUser.user_email,
            'company_id': this.currentCompany.id,
            'company_name': this.currentCompany.title,
            'supplier_id': this.activeSupplier,
            'supplier_title': res.data.supplier.title,
            'order_id': res.data.order_uuid,
            'gross_amount': res.data.gross_amount,
            '$referring_domain': window.location.origin
          }})
        }
        else {
          this.onAccountLoading = false
          this.$notify({
            message: "Order could not be complete",
            timeout: 2000,
            icon: "ni ni-like-2",
            type: "danger"
          });
        }
      })
    },

    setId(product) {
      this.available_stock = product.available_stock;
      this.product_id = product.product_id;
      this.track_stock = product.track_stock;
      this.product_variant_id = product.id;
      this.product_variant_price = product.price;
    },

    backup (v) {
      this.backupVal = v
    },

     updateVal(item, value) {
      if (value === '' || value === undefined || value === 0) {
        setTimeout(() => {
          let element = document.getElementById(`input-number-${this.backupVal.id}`).children[2].children[0]
          element.value = this.backupVal.quantity
          element.setAttribute("aria-valuenow", `${this.backupVal.quantity}`);
          this.base += 1
          this.zeroQuantitypdate('danger')
        }, 10)
        return
      }

      let totalItemCost = parseFloat(value) * item.price
      let cartBalance = this.cartBalance
      if ((totalItemCost + cartBalance + this.accountBalance > this.accountLimit)) {
        swal({
          title: `Insufficient balance, please note your available your balance is ${this.$options.filters.currency(this.availableBalance)}`,
          html: '<h4 style="color:#595959">Please pay your account to increase your availible balance or contact your supplier to increase your credit limit.</h4>',
          type: "warning",
          showConfirmButton: false,
          showCancelButton: true,
          cancelButtonColor: "#aaaaaa",
          cancelButtonText: 'Take me back'
        }).then(result => {
          let element = document.getElementById(`input-number-${this.backupVal.id}`).children[2].children[0]
          element.value = this.backupVal.quantity
          element.setAttribute("aria-valuenow", `${this.backupVal.quantity}`);
          this.base += 1
        });
      } else {
        let props = {
          avaiableStock: item.available_stock,
          track_stock: item.track_stock,
          quantity: parseFloat(value),
          product_variant_id: item.id,
          product_id: this.product_id
        };
        clearTimeout(this.timeoutFunction);
        if (parseFloat(value) !== undefined || parseFloat(value) !== null) {
          this.runUpdateVal(props);
        }
      }
    },

    runUpdateVal(props) {
      let store = this.$store;
      let failureUpdate = this.quantityFailureUpdate;
      let successfulUpdate = this.quantitySuccessfulUpdate;
      this.timeoutFunction = setTimeout(function() {
        if (
          (props.avaiableStock >= props.quantity && props.quantity > 0) ||
          !props.track_stock
        ) {
          store.dispatch("products/updateQuantityFromCart", props);
          store.dispatch("cart/changeCartProductQuantity", props);
        } else {
          failureUpdate("danger", props.avaiableStock);
        }
      }, 400);
    },
    ...mapActions({
      checkoutCart: "cart/checkoutCart",
      // togglePaymentOptionModal: "modals/togglePaymentOptionModal"
    })
  },
  computed: {
    cartItemsListHeight () {
      if (this.$route.name === "checkout") return ''
      return `${window.innerHeight*0.85-250}px`
    },
    supplierBalace () {
      return  this.activeSupplierBalance || 0
    },
    cartBalance () {
      return this.$route.name == 'checkout' ? this.cartTotal + this.getDeliveryFee : this.cartTotal
    },
    displayCartTotal () {
      return this.cartBalance - this.activeSupplierBalance < 0 ? 0 : this.cartBalance - this.activeSupplierBalance
    },
    displayActiveSupplierBalance () {
      if (this.cartTotal < this.activeSupplierBalance ) {
        return this.cartTotal || 0
      } else {
        return this.activeSupplierBalance || 0
      }
    },
    ...mapGetters({
      getDeliveryFee: "cart/getDeliveryFee",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      accountBalance: "creditLimits/accountBalance",
      accountLimit: "creditLimits/accountLimit",
      availableBalance: "creditLimits/availableBalance",
      cartProducts: "cart/cartProducts",
      activeOrder: "orders/activeOrder",
      cartTotal: "cart/cartTotal",
      vatTotal: "cart/vatTotal",
      activeSupplierBalance: "companies/getActiveSupplierBalance",
      getCompanyAddresses: "companies/getCompanyAddresses",
      currentSupplier: "companies/currentSupplier",
      minimumOrderValue: "cart/getMinimumOrderValue"
    }),
    route() {
      return this.$route;
    }
  },
  watch: {
    cartProducts() {
      this.$store.dispatch('companies/fetchActiveSupplierBalance' )
    }
  },
  mounted () {
    this.$store.dispatch('companies/fetchActiveSupplierBalance' )
  },
};
</script>
<style>
.dropdown-menu:hover {
  cursor: pointer;
}
.fa.fa-trash:hover {
  color: #f5365c;
}
/* .cart-content-table {
  max-height:500px;
  overflow: auto;
} */
.cart-total {
  font-size: 13px;
  color: #32325d;
  font-weight: bold;
}
.cart-items-list {
  overflow: scroll;
}
/* .el-input__inner {
  border: none;
  font-weight: 600;
  padding: 0px;
}
.el-input-number__decrease.is-disabled{
  color: black;
  font-weight: 1500;
  background:#f5f7fa;
  border: none;
}
.el-input-number__decrease{
  color: black;
  font-weight: 1500;
  background:#ffffff;
  border: none;
}
.el-input-number__increase.is-disabled{
  color: black;
  font-weight: 900;
  background:#f5f7fa ;
  border: none;
}
.el-input-number__increase{
  color: black;
  font-weight: 900;
  background:#ffffff;
  border: none;
}
.el-icon-minus{
  font-weight: 900;
  color: black;
}
.el-icon-plus{
  font-weight: 900;
  color: black;
} */
</style>


      // swal({
        //   title: "Are you sure?",
        //   text: "You won't be able to revert this!",
        //   type: "warning",
        //   showCancelButton: true,
        //   confirmButtonColor: "#5e72e4",
        //   cancelButtonColor: "#d33",
        //   confirmButtonText: "Yes"
        // }).then(result => {
        //   if (result.value) {
        //     return
        //   } else {
        //     this.quantity = oldVal
        //     this.key += 1
        //     return
        //   }
        // });
