<template>
  <div>
    <div class="container-fluid col-md-12">
      <div class="card-body">
        <div>
          <xero-contact-table v-if="provider.provider === 'xero'" :name="provider.provider"  :type="type" :account="provider.account" title="Light Table"></xero-contact-table>
          <sage-contact-table v-else :name="provider.provider"  :order-type="type" :account="provider.account" title="Light Table"></sage-contact-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["provider", "type"],
  components: {
    'xero-contact-table': () => import('../tables/XeroContactTable'),
    'sage-contact-table': () => import('../tables/SageContactTable')
  },
  data() {
    return {
    };
  },
  methods: {
    ...mapActions({
      toggleAccountingModal: "integrations/toggleAccountingModal"
    }),
  },
  computed: {
    ...mapGetters({
      getAccountingModal: "integrations/getAccountingModal",
    }),
  },
};
</script>

<style lang="scss" scoped>
</style>
