<template>
  <div>
    <div class="container-fluid col-md-12">
      <div class="card-body">
        <div class="text-center text-muted mb-4">
          <h2>Configuration</h2>
        </div>
        <div>
          <XeroConfigIndexTable v-if="provider === 'xero'" title="Light Table" />
        </div>
        <div class="text-center">
          <base-button @click="toggleIntegrationModal()" type="secondary" class="my-4">Close</base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { XeroConfigIndexTable } from "../../index";
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["provider"],
  components: {
    XeroConfigIndexTable,
  },
  data() {
    return {
      paymentError: false,
    };
  },
  methods: {
    ...mapActions({
      toggleIntegrationModal: "integrations/toggleIntegrationModal"
    }),
  },
  computed: {
    ...mapGetters({
      getIntegrationModal: "integrations/getIntegrationModal",
    }),
  },
  mounted() {

  },
};
</script>

<style lang="scss" scoped>
</style>