<template>
  <div>
    <div class="card-header">
      <h1>OptimoRoute</h1>
      <small>Please insert your API key as provided by OptimoRoute</small>
    </div>
    <div class="card-body">
      <form>
        <label for="api-key">API key</label>
        <base-input type="text" v-model="apiKey"></base-input>
        <base-button :disabled="!isValid" @click="$emit('submit', apiKey)">Save</base-button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ['optimo_key'],
  data() {
      return {
          apiKey: this.optimo_key || ''
      }
  },
  computed: {
      isValid() {
          return this.apiKey && this.apiKey.length >= 40 && this.apiKey.length <= 50
      }
  }
}
</script>

<style scoped>
</style>