<template>
  <div>
    <base-alert v-if="hasError" type="danger">
      <span class="alert-inner--text">Sage One authenticate failed. Please try again and ensure all fields are correct.</span>
      <button type="button" class="close" @click="closeError()" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </base-alert>
    <base-input label="Sage Email" v-model="email"></base-input>
    <base-input label="Sage Password" type="password" v-model="password"></base-input>
    <div class="text-center">
      <base-button :loading="isLoading" type="success" @click="validate">Login</base-button>
      <base-button type="danger" outline @click="close">Cancel</base-button>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        hasError: false,
        isLoading: false,
        email: '',
        password: ''
      }
    },
    methods: {
      closeError () {
        this.hasError = false
      },
      close () {
        this.$store.commit('sage/toggleSageIntegrationModal')
      },
      validate () {
        this.isLoading = true
        this.hasError = false
        this.$store.dispatch('sage/validateSage', {username: this.email, password: this.password}).then((res) => {
          if (res) {
            this.$store.dispatch('sage/getSageCompanies', this.secureDetails).then((res) => {
              if(res.status == 200) {
                this.$store.commit('sage/toggleSageIntegrationModal')
                this.$store.commit('sage/toggleSageCompanySelectModal')
              }
            })
          } else {
            this.isLoading = false
            this.hasError = true
          }
        })
      }
    },
    computed: {
      secureDetails () {
        return btoa(`${this.email}:${this.password}`)
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>