<template>
  <div>
    <div class="card shadow">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :thead-classes="'thead-light'"
          tbody-classes="list"
          :data="allConfigurations"
        >
          <template slot="columns">
            <th class="col-md-5">Name</th>
            <th class="col-md-5">Count</th>
          </template>

          <template slot-scope="{row}">
            <td>{{row.name}}</td>
            <td>{{row.count}}</td>            
          </template>
        </base-table>
      </div>
    </div>
    <div>
      <base-input label="Default Purchases Account" type="primary">
        <el-select filterable v-model="defaultPurchasesAccount">
          <el-option v-for="option in allAccounts" :key="option.Name" :label="option.Name" :value="option.ID">
            {{ option.Name }}
          </el-option>
        </el-select>
      </base-input>
    </div>
    <div>
      <base-input label="Default Sales Account" type="primary">
        <el-select filterable v-model="defaultSalesAccount">
          <el-option v-for="option in allAccounts" :key="option.Name" :label="option.Name" :value="option.ID">
            {{ option.Name }}
          </el-option>
        </el-select>
      </base-input>
    </div>

    <div class="text-center">
      <base-button @click="sync" class="ml-4" size="md" type="primary">Refresh</base-button>
      <base-button @click="saveDefaults" class="ml-4" size="md" type="success">Save Defaults</base-button>
      <base-button @click="close" class="ml-4" size="md" type="danger">Close</base-button>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Select, Option } from "element-ui";
export default {
  data() {
    return {
      defaultPurchasesAccount: null,
      defaultSalesAccount: null,
      purchaseAccounts: [],
      salesAccounts: [],
      defaultsSet: false
    };
  },
  components: {
    [Select.name]: Select,
    [Option.name]: Option
  },
  methods: {
    close () {
      this.$store.commit('sage/toggleSageConfigurationModal')
    },
    ...mapActions({
      fetchConfigurations: "sage/fetchConfigurations",
      syncConfigurations: "sage/syncConfigurations",
    }),
    sync(){
      this.$store.dispatch("sage/sync", this.currentCompany.uuid).then((res) => {
        if(res.data) {
          this.notify('success', 'Your Sage One account has been refreshed')
        }
      })
    },
    refreshXero(){
      this.$store.dispatch("sage/fetchConfigurations")
      this.$store.dispatch("sage/fetchAccounts")
    },
    saveDefaults(){
      let purchaseAccount = this.allAccounts.find(account => { return account.ID === this.defaultPurchasesAccount })
      let salesAccount = this.allAccounts.find(account => { return account.ID === this.defaultSalesAccount })

      let account = { 
        defaultPurchaseAccount: purchaseAccount,
        defaultSalesAccount: salesAccount
      }

      this.$store.dispatch('sage/saveDefaults', {account: account, uuid: this.currentCompany.uuid})
      .then((res) => {
        if(res.status == 200 || res.status == 201)
        this.notify('success', 'Your Sage default accounts have been successfully saved')
        this.$store.commit('sage/toggleSageConfigurationModal')
      })
      .catch(() => {
        this.notify('danger', 'Your Sage default accounts have not been saved. Please try again or contact support should the problem persist')
        this.$store.commit('sage/toggleSageConfigurationModal')
      })
    },
    notify (type, message) {
        this.$notify({
          message: message,
          timeout: 10000,
          icon: "ni ni-bell-55",
          type: type
        });
      }
  },
  computed: {
    ...mapGetters({
      allConfigurations: "sage/allConfigurations",
      allAccounts: "sage/allAccounts",
      currentCompany: "companies/getCurrentCompany",
      accountDefaults: "sage/accountDefaults"
    }),
  },
  watch: {
    accountDefaults () {
      if (!this.defaultsSet && this.accountDefaults !== null) {
        this.defaultPurchasesAccount = this.allAccounts.find(account => { return account.ID === this.accountDefaults.defaultPurchaseAccount.ID }).ID
        this.defaultSalesAccount =  this.allAccounts.find(account => { return account.ID === this.accountDefaults.defaultSalesAccount.ID }).ID
      }
    }
  },
  mounted () {
    if (this.accountDefaults !== {} && this.accountDefaults !== null) {
      this.defaultPurchasesAccount = this.allAccounts.find(account => { return account.ID === this.accountDefaults.defaultPurchaseAccount.ID }).ID
      this.defaultSalesAccount =  this.allAccounts.find(account => { return account.ID === this.accountDefaults.defaultSalesAccount.ID }).ID
      this.defaultsSet = true
    }
  },
  unmounted() {
    this.purchaseAccounts = []
    this.salesAccounts = []
    this.defaultSalesAccount = null
    this.defaultPurchaseAccount = null
  }
};
</script>

<style lang="scss" scoped>
</style>
