<template>
  <div>
    <base-input class="mt-2 text-left">
      <label class="col-md-2 col-form-label form-control-label">Select Sage Organisation</label>
      <el-select
        class="select-danger col-md-8 pl-2 pr-4"
        filterable
        v-model="companyId"
      >
        <el-option
          v-for="company in getSageCompanies"
          class="select-danger"
          :value="company.ID"
          :label="company.Name"
          :key="company.ID"
        ></el-option>
      </el-select>
    </base-input>
    <div class="text-center">
      <base-button :loading="isLoading" class="col-auto bt-lg" @click="submit()" type="success">Submit</base-button>
      <base-button class="col-auto bt-lg" @click="close()" type="danger">Cancel</base-button>
    </div>
  </div>
</template>

<script>
  import {Select, Option} from 'element-ui'
import { mapGetters } from 'vuex'
  export default {
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    data () {
      return {
        isLoading: false,
        companyId: null
      }
    },
    computed: {
      ...mapGetters({
        getSageCompanies: "sage/getSageCompanies",
        currentCompany: "companies/getCurrentCompany"
      })
    },
    methods: {
      close () {
        this.$store.commit('sage/toggleSageCompanySelectModal')
      },
      submit () {
        this.isLoading = true
        this.$store.dispatch("sage/saveSageCompanyIntegration", {companyId: this.companyId, currentCompany: this.currentCompany.id})
        .then((res) => {
          this.$store.commit('sage/toggleSageCompanySelectModal')
          this.$notify({
            message: 'Your account has been successfully linked',
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: 'success'
          })
          this.$store.dispatch("integrations/fetchIntegrationProviders");  
        })
        .catch(() => {
          this.isLoading = false
          this.$store.dispatch("integrations/fetchIntegrationProviders");  
          this.$store.commit('sage/toggleSageCompanySelectModal')
          this.$notify({
            message: 'Your account could not be linked. Please try again or contact support should the issue persist',
            timeout: 10000,
            icon: "ni ni-bell-55",
            type: 'danger'
          })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>