<template>
  <div id="app">
    <div v-if="renderPage === 'complete'">
      <notifications></notifications>
      <router-view />
    </div>
    <div v-if="renderPage == 'reset_password'">
      <reset-password></reset-password>
    </div>
    <div v-if="renderPage == 'register'">
      <register></register>
    </div>
    <div v-if="renderPage == 'supplier_register'">
      <supplier-register></supplier-register>
    </div>
    <div v-if="renderPage == 'restaurant_register'">
      <restaurant-register></restaurant-register>
    </div>
    <div v-if="renderPage == 'login_complete'">
      <select-company></select-company>
    </div>
    <div v-if="renderPage == 'incomplete'">
      <login-user></login-user>
    </div>
    <div v-if="renderPage === 'company_register'">
      <company-register></company-register>
    </div>
    <modal :show="isRefresh" :size="'sm'">
      <div class="text-center strong">
      <strong> It appears you have logged into another company. Please click refresh to sync your active company.</strong>
      </div>
      <br>
      <base-button @click="reload" type="danger" size="lg" class="mt-4 center-btn">Refresh</base-button>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { PulseLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import Pusher from "pusher-js";
import {getCookie} from '../src/constants/cookies'
import { debounce } from '@fullcalendar/core';
export default {
  components: {
    PulseLoader,
    "register": () => import("./views/Register/views/Register"),
    "login-user": () => import("./views/Register/views/Login"),
    "reset-password": () => import("./views/Register/views/ResetPassword"),
    "select-company": () => import("./views/Register/views/SelectCompany"),
    "supplier-register": () => import("./views/Register/views/SupplierRegister"),
    "restaurant-register": () => import("./views/Register/views/RestaurantRegister"),
  },
  data ()  {
    return {
      minimumOrderValue: null,
      trackedEvent: false,
      isRefresh: false,
      color: '#3AB982',
      height: '35px',
      width: '4px',
      margin: '2px',
      radius: '2px',
      unpermittedDriverRoutes: [
        "OrderIndex", "SalesOrders", "suppliers", "dashboard", "purchase_orders", "sales_orders", "ProductIndex", "priceBooks", "CreditLimit", "suppliersStatement", "customerStatement"]
    }
  },
  created() {
    if (getCookie('company')) {
      let company_id = JSON.parse(getCookie('company')).id;
      let user_id = JSON.parse(getCookie('user')).id;
      let channel = this.$pusher.subscribe("orders");
      let user_auth = this.$pusher.subscribe("user_auth");

      channel.bind(`company_${company_id}`, order => {
        this.notifyVue("info", order);
      });

      user_auth.bind(`user_${user_id}`, params => {
        if (params.company_id !== company_id) {
          if (window.name == "" || (params.unique_key.toString() !== window.name)) {
            this.isRefresh = true
          }
        }
      });

      channel.bind(`company_${company_id}_cancelled_order_updates`, update => {
        this.updateNotice(update);
        this.$store.dispatch("orders/fetchAllOrders");
      });

      channel.bind(`company_${company_id}_declined_order_updates`, update => {
        this.updateDeclineNotice(update);
        this.$store.dispatch("orders/fetchAllOrders");
      });

      channel.bind(`company_${company_id}_webhook_order_updates`, update => {
        this.$store.dispatch("orders/fetchAllOrders");
        this.$store.dispatch("orders/fetchSalesOrders");
      });

      channel.bind(`company_${company_id}_accepted_order_updates`, update => {
        this.updateAcceptedNotice(update);
        this.$store.dispatch("orders/fetchAllOrders");
        this.$store.dispatch("orders/fetchSalesOrders");
      });
    }
  },

  methods: {
    reload () {
      location.reload()
    },
    updateAcceptedNotice(order) {
      this.$notify({
        message: `Order ${order.order_number} has been accepted`,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: "success"
      });
    },

    updateDeclineNotice(order) {
      this.$notify({
        message: `${order.customer.title} has declined your order ${order.order_number}`,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: "danger"
      });
    },

    updateNotice(order) {
      this.$notify({
        message: `${order.customer.title} has cancelled their order ${order.order_number}`,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: "warning"
      });
    },

    notifyVue(type, order) {
      this.$notify({
        message: `${order.customer.title} has placed a new order`,
        timeout: 10000,
        icon: "ni ni-bell-55",
        type: "success"
      });
    },
    ...mapActions({
      getCurrentCompany: "companies/fetchCurrentCompany",
      saveIncomingOrder: "orders/saveIncomingOrder"
    }),
    fetchMinimumOrderValue() {
      this.$store.dispatch('cart/fetchMinimumOrderValue', this.activeSupplier)
    },
    trackEvent () {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'app_opened', 
        obj: {
          distinct_id: this.currentUser.uuid,
          'email': this.currentUser.user_email,
          'company_id': this.currentCompany.id,
          'company_name': this.currentCompany.title,
          '$referring_domain': window.location.origin
        }
      })
    }
  },
  computed: {
    currentRoute () {
      return this.$route.name
    },
    renderPage() {
      if (this.$route.path.includes("password_resets")) {
        return "reset_password";
      }
      if (
        this.isCurrentUser === "login_complete" &&
        this.$route.name === "supplier_register"
      ) {
        return "supplier_register";
      }
      if (
        this.isCurrentUser === "login_complete" &&
        this.$route.name === "restaurant_register"
      ) {
        return "restaurant_register";
      }
      if (
        this.isCurrentUser === "complete" &&
        this.$route.name !== "forgot_password"
      ) {
        return "complete";
      }
      if (
        this.isCurrentUser === "login_complete" &&
        this.$route.name !== "forgot_password"
      ) {
        return "login_complete";
      }
      if (
        this.isCurrentUser === "incomplete" &&
        this.$route.name === "register"
      ) {
        return "register";
      }
      if (
        this.isCurrentUser === "incomplete" &&
        this.$route.name !== "forgot_password"
      ) {
        return "incomplete";
      }
    },
    ...mapGetters({
      isLoading: "user/isLoading",
      isCurrentUser: "user/isCurrentUser",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      allSalesOrders: "orders/allSalesOrders",
      activeSupplier: "cart/getActiveSupplier",
      userPermissions: "user/userPermissions"
    })
  },
  watch: {
    currentRoute (val) {
      if (this.currentUser != null) {
        if (this.currentUser.role == 2 && this.unpermittedDriverRoutes.includes(val)) {
          this.$router.push('/my_deliveries')
        }
      }
    },
    currentUser(newVal, OldVal) {
      if (newVal == null) {
        this.$store.commit('user/setPermissions')
        this.$store.dispatch('user/getUserDetails');
      }
    },
    currentCompany(newVal, OldVal) {
        if (!this.trackedEvent) this.trackEvent()
        this.$store.commit('user/setPermissions')
    },
    activeSupplier(newVal, OldVal) {
      if (this.activeSupplier !== null) {
        this.fetchMinimumOrderValue()
        }
    },
  },
  async mounted() {
    if(this.currentUser != null) {
      if (this.currentUser.role == 2 && this.unpermittedDriverRoutes.includes(this.$route.name)) {
        this.$router.push('/my_deliveries')
      }
      if (this.currentCompany) {
        this.trackedEvent = true
        console.log('event mounted')
        this.trackEvent()
      }
    }

    if (getCookie('csrf') !== null) {
      this.$store.dispatch('user/getUserDetails');
      this.getCurrentCompany();
    }
  }
};
</script>
<style lang="scss">

</style>

