<template>
  <div>
    <div>
      <div :class="this.$mq !== 'desktop' ? 'image-container' : ''" class="container">
        <div class="row justify-content-center align-items-center min-vh-100 h-100">
          <div v-if="this.$mq === 'desktop'" class="col-lg-8 image-container min-vh-100 h-100 d-flex align-items-center justify-content-center">
            <img class="orderbly-logo mx-auto d-block" src="../../../assets/images/container-images/orderbly-logo-white.png" />
          </div>

          <div class="col-sm-9 col-lg-4 my-3 px-0">
            <div class="pricing card-group flex-column flex-md-row">
              <card
                header-classes="bg-transparent"
                body-classes="px-4 px-lg-5 px-xl-7"
                :class="this.$mq === 'desktop' ? 'shadow-none' : ''"
                class="card-pricing border-0 text-center mb-0"
              >
                <div class="card-body h-100 px-2 px-lg-2 px-xl-0">
                  <div class="row justify-content-center align-items-center h-100">
                    <div class="col">
                      <div class="text-center text-muted mb-3 mb-md-7 lead-text">
                        <img v-if="$mq !== 'desktop'" class="orderbly-mobile-logo mb-2 mb-md-6" src="../../../assets/images/container-images/orderbly-logo.png" />
                        <h1>Login</h1>
                      </div>
                      <p class="text-danger mb-5">{{loginError}}</p>
                      <div class="google-login">
                        <a @click="googleLogin()" class="btn btn-neutral mt--6 btn-icon w-100 my-2 mx-0">
                          <span class="btn-inner--icon d-inline-block">
                            <img v-if="!isLoading" src="img/icons/common/google.svg">
                          </span>
                          <span class="btn-inner--text d-inline-block">
                            <span v-if="!isLoading" class="d-inline-block">Sign in with Google</span>
                            <span v-else class="d-inline-block"><i class="fas fa-spinner fa-spin"></i></span>
                          </span>
                        </a>
                      </div>
                      <small class="text-divider text-grey mb-4"> ————— or ————— </small>
                      <form v-on:submit.prevent="login()" role="form">
                        <base-input
                          class="input-group-alternative mb-3 mt-4"
                          placeholder="Email"
                          addon-left-icon="ni ni-email-83"
                          v-model="email"
                        ></base-input>

                        <base-input
                          class="input-group-alternative"
                          placeholder="Password"
                          type="password"
                          addon-left-icon="ni ni-lock-circle-open"
                          v-model="password"
                        ></base-input>

                        <base-checkbox class="custom-control-alternative text-left">
                          <span class="text-muted">Remember me</span>
                        </base-checkbox>
                        
                        <div class="text-center mt-2">
                          <button @click="login" type="submit" class="w-100 my-2 mx-0 btn btn-success">
                            <div v-if="isLoading">
                              <i class="fas fa-spinner fa-spin"></i>
                            </div>
                            <div v-else>
                              Sign In
                            </div>
                          </button>
                          <div @click="toggleEmailForgotPasswordModal()" class="btn btn-lg d-block text-success mx-0">Forgot Password</div>
                          <a href="https://orderbly.co/buyer">
                            <base-button submit="true" type="secondary" laoding class="mt-3 mx-0 text-black-50 w-100">Don't have an account? Sign Up</base-button>
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal :show="getSignUpModal" :size="'md'">
      <signup-modal></signup-modal>
    </modal>
    <modal :show="getEmailForgotPasswordModal" :size="'sm'">
      <forgot-password-modal></forgot-password-modal>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { isProduction } from '../../../constants/config'
export default {
  components: {
    "signup-modal": () => import("../components/SignupModal.vue"),
    "forgot-password-modal": () =>
      import("../components/EmailForgotPasswordModal.vue")
  },
  data() {
    return {
      email: "",
      isLoading: false,
      password: ""
    };
  },
  methods: {
    ...mapActions({
      toggleSignupModal: "modals/toggleSignupModal",
      toggleEmailForgotPasswordModal: "modals/toggleEmailForgotPasswordModal"
    }),
    signUp() {
      this.$router.push("/register");
    },
    async googleLogin () {
      if (!this.isLoading) {
        this.isLoading = true
        const authCode = await this.$gAuth.getAuthCode()
        this.$store.dispatch("user/googleLogin", authCode)
      }
    },
    trackEvent () {
      this.$store.dispatch('mixpanel/mixpanelTrack', {
        track: 'user_login',
        obj: {
          distinct_id: this.currentUser.uuid,
          email: this.currentUser.user_email,
          company_id: this.currentCompany.id,
          company_name: this.currentCompany.title,
          '$referring_domain': window.location.origin
        }
      })
    },
    
    login() {
      if (!this.isLoading) {
        this.isLoading = true
        let user = {
          auth: { email: this.email.toLowerCase(), password: this.password }
        };
        this.$store.dispatch("user/userLogin", user).then(() => {
          this.isLoading = false
          if (this.currentUser && isProduction ) {
            this.trackEvent()
          }
        })
      }
    }
  },
  computed: {
    ...mapGetters({
      loginError: "user/getLoginError",
      currentCompany: "companies/getCurrentCompany",
      currentUser: "user/currentUser",
      getSignUpModal: "modals/getSignUpModal",
      getEmailForgotPasswordModal: "modals/getEmailForgotPasswordModal"
    })
  },
  mounted() {
    if (this.$route.name === 'existing_login') {
      let query = this.$route.query.credentials
      let properQuery = query.replace(/\s/g, '+')
      const bytes  = this.$CryptoJS.AES.decrypt(properQuery, '198756ED5A3D46A8');
      const originalText = bytes.toString(this.$CryptoJS.enc.Utf8);
      let loginDetails = originalText.split(';')
      if (loginDetails.length == 2) {
        this.email = loginDetails[0]
        this.password = loginDetails[1]
      }
      this.login()
    }
  }
};
</script>

<style lang="scss" scoped>

.orderbly-logo {
  width: 40%;
}

.orderbly-mobile-logo {
  width: 40%;
}

.text-divider {
  letter-spacing: -1px !important;
}

.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-image: url("../../../assets/images/container-images/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
}

.card-body .col{
  max-width: 350px;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>