<template>
  <div>
    <div :class="this.$mq !== 'desktop' ? 'image-container' : ''" class="container">
      <div class="row min-vh-100 align-items-center align-items-lg-stretch">
        <div v-if="this.$mq === 'desktop'" class="col-lg-8 image-container d-flex align-items-center">
          <img class="orderbly-logo mx-auto d-block" src="../../../assets/images/container-images/orderbly-logo-white.png" />
        </div>
        <div class="col-sm-9 col-lg-4 my-3 my-lg-auto px-0">
          <div class="pricing card-group flex-column flex-md-row">
            <card
              header-classes="bg-transparent"
              body-classes="px-4 px-lg-5 px-xl-7"
              :class="this.$mq === 'desktop' ? 'shadow-none' : ''"
              class="card-pricing border-0 text-center mb-0 register"
            >
              <div class="card-body h-100 px-2 px-lg-2 px-xl-0">
                <div class="row justify-content-center align-items-center h-100">
                  <div class="col">
                    <div class="text-center text-muted mb-6 mb-md-7 lead-text">
                      <img v-if="$mq !== 'desktop'" class="orderbly-mobile-logo mb-2 mb-lg-6" src="../../../assets/images/container-images/orderbly-logo.png" />
                      <h1>Register</h1>
                    </div>
                    <div class="google-login">
                      <a @click="googleRegister()" class="btn btn-neutral mt--6 btn-icon w-100 my-2 mx-0">
                        <span class="btn-inner--icon">
                          <img src="img/icons/common/google.svg">
                        </span>
                        <span class="btn-inner--text">
                          Sign up with Google
                        </span>
                      </a>
                    </div>
                    <small class="text-divider text-grey mb-6"> ————— or ————— </small>

                    <form v-on:submit.prevent="registerUser()" role="form">

                      <base-input
                        class="input-group-alternative mb-3 mt-4 "
                        placeholder="Username"
                        error-message="Username is required"
                        :error="!$v.user.username.required && submitted == true"
                        addon-left-icon="ni ni-hat-3"
                        v-model="user.username"
                      ></base-input>

                      <base-input
                        class="input-group-alternative mb-3"
                        error-message="First name is required"
                        placeholder="First Name"
                        addon-left-icon="ni ni-hat-3"
                        :error="!$v.user.first_name.required && submitted == true"
                        v-model="user.first_name"
                      ></base-input>

                      <base-input
                        class="input-group-alternative mb-3"
                        error-message="Last name is required"
                        placeholder="Last Name"
                        :error="!$v.user.last_name.required && submitted == true"
                        addon-left-icon="ni ni-hat-3"
                        v-model="user.last_name"
                      ></base-input>

                      <base-input
                        class="input-group-alternative"
                        error-message="Contact Number is invalid"
                        placeholder="Contact Number"
                        :error="!$v.user.contact_number.required && !$v.user.contact_number.integer && submitted == true"
                        addon-left-icon="ni ni-lock-circle-open"
                        v-model="user.contact_number"
                      ></base-input>

                      <base-input
                        class="input-group-alternative mb-3"
                        error-message="Email is invalid"
                        placeholder="Company Email"
                        :error="!$v.user.email.email && submitted == true"
                        addon-left-icon="ni ni-email-83"
                        v-model="user.email"
                      ></base-input>

                      <base-input
                        class="input-group-alternative"
                        error-message="Password must be at least 6 characters"
                        placeholder="Password"
                        :error="!$v.user.password.required && submitted == true"
                        type="password"
                        addon-left-icon="ni ni-lock-circle-open"
                        v-model="user.password"
                      ></base-input>

                      <base-input
                        class="input-group-alternative"
                        placeholder="Password"
                        type="password"
                        error-message="Passwords don't match"
                        :error="!$v.user.repeatPassword.sameAsPassword && submitted == true"
                        addon-left-icon="ni ni-lock-circle-open"
                        v-model="user.repeatPassword"
                      ></base-input>

                      <div class="text-center mt-2">
                        <button @click="registerUser()" type="submit" class="w-100 my-2 mx-0 btn btn-success">Sign Up</button>
                        <router-link :to="'/'">
                          <base-button @click="login()" type="secondary" class="mt-3 mx-0 text-black-50 w-100">Have an account? Sign in</base-button>
                        </router-link>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { required, email, minLength, sameAs, between, integer } from "vuelidate/lib/validators";
import { plainAxiosInstance } from '../../../axios/index';
import {setCookie} from '../../../constants/cookies'

export default {
  name: "register",
  data() {
    return {
      lat: null,
      long: null,
      submit: true,
      results: null,
      repeatPassword: "",
      user: {
        first_name: "",
        last_name: "",
        username: "",
        contact_number: "",
        email: "",
        password: "",
        repeatPassword: ""
      },
      submitted: false
    };
  },
  validations: {
    user: {
      email: { required, email },
      last_name: { required },
      username: { required },
      contact_number: {  required, minLength: minLength(10) },
      password: { 
        required
      },
      repeatPassword: {
        sameAsPassword: sameAs('password')
      },
      first_name: { required },
    }
  },
  methods: {
    async googleRegister () {
      let pantryApi = process.env.VUE_APP_PANTRY_API_URL
      const authCode = await this.$gAuth.getAuthCode();
      plainAxiosInstance.post(`${pantryApi}/get_google_authorization`, {
          'id_token': authCode
      })
      .then(response => {
          setCookie('access', response.data.access, 7);
          setCookie('refresh',response.data.refresh, 7);
          setCookie('csrf', response.data.csrf, 7);
          setCookie('usignature', response.data.usignature,7);
          setCookie('user', response.data.userLogin,7);
          location.reload();
      })
    },
    ...mapActions({
      toggleSignupModal: "modals/toggleSignupModal"
    }),
    ...mapGetters({
      getSignUpModal: "modals/getSignUpModal"
    }),
    firstNameValid(name) {
      return name !== "" ? true : false;
    },
    registerUser() {
      this.submitted = true
      this.$v.$touch();
      if (this.$v.user.$invalid) {
          return;
      }
      this.user.email = this.user.email.toLowerCase();
      this.$store.dispatch("user/completeRegistration", this.user);
    }
  },
  mounted () {
    
  }
}
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/container-images/register-background.jpg");
  background-repeat: no-repeat;
}

.orderbly-logo {
  width: 40%;
}

.orderbly-mobile-logo {
  width: 40%;
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
  .text-center.mt-2 .btn {
    width:100%;
  }
}

.card-body .col{
  max-width: 350px;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>


