<template>
  <div>
    <div>
      <div :class="this.$mq !== 'desktop' ? 'image-container' : ''" class="container">
        <div class="row justify-content-center align-items-center min-vh-100 h-100">
          <div v-if="this.$mq === 'desktop'" class="col-lg-8 image-container min-vh-100 h-100 d-flex align-items-center justify-content-center">
            <img class="orderbly-logo mx-auto d-block" src="../../../assets/images/container-images/orderbly-logo-white.png" />
          </div>

          <div class="col-sm-9 col-lg-4 my-3 px-0">
            <div class="pricing card-group flex-column flex-md-row">
              <card
                header-classes="bg-transparent"
                body-classes="px-4 px-lg-5 px-xl-7"
                :class="this.$mq === 'desktop' ? 'shadow-none' : ''"
                class="card-pricing border-0 text-center mb-0"
              >
                <div class="card-body h-100 px-2 px-lg-2 px-xl-0">
                  <div class="row justify-content-center align-items-center h-100">
                    <div class="col">
                      <div class="text-center text-muted mb-4 mb-md-7 lead-text">
                        <img v-if="$mq !== 'desktop'" class="orderbly-mobile-logo mb-4 mb-md-6" src="../../../assets/images/container-images/orderbly-logo.png" />
                        <h1>Reset Password</h1>
                      </div>

                      <form role="form">
                        <base-input
                          error-message="Password must be at least 6 characters"
                          :error="!$v.password.required && submitted == true"
                          v-model="password"
                          addon-left-icon="fas fa-eye"
                          placeholder="Password"
                          type="password"
                          class="input-group-alternative"
                        ></base-input>

                        <base-input
                          error-message="Passwords don't match"
                          :error="!$v.password_confirmation.sameAsPassword && submitted == true"
                          v-model="password_confirmation"
                          addon-left-icon="fas fa-eye"
                          placeholder="Password confirmation"
                          type="password"
                          class="input-group-alternative mb-3 mt-4"
                        ></base-input>

                        <base-checkbox class="custom-control-alternative text-left">
                          <span class="text-muted">Remember me</span>
                        </base-checkbox>

                        <div class="text-center mt-2">
                          <base-button @click="reset()" type="submit" class="w-100 my-2 mx-0 btn btn-success">Reset Password</base-button>

                          <div @click="signIn()" class="btn btn-lg d-block text-success mx-0">Sign in</div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal :show="getSignUpModal" size="md">
      <signup-modal></signup-modal>
    </modal>
  </div>
</template>


<script>
import { required, sameAs } from "vuelidate/lib/validators";

export default {
  name: "password_resets",
  props: ["token"],
  data() {
    return {
      isLoading: false,
      password: "",
      password_confirmation: "",
      error: "",
      notice: "",
      submitted: false
    };
  },
  validations: {
    password: { 
      required
    },
    password_confirmation: {
      sameAsPassword: sameAs('password')
    }
  },
  created() {
    this.checkPasswordToken();
  },
  methods: {
    signIn() {
      location.replace("/");
    },
    reset() {
      this.submitted = true
      if (this.password === this.password_confirmation) {
        let details = {
          token: this.$route.params.token_id,
          userDetails: {
            password: this.password,
            password_confirmation: this.password_confirmation
          }
        };
        this.$store.dispatch("user/reset", details);
        this.$router.push("/");
      }
    },
    checkPasswordToken() {
      this.$store.dispatch(
        "user/checkPasswordToken",
        this.$route.params.token_id
      );
    }
  },
  computed: {
    formError() {
      return this.password === this.password_confirmation
        ? ""
        : "Passwords do not match";
    },
    btnDisable() {
      return (this.password !== "") && (this.password === this.password_confirmation) ? false : true;
    },
  },
  mounted() {
    this.checkSignedIn();
  }
};
</script>

<style lang="scss" scoped>
.orderbly-logo {
  width: 40%;
}

.orderbly-mobile-logo {
  width: 40%;
  left: 30%;
  right: 70%;
  margin: auto;
}

.text-divider {
  letter-spacing: -1px !important;
}

.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-image: url("../../../assets/images/container-images/reset-password-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
}

.card-body .col{
  max-width: 350px;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>