<template>
  <div v-if="!isLoading" class="row">
    <div class="container">
      <div class="row min-vh-100 h-100">
        <div class="col-lg-5 px-0 company-column">
          <h2 class="text-center pt-4">
            <span class="pt-8">Select Company</span>
            </h2>
          <tabs tabNavClasses="nav-fill flex-column flex-sm-row mr-6 ml-6 mb-4 mt-4">
            <tab-pane @change-tab="activeTab" title="My Suppliers"></tab-pane>
            <tab-pane title="My Restaurants"></tab-pane>
          </tabs>
          <div class="pricing card-group flex-column flex-md-row">
            <new-company-card class="new-company col-md-12"></new-company-card>
            <div v-for="membership in getSelectUserMemberships" :key="membership.id" class="col-md-12">
              <company-card :company="membership.company"></company-card>
            </div>
            <div class="mobile-logout-btn class-md-6">
              <base-button v-if="this.$mq !== 'desktop'" @click="signOut()" icon type="danger">
                <span class="btn-inner--icon">
                  <i class="ni ni-lock-circle-open"></i>
                </span>
                <span class="btn-inner--text">Logout</span>
              </base-button>
            </div>
          </div>
          </div>
          <div v-if="this.$mq === 'desktop'" class="col-lg-7 image-container">
            <footer class="footer-main">
              <base-button @click="signOut()" icon type="danger login-button__center">
                <span class="btn-inner--icon">
                  <i class="ni ni-lock-circle-open"></i>
                </span>
                <span class="btn-inner--text">Logout</span>
              </base-button>
            </footer>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Tabs from "@/components/Tabs/Tabs";
import Tab from "@/components/Tabs/Tab";
import { getCookie, eraseCookie } from '../../../constants/cookies'

export default {
  components: {
    tabs: Tabs,
    "tab-pane": Tab,
    "new-company-card": () =>
      import("../../Company/components/cards/NewCompanyCard.vue"),
    "company-card": () => import("../../Company/components/cards/CompanyCard")
  },
  data() {
    return {
      pageHeight: 500,
      isLoading: true,
      loading: true,
      email: "",
      login: true,
      register: false,
      companyRegister: false,
      companies: [
        {
          title: "Company 1",
          image: "",
          description: "A test Product"
        }
      ],
      password: ""
    };
  },

  computed: {
    backgroundHeight() {
      return this.pageHeight * 1.2 + "px";
    },
    ...mapGetters({
      getSelectUserMemberships: "user/getSelectUserMemberships",
      filterSupplier: "user/filterSupplier"
    }),
  },
  methods: {
    activeTab() {
    },
    ...mapActions({
      fetchUserMemberships: "user/fetchUserMemberships",
      signOut: "user/signOut"
    })
  },
  mounted() {
    let redirect_company = getCookie('redirect_to')
    if (redirect_company !== null || redirect_company !== undefined) {
      this.$store.dispatch('companies/postCurrentCompany', redirect_company)
      eraseCookie('redirect_to')
    }

    this.$store.dispatch("user/fetchUserMemberships").then((res) => {
      this.isLoading = !res
    })
  },
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%!important;
  background-color: #fff;
  height: 100vh !important;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/container-images/select-company-background.jpg");
  background-repeat: no-repeat;
}

.company-select-container {
  height: 100vh;
  background-image: linear-gradient(to right, #F8F9FE , #F8F9FE);
  position: absolute;
}
.login-button__center {
  margin-left: 45%;
}

.company-column {
    height: 100vh;
    overflow: auto;
}

.mobile-logout-btn {
  margin-right: auto;
  margin-left: auto;
}

.new-company {
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-top: calc(100vh - 10%);
}

.container-header {
  font-size: 50px;
  // margin-top: calc(100vh - 60%);
}
</style>