<template>
  <div :class="this.$mq !== 'desktop' ? 'image-container' : ''" class="container">
    <div class="row justify-content-center min-vh-100">

      <div class="col-sm-9 col-lg-4 px-0 align-self-center">
        <div class="row justify-content-center align-items-center mx-0">
          <div class="col">
            <register-form :isSupplier="true" registerType="Supplier Register"></register-form>
          </div>
        </div> 
      </div>

      <div v-if="this.$mq === 'desktop'" class="col-lg-8 image-container"></div>

    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      pageHeight: 500,
      stepOne: true,
      stepTwo: false,
      backBtnDisabled: true,
      backBtnType: "secondary",
      nextBtnDisabled: false,
      nextBtnType: "primary",
      lat: null,
      long: null,
      company: {
        address: {
          address_one: "",
          suburb: "",
          province: "",
          country: "",
          city: "",
          postal_code: "",
          latitude: "",
          longitude: ""
        },
        title: "",
        email: "",
        supplier: false,
        contact_number: "",
        website: "",
        contact: "",
        description: ""
      }
    };
  },
  components: {
    "dropzone-file-upload": () => import("../../../components/Inputs/DropzoneFileUpload"),
    "register-form": () => import("../forms/RegisterForm")
  },
  computed: {

  },
  mounted() {
    this.pageHeight = window.innerHeight;

    setTimeout(() => {
      var input = document.getElementById("searchTextField");
      let autocomplete = new google.maps.places.Autocomplete(input, {
        types: ["address"],
        componentRestrictions: { country: "ZA" }
      });

      google.maps.event.addListener(autocomplete, "place_changed", () => {
        let searchBar = document.getElementById("lblFormattedAddress");
        var place = autocomplete.getPlace();
        this.company.address.latitude = place.geometry.location.lat();
        this.company.address.longitude = place.geometry.location.lng();
        this.company.address.address_one = `${place.address_components[0].long_name} ${place.address_components[1].long_name}`;
        this.company.address.suburb = place.address_components[2].long_name;
        this.company.address.city = place.address_components[3].long_name;
        this.company.address.province = place.address_components[5].long_name;
        this.company.address.country = place.address_components[6].long_name;
        this.company.address.postal_code =
          place.address_components[7].long_name;
      });
    }, 5000);
  },
  methods: {
    processFile(event) {
      this.company.image = this.$refs.myFiles.files[0];
    },
    async registerCompany() {
      let form = {
        "company[addresses_attributes][address_one]": this.company.address
          .address_one,
        "company[addresses_attributes][suburb]": this.company.address.suburb,
        "company[addresses_attributes][city]": this.company.address.city,
        "company[addresses_attributes][province]": this.company.address.province,
        "company[addresses_attributes][country]": this.company.address.country,
        "company[addresses_attributes][postal_code]": this.company.address
          .postal_code,
        "company[addresses_attributes][latitude]": this.company.address.latitude,
        "company[addresses_attributes][longitude]": this.company.address
          .longitude,
        "company[title]": this.company.title,
        "company[contact]": this.company.contact,
        "company[website]": this.company.website,
        "company[description]": this.company.description,
        "company[supplier]": this.company.supplier
      };

      this.company.image
        ? (form["company[company_image]"] = this.company.image)
        : false;

      let formData = new FormData();

      Object.entries(form).forEach(([key, value]) => {
        formData.append(key, value);
      });

      await this.$store.dispatch("companies/registerCompany", formData)
      .then((res) =>{
        if (res) {
          this.$notify({
            message: "Company Created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'success'
          });
          this.$router.push('/select_company') 
        } else {
          this.$notify({
            message: "Company could not be created",
            timeout: 3500,
            icon: "ni ni-like-2",
            type: 'danger'
          });
        }
      })
    },
    stepForward() {
      this.stepOne = false;
      this.stepTwo = true;
      this.nextBtnDisabled = true;
      this.backBtnDisabled = false;
      this.nextBtnType = "secondary";
      this.backBtnType = "primary";
    },
    stepBack() {
      this.stepOne = true;
      this.stepTwo = false;
      this.nextBtnDisabled = false;
      this.backBtnDisabled = true;
      this.nextBtnType = "primary";
      this.backBtnType = "secondary";
    },
    stepColor () {
      if (this.stepTwo === true) {
        return "bg-success"
      } else {
        return ""
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%!important;
  background-color: #fff;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/container-images/company-register-background.jpg");
  background-repeat: no-repeat;
}

.register-container {
  max-width: 360px;
}

@media screen and (min-width: 1200px) and (max-width: 1517px) {
  .card.px-4.px-lg-4.px-xl-6 {
    padding-left: 5.1%!important;
    padding-right: 5.1%!important;
  }
}

@media (max-width: 575px) {
  .col-sm-9.col-lg-4.px-0 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
}

.step {
  max-width:50px;
  height: 5px;
  background-color: #dee2e6;
}
.bg-success {
  background-color: #00c781;
}

.btn-secondary {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
}

.btn-secondary:hover {
  background-color: #f7fafc;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>