<template>
  <div v-if="receivedIntegrations">
      <stats-card class="text-left mb-0">
        <div class="row">
            <div class="col mt-3">
              <div class="h2 mb-0 mb-2">{{details.type}} Integration</div>
              <span class="h3 mb-0 mt-4"></span>
               <p><strong>Contact {{details.name}}</strong></p>
              <div v-if="!isSage">
                <p><strong>Contact Email: {{details.email}}</strong></p>
              </div>
              <p><strong>{{details.title}} ID: {{details.id}}</strong></p>
            </div>
            <div class="col-auto mt-2">
              <div>
                  <div class="col-auto">
                    <img v-if="!isSage" class="icon icon-shape text-white rounded-circle shadow mt-4" style="width: 70px;height:auto;" src="@/assets/images/logos/xero.png" />
                    <img v-else class="xero-logos mt-5" style="width: 70px;height:auto;" src="@/assets/images/logos/sage-logo.png" />
                  </div>
              </div>
            </div>
        </div>
    </stats-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: ['accountingDetails'],
  data() {
    return {
      receivedIntegrations: false
    };
  },
  computed: {
    details () {
      if (this.integrationProvider) {
        let details = this.integrationProvider.find(integration => integration.status == "Enabled")
        return (details !== null || details !== undefined) && details.title == "Xero" ? this.xeroDetails() : this.sageDetails()
      }
    },
    isSage () {
      return this.details.type == "Sage One"
    },
    ...mapGetters({
      currentCompany: "companies/getCurrentCompany",
      integrationProvider: "integrations/integrationProviders"
    })
  },
  methods: {
    xeroDetails () {
      return { name: this.accountingDetails.Contact.Name, email: this.accountingDetails.Contact.EmailAddress, id: this.accountingDetails.InvoiceID, type: "Xero"}
    },
    sageDetails () {
      return { name: this.accountingDetails.SupplierName, email: null, id: this.accountingDetails.DocumentNumber, type: "Sage One"}
    },
    getIntegrations() {
      this.$store.dispatch("integrations/fetchIntegrationProviders").then((res) => {
        if (res.status == 200) {
          this.receivedIntegrations = true
        }
      })
    }
  },
  watch: {
    currentCompany (val) {
      if (val !== null) {
        this.getIntegrations()
      }
    }
  },
  mounted () {
    if (this.currentCompany !== null) {
      this.getIntegrations()
    }
  },
};
</script>

<style lang="scss" scoped>
</style>
