<template>
  <div>
    <div class="card shadow col-md-10 mt-4 ml-4 mr-4" :class="type === 'dark' ? 'bg-default': ''">
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark': ''"
          :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
          tbody-classes="list"
          :data="allPriceBooks"
        >
          <template slot="columns">
            <th>Title</th>
            <th>Description</th>
            <th v-if="permissions.pricing_settings.can_edit_pricebook">Delete</th>
          </template>

          <template slot-scope="{row}">
            <td type="default" block class="mb-3 product__item">
              <router-link :to="{ path: `price_book_details/${row.id}`}">
                <span>{{row.title}}</span>
              </router-link>
            </td>
            <td type="default" block class="mb-3 product__item">
              <span>{{row.description}}</span>
            </td>
            <td v-if="permissions.pricing_settings.can_edit_pricebook" type="default" block>
              <base-button @click="deletePriceBook(row.id)" 
              class="btn btn-sm"
              type="danger"
              :loading="isLoading"
              >Delete</base-button>
            </td> 
          </template>
        </base-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      allPriceBooks: "priceBooks/allPriceBooks",
      permissions: "user/userPermissions"
    })
  },
  methods: {
    ...mapActions({
      fetchPriceBookDiscounts: "priceBooks/fetchPriceBookDiscounts",
    }),
    getPriceBookDiscounts(discount_book_id) {
      this.fetchPriceBookDiscounts({ discount_book_id });
    },
    deletePriceBook(pricebookId){
      this.isLoading = true;
      this.$store.dispatch("priceBooks/deletePriceBook", pricebookId).then ((res) => {
        this.isLoading=false;
        if (res.data.status == true) {
          this.notify("Price book has been successfully deleted.", "success")
        } else {
          this.notify(res.data.message, "danger")
        }
      }).catch( () => {
        this.isLoading = false;
        this.notify("Unable to delete price book. Please try again or contact support.", "danger")
      });
    },
    notify(message, type){
      this.$notify({
        message: message,
        timeout: 2500,
        icon: "ni ni-like-2",
        type: type
      });
    }
  }
}
</script>

<style lang="scss" scoped>
</style>