<template>
  <div>
    <div class="card ml-4 mr-4 mt-2">
      <tags-list
        style="display:inline-block"
        label="Tags"
        :deletable="permissions.pricing_settings.can_edit_pricebook"
        @delete-membership="deleteMembership"
        v-model="priceBookMemberships"
      ></tags-list>
    </div>
    <base-input class="btn btn-success ml-4" v-if="modifiedProducts.length" @click.native="newVariantDiscounts()"> Save </base-input>
    <div
      class="card shadow ml-4 mr-4"
      :class="type === 'dark' ? 'bg-default' : ''"
    >
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
          :data="priceBookDiscounts"
        >
          <template slot="columns">
            <th>Product Name</th>
            <th>Net Amount</th>
            <th>Tax Amount</th>
            <th>Gross Amount</th>
            <th>Discount Percentage</th>
            <th>Discount Value</th>
          </template>

          <template slot-scope="{ row }">
            <td type="default">
              <span
                >{{ row.product_name }} -
                {{ row.product_variant.description }}</span
              >
            </td>
            <td type="default">
              <span>{{ parseFloat(row.product_variant.unit_amount) | currency }}</span>
            </td>
            <td type="default">
              <span>{{ parseFloat(row.product_variant.tax_amount) | currency }}</span>
            </td>
            <td type="default">
              <span>{{  parseFloat(row.product_variant.gross_amount) | currency }}</span>
            </td>
            <td type="default">
              <base-input
                v-if="permissions.pricing_settings.can_edit_pricebook"
                @keydown="addToModifiedProducts($event, row)"
                class="discount-input mt-3"
                append-icon="fa fa-percent"
                v-model="row.product_variant_discount.discount_percentage"
              >
              </base-input>
                <span v-else>{{  row.product_variant_discount.discount_percentage }}%</span>
            </td>
            <td type="default">
              <strong>
                {{
                  calculateDiscountAmount( row.product_variant_discount.discount_percentage, row.product_variant.gross_amount) | currency
                }}
              </strong>
            </td>
          </template>
        </base-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
      modifiedProducts: [],
      savedProducts: []
    };
  },
  components: {
    "tags-list": () => import("@/components/Inputs/TagList")
  },
  computed: {
    ...mapGetters({
      priceBookDiscounts: "priceBooks/priceBookDiscounts",
      priceBookMemberships: "priceBooks/priceBookMemberships",
      currentCompany: "companies/getCurrentCompany",
      permissions: "user/userPermissions",
    }),
    priceBookMembershipsTitle() {
      return this.priceBookMemberships.map(pbm => pbm.customer);
    },
    priceBookMembershipsId() {
      return this.priceBookMemberships.map(pbm => pbm.id);
    }
  },
  methods: {
    addToModifiedProducts(evt, pvd) {
      this.$options.filters.isNumber(evt)
      this.$options.filters.isBetween(0, 100, evt)
      let pvd_in_modified_list = this.modifiedProducts.find((pd) => pd.product_variant_id == pvd.product_variant_discount.product_variant_id)

      if (pvd_in_modified_list == undefined) {
        this.modifiedProducts.push(pvd.product_variant_discount);
      } else {
        this.modifiedProducts = this.modifiedProducts.filter((pd) => pd.product_variant_id !== pvd.product_variant_discount.product_variant_id)
        this.modifiedProducts.push(pvd.product_variant_discount);
      }
    },
    ...mapActions({
      fetchPriceBookMemberships: "priceBooks/fetchPriceBookMemberships",
    }),
    deleteMembership(tag_id) {
      if (!this.permissions.pricing_settings.can_edit_pricebook) return 
      this.$store.dispatch("priceBooks/deleteMembership", tag_id);
    },
    calculateDiscountAmount(discount, gross) {
      if (discount !== 0) {
        return ( Math.round((gross - gross * parseFloat(discount / 100)) * 100) / 100);
      } else {
        return Math.round((gross) * 100) / 100;
      }
    },
    submitVal(val) {
      if (val.product_variant_discount.id !== 0) {
        this.modifiedProducts = this.modifiedProducts.filter(
          p => p !== val.product_variant.id
        );
        this.savedProducts.push(val.product_variant.id);
        this.editVariantDiscount(val);
      } else {
        this.newVariantDiscount(val);
      }
    },
    editVariantDiscount(val) {
      let product_variant_discount = {
        id: val.product_variant_discount.id,
        discount_percentage: parseInt(
          val.product_variant_discount.discount_percentage
        ),
        product_variant_id: val.product_variant.id,
        discount_book_id: parseInt(this.$route.params.discount_book_id)
      };
      this.$store.dispatch(
        "priceBooks/editProductVariantDiscount",
        product_variant_discount
      );
    },
    newVariantDiscounts() {
      this.$store.dispatch(
        "priceBooks/newProductVariantDiscounts",
        {
          discount_list: this.modifiedProducts,
          discount_book_id: this.$route.params.discount_book_id,
          supplier_id: this.currentCompany.id 
          }
      ).then((res) => {
        if (res === true){
          this.$notify({
            message: "Successfuly updated discount percentages.",
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "success"
          });
        }
        else {
          this.$notify({
            message: "Some of the discounts did not update successfully.",
            timeout: 5000,
            icon: "ni ni-bell-55",
            type: "warning"
          });
        }
      });
    }
  },
  mounted() {
    this.fetchPriceBookMemberships(this.$route.params.discount_book_id);
  }
};
</script>

<style lang="scss" scoped>
.discount-input {
  cursor: pointer;
  width: 50%;
  height: 80% !important;
  min-width: 100px;
}
</style>
